<h1>New political_notebook</h1>

<%= error_messages_for :political_notebook %>

<% form_for(@political_notebook) do |f| %>
  <p>
    <b>User</b><br />
    <%= f.text_field :user_id %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', political_notebooks_path %>
