<% for column in Commentary.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @commentary.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @commentary %> |
<%= link_to 'Back', :action => 'list' %>
