<?php
// Application Settings
$Configuration['SETUP_TEST'] = '1'; 
$Configuration['APPLICATION_PATH'] = '/home/dahn2dusq/opencongress/mergetest/public/forum/'; 
$Configuration['DATABASE_PATH'] = '/home/dahn2dusq/opencongress/mergetest/public/forum/conf/database.php'; 
$Configuration['LIBRARY_PATH'] = '/home/dahn2dusq/opencongress/mergetest/public/forum/library/'; 
$Configuration['EXTENSIONS_PATH'] = '/home/dahn2dusq/opencongress/mergetest/public/forum/extensions/'; 
$Configuration['LANGUAGES_PATH'] = '/home/dahn2dusq/opencongress/mergetest/public/forum/languages/'; 
$Configuration['THEME_PATH'] = '/home/dahn2dusq/opencongress/mergetest/public/forum/themes/opencongress/'; 
$Configuration['DEFAULT_STYLE'] = '/forum/themes/opencongress/styles/default/'; 
$Configuration['WEB_ROOT'] = '/forum/'; 
$Configuration['BASE_URL'] = 'http://etiolated.org:34233/forum/'; 
$Configuration['FORWARD_VALIDATED_USER_URL'] = 'http://etiolated.org:34233/forum/'; 
$Configuration['SUPPORT_EMAIL'] = 'root@etiolated.org'; 
$Configuration['SUPPORT_NAME'] = 'Admin'; 
$Configuration['APPLICATION_TITLE'] = 'OpenCongress Forum'; 
$Configuration['BANNER_TITLE'] = 'OpenCongress Forum'; 
$Configuration['COOKIE_DOMAIN'] = 'etiolated.org'; 
$Configuration['COOKIE_PATH'] = '/'; 
$Configuration['SETUP_COMPLETE'] = '1'; 
$Configuration['ALLOW_NAME_CHANGE'] = '0';
$Configuration['ALLOW_PASSWORD_CHANGE'] = '0';
$Configuration['SIGNIN_URL'] = '/login';
$Configuration['SIGNOUT_URL'] = '/logout';
$Configuration['SAFE_REDIRECT'] = '/logout';


$Configuration['LAST_UPDATE'] = '1189992243';
$Configuration['ADDON_NOTICE'] = '0';
?>