**.DS_Store
log/*.log
tmp/**/*
tmp/*
data/*
db/schema.rb
public/assets/*
public/robots.txt
vendor/plugins/acts_as_solr/solr/tmp/*
vendor/plugins/acts_as_solr/solr/solr/data/**/*
vendor/plugins/acts_as_solr/solr/logs/*
.bundle
