<div class="padding">
  <h2>Fundraisers for <%= @person.popular_name %></h2>

  <% @fundraisers.each do |f| %>
    <%= render :partial => 'fundraiser', :object => f %>
  <% end %>
  
  <p>Info provided by <a href="http://politicalpartytime.org" target="_new">Political Party Time</a>.</p>
</div>