<div id="money_trail">
  <p>This is a list of the top 25 interest groups giving campaign contributions to this Member of Congress in 2008, the most recent year for which we have a full data set.</p>
  
  <table>
    <tr><th>Interest Group</th><th>Amount Received</th></tr>
    <% @igs.each do |ig| %>
      <tr><td><%= ig.name %></td><td>$<%= number_with_delimiter(ig.contrib_total) %></td></tr>
    <% end %>
  </table>

  <div class="partner_logo">
  <%= link_to image_tag('partners/opensecrets.png'), "http://opensecrets.org" %>
  <p>Campaign contribution data provided by <%= link_to "OpenSecrets.org", "http://OpenSecrets.org" %>,<br />the nonpartisan guideto money in politics.</p>
  </div>
  
</div>
