<div class='padding'>
  <% @content_for_sortby = render :partial => 'sort_people_ranking', :locals => { :sort => @rankby, :person_type => @person_type } %>

  <% @people.each do |p| %>
    <%= link_to_person(p) %>: <%= p.person_stats.send(@rankby) %><br />
  <% end %>
</div>