<!--<p><a href="/people/show/<%= @person.id %>" class="arrow-left"><b>Back to <%= @person.popular_name %>'s Profile</b></a></p>-->

<div class="vid-page">
  <%= render :partial => 'shared/videos', :object => @videos %>
</div>