<% @content_for_sortby = render :partial => 'sort_bills', :locals => { :sort => 'hot'} %>

<p>Here is a list of some of the "hottest" bills currently in Congress -- the most newsworthy bills, and in some cases the most contentious bills -- as compiled by the editors of OpenCongress. We put together this list to serve as a handy tool for people to use when creating widgets. Other ways to find the bills you're looking for include visiting our list of <a href="/bill/most/viewed">most-viewed</a> bills, or using our <a href="/search">search</a> page. We will strive to keep this page up-to-date, but keep in mind that you can check the latest status of each bill on its page here on OpenCongress. After you've found the bill number you're looking for, head back to our <a href="/resources">Resources</a> page to create a free widget for your website.</p>

<h3>IRAQ</h3>
<ul class="list-links">

<li><a href="http://www.opencongress.org/bill/110-s1545/show">S.1545 - Iraq Study Group Recommendations Implementation Act of 2007 </a></li>

<li><a href="http://www.opencongress.org/bill/110-s1077/show">S.1077 - A bill to safely redeploy United States troops from Iraq </a></li>

<li><a href="http://www.opencongress.org/bill/110-h1062/show">H.R.1062 - Security and Victory in Iraq Act of 2007 </a></li>

<li><a href="http://www.opencongress.org/bill/110-h3178/show">H.R.3178 - To limit the length of deployment of members of the Armed Forces for Operation Iraqi Freedom </a></li>

<li><a href="http://www.opencongress.org/bill/110-h413/show">H.R.413 - To repeal the Authorization for Use of Military Force Against Iraq... </a></li>

<li><a href="http://www.opencongress.org/bill/110-h1263/show">H.R.1263 - Iraq Benchmarks Act </a></li>

<li><a href="http://www.opencongress.org/bill/110-h1234/show">H.R.1234 - To end the United States occupation of Iraq immediately </a></li>

<li><a href="http://www.opencongress.org/bill/110-s1305/show">S.1305 - Support Our Troops Act of 2007 </a></li>

<li><a href="http://www.opencongress.org/bill/110-h3125/show">H.R.3125 - Opt Out of Iraq War Act of 2007 </a></li>

</ul>
<h3>IMMIGRATION</h3>
<ul class="list-links">

<li><a href="http://www.opencongress.org/bill/110-h2638/show">H.R.2638 - Border Security First Act of 2007 </a></li>

<li><a href="http://www.opencongress.org/bill/110-s774/show">S.774 - DREAM Act of 2007 </a></li>

<li><a href="http://www.opencongress.org/bill/110-h1930/show">H.R.1930 - SKIL Act of 2007 </a></li>

<li><a href="http://www.opencongress.org/bill/110-h2399/show">H.R.2399 - Alien Smuggling and Terrorism Prevention Act of 2007 </a></li>

<li><a href="http://www.opencongress.org/bill/110-h1355/show">H.R.1355 - Scott Gardner Act </a></li>

<li><a href="http://www.opencongress.org/bill/110-h1176/show">H.R.1176 - To provide discretionary authority to an immigration judge to determine that an alien parent of a United States citizen child should not be ordered removed, deported, or excluded from the United States </a></li>

<li><a href="http://www.opencongress.org/bill/110-s1639/show">S.1348/1639 - Comprehensive Immigration Reform Act of 2007 http://www.opencongress.org/bill/110-s1348/show </a></li>

</ul>
<h3>LABOR</h3>
<ul class="list-links">

<li><a href="http://www.opencongress.org/bill/110-h800/show">H.R.800 - Card Check Bill </a></li>

<li><a href="http://www.opencongress.org/bill/110-s1041/show">S.1041 - Employee Free Choice Act </a></li>

<li><a href="http://www.opencongress.org/bill/110-h2/show">H.R.2 - Minimum Wage bill </a></li>

<li><a href="http://www.opencongress.org/bill/110-s367/show">S.367 - Decent Working Conditions and Fair Competition Act </a></li>

<li><a href="http://www.opencongress.org/bill/110-s1087/show">S.1087 - Fair Pay Act of 2007 </a></li>

<li><a href="http://www.opencongress.org/bill/110-h697/show">H.R.697 - National Right-to-Work Act </a></li>

<li><a href="http://www.opencongress.org/bill/110-s1614/show">S.1614 - Child Labor Protection Act of 2007 </a></li>

<li><a href="http://www.opencongress.org/bill/110-h2831/show">H.R.2831 - Ledbetter Fair Pay Act of 2007 </a></li>

</ul>
<h3>INTELLECTUAL PROPERTY</h3>
<ul class="list-links">

<li><a href="http://www.opencongress.org/bill/110-h3155/show">H.R.3155 - Intellectual Property Enhanced Criminal Enforcement Act of 2007 </a></li>

<li><a href="http://www.opencongress.org/bill/110-s522/show">S.522 - Intellectual Property Rights Enforcement Act </a></li>

<li><a href="http://www.opencongress.org/bill/110-s1957/show">S.1957 - Design Piracy Prohibition Act </a></li>

<li><a href="http://www.opencongress.org/bill/110-h1201/show">H.R.1201 - Freedom and Innovation Revitalizing U.S. Entrepreneurship Act of 2007 </a></li>

<li><a href="http://www.opencongress.org/bill/110-h2738/show">H.R.2738 - Family and Consumer Choice Act of 2007 </a></li>

<li><a href="http://www.opencongress.org/bill/110-h1908/show">H.R.1908 - Patent Reform Act of 2007 </a></li>

<li><a href="http://www.opencongress.org/bill/110-h2060/show">H.R.2060 - Internet Radio Equality Act </a></li>

</ul>
<h3>HEALTH</h3>
<ul class="list-links">

<li><a href="http://www.opencongress.org/bill/110-h4/show">H.R.4 - Part D Medicare Drugs Price bill </a></li>

<li><a href="http://www.opencongress.org/bill/110-h2900/show">H.R.2900 - Prescription Drug User Fee Amendments of 2007 </a></li>

<li><a href="http://www.opencongress.org/bill/110-h2419/show">H.R.2419 - Farm, Nutrition, and Bioenergy Act of 2007 </a></li>

<li><a href="http://www.opencongress.org/bill/110-h3162/show">H.R.3162 - Children's Health and Medicare Protection Act of 2007 </a></li>

<li><a href="http://www.opencongress.org/bill/110-h676/show">H.R.676 - United States National Health Insurance Act </a></li>

<li><a href="http://www.opencongress.org/bill/110-h1108/show">H.R.1108 - Family Smoking Prevention and Tobacco Control Act </a></li>

</ul>
<h3>GOVERNMENT/TRANSPARENCY</h3>
<ul class="list-links">

<li><a href="http://www.opencongress.org/bill/110-s1/show">S.1 - Ethics Reform bill </a></li>

<li><a href="http://www.opencongress.org/bill/110-s223/show">S.223 - Senate Campaign Disclosure Parity Act </a></li>

<li><a href="http://www.opencongress.org/bill/110-h484/show">H.R.484 - Citizen Legislature and Political Freedom Act </a></li>

<li><a href="http://www.opencongress.org/bill/110-h2817/show">H.R.2817 - Let the People Decide Clean Campaign Act </a></li>

<li><a href="http://www.opencongress.org/bill/110-h1375/show">H.R.1375 - Earmark Accountability and Reform Act of 2007 </a></li>

<li><a href="http://www.opencongress.org/bill/110-h1733/show">H.R.1733 - Appropriations Transparency Act of 2007 </a></li>

<li><a href="http://www.opencongress.org/bill/110-h90/show">H.R.90 - Full Disclosure in Lobbying Act </a></li>

<li><a href="http://www.opencongress.org/bill/110-hr63/show">H.Res.63 - Amending the Rules of the House of Representatives to ensure that Members have a reasonable amount of time to read legislation that will be voted upon </a></li>

<li><a href="http://www.opencongress.org/bill/110-h328/show">H.R.328 - District of Columbia Fair and Equal House Voting Rights Act of 2007 </a></li>

</ul>
<h3>ENERGY/ENVIRONMENT</h3>
<ul class="list-links">

<li><a href="http://www.opencongress.org/bill/110-h3416/show">H.R.3416 - America's Energy Security Trust Fund Act of 2007 </a></li>

<li><a href="http://www.opencongress.org/bill/110-s280/show">S.280 - Global Warming bill </a></li>

<li><a href="http://www.opencongress.org/bill/110-s309/show">S.309 - Global Warming Pollution Reduction Act </a></li>

<li><a href="http://www.opencongress.org/bill/110-h6/show">CLEAN Energy Act</a></li>

<li><a href="http://www.opencongress.org/bill/110-s1617/show">S.1617 - Fuel Reduction using Electrons to End Dependence On the Mid-East (FREEDOM) Act of 2007 </a></li>

<li><a href="http://www.opencongress.org/bill/110-h2415/show">H.R.2415 - Affordable Gas Price Act </a></li>

<li><a href="http://www.opencongress.org/bill/110-h632/show">H.R.632 - H-Prize Act of 2007 </a></li>

<li><a href="http://www.opencongress.org/bill/110-h2784/show">H.R.2784 - National Environment and Energy Development Act </a></li>

<li><a href="http://www.opencongress.org/bill/110-h204/show">H.R.204 - Right to Know About Airport Pollution Act of 2007 </a></li>

<li><a href="http://www.opencongress.org/bill/110-h2419/show">H.R.2419 - Farm, Nutrition, and Bioenergy Act of 2007 </a></li>

<li><a href="http://www.opencongress.org/bill/110-h3221/show">H.R.3221 - United States-Israel Energy Cooperation Act </a></li>

<li><a href="http://www.opencongress.org/bill/110-h3491/show">H.R.3491 - To amend the Atomic Energy Act of 1954 to improve and strengthen the safety inspection process of nuclear facilities </a></li>

</ul>
<h3>CIVIL LIBERTIES/RIGHTS</h3>
<ul class="list-links">

<li><a href="http://www.opencongress.org/bill/110-s1927/show">S.1927 - Protect America Act of 2007 </a></li>

<li><a href="http://www.opencongress.org/bill/110-hr333/show">H.Res.333 - Impeaching Richard B. Cheney, Vice President of the United States, for high crimes and misdemeanors </a></li>

<li><a href="http://www.opencongress.org/bill/110-s185/show">S.185 - Habeas Corpus Restoration Act of 2007 </a></li>

<li><a href="http://www.opencongress.org/bill/110-h2543/show">H.R.2543 - Military Commissions Revision Act of 2007 </a></li>

<li><a href="http://www.opencongress.org/bill/110-h985/show">H.R.985 - Whistleblower Protection Enhancement Act of 2007 </a></li>

<li><a href="http://www.opencongress.org/bill/110-sr302/show">S.Res.302 - A resolution censuring the President and Vice President </a></li>

<li><a href="http://www.opencongress.org/bill/110-sr303/show">S.Res.303 - A resolution censuring the President and the Attorney General </a></li>

<li><a href="http://www.opencongress.org/bill/110-hr530/show">H.Res.530 - Censuring George W. Bush </a></li>

</ul>
<h3>GUNS</h3>
<ul class="list-links">

<li><a href="http://www.opencongress.org/bill/110-h96/show">H.R.96 - Gun Show Loophole Closing Act of 2007 </a></li>

<li><a href="http://www.opencongress.org/bill/110-h73/show">H.R.73 - Citizens' Self-Defense Act of 2007 </a></li>

<li><a href="http://www.opencongress.org/bill/110-s77/show">S.77 - Anti-Gun Trafficking Penalties Enhancement Act of 2007 </a></li>

<li><a href="http://www.opencongress.org/bill/110-h1022/show">H.R.1022 - Assault Weapons Ban and Law Enforcement Protection Act of 2007 </a></li>

<li><a href="http://www.opencongress.org/bill/110-h297/show">H.R.297 - NICS Improvement Act of 2007 </a></li>

<li><a href="http://www.opencongress.org/bill/110-s1237/show">S.1237 - Denying Firearms and Explosives to Dangerous Terrorists Act of 2007 </a></li>

</ul>
<h3>EDUCATION</h3>
<ul class="list-links">

<li><a href="http://www.opencongress.org/bill/110-h1346/show">H.R.1346 - Student Privacy Protection Act of 2007 </a></li>

<li><a href="http://www.opencongress.org/bill/110-h916/show">H.R.916 - John R. Justice Prosecutors and Defenders Incentive Act of 2007 </a></li>

<li><a href="http://www.opencongress.org/bill/110-h890/show">H.R.890 - Student Loan Sunshine Act </a></li>

<li><a href="http://www.opencongress.org/bill/110-h1429/show">H.R.1429 - Head Start for School Readiness Act </a></li>

<li><a href="http://www.opencongress.org/bill/110-h1056/show">H.R.1056 - Family Education Freedom Act of 2007 </a></li>

<li><a href="http://www.opencongress.org/bill/110-h5/show">H.R.5 - College Student Relief Act of 2007 </a></li>

<li><a href="http://www.opencongress.org/bill/110-h2669/show">H.R.2669 - Higher Education Access Act of 2007 </a></li>

<li><a href="http://www.opencongress.org/bill/110-s1996/show">S.1996 - ATTAIN Act </a></li>

<li><a href="http://www.opencongress.org/bill/110-s1981/show">S.1981 - No Child Left Inside Act of 2007 </a></li>

<li><a href="http://www.opencongress.org/bill/110-s761/show">S.761 - Protecting America's Competitive Edge Through Energy Act </a></li>

<li><a href="http://www.opencongress.org/bill/110-h2373/show">H.R.2373 - Student Bill of Rights </a></li>

<li><a href="http://www.opencongress.org/bill/110-s1762/show">S.1762 - Higher Education Access Act of 2007 </a></li>

<li><a href="http://www.opencongress.org/bill/110-s639/show">S.639 - ED 1.0 Act </a></li>

<li><a href="http://www.opencongress.org/bill/110-s774/show">S.774 - DREAM Act </a></li>

</ul>
<h3>HOUSING/MORTGAGE CRISIS</h3>
<ul class="list-links">

<li><a href="http://www.opencongress.org/bill/110-h1852/show">H.R.1852 - Expanding American Homeownership Act of 2007 </a></li>

<li><a href="http://www.opencongress.org/bill/110-h1427/show">H.R.1427 - Federal Housing Finance Reform Act of 2007 </a></li>

<li><a href="http://www.opencongress.org/bill/110-h1876/show">H.R.1876 - Mortgage Cancellation Relief Act of 2007 </a></li>

<li><a href="http://www.opencongress.org/bill/110-h2895/show">H.R.2895 - National Affordable Housing Trust Fund Act of 2007 </a></li>

<li><a href="http://www.opencongress.org/bill/110-h1519/show">H.R.1519 - American Homebuyers Protection Act </a></li>

<li><a href="http://www.opencongress.org/bill/110-s1988/show">S.1988 - First-Time Homebuyers' Tax Credit Act of 2007 </a></li>

<li><a href="http://www.opencongress.org/bill/110-h44/show">H.R.44 - Stabilizing Affordable Housing for the Future Act </a></li>

<li><a href="http://www.opencongress.org/bill/110-h1443/show">H.R.1443 - Consumer Fairness Act of 2007 </a></li>
