<style type="text/css">
@import "http://keith-wood.name/css/jquery.datepick.css";

td,th {
  padding: 0;
}
</style>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="http://keith-wood.name/js/jquery.datepick.js"></script>
<script type="text/javascript">
$(function() {
//      $.datepick.setDefaults({useThemeRoller: true});
  $('#houseDatepicker').datepick({multiSelect: 999, monthsToShow: [3, 1],
       monthsToStep: 3, prevText: '<< Previous months', nextText: 'Next months >>', minDate: new Date()});
  $('#senateDatepicker').datepick({multiSelect: 999, monthsToShow: [3, 1],
      monthsToStep: 3, prevText: '<< Previous months', nextText: 'Next months >>', minDate: new Date()});

  $('#houseDatepicker').datepick('setDate', ["<%= @house_sessions.collect{ |s| s.date.strftime('%m/%d/%Y') }.join('","') %>"]); 
  $('#senateDatepicker').datepick('setDate', ["<%= @senate_sessions.collect{ |s| s.date.strftime('%m/%d/%Y') }.join('","') %>"]); 
});

function setInputs() {
   $("#houseDateInput").val($('#houseDatepicker').datepick('getDate'));
   $("#senateDateInput").val($('#senateDatepicker').datepick('getDate'));
};

</script>
<div class="padding">
<h1>Session Dates for Congress</h1>
<div style="float: left; margin-right: 20px">
  <h2>House dates</h2>
  <div id="houseDatepicker"></div>
</div>
<div style="float: left;">
  <h2>Senate dates</h2>
  <div id="senateDatepicker"></div>
</div>
<form method=post>
   <input type="hidden" name="houseDates" id="houseDateInput">
   <input type="hidden" name="senateDates" id="senateDateInput">
   <input type="submit" id="inlineDateSubmit" onClick="setInputs();">
   <a href="#" onClick='alert("dates: " + $("#houseDatepicker").datepick("getDate")); return false'>Check</a>
</form>
</div>

      