<div id="heading">
  <h2>Advanced Search</h2>
  <p>For suggestions on how to optimize your search, please visit the <a href="/search/tips">Search Tips</a> page.</p>
</div>


<div class="clearfix padding">
  <%= render :partial => 'big_search_form', :locals => { :show_form => true } %>
</div>
