<div>
<h2>Search Tips</h2>
</div>
<p>OpenCongress seeks to make it easy for you to search the Congressional record and find what you're looking for: a bill or resolution, a Member of Congress, an issue area, a phrase used in news or blog articles, and more.</p>

<p>Congress introduces thousands of bills and resolutions every session -- finding what you're looking for in the haystack may not always happen right away. OpenCongress, by combining news and blog results with the official text of legislation, represents a step forward in making the arcane language of bills more intelligible, but there is certainly still more work to be done. We're continually improving our search algorithm to make it more responsive. Here is an initial list of suggestions for optimizing your search on Open Congress. This list will be fleshed out and improved as we gather feedback:</p>

<p</p>


<ul class="star">
<!--<li class="top-star">Don't forget the sidebar: you may be able to find what you're looking for by browsing off the left-hand sidebar. On each page &mdash; for Bills, Senators, Representatives, Committees, Industries, and Issues &mdash; you can browse, sort alphabetically by name, and sort by most-viewed on OpenCongress, and more.</li> 
-->
<li class="top-star">Occasionally, bills are more familiarly known by colloquial names -- for example, "S.1" might be better known as the "Senate ethics bill" or many other variants. If you're looking for a specific bill (say, S.1) but you don't know the specific bill number, try searching for the colloquial name (say, "Senate ethics bill") and looking through the news and blog results -- perhaps a journalist or blogger used that phrase and included the official bill number, making it easier to find. OpenCongress also offers summaries of bill titles for some of the bills most written-about in the news, so that's another instance in which searching for colloquial names can direct you to the official bill title.</li> 
<li class="top-star">If you're looking for a "hot" bill or a controversial issue that's been in the news recently, but you're not sure of its exact title, our page of <a href="/bill/hot">Hot Bills</a> by issue area is a great starting point for your search. There you can find groups of the most newsworthy bills, and in some cases the most contentious bills in Congress, as compiled by the editors of OpenCongress. It's a handy cheat-sheet of buzzworthy bills and their official titles. The OpenCongress <a href="/blog">Blog</a> might have written about it recently too and may offer a helpful plain-language summary.</li>
<li class="top-star">If you're searching on an issue area, for example, "the environment," keep in mind that a general issue area is likely to have several sub-categories: Environmental economics, Environmental education, Environmental engineering, etc. There are over 4,000 issue area pages on OpenCongress. Try sorting issues alphabetically by name in order to view all the sub-categories.</li> 
<li class="top-star">If you're searching for vote results on a specific bill, or are wondering how certain Members of Congress voted on a specific bill, be sure to click on the button to <strong>"see full voting history"</strong> on that bill's page to view all the votes associated with the bill. Click on "Details" to see how all Members of Congress voted on each particular question, keeping in mind that each question may have different amendments and substance. When possible, use news &amp; blog coverage of the bill to determine which of the bill's questions are most important to you. Sometimes House bills are directed over to the Senate, and vice versa, so click on the button to "See All Actions" to view different versions of the bill in process.</li> 
<li class="top-star">If you're searching for a term and can't find it right away, you might consult the <a href="/about/congress">About Congress</a> page on OpenCongress, which offers links to helpful web resources such as Project Vote Smart's explanation of the bill-to-law process, the publicly-editable wiki Congresspedia, and more.</li>
</ul>

<p>You're encouraged to contact us anytime <script type="text/javascript">m("writeus","opencongress","org","1");</script> with questions or suggestions. Your input on your search experience is valuable to making OpenCongress an even more useful public resource. Subscribe to our blog's <a href="/articles/atom">RSS feed</a> or join our <a href="http://crm.opencongress.org/">e-mail list</a> to stay in touch with the latest new features and site development here on OpenCongress.</p>

