<!-- Copyright (c) 2007 [Sur http://expressica.com] -->

<label for="simple_captcha">Spam check</label>
<span class="captcha_img"><%= simple_captcha_options[:image] %></span>
<%= simple_captcha_options[:field] %>