<h2 class="blog_title"><%= link_to 'OpenCongress Blog', blogs_url %></h2>

<p class="rss-feeds">
<a href="http://feeds.feedburner.com/OpenCongressCongressGossipBlog" class="feed">Blog Feed</a>
<a href="/articles/all_comments_atom" class="feed">Comments Feed</a> 
<a href="/about/rss">More RSS Feeds</a>
</p>


<%= render :partial => 'article', :locals => {:article => article} %>

<%= render :partial => 'shared/comments2', :locals => {:object => article} %>
