<% @related = article.related %>

<% if @related.size > 0 %>
	<h1> Related Articles </h1>
	<% article.related.each do |ar| %>
		<%= image_tag ar.icon %>
		<%= link_to ar.title, :action => 'view', :id => ar %><br/>
	<% end rescue nil %>
<% end %>