<div id="tertiary-content">
  <div class="col">
    <div class="related-box">
     <h2>Most Viewed</h2><span class="days">&#40;Past Seven Days&#41;</span>              
      <% related_industries.each do |i| %>
      <div <% if related_industries.last == i %>class="last"<% end %>>
        <ul>
          <li>
            <p><%= link_to_item i, :name, :show %> <em>(<%= i.views(Settings.default_count_time)%> views)</em></p>
          </li>
        </ul>
      </div>
      <% end %>              
    </div>
    <!-- // related-box-->
  </div>
</div>
<!-- // col  // tertiary-content -->
