<div id="heading">
  <h2>The Money Trail</h2>
  <p>This section is about the role of money in politics. Data on campaign contributions is provided by the non-partisan resources <a href="http://www.opensecrets.org/" target="_blank">OpenSecrets</a> and <a href="http://maplight.org/" target="_blank">MAPLight</a>.</p>
  
</div>

<div class="page_description">

<p>OpenCongress makes it possible to draw connections between campaign contributions, the specific content of bills, and important votes by Members of Congress. Figures below are individual contributions from <%= opensecrets_cycle_years %>, which is the most recent data set available because Congress refuses to report its contributions in timely, digital formats. (More detailed info on PAC contributions is coming soon.)</p><br>

<p class="behave">The top-line categories below are Sectors, under which are listed varying numbers of Industries. Under any Industry, click on the name of an Interest Group to view a list of its top recipients in Congress. Click the name of any Senator or Representative to visit his or her profile and view all details on their donors. Not every Interest Group currently has Members associated with it, but we will continue to add new data in order to make government more transparent.</p></div>

<!--
Our goal is to make it possible for anyone to put a spotlight on wasteful spending, expose potential cases of political corruption, and ensure effective accountability on the part of their elected officials. For more info on how the current campaign finance system unfairly gives advantages to entrenched interests and erodes public trust in govenrment outcomes, visit <a href="http://change-congress.org/" target="_blank">Change Congress</a>. although this doesn't have to be the case, if only the Senate would move to Pass Bill 482, making campaign finances available online in a timely fashion.
-->

<% split_list = false %>
<ul class="floatleft">
  <% @sectors.each_with_index do |s, index| %>
    <% if (!split_list and (index > 0) and (@sectors.size/index <= 2)) %>
      </ul>
      <ul class="floatleft right">
      <% split_list = true %>
    <% end %>
    <li><span><%= s.name %></span>
      <ul>
        <% s.crp_industries.each do |i| %>
          <li><span><%= i.name %></span>        
            <ul>
              <% i.crp_interest_groups.each do |ig| %>
                <%= render :partial => 'money_trail/interest_group', :object => ig %>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>