<% case class_type
   when 'Bill' %>
  <p><label for="sidebar_item_bill">Bill ID (use the form in the URL for the bill, IE: "109-h864")</label><br/>
  <%= text_field 'sidebar_items', 'bill_id'  %></p>
<% when 'Person' %>
  <% people_a = (Person.representatives << Person.senators).flatten %>
  <p><label for="sidebar_items_person">Person</label><br/>
  <%= select 'sidebar_items', 'person_id', people_a.collect {|p| [ p.name, p.id ] } %></p>
<% when 'Committee' %>
  <p><label for="sidebar_items_committee">Committee</label><br/>
  <%= select 'sidebar_items', 'committee_id', Committee.major_committees.collect {|c| [ c.name, c.id ] } %></p>
<% when 'Subject' %>
  <p><label for="sidebar_items_committee">Subject</label><br/>
  <%= select 'sidebar_items', 'subject_id', Subject.alphabetical.collect {|s| [ s.term, s.id ] } %></p>
<% end %>