<h1>New Sidebar Item</h1>

<p>New item for <b><%= @sidebar.title %></b></p>

<% form_tag :action => 'create' do -%>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', :action => 'list' %>
