<% for column in SidebarItem.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @sidebar_items.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @sidebar_items %> |
<%= link_to 'Back', :action => 'list' %>
