#heading {
height: 45px;
}

.inner {
}

#about .inner p {
margin-bottom: 10px;
}

div.col1 {
    float: left;
    width: 600px;
}

div.col2 {
    padding-left: 15px;
    width: 317px;
    float: left;
}

ul.pointy li:before {
    content: "\00BB \0020";
}

ol {
    list-style-type: decimal;
    padding-left: 3em;
}

.codeblock {
    display: block;
    background: rgb(238, 238, 238);
    margin-bottom: 1em;
    padding: 7px 15px;
    width: 90%;
    overflow: auto;
}

.codeblock pre {
    font-family: 'Bitstream Vera Sans Mono', Monaco, 'Courier New', monospace;
    font-size: 9pt;
}

p.big {
    font-size: 16px;
    margin: 30px 35px;
    line-height: 1.5em;
}

p.pullquote-right {
    float: right;
    padding-left: 15px;
    margin-left: 15px;
    border-left: 1px solid #999;
    width: 150px;
    font-size: 15px;
    line-height: 1.5em;
}

p.highlight {
    background-color: #eee;
    padding: 5px;
    margin-left: -5px;
}
pre {
  background-color:#FAFAFF;
  border:1px solid #DEDEDE;
  color:#444444;
  line-height:18px;
  margin:5px 0;
  overflow:auto;
  padding:8px;
  white-space: normal;
}
code {
  font-size:11px;
  white-space: normal;
}
.hideme {
  display:none;
}