


.blog-title {
padding: 35px 35px 0px;
border: 1px solid #ddd;
border-bottom: 0;
background: #fff;
margin: 15px 0 0 15px;
clear: both;
font-weight: normal !important;
}

.blog-title strong {
font-weight: normal !important;
}


.blog-title h3 {
padding: 0px;
margin: 0px 0 2px 0;
font-weight: normal;
line-height: 1.4em;
font-size: 22px;
}

.rss-feeds{
padding-top: 20px;
float: right;
}

p.floatleft.small{
padding-top: 8px;
}

.facebook span{
padding: 10px 10px 12px 15px !important;
}

.facebook{
clear: none !important;
}


.sub_blog{
font-size: 14px;
background: url(../images/rss_icon.png) left center no-repeat;
padding-left: 23px;
text-decoration: none;
display: block;
margin-bottom: 30px;
}

.comment_feed{
margin-top: 5px;
float: left;
padding-left: 20px;
}

.twitter{
margin-right: 10px;
}

.twitter span{
padding: 9px 10px 10px 15px !important;
}

.rss-feeds a{
margin-left: 20px;
font-size: 11px;
background-position: right 1px;
}

.tip{
font-size: 11px;
color: #666;
line-height: 1.4em;
padding: 10px 0 15px;
}

.rss-feeds a.feed{
margin-left: 20px;
font-size: 10px;
background-position: right 1px;
}

.blog-date {
color: #999;
}

.blog_title {
font-style: italic;
padding: 20px;
font-family: Georgia, Times, serif;
float: left;
}

.blog_title a:link, .blog_title a:visited {
    text-decoration: none;
    color: #333;
}

.blog_title a:hover {
    text-decoration: underline;
    color: #666;
}

.blog-title a {
padding: 0px;
margin: 0px;
letter-spacing: .01em;
font-size: 22px;
line-height: 1.2em;
color: #333;
font-weight: normal;
}

li.comments {
}

.blog-body {
padding: 10px 35px 10px;
font-size: 14px;
color: #3f3f3f;
line-height: 1.4em;
border: 1px solid #ddd;
color: #555;
border-top: 0;
margin: 0 0 30px 15px;
background: #fff;
}

.blog-body a {
text-decoration: underline;
}

.blog-body img {
padding: 10px;
margin-bottom: 20px;
margin-left: 25px;
background: #fff;
border: 1px solid #ddd;
max-width: 563px;
}

#content-main ul {
margin: 0;
padding: 0;
}

.blog-body p {
padding: 13px 0px 10px !important;
margin: 0px;
}

.blog-body table {
padding: 13px 0px 10px !important;
margin: 0 15px;
}

.blog-body table td, .blog-body table td {
padding: 10px !important;
font-size: 12px;
min-width: 55px;
}

.blog-body table th {
text-align: left;
padding-left: 10px !important;
}


p {
}

.blog-body blockquote {
padding: 20px;
color: #5d5d5d;
margin: 20px 20px 0;
background: #f7fcff;
line-height: 1.5em;
border: 1px solid #e9f6ff;
border-left: 5px solid #d4e6f2;
border-bottom: 1px solid #d4e6f2;
font-size: 14px;
}

.col .related-box div {
}

.col .related-box h2 {
padding: 0;
}

.col .related-box h3 {
text-align: left !important;
}

.col .related-box ul{
list-style: none;
padding: 0 !important;
}


.col .related-box ul li{
list-style: none;
margin-left: 0;
}

.add_to_emails{
margin-bottom: 10px;
}

.blog_buttons {
height: 30px;
clear: both;
float: left;
padding: 25px 0 0;
width: 587px;
margin: 0 14px 10px;
}

.blog_social_ref {
  padding: 15px ;
  margin: 14px 0px 0;
  font-size: 12px;
color: #999;

line-height: 1em;
  background-color: #fff;
border: 1px solid #eee;
-moz-border-radius: 4px
}

.blog_buttons a {
text-decoration: none;
}


.blog_buttons a.med_arrow {
float: right !important;
clear: none !important;
}

.blog_buttons .share {
  margin-top: 3px;
  float: right;
}

.blog_buttons a span {
padding-top: 5px;
}


.blog_submit {
float: right !important;
clear: none !important;
}

.blog_perm {
float: left;
clear: none;
margin: 0;
}

.full_article, .comments_link{
float: left;
margin: 10px 0 30px;
}


.comments_link{

margin: 10px 0 0 15px;
}

.article_tags {
padding: 0px;
margin-top: 20px;
clear: both;
float: left;
width: 100%;
}


.article_tags a {
text-decoration: none;
color: #999;
float: left;
margin: 3px 3px;
line-height: 1em;
  background-color: #f8f8f8;

  font-size: 10px;
border: 1px solid #fff;
  padding: 4px 12px;
-moz-border-radius: 10px;
}


.article_tags a:hover {
background: #aaa;
color: #fff;
border: 1px solid #999;
}

.blog_tag {

}

#content-main {
float: left;
margin: 14px;
width: 700px;
}

#tertiary-content {
float: left;
width: 233px;
margin: 13px 0 0 15px;
}


input.floatright {
float: left !important;
margin-right: 0 !important;
}

.related-box div {
clear: both;
}

p.floatleft {
float: right !important;
margin-right: 0 !important;
}

#tertiary-content ul.star {
padding-left: 15px;
}

.margintop {
padding-top: 10px;
}

.med_button.clear span {
padding-bottom: 3px;
}


#comments-container {
margin-left: 15px;
padding: 30px 0;
}

#tertiary-content h3 {
margin-top: 20px;
clear: both;
}

.add_to_emails {
background: url(../images/forms.png) left -124px no-repeat;
_background: url(../images/forms.gif) left -124px no-repeat;
border: none;
padding: 7px;
width: 218px;
}


#articles .blog-body ul li {
list-style: circle !important;
}

#articles .blog-body ul {
margin: 20px 0 !important;
padding-left: 30px !important;
}

.sort_comments {
float: right;
margin-right: 0;
}

.sort_comments h4 {
display: inline;
float: left;
padding-right: 13px;
}

h3.no_comments {
clear: both;
padding: 20px;
color: #5d5d5d;
margin: 20px 0;
background: #f8f8f8;
line-height: 1.5em;
border: 1px solid #eee;
font-size: 14px;
font-weight: normal;
}

h3.no_comments strong {
font-weight: bold;
padding: 0 10px 0 35px;
background: url(../images/comments.png) left 2px no-repeat;
_background: url(../images/comments.gif) left 2px no-repeat;
}

.blog-body h2 {
padding-left: 15px;
margin: 20px 0 0;
padding-bottom: 0;
line-height: 1.4em;
}

.a {
background: url(../images/1.png) center no-repeat;
_background: url(../images/1.gif) center no-repeat;
}

.b {
background: url(../images/2.png) center no-repeat;
_background: url(../images/2.gif) center no-repeat;
}

.c {
background: url(../images/3.png) center no-repeat;
_background: url(../images/3.gif) center no-repeat;
}

.d {
background: url(../images/4.png) center no-repeat;
_background: url(../images/4.gif) center no-repeat;
}

.e {
background: url(../images/5.png) center no-repeat;
_background: url(../images/5.gif) center no-repeat;
}

#articles.edit .inner {
padding: 35px;
}


#comments_master {
width: 681px;
}

.recent_posts li{

}


.recent_posts li a{
background: url(../images/home_blog_icon.png) 0 6px no-repeat;
padding: 5px 5px 5px 20px;
display: block;
text-decoration: none;
border-bottom: 1px solid #fff;
}



.recent_posts li a:hover{
background: #eee url(../images/home_blog_icon.png) 0 6px no-repeat;
padding: 5px 5px 5px 20px;
display: block;
text-decoration: none;
border-bottom: 1px solid #ddd;
}

.recent_posts li a span{
display: block;
font-size: 11px;
color: #999;
line-height: 1em;
}


.tips li a{
background: url(../images/note.png) 0 7px no-repeat;
padding: 5px 5px 5px 20px;
display: block;
text-decoration: none;
border-bottom: 1px solid #fff;
color: #333;
}

.tips li a:hover{
background: #eee url(../images/note.png) 0 7px no-repeat;
padding: 5px 5px 5px 20px;
display: block;
text-decoration: none;
border-bottom: 1px solid #ddd;
}


.tips p{
color: #000;
}

.tips p.small{
padding: 0 0 0 20px;
line-height: 1em;
color: #888;
margin-bottom: 5px;
}


.archives{ 
margin-bottom: 10px;
}


.archives li a{
background: url(../images/archives.png) 0 4px no-repeat;
line-height: 2em;
padding-left: 20px;
display: block;
text-decoration: none;
border-bottom: 1px solid #fff;
}



.archives li a:hover{
background: #eee url(../images/archives.png) 0 4px no-repeat;
border-bottom: 1px solid #ddd;
}

.archives li a span{
display: block;
font-size: 11px;
color: #999;
line-height: 1em;
}



img.blogpage-blog-image{
clear: left;
width: 180px !important;
float: right;
margin: 15px 0px 10px 20px;
border: 1px solid #ccc;
padding: 3px;
}


.comments_title .comment_feed{
float: right;
margin: 0;
}

#articles.view div#wrapper div#content.clearfix div.inner .blog-body div.share_blog ul.share_icons{
float: left !important;
margin: 8px 0 0 20px !important;
padding:0 !important;
clear: none !important;
}


#articles.view div#wrapper div#content.clearfix div.inner .blog-body div.share_blog ul.share_icons li{
list-style: none !important;
height: 19px !important;
padding: 0 !important;
}

.share_blog {
  padding: 15px ;
  margin: 14px 0px;
  font-size: 12px;
color: #999;
line-height: 1em;
height: 3em;
  background-color: #f8f8f8;
position: relative;
border: 1px solid #eee;
-moz-border-radius: 4px
}


.share_blog .med_button{
text-decoration: none;
line-height: 1.5em;
float: right;
clear: none !important;
}



.share_blog h2{
margin: 8px 0 0 10px;
padding: 0;
font-size: 13px;
clear: none !important;
line-height: 1.5em;
float: left !important;
}

.share-link{
margin-top: 2px !important;
background: url(../images/more.png) 0 6px no-repeat !important;
}

.left_email{
float: left;
width: 250px;
}


.left_email label{
display: block;
margin-bottom: 10px;
}



.left_email input{
display: block;
margin-bottom: 10px;
padding: 3px;
width: 242px;
}


.right_email{
float: right;
width: 300px;
}


.right_email label{
display: block;
margin-bottom: 10px;
}

.right_email input{
float: right;
}


.right_email div input{
float: none;
}

.right_email #simple_captcha{
display: block;
margin: 10px 0;
padding: 5px;
height: 43px;
}

.right_email #catcha{
float: right !important;
}

div.simple_captcha_image {
margin-right: 15px !important;
float: left !important;
}

