

.sorts{
text-align: center;
padding-top: 20px;
min-height: 60px;
}


.sorts li{
text-align: center;
display: inline-block;
padding: 15px 0 10px;
}

li#blog{


}


div#sort_nav {
clear: both;
background: url(../images/sen-sort.png) left 83px repeat-x !important;
_background: url(../images/sen-sort.gif) left 83px repeat-x !important;
padding: 0px 0 0px 0px;
width: 100%;
}

div#sort_nav #heading {
border-bottom: 1px solid #cadced;
height: 45px;
}
  
div#sort_nav #heading h2 {
padding-top: 5px;
}
 

ul#in {
float: right;
}

ul#in li {
float: right;
}

ul#in li#all {
float: left;
}

.list_count {
line-height: .8em;
float: right;
font-size: 97px;
height: 0px;
padding-right: 14px;
color: #e5f2ff;
}


#most_commented{
padding: 40px;

}

.most_button{
clear: left;
float: left;

}


.most_button a{
display: block;
font-size: 11px;
width: 207px;
padding: 6px 0 7px 20px;

-moz-border-radius-bottomleft: 3px;
-moz-border-radius-bottomright: 3px;
-webkit-border-radius-bottom-left: 3px;
-webkit-border-radius-bottom-right: 3px;
border-radius:3px;

border: 1px solid #a7c3c9;
border-top: none;
border-bottom: 1px solid #4e7179;


-moz-box-shadow: 0 1px 0px #a7c3c9, inset 0 1px 0px #fff;
-webkit-box-shadow: 0 1px 0px #a7c3c9, inset 0 1px 0px #fff;
box-shadow: 0 1px 0px #a7c3c9, inset 0 1px 0px #fff;

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#eee'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #fff,  #eee); /* for firefox 3.6+ */

text-decoration: none;
}

.most_button a:hover{

}



.main {
background: #fff;
}

table#amendments td, table#actions td, table#votes td {
padding-top: 13px;
padding-bottom: 10px;
padding-right: 12px;
margin: 0;
}
table#amendments th, table#actions th, table#votes th {
text-align: left;
padding-top: 2px;
padding-right: 24px;
}

table#amendments th span, table#actions th span, table#votes th span {
padding-left: 13px;
}

table#votes, table#amendments, table#actions {
width: 691px;
clear: both !important;
margin: 20px 0 0 0;
}

table#votes tbody tr, table#amendments tbody tr, table#actions tbody tr {
margin: 0px;
}
.actionz {
background: url(../images/action.png) 12px 12px no-repeat;
_background: url(../images/action.gif) 12px 12px no-repeat;
font-weight: bold;
padding: 0px 20px 0 40px;
}
table#votes span.date {
background: url(../images/action.png) left center no-repeat;
_background: url(../images/action.gif) left center no-repeat;
padding: 5px 20px 5px 40px;
}
table#votes td.action {
padding-left: 12px;
}
table td.text {
padding-right: 24px;
}
.question, .req {
}

thead {
margin: 0;
padding: 0px
}

.amendments {
background: url(../images/amendment.png) 12px 11px no-repeat;
_background: url(../images/amendment.gif) 12px 11px no-repeat;
padding: 0px 20px 0 12px;
}

table#amendments th span.nopad, table#actions th span.nopad, table#votes th span.nopad {
padding-left: 0;
}

.actions #tabs ul li#actions_votes,
.actions #tabs ul li#actions_votes span a,
.votes #tabs ul li#actions_votes,
.votes #tabs ul li#actions_votes span a,
.amendments #tabs ul li#actions_votes,
.amendments #tabs ul li#actions_votes span a,
.news #tabs ul li#news_blogs,
.news #tabs ul li#news_blogs span a,
.blogs #tabs ul li#news_blogs,
.blogs #tabs ul li#news_blogs span a {
background-position: right -844px;
}
.actions #tabs ul li#actions_votes span,
.votes #tabs ul li#actions_votes span,
.amendments #tabs ul li#actions_votes span,
.news #tabs ul li#news_blogs span,
.blogs #tabs ul li#news_blogs span {
background-position: 0 -844px;
}
.actions_votes .aavtabs a, .actions .aavtabs a, .amendments .aavtabs a, .votes .aavtabs a {
margin: 20px 10px 0 0;
}

.actions_votes table tbody, table#actions tbody,  table#amendments tbody, table#votes tbody {
margin-top: 0px;
border-right: 1px solid #ddd;
border-left: 1px solid #ddd;
margin-left: 2px;
}
tr td.roll tbody {
border: none !important;
}


td.text {
padding-right: 0px;
}

tfoot {
background: url('../images/tfoot.png') left top no-repeat;
_background: url('../images/tfoot.gif') left top no-repeat;
}

tr.header {
width: 691px;
background: url('../images/bill/av-table-header.png') no-repeat left top;
_background: url('../images/bill/av-table-header.gif') no-repeat left top;
line-height: 33px;
white-space: nowrap;
}

th span {
float: left;
}

th a {
/*padding-right: 10px;*/
float: right;
}

tr.small {
height: 0px;
line-height: 0px;
}

#topic {
background: url('../images/bill_heading_blue.png') left top;
_background: url('../images/bill_heading_blue.gif') left top;
float: left;
width: 100%;
}
#the-bills {
clear: both;
}

#the-bills .med_button {
float: right;
clear: both;
margin: 0px 0px 30px 0px;
font-weight: bold;
}

#the-bills .med_button span {
}

#bill.list_bill_type .bills_list {
margin: 0 30px;
}

#bill.list_bill_type .pagination {
height: 20px;
margin-bottom: 30px;
padding: 10px 10px 8px;
background: url('../images/pagination_bg.png') top repeat-x;
_background: url('../images/pagination_bg.gif') top repeat-x;
border-bottom: 1px solid #e3e3e3;
}

#bill.list_bill_type .pagination a,
#bill.list_bill_type .pagination ._page,
#bill.list_bill_type .pagination .current,
#bill.list_bill_type .pagination .gap {
display: block;
float: left;
}

.all #tertiary-content {
clear: both;
float: none;
width: inherit;
padding: 30px;
}
#bill.major li#senate,
#bill.major li#house {
display: none;
}
.hot_category {
margin: 28px 0;
}
.senate {
width: 452px;
padding: 0px 29px 0px;
float: left;
margin-bottom: 35px;
}

.house {
padding: 0px 28px 0 0px;
float: left;
width: 463px;
margin-bottom: 35px;
}

h2 {
height: 20px;
}

.senate h2, .house h2 {
clear: both !important;
float: left;
width: 100%;
}

.senate li, .house li, .senate ul, .house ul {
clear: both !important;
}

#bill h2.icon {
padding: 4px 0 4px 0;
font-size: 14px;
border-bottom: 1px solid #ddd;
font-style: normal;
font-family: Helvetica, sans-serif;
clear: both;
}

#bill h2.icon .dbox_trigger {
margin-right: 0;
}

#bill h2.icon span {
font-size: 11px;
font-weight: normal;
padding-left: 15px;
}

#bill h2.icon div {
float: left;
}

#bill.all p.test {
text-align: right;
margin-bottom: 50px;
}

.show h2 {
padding: 0px 0 0 0;
}

.question {
margin-left: 16px;
}

#topic h1 {
padding: 0px 0px 0px 0;
margin: 0 0 .5em 0;
line-height: 1.4em;
color: #464748;
font-weight: normal;
}

#topic h1 span {
font-weight: bold;
}

/* topic n' tabs 

#topic .titlecon {
margin: 35px 34px 10px 37px;
float: left;
text-align: center;
width: 110px;
}
*/

#topic .title {
padding: 45px 40px 0px 50px;
margin-bottom: 20px;
}

#topic .title p {
padding: 0px;
font-weight: normal;
margin: 0;
font-size: 12px;
line-height: 1.4em;
color: #778a9d;
}

#topic .title a {
display: inline;
color: #333;
padding-left: 5px;
}

#topic .title h1 {
font-weight: bold;
font-size: 16px !important;
margin: 6px 0 4px 0;
}

#user_content {
}

#user_stats_div {
position: absolute;
right: 0;
-moz-border-radius: 12px;
border: 6px ridge #787878;
z-index: 10;
background: #fff;
padding: 20px;
}

div.news_blogs {
float: left;
border-top: 1px solid #dee7f1;
border-bottom: 1px solid #dee7f1;
background: #f8fbff;
width: 745px;
}
  
     
#bill.news_blogs #content-main div.clearfix, #bill.blogs #content-main div.clearfix, #bill.news #content-main div.clearfix {
background: url(../images/sen-sort.png) left 0px repeat-x !important;
_background: url(../images/sen-sort.gif) left 0px repeat-x !important;
}
     
     
.show #content-main .col1,
.news_blogs #content-main .col1,
.news #content-main .col1,
.blogs #content-main .col1 {
width: 288px;
float: left;
clear: both;
padding: 30px 35px 65px 40px;
}

.show #content-main .col2,
.news_blogs #content-main .col2,
.news #content-main .col2,
.blogs #content-main .col2 {
width: 291px;
float: left;
padding: 30px 42px 65px 40px;
}

#money_trail_summary .col2 {
padding-right: 5px !important;
}

#content-main .col1 {
border-right: #f4f4f4 1px solid;
}

/* bill titles */

#bill_titles {
/*margin: 0 50px;
float: left;
border-top: 1px solid #eee;
*/
}

#bill_titles ul {
/*margin: 20px 0;*/
}

#user_content.bill {
}


#vote {
float: left;
width: 254px;
height: 130px;
margin: 0 0 0px 0 !important;
}

#b_myoc {
margin-top: 10px;
}

#vote h2 {
padding-bottom: 0;
margin-bottom: 5px !important;
}
#vote p {
font-size: 11px;
line-height: 12px;
}
#vote font {
display: block;
margin: 0 auto;
float: left;
text-align: center;
font-size: 10px;
color: #202020;
}
h3.support {
color: #58a166;
}
h3.oppose {
color: #c35b5d;
}




.voting_buttons {
float: right;
width: 30px;
margin: -13px -16px 0 0;
}

.voting_buttons a{
float: right;
  border: 1px solid #aaa;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #777;
  


  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #fff,  #eee); /* for firefox 3.6+ */

  text-shadow: 0 1px 0px #fff;
color: rgba(0,0,0,.9);
padding: 8px 0 0 10px;
width: 20px;
height: 20px;
opacity: .5;
}



.voting_buttons a:hover{


opacity: .7;
}

.voting_buttons a:active{
  border: 1px solid #999;
  border-top: 1px solid #666;
  border-bottom: 1px solid #ccc;
  
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.3);;
  -webkit-box-shadow:  inset 0 1px 2px rgba(0,0,0,.3);;
  box-shadow:  inset 0 1px 1px rgba(0,0,0,.3);;
  
  background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#eee)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #ddd,  #eee); /* for firefox 3.6+ */
opacity: .5;
  text-shadow: 0 1px 0px #fff;  
}




.voting_buttons a span{
display: none;

}

.voting_buttons a:hover,
.voting_buttons a.bill_support {

}

.voting_buttons a.no  {

  border-top: none;


    -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;




}

.voting_buttons a.yes  {



    -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  border-top-right-radius: 5px;




}

.voting_buttons a.yes img {
margin-left: -2px;

}



.voting_buttons a.yes:hover span,
.voting_buttons a.yes.bill_support span {


}

.voting_buttons a.no:hover span,
.voting_buttons a.no.bill_support span {


}

.voting_buttons a.no span {


}

.voting_buttons a img {


}







.pie-chart {
float: left;
background: #fff;

-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
padding: 4px;

border: 1px solid #ccc;

margin: 20px 50px 0 0;

}



.pie-chart.last {
margin: 20px 0 0 0px;
}



#contribute {
padding: 10px 0;
font-size: 11px;
color: #999;
}

#contribute a {
padding-left: 10px;
font-weight: bold;
}

.box-wrap {
color: #253648;
line-height: 3em;
margin: 35px 50px 15px;
font-size: 11px;
float: left;
width: 580px;
border-bottom: 1px solid #aebccb;
border-top: 1px solid #aebccb;
/*
  width:177px;
padding: 22px 20px 0 30px;
*/
}

.box-wrap span {
padding: 0 10px;
}

.box-wrap span.first {
padding: 0 10px 0 1px;
}

#bill-text {

float: left;
}

#bill-text a {
display: block;
padding: 23px 0px 23px 90px;
font-weight: bold;
text-decoration: none;
font-size: 14px;
color: #43617d;
margin: 38px 0 20px 38px;
float: left;
background: url(../images/bill-text.png) left 0px no-repeat !important;

}



#bill-text a:hover {

background: -webkit-gradient(linear, left top, left bottom, from(#ecf9fc), to(#d6e8eb)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #eaf2fb,  #e3eef9); /* for firefox 3.6+ */
}


#bill-text a:active {
border: 0;
-moz-box-shadow:inset -1px 1px 3px #333,  0 0px 3px #fff;
-webkit-box-shadow: 0 1px 0px #a7c3c9, inset 0 1px 0px #fff;
box-shadow: 0 1px 0px #a7c3c9, inset 0 1px 0px #fff;
background: #cfddeb;
margin-bottom: 2px;
}
#bill-text.un a {

}

#bill-text a:hover {
color: #43617d;
}


#bill-text a span {
display: block;
font-size: 11px;
width: 100px;
font-weight: normal;
}


#bill-text a.overview_button {
margin-left: 30px;
}


#bill-text a.overview_button:hover {

}

#av-box {
float: left;
width: 179px;
height: 155px;
}

#av-box table {
color: #212121;
margin: 16px 20px 18px;
}
#av-box table td {
white-space: nowrap;
padding: 2px 0;
}
#av-box table td b {
padding-right: 14px;
}
#av-box  a {
display: block;
text-align: center;
font-weight: bold;
	font-family:  Helvetica, Arial, sans-serif;
color: #879f4e;
height: 44px;
padding-top: 8px;
width: 100%;
line-height: 16px;
}

#battle.graybar {
width: 376px;
border-left: 1px solid #e2e2e2;
}
#battle.graybar p {
padding: 10px 0 8px 80px;
line-height: 18px;
}
#user-stats img {
position: absolute;
left: 40px;
top: 13px;
}
#bill-status-box {
float: right;
width: 460px;
font-size: 10.5px;
margin-top: 25px;
padding-top: 13px;
padding-bottom: 25px;
	font-family:  Helvetica, Arial, sans-serif;
}

#bill-status-box table {
float: left;
}

#bill-status {
width: 425px;
}

#bill-status-dates {
width: 384px;
}


table#bill-status td {
text-align: center;
vertical-align: middle;
height: 56px;
}
table#bill-status td table.info td {
white-space: nowrap;
height: 14px;
line-height: 14px;
padding: 0px 10px;
}
#bill-status a:hover td {
color: #353535;
}
/* bill status bar */

#bill-status-dates {
margin-top: 8px;
}

td.passed, td.failed {
color: #737373;
background: url('../images/bill/bs-passed_bg.png') repeat-x left top;
_background: url('../images/bill/bs-passed_bg.gif') repeat-x left top;
}
#bill-status-dates td.passed, #bill-status-dates td.failed {
color: #737373;
padding: 5px;
background: url('../images/bill/bs-date-passed_bg.png') repeat-x left top;
_background: url('../images/bill/bs-date-passed_bg.gif') repeat-x left top;
_padding: 3px 5px 7px 5px;
}
td.pending {
color: #dfdfdf;
background: url('../images/bill/bs-pending_bg.png') repeat-x left top;
_background: url('../images/bill/bs-pending_bg.gif') repeat-x left top;
}
#bill-status-dates td.pending {
color: #dfdfdf;
background: url('../images/bill/bs-date-pending_bg.png') repeat-x left top;
_background: url('../images/bill/bs-date-pending_bg.gif') repeat-x left top;
}
td.divide.passed.first {
background: url('../images/bill/bs-intro.png') no-repeat left top;
_background: url('../images/bill/bs-intro.gif') no-repeat left top;
width: 8px;
}
#bill-status-dates td.divide.passed.first {
background: url('../images/bill/bs-date-intro.png') no-repeat left top;
_background: url('../images/bill/bs-date-intro.gif') no-repeat left top;
width: 8px;
padding: 0;
}
td.close {
width: 8px;
background: url('../images/bill/bs-close.png') no-repeat left top;
_background: url('../images/bill/bs-close.gif') no-repeat left top;
}


#bill-status-dates td.close {
width: 8px;
background: url('../images/bill/bs-date-close.png') no-repeat left top;
_background: url('../images/bill/bs-date-close.gif') no-repeat left top;
}



td.divide.pending {
background: url('../images/bill/bs-pending_div.png') no-repeat left top;
_background: url('../images/bill/bs-pending_div.gif') no-repeat left top;
width: 27px;
}
#bill-status-dates td.divide.pending {
background: url('../images/bill/bs-date-pending_div.png') no-repeat left top;
_background: url('../images/bill/bs-date-pending_div.gif') no-repeat left top;
width: 17px;
padding: 0;
}
td.divide.passed {
background: url('../images/bill/bs-passed_div.png') no-repeat left top;
_background: url('../images/bill/bs-passed_div.gif') no-repeat left top;
width: 31px;
}
#bill-status-dates td.divide.passed {
background: url('../images/bill/bs-date-passed_div.png') no-repeat left top;
_background: url('../images/bill/bs-date-passed_div.gif') no-repeat left top;
_padding: 5px 0;
width: 9px;
}
td.divide.failed {
background: url('../images/bill/bs-fail_div.png') no-repeat left 3px;
_background: url('../images/bill/bs-fail_div.gif') no-repeat left 3px;
width: 30px;
}

td.divide.current {
background: url('../images/bill/bs-current_div.png') no-repeat left top;
_background: url('../images/bill/bs-current_div.gif') no-repeat left top;
width: 26px;
}
#bill-status-dates td.divide.current {
background: url('../images/bill/bs-date-current_div.png') no-repeat left top;
_background: url('../images/bill/bs-date-current_div.gif') no-repeat left top;
width: 19px;
}
td.divide.becomes_law, td.divide.becomes_res {
background: url('../images/bill/bs-pending_close.png') no-repeat left top;
_background: url('../images/bill/bs-pending_close.gif') no-repeat left top;
width: 24px;
}
#bill-status-dates td.divide.becomes_law, #bill-status-dates td.divide.becomes_res {
background: url('../images/bill/bs-date-becomes-law.png') no-repeat left top !important;
_background: url('../images/bill/bs-date-becomes-law.gif') no-repeat left top !important;
padding-left: 30px;
width: 5px;
}
td.divide.is_law, td.divide.is_res {
background: url('../images/bill/bs-passed_close.png') no-repeat left top;
_background: url('../images/bill/bs-passed_close.gif') no-repeat left top;
width: 24px;
}
#bill-status-dates td.divide.is_law, #bill-status-dates td.divide.is_res {
background: url('../images/bill/bs-date-passed_close.png') no-repeat left top;
_background: url('../images/bill/bs-date-passed_close.gif') no-repeat left top;
width: 24px;
}
td#bill-law.is_law {
background: url('../images/bill/bs-is-law.png') no-repeat left top;
_background: url('../images/bill/bs-is-law.gif') no-repeat left top;
width: 48px;
}
td#bill-law.becomes_law {
background: url('../images/bill/bs-becomes-law.png') no-repeat left top;
_background: url('../images/bill/bs-becomes-law.gif') no-repeat left top;
width: 48px;
}
td#bill-law.is_res {
background: url('../images/bill/bs-is-res.png') no-repeat left top;
_background: url('../images/bill/bs-is-res.gif') no-repeat left top;
width: 54px;
}
td#bill-law.becomes_res {
background: url('../images/bill/bs-pending-res.png') no-repeat left top;
_background: url('../images/bill/bs-pending-res.gif') no-repeat left top;
width: 54px;
}
#amendments {
padding: 0 5px;
}
#bill-status-dates .info strong {
display: block;
padding: 0 10px;
}
.first td {
padding-right: 4px !important;
}
/*////////

More Button

////////*/

#show_bill_titles, #hide_bill_titles {
color: #777;
font-size: 11px;
margin: 5px 0 25px 50px;
background: url('../images/triangle-down.png') no-repeat right center;
_background: url('../images/triangle-down.gif') no-repeat right center;
padding-right: 10px;
display: block;
float: left;
}

#tertiary-content a:hover {
text-decoration: none;
}

                                

#bill_titles .list li {
padding-bottom: 6px;
}

#bill_titles .list li em {
font-weight: bold;
}

/* buttons */
.button-gray-right {
margin-bottom: 14px;
padding-right: 15px;
background: url('../images/button-gray-right.png') no-repeat right top;
_background: url('../images/button-gray-right.gif') no-repeat right top;
}
.button-gray {
font-size: 11px;
background: url('../images/button-gray-bg.png') repeat-x left top;
_background: url('../images/button-gray-bg.gif') repeat-x left top;
}
.button-gray-right:hover .button-gray-left, .button-gray-right:hover .button-gray {
background-position: left -28px;
}
.button-gray-right:hover {
background-position: right -28px;
}
.button-gray a {
line-height: 28px;
}
#vote .button-gray a img {
padding: 0 10px;
}

.cp {
clear: both;
margin: 0 50px;
padding: 10px 0 0 0px;
}

.cp a {
float: left;
display: block;
font-size: 11px;
padding: 5px 15px 10px 0;
}

#writerep {
width: 760px;
margin: 0 0 0 -377px;
padding: 0px;
background: #e3e3e3 url('../images/write_bg_grad.png') left top repeat-x;
_background: #e3e3e3 url('../images/write_bg_grad.gif') left top repeat-x;
}

#writerep .subject, #writerep .phone, #writerep .address, #writerep .name, #writerep .from {
margin-top: 10px;
}

#writerep .to {
padding-left: 0px;
clear: both;
}

#writerep .to label {
width: 80px;
display: block;
float: left;
padding-right: 10px;
text-align: right;
}

#writerep .from {
padding-left: 0px;
}

#writerep .from .email label {
width: 80px;
display: block;
float: left;
padding-right: 10px;
text-align: right;
}

#writerep .name {
padding-left: 90px;
width: 260px;
float: left;
}

#writerep .name label {
display: block;
float: left;
}

#writerep .name input {
display: block;
float: left;
margin: 10px 0 0 0;
width: 150px;
}

#writerep .address {
padding: 0px 0 0 0px;
width: 200px;
float: left;
}

#writerep .address label {
padding-right: 10px;
}

#writerep .subject {
clear: both;
}

#writerep .subject label {
width: 80px;
display: block;
float: left;
padding-right: 10px;
text-align: right;
}

#writerep .subject input {
width: 640px;
}

#writerep .phone label {
float: left;
clear: both;
padding-right: 10px;
margin-top: 13px;
width: 69px;
}

#writerep .phone {
clear: both;
}

#writerep .title {
float: left;
padding-right: 20px;
}

#writerep .fname {
float: left;
clear: both;
padding-right: 10px;
margin-top: 13px;
width: 69px;
}

#writerep .lname {
clear: both;
padding-right: 10px;
margin-top: 13px;
width: 69px;
}

#writerep .state {
width: 60px;
display: block;
float: left;
}

#writerep .state_zip {
margin-top: 10px;
}

#writerep h3 {
padding: 15px;
font-weight: normal;
font-size: 12px;
float: left;
}

#s_trigger {
}

#writerep .message label {
width: 80px;
display: none;
margin: 15px 0 10px;
padding-right: 10px;
text-align: right;
}

#writerep p {
float: right;
padding: 20px 20px 0 0;
}
#writerep #loginform p {
float: none;
}

#writerep .message textarea {
display: block;
width: 720px;
padding: 20px 20px;
border-top: 1px solid #ccc;
border-left: 0;
border-right: 0;
border-bottom: 1px solid #ccc;
margin-top: 20px;
}

/*///////////////////////////////////

~ Bill Landing Page

///////////////////////////////////*/

#bill.all .inner {
background: 0;
}

#bill.all #sort_nav, #bill.popular #sort_nav, #bill.most_commentary #sort_nav, #bill.pending #sort_nav, #bill.readthebill #sort_nav, #bill.hot #sort_nav {
padding: 0;
background-position: 0 73px;
min-height: 100px;
}

#bill.all #sort, #bill.popular #sort, #bill.most_commentary #sort, #bill.pending #sort, #bill.readthebill #sort {
clear: both;
margin: 0;
padding: 10px 18px 0px;
}

#bill.all #content-main {
width: 100%;
float: left;
}

#bill.all #tertiary-content {
width: 100%;
}


/*///////////////////////////////////

~ Bills Global

///////////////////////////////////*/

.popular .bills_list, 
.most_commentary .bills_list,
.major #the-bills,
.pending #the-bills,
div.single {
padding: 0 35px;
}

#bill.show .inner, #bill.actions_votes .inner, #bill.comments .inner, #bill.text .inner,  #bill.letters .inner, #bill.news_blogs .inner,  #bill.blogs .inner, #bill.news .inner,  #bill.videos .inner, #bill.money .inner, #bill.votes .inner, #bill.actions .inner, #bill.amendments .inner {
float: left;
width: 100%;
padding-bottom: 10px;
background: url('../images/bills_bg.png') 0 0 repeat-y !important;
_background: url('../images/bills_bg.gif') 0 0 repeat-y !important;
}

#bill.votes .main, #bill.actions .main, #bill.amendments .main, #bill.actions_votes .main {
padding: 25px;
}

#blogs_list, #news_list {
padding: 35px ;
}

#blogs_list .pagination, #news_list .pagination {
clear: both;
}

#bill.blogs #sort, #bill.news #sort, #bill.news_blogs #sort {
padding: 40px 20px 0 0 ;
}

#bill #content-main {
width: 745px;
float: left;
overflow: hidden;
}

/*#bill #tertiary-content {
width: 220px;
float: left;
_overflow: hidden;
_width: 210px;
}
*/


/*///////////////////////////////////
th a {
float: right;
}

~ Bill Profile

///////////////////////////////////*/

/*#bill.show #tertiary-content {
width: 255px;
float: left;
}
*/

/*///////////////////////////////////

~ Bill Text Page

///////////////////////////////////*/

.directions {
float: left;
padding-left: 35px;
padding-top: 25px;
}

.print {
float: right;
padding-right: 34px;
padding-top: 25px;
}

#bill.text .official-title {
}

#bill.text .title {
}

#bill.text .date {
padding-bottom: 10px;
display: block;
color: #7f8f9f;
}

#bill.text #sortby {
padding: 20px 30px 25px 50px;
}

/*#bill  .top_bar {
border-bottom: 1px solid #b2cbe4;
padding: 10px;
background: #edf6ff;
display: none;
}
*/
#bill.text #version_history {
padding: 30px 50px;
}

#bill.text #bill_text_loading {
padding: 10px 0;
}

#bill.show .com_content {
height: 150px;
overflow: hidden;
}

#bill.show .ctable2 {
display: none;
}

#bill_text {
padding: 35px;
clear: both;
background: #fff;
}

#bill_text h3 {
margin: 16px 0 0px;
text-transform: uppercase;
}

/*#bill_text h3:first-letter {
text-transform: uppercase;
}
*/
#bill_text h4 {
margin: 36px 0 0px;
color: #6789ab;
font-size: 14px;
}

.titles_trigger {
color: #777 !important;
padding: 0px 18px 0 2px !important;
margin: 6px 0 0 0;
line-height: 1em;
display: inline-block;
clear: both;
}

#bill_text p {
position: relative;
border: 1px solid #fff;
}

#bill_text p:hover, #bill_text h3:hover {
background: #c9dcf0;
border: 1px solid #999;
}

#bill_text ul {
margin-bottom: 10px;
}

#bill_text hr {
border: 0;
border-top: 1px solid #999;
}

#bill_text ul p,#bill_text p, #bill_text h3 {
padding: 8px;
margin: 0;
border: 1px solid #fff;
}

#bill_text ul ul {
padding-left: 1.5em;
}

#bill_text ul li {
padding-left: 1em;
margin: 0 0 5px 0;
}

/*#bill_text span a {
padding: 10px;
z-index: 10000;
}

#bill_text span a:hover {
background: #eee;
}
*/

.bill_text_section_menu {
position: absolute;
right: -1px;
z-index: 100;
border: 1px solid #999;
border-top: 0;
background: #c9dcf0;
clear: both;
bottom: -35px;
padding: 6px;
}

#summary {
padding: 45px 20px 0 0;
}

#oc_summary {
padding: 20px 50px 35px;
clear: both;
}

#wiki_summary {
padding: 45px 29px 0px 0px;
background: url('../images/wiki_bg.png') 20px 0 no-repeat;
min-height: 100px;
}

.official_summary{
clear: both;
padding: 0 50px;
}


.official_summary h4 {
clear: both;
}

.official_summary strong {
padding: 0 5px 0 0;
}

.official_summary li {
padding: 10px 0px 0px 15px;
list-style: none;
}

#summaries {
float: left;
width: 500px;
min-height: 170px;
}

#summaries_nav {
float: left;
width: 169px;
padding: 30px;
clear: left;
}

.empty {
width: 50px !important;
height: 10px;
display: block;
}

#summaries_nav a {
padding: 0 17px 0 0px;
display: block;
color: #555;
text-decoration: none;
font-size: 12px;
margin: 10px 0 15px 4px;
background: url('../images/large_buttons.png') right -412px no-repeat ;
_background: url('../images/large_buttons.gif') right -412px no-repeat ;
}

#summaries_nav a span {
padding: 9px 0 6px 17px;
display: block;
background: url('../images/large_buttons.png') left -343px no-repeat;
_background: url('../images/large_buttons.gif') left -343px no-repeat;
}

#summaries_nav a:hover {
text-decoration: none;
color: #999;
background: url('../images/large_buttons.png') right -445px no-repeat;
_background: url('../images/large_buttons.gif') right -445px no-repeat;
}

#summaries_nav .active a {
background: url('../images/large_buttons.png') right -445px no-repeat;
_background: url('../images/large_buttons.gif') right -445px no-repeat;
}

#summaries_nav .active a:hover {
cursor: default;
}

#summaries_nav .active a span {
padding: 9px 0 6px 17px;
display: block;
color: #999;
font-weight: bold;
background: url('../images/large_buttons.png') left -376px no-repeat;
_background: url('../images/large_buttons.gif') left -376px no-repeat;
}

#summaries_nav a:hover span {
background: url('../images/large_buttons.png') left -376px no-repeat;
_background: url('../images/large_buttons.gif') left -376px no-repeat;
}

#sponsors {
min-height: 105px;
float: left;
width: 165px;
margin: 10px 0;
padding: 10px 25px 5px 45px;
font-size: 12px;
}
      
#committees {
min-height: 105px;
float: left !important;
clear: none !important;
width: 205px;
margin: 10px 0;
padding: 10px 14px 5px 25px;
font-size: 12px;
}
      

      
#issue_list {
min-height: 105px;
width: 205px !important;
margin: 10px 0 0 10px;
padding: 10px 0px 5px 0px;
font-size: 12px;

clear: none !important;
float: left;
}
            
        
 
 
     
#sponsors a img {
width: 42px;
}
        
        
#sponsors h5, #committees h5 {
margin: 0px !important;
}
#sponsors img {
float: left;
margin-right: 16px;
}
#sponsors .details, #committees .details {
margin-top: 10px;
}

.learn_trigger {
margin: 8px 0px 35px 78px;
float: left;
clear: both;
padding-right: 19px;
display: block;
line-height: 1em;
background: none
}

.comments #sort, #sort.sort_comments {
float: right;
padding: 24px 0px 0 0;
}

.comments #sort h4, #sort.sort_comments h4 {
float: left;
padding: 1px 15px 0 0;
}

#comments-container {
width: 674px;
}


h2.comments_title {
padding: 25px 0 10px 0px;
}

tr, td, th {
}

td.text {
}

#bill.actions .pagination, #bill.amendments .pagination, #bill.votes .pagination {
float: left;
clear: both;
margin: 10px 0 0 0;
}

.this_many {
display: block;
padding: 13px 0;
}

.bill_text_section {
padding: 0 2px 0 2px;
}

.bill_text_section_comments p {
border: 0 !important;
}

.bill_text_section_comments h3 {
border: 0 !important;
}

.bill_text_section_comments h3:hover {
border: 0 !important;
background: #eef5fe !important;
}


.bill_text_section_comments p:hover {
background: none !important;
border: 0 !important;
}

.bill_text_section_comments {
background: #eef5fe;
padding: 15px;
}

.bill_text_section.selected {
background: #8cb1dc;
padding: 15px !important;
}

.bill_text_section.selected:hover {
background: #8cb1dc !important;
}

#bill.text .bill_text_section_num_comments {
float: right;
margin: 0 3px 0 10px;
padding: 0 6px 0 0;
background: url('../images/small_button_cap.png') right -93px no-repeat;
_background: url('../images/small_button_cap.gif') right -93px no-repeat;
}
#bill.text .bill_text_section_num_comments a {
display: block;
background: url('../images/tiny_comment.png') right 6px no-repeat;
_background: url('../images/tiny_comment.gif') right 6px no-repeat;
padding: 2px 25px 3px 9px;
text-decoration: none !important;
}
#bill.text .bill_text_section_num_comments span {
display: block;
background: url('../images/small_button.png') 0 -46px no-repeat;
_background: url('../images/small_button.gif') 0 -46px no-repeat;
font-size: 11px;
}

.stats_button, .users_button {
display: block;
line-height: 3em;
font-size: 11px;
text-decoration: none;
margin: 0px 0 0 0;
float: left;
padding: 0 22px 0 0;
width: 190px;
}

.users_button {
min-width: 155px;
}

.stats_button span, .users_button span {
padding: 0px 0px 0px 5px;
display: block;
}

.stats_button {
margin-right: 10px;
}

.stats_button:hover, .users_button:hover {
background: url('../images/large_buttons.png') right -591px no-repeat;
_background: url('../images/large_buttons.gif') right -591px no-repeat;
text-decoration: none;
}

.stats_button:hover span, .users_button:hover span {
background: url('../images/large_buttons.png') left -591px no-repeat;
_background: url('../images/large_buttons.gif') left -591px no-repeat;
}

.sponsorship_data {
float: left;
clear: left;
}


.dater {
font-weight: normal;
display: block;
float: right;
}


.action_details {
font-weight: normal;
display: block;
}


#bill.show .related_bills_list {
margin: 20px 0 0 35px;
width: 380px;
clear: both;
}

#bill.show .related_bills_list li {
margin: 0;
width: 300px !important;
}

#bill.show .related_bills_list li a {
margin: 0;
width: 300px !important;
}

#bill.show .related_issues_list {
float: left;
width: 280px;
}

.jump-to span{
display: block;
font-weight: normal;
}


#bill_list span.title{
font-size: 13px;
}


#bill_list span{
font-size: 11px;
padding-right: 5px;
}


#bill.show .related_issues_list .views_count {
float: right;
}

#bill.text center {
text-align: center !important;
}

.users_also table {
margin-top: 20px;
}

.users_also table td {
padding-right: 15px;
}

.users_also table td li {
padding-bottom: 5px;
}

.users_also h3 {
font-size: 15px;
margin-bottom: 0;
}    

.user_also_wrap table {
margin-top: 10px !important;
}

.users_also{
}


.tracking_count {
top: 5px;
line-height: 11px;
position: absolute;
right: 0;
}


.tracking_count a {
padding:3px 3px 2px;
color:#697c90;       
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
line-height: 11px;
background: #f3f7fc;
border: 1px solid #e8ecf1;
font-size: 10px;
text-decoration: none;
float: left;
}
.tracking_count a:hover {
background: #fff;
}
.tracking_count span {

}

.carousel_title {
padding: 30px 0 0 30px;
margin: 0;
}

.carousel_wrap {
clear: both;
padding-top: 0 !important;
border-bottom: 1px solid #ddd !important;
margin-bottom: 20px !important;
background: url('../images/carousel_dark_bg.png') left bottom repeat-x;
_background: url('../images/carousel_dark_bg.gif') left bottom repeat-x;
min-height: 240px;
}

.jcarousel-container li {
margin: 0 28px 0 0 !important;
margin-top: 13px !important;
}

.jcarousel-container ul {
min-height: 290px;
}

.jcarousel-next, .jcarousel-prev {
margin-top: 50px !important;
}

.category_track {
float: right;
text-align: right;
}
.category_track div {
margin-bottom: 19px;
}
.category_id {
/*display: block;*/
font-weight: normal;
padding: 0 0 5px;
}

.slide_number {
color: #777;
/*display: block;*/
text-align:right;
/*padding: 0 0 19px;*/
padding-left:70px;
}

.carousel_wrap .sponsor {
clear: both !important;
height: 1.5em;
font-size: 11px;
}

.carousel_wrap .sponsor span {
float: left;
}

.carousel_wrap .sponsor span.name {
font-weight: normal;
padding-left: 5px;
}
.category_track span.category_id {
font-weight: bold;
}
#bill.list_bill_type #heading {
height: 45px;
}

#bill.list_bill_type .bills_list {
padding-top: 20px;
}

#money_trail {
padding-top: 30px;
clear: both;
}

#money_trail th {
text-align: left;
}

#money_trail .floatleft {
width: 630px;
}

#money_trail table {
width: 600px;
margin-top: 10px;
}

#money_trail ul {
padding-bottom: 10px;
float: left;
padding-left: 0 !important;
margin-left: 15px;
}

#money_trail ul li {
margin-left: 0 !important;
list-style: circle;
padding-left: 0 !important;
}

#money_trail ul li a {
padding-left: 0 !important;
}

#money_trail h3 {
padding-top: 30px;
clear: both;
}

#money_trail td {
text-align: left;
padding-right: 10px;
}


div.news_blogs .col1 #news_list, div.news_blogs .col2 #blogs_list {
padding: 0;
}

#bill_video{
clear: both;
padding: 35px;
}

.lowpadding {
  padding-bottom: 5px !important;
  margin-bottom: 20px;
} 

#money_trail_summary {
  padding-left: 10px;
}
.money_trail_summary_more {
  padding: 0 50px;
  margin-top: 5px;
  clear: left;
}

  
/*///////////////////////////////////////////

~ Safari Hacks

///////////////////////////////////////////*/

@media screen and (-webkit-min-device-pixel-ratio:0) {

.hump {
width: 17px;
display: block;
height: 20px;
}

.first .hump {
width: 9px;
display: block;
height: 20px;
}

}



/*////////////////////////////////////
  Battle Royale Stuff
/////////////////////////////////////////*/

.inner {
padding: 0px;
}


#heading p {
padding-top: 0px;
margin-top: 10px;
}

.explain_box {
width: 540px !important;
font-size: 13px !important;
padding: 18px 0 0 0 !important;
}

.explain_box p {
font-size: 13px !important;
margin-bottom: 0px;
color: #666 !important;
line-height: 1.5em;
}

#bill.hot #heading .explain_box {
padding: 38px 30px 0 30px;
float: right;
width: 490px;
}


#bill.hot #heading h2 {
width: 320px;
overflow: hidden;
margin: 5px 0 0 10px;
height: 0;
float: left;
}

#objects {
padding: 15px 10px;
height: 80px;
width: 924px;
margin: 30px auto 0;
background: url('/images/find_rep.png') no-repeat;
_background: url(../images/find_rep.gif) no-repeat;
}


#objects form#search span input {
background: url(../images/forms.png) left -124px no-repeat;
_background: url(../images/forms.gif) left -124px no-repeat;
border: none;
padding: 7px;
width: 218px;
}


#objects #search {
margin: 6px 0 0 0;
}

#objects .battle {
font-size: 11px;
width: 170px;
padding-left: 10px;
}

#objects .battle em {
font-weight: normal;
}


#bill.hot #objects h3 {
float: left;
}

#bill.hot table.thunderdome {
width: 940px;
margin: 0 30px;
border-top: 1px solid #eee;
border-left: 1px solid #eee;
border-right: 1px solid #eee;
}


#bill.hot #content tr {
border-bottom: 1px solid #ddd;
background: #fcfcfc url(../images/sen-sort.png) 0 -55px repeat-x;
}


#bill.hot #content th {
padding: 0px;
border-left: 1px solid #eee;
text-align: left;
}

th.main_title,
th.vote_td {
padding: 11px 10px 0 16px !important;
vertical-align: top !important;
}


#bill.hot #content th a {
display: block;
padding: 0 13px 0 0;
text-decoration: none;
}

#bill.hot #content th a:hover {
background: #fff;
}

#bill.hot #content th a span {
padding: 11px 18px 10px 15px;
text-align: left;
display: block;
background: url('/images/arrows.png') no-repeat right -103px;
}

#bill.hot #content th a:hover span {
background: url('/images/arrows.png') no-repeat right -9px;
}

.down span {
background: url('/images/arrows.png') no-repeat right -9px !important;
}

.down:hover span {
background: url('/images/arrows.png') no-repeat right 15px !important;
}

.up span {
background: url('/images/arrows.png') no-repeat right 15px !important;
}

.up:hover span {
background: url('/images/arrows.png') no-repeat right -9px !important;
}

#bill.hot table, #bill.hot table th, #bill.hot table tr, #bill.hot td {
}

#bill.hot #content td {
padding: 0px;
}

#bill.hot #content td.bills {
padding: 20px 10px 20px 100px;
overflow: hidden;
background: url('/images/bill.png') no-repeat 19px 19px;
}

#bill.hot #content td.bills .title {
margin-bottom: 8px;
margin-top: 0;
}


#bill.hot #content td.bills .title a {
font-weight: bold;
color: #333;
font-size: 13px;
}


#bill.hot #content td.bills .title p {
margin-top: 8px;
font-size: 11px;
color: #999;
}


#bill.hot #content td.bills img {
float: right;
}

.count.bill {
line-height: 1.3em;
float: right;
font-size: 190px;
height: 0px;
padding-right: 0px;
color: #f7f7f7;
}

.count.sen, .count.rep {
line-height: .8em;
float: right;
font-size: 100px;
height: 0px;
padding-right: 0px;
color: #f7f7f7;
}

.count.issue {
line-height: 1em;
float: right;
font-size: 60px;
height: 0px;
padding-right: 0px;
color: #f7f7f7;
}


#search {
float: left;
}

#sortby {
float: right;
padding-right: 25px;
}


#timeframe_select, #view {
float: left;
}

#timeframe_select label, #view label {
padding-right: 10px;
}

.xml {
float: left;
margin: 9px 0 0 5px;
}

.linkage {
font-size: 11px;
clear: both;
float: left;
padding-top: 8px;
}

.linkage a {
text-decoration: none;
margin-right: 10px;
}

.linkage a:hover {
text-decoration: underline;
}

.linkage a span {
padding: 0 0px 0 18px;
}

.linkage a span.news_11 {
background: url('/images/11px_icons.png') no-repeat left 1px;
}

.linkage a span.blogs_11 {
background: url('/images/11px_icons.png') no-repeat left -25px;
}

.linkage a span.comments_11 {
background: url('/images/11px_icons.png') no-repeat left -50px;
}

table td h1 {
font-weight: normal;
font-size: 13px;
}


th.vote_td {
text-align: center !important;
}

.br_td {
border-left: 1px solid #f9f9f9;
font-weight: bold;
vertical-align: top;
font-size: 14px;
padding-top: 22px !important;
text-align: center;
}

.pagination {
pading: 10px !important;
}

#bill.hot a.bill_support, #bill.hot .bill_nosupport {
margin: 0px 15px 12px;
display: block;
padding-top: 31px;
width: 31px;
float: none;
clear: both;
overflow: hidden;
height: 0;
}

#bill.hot a.nay {
background: url('/images/vote_squares.png') no-repeat left -39px;
}
#bill.hot a.nay.bill_support, a.nay:hover {
background-position: -35px -39px;
}
#bill.hot a.aye {
background: url('/images/vote_squares.png') no-repeat left 0px;
}
#bill.hot a.aye.bill_support, a.aye:hover {
background-position: -35px 0px;
}

.withdrawn {
  text-decoration: line-through;
}


.contact_congress{
margin: 0 25px 20px;
border: 6px solid #fff;
border: 6px solid rgba(255,255,255, .5);

-moz-border-radius: 8px;
-webkit-border-radius: 8px;
-ms-border-radius: 8px;
-o-border-radius: 8px;
border-radius: 8px;
clear: both;
background: rgba(154,255,255, .2);

-moz-box-shadow: 0 2px 3px rgba(0,0,0, .6);
-webkit-box-shadow: 0 2px 3px rgba(0,0,0, .6);
-ms-box-shadow: 0 2px 3px rgba(0,0,0, .6);
-o-box-shadow: 0 2px 3px rgba(0,0,0, .6);
box-shadow: 0 2px 3px rgba(0,0,0, .6);
position: relative;

}



.contact_congress span{
text-align: center;
display: block;
font-size: 10px;
color: #888;
padding: 0;
margin: 0;
line-height: 1em;
}


.contact_congress .pointer{

width: 10px;
left: -14px;
top: 12px;
height: 14px;
background: url('../images/contact-pointer.png') left 0px no-repeat;
position: absolute;
} 



.contact_congress h2{
display: block;
margin: 0px;
font-size: 11px !important;
padding: 10px 0 0 0 !important;
}





.contact_congress a.button{
display: block;
margin: 10px;
}


.contact_congress a.button span{
padding: 3px 0 3px 20px;
color: #111;
font-size: 12px;
margin-left: 37px;
background: url('/images/pencil.png') left center no-repeat;
text-align: left;

}

.most_viewed_letters{
margin: 0 20px;
}


.most_viewed_letters li{
margin: 0 0px 0 10px;
}


.most_viewed_letters li a{
padding: 10px 0 10px 50px;
text-decoration: none;
display: block;
background: url('/images/letter-tracking.png') 0 10px no-repeat;
}



.most_viewed_letters li a p{
margin: 10px 0;
}



.most_viewed_letters li.oppose a{
background: url('/images/letter-oppose.png') 0 10px no-repeat;
}


.most_viewed_letters li.support a{
background: url('/images/letter-approve.png') 0 10px no-repeat;
}




.most_viewed_letters li a .subject{
font-weight: bold;
display: block;
height: 1.4em;
overflow: hidden;
}


.most_viewed_letters li a .date{
color: #888;
font-size: 11px;
}

#major_category_links {
  margin-top: 20px;
}












       

