* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0 0 0px;
	font-family: Helvetica, Arial, sans-serif;
	background: url(/images/donate/bg.png) repeat-x;
	padding: 50px 0 40px;
	width: 700px;
	margin: 0 auto;
	font-size: 12px;
}

.top {
	overflow: hidden;
	height: 82px;
}

.thank-you .top {
	height: 135px;
}

	.logo {
		width: 300px;
		height: 33px;
		overflow: hidden;
		float: left;
		margin-top: 25px;
	}

	.thank-you .logo {
		margin-top: 43px;
		width: 370px;
		height: 40px;
	}

	.quote-area {
		float: right;
		width: 370px;
		overflow: hidden;
	}

		.chris-headshot {
			background: url(../images/donate/chris_headshot.jpg) no-repeat;
			width: 80px;
			height: 82px;
			float: left;
		}

		.quote {
			float: left;
			color: #666;
			font-size: 12px;
			width: 260px;
			margin-left: 10px;
			line-height: 15px;
			font-style: italic;
			padding: 10px;
			position: relative;
			background: #f1f1f1;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
		}

		.quote:after {
			content: "";
			position: absolute;
			bottom: -20px;
			left: 50px;
			border-width: 20px 0 0 20px;
			border-style: solid;
			border-color: #f1f1f1 transparent;
			display: block;
			width: 0;
		}

		.quote-author {
			display: block;
			margin: 2px 0 0 165px;
		}

.video-info {
	overflow: hidden;
	margin: 20px 0;
}

.left {
	width: 400px;
	float: left;
	color: #666;
}

.right {
	width: 255px;
	float: left;
	padding: 15px;
	background-color: #d23b3b;
	margin-left: 15px;
	color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 195px;
}

	.left p, .right p {
		margin: 10px 0 0;
	}

	.right p:first-child {
		margin: 0;
		font-size: 16px;
		font-weight: bold;
	}

	.booster-sign-up {
		display: block;
		width: 100%;
		height: 35px;
		text-align: center;
		background: #f2dc64; /* Old browsers */
		background: -moz-linear-gradient(top,  #f2dc64 0%, #efd650 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2dc64), color-stop(100%,#efd650)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #f2dc64 0%,#efd650 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #f2dc64 0%,#efd650 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #f2dc64 0%,#efd650 100%); /* IE10+ */
		background: linear-gradient(top,  #f2dc64 0%,#efd650 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2dc64', endColorstr='#efd650',GradientType=0 ); /* IE6-9 */
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		text-transform: uppercase;
		line-height: 35px;
		color: #48411b;
		text-decoration: none;
		font-weight: bold;
		font-size: 16px;
		-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, .75);
		-moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, .75);
		box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, .75);
		margin: 20px 0;
	}

.thank-you-gifts {
	width: 700px;
	overflow: hidden;
}

	.thank-you-gifts h2 {
		font-size: 16px;
		margin-bottom: 10px;
	}

	.gift {
		float: left;
		width: 223px;
		margin-left: 15px;
	}

	.gift.first {
		margin: 0;
	}

		.gift span {
			display: block;
			margin-top: 5px;
			text-align: center;
			width: 100%;
			color: #666;
		}

	.view-all {
		text-align: right;
		padding-top: 10px;
		clear: both;
	}

		.view-all a {
			color: #666;
		}

.donate-now {
	float: right;
	width: 270px;
	padding: 15px;
}

	.donate-now .booster-sign-up {
		margin: 5px 0;
	}

	.donate-now p {
		color: #666;
		margin-top: 10px;
	}

	.donate-now p:first-child {
		margin: 0;
	}

.people {
	overflow: hidden;
	background-color: #efefef;
	margin: 20px 0 0;
	padding: 0 0 20px;
}

	.person {
		float: left;
		width: 340px;
		margin: 20px 20px 0 0;
		text-align: center;
	}

	.person.end-row {
		margin: 20px 0 0;
	}

		.person img {
			display: inline;
		}

		.person span {
			display: block;
			margin-top: 3px;
			font-style: italic;
			text-align: center;
		}