#contact .inner{

}

p, h3{
margin: 0 35px 10px 35px;
}

.inner ul{
margin: 0 35px 10px 25px;
}


p.big{
font-size: 16px;
margin: 30px 35px;
line-height: 1.5em;
}

#heading{
height: 45px;
}

#content .left{
width: 440px;
float: left;
clear: none;
}

#content .right{
width: 440px;
float: left !important;
clear: none;
}

#content p.left{
width: 220px;
float: left;
clear: none;
}


#content p.right{
width: 420px;
float: left !important;
clear: none;
}