html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font,img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, input, legend, table, caption, tbody, tfoot, thead, tr, th, td { font-family:arial,sans-serif;margin: 0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}body {line-height:1;}ol, ul {list-style:none;}blockquote, q {quotes:none;}/* remember to define focus styles! */:focus {outline:0;}/* remember to highlight inserts somehow! */ins {text-decoration:none;}del {text-decoration:line-through;}/* tables still need 'cellspacing="0"' in the markup */table {border-collapse:collapse;border-spacing:0;}
header,nav,aside,section,footer{display:block;}
a{text-decoration:none;font-family:Tahoma,Geneva,helvetica,arial,sans-serif;color:#333;}
::-moz-selection{ background:#3297FD; color:#fff; text-shadow: none; }
::selection { background:#3297FD; color:#fff; text-shadow: none; } 
h1,h2,h3,h4,p{font-family:Tahoma,Geneva,helvetica,arial,sans-serif;}
html,body{-webkit-font-smoothing: antialiased;}

/* @fontface */ 
@font-face { font-family:"museo3"; src:url('../fonts/museo300-regular-webfont.eot'), url('../fonts/museo300-regular-webfont.ttf'), url('../fonts/museo300-regular-webfont.woff'), url('../fonts/museo300-regular-webfont.svg'); }

@font-face { font-family:"museo5"; src:url('../fonts/museo500-regular-webfont.eot'), url('../fonts/museo500-regular-webfont.ttf'), url('../fonts/museo500-regular-webfont.woff'), url('../fonts/museo500-regular-webfont.svg'); }

@font-face { font-family:"museo7"; src:url('../fonts/museo700-regular-webfont.eot'), url('../fonts/museo700-regular-webfont.ttf'), url('../fonts/museo700-regular-webfont.woff'), url('../fonts/museo700-regular-webfont.svg'); }
/* END fonts */ 


body{background:#fff url(/images/bg.png) repeat-x;font-family:'Amaranth',Tahoma,Geneva,Helvetica,Arial,Sans-serif;}
.wrap{margin:18px auto 18px auto;width:820px;position:relative;

}
.clear{clear:both;}
h1,h2,h3,h4,p,span,a,input{font-family:Arial,Tahoma,Geneva,Helvetica,Sans-serif;}

@-webkit-keyframes scale {
from {-webkit-transform: scale(0.4);opacity:0.6;}
to {-webkit-transform: scale(1);opacity:1;}
}

@-moz-keyframes scale {
from {-moz-transform: scale(0.4);-moz-opacity:0.6;}
to {-moz-transform: scale(1);-moz-opacity:1;}
}

header{}
header img{text-align:center;position:relative;display:block;margin:0 auto;width:auto;height:139px;
-webkit-animation: pulse 800ms infinite ease-in-out;}

@-webkit-keyframes pulse {
from {-webkit-transform:scale(0.94);}
50% {-webkit-transform:scale(1);}
to {-webkit-transform:scale(0.94);}
}

header h1{font-family:"museo3",Tahoma,Geneva,Helvetica,Sans-serif;font-size:44px;color:#BD0015;text-transform:uppercase;text-align:center;margin:14px 0 10px 0;text-shadow:0 -1px 2px #FFF;line-height:72px;}

header p{color:#1E67BF;font-family:"museo3",Tahoma,Geneva,Helvetica,Sans-serif;font-size:26px;margin:0 0 30px 0;display:block;text-align:center;}

section .vid{width:820px;height:auto;display:block;background:#FCF9D9;margin:4px 0 32px 0;
-webkit-animation: scale 620ms 1 ease-in-out;position:relative;
-moz-animation: scale 620ms 1 ease-in-out;}

section .vid section{background:#FCF9D9;position:relative;display:block;width:820px;height:auto;padding:6px 0 15px 0;
-webkit-border-radius:4px;
-moz-border-radius:4px;
-o-border-radius:4px;
-ms-border-radius:4px;
border-radius:4px;

-webkit-box-shadow:0 1px 2px 0 rgba(0,0,0,0.1);
-moz-box-shadow:0 1px 2px 0 rgba(0,0,0,0.1);
-o-box-shadow:0 1px 2px 0 rgba(0,0,0,0.1);
-ms-box-shadow:0 1px 2px 0 rgba(0,0,0,0.1);
box-shadow:0 1px 2px 0 rgba(0,0,0,0.1);}
section .vid section h2{color:#FFF;font-size:22px;font-weight:bold;font-family:"museo5",Helvetica,Tahoma,Arial,Sans-serif;display:block;margin:18px auto 26px auto;text-align:center;text-shadow:0 -1px 0 #7A1F1F;background:#A22929;padding:18px 0;border-bottom:1px solid #FFF;border-top:1px solid #511515;}
section .vid section div{display:block;position:relative;}

/* Image caption */
section .vid section div div{display:block;position:relative;}
section .vid section div div div{display:block;position:relative;position:absolute;top:184px;left:34px;width:260px;background:#FFF;padding:8px 0;}
section .vid section div div div p{display:block;color:#333;font-size:12px;line-height:20px;margin:0 0;text-align:left;}
/* Image caption */

section .vid section div .member {float: left; width: 276px;margin:0 26px 0 26px}
section .vid section div .member p {font-size: 11px; font-style: italic; margin: 5px 0 0;}
section .vid section div .member img{width:260px;height:auto;background:#FFF;;padding:8px;display:inline-block;
-webkit-border-radius:2px;
-moz-border-radius:2px;
-o-border-radius:2px;
-ms-border-radius:2px;
border-radius:2px;

-webkit-box-shadow:0 1px 2px 0 rgba(0,0,0,0.1);
-moz-box-shadow:0 1px 2px 0 rgba(0,0,0,0.1);
-o-box-shadow:0 1px 2px 0 rgba(0,0,0,0.1);
-ms-box-shadow:0 1px 2px 0 rgba(0,0,0,0.1);
box-shadow:0 1px 2px 0 rgba(0,0,0,0.1);
}

section .vid section div aside{float:left;display:inline-block;width:466px;margin:0 26px 0 0;}
section .vid section div aside p{display:block;color:#A22929;font-size:16px;font-family:Helvetica,Tahoma,Arial,Sans-serif;text-align:left;line-height:23px;margin:0 0 16px 0;text-shadow:0 1px 0 #FFF;}



section h2{color:#1A6DD2;font-family:"museo3",Tahoma,Geneva,Helvetica,Sans-serif;font-size:50px;margin:0 0 14px 0;display:block;text-align:center;text-transform:uppercase;}

section h2.s{font-size:20px;}
section h2.b{font-size:37px;line-height:50px;}
section p{color:#666;font-family:Tahoma,Geneva,Helvetica,Sans-serif;font-size:18px;margin:0 0 24px 0;display:block;text-align:center;}

section p.red_b{color:#A22929;font-family:Helvetica,Tahoma,Geneva,Sans-serif;font-size:16px;margin:0 0 24px 0;display:block;text-align:center;line-height:28px;color:;text-transform:uppercase;font-weight:bold;}

span.arrow{width:34px;height:16px;background:url(/images/sprite.png) no-repeat -42px 0px;display:block;margin:0 auto 40px auto;}


/* FORM */
form{display:block;position:relative;}
form fieldset{width:260px;margin:0 auto 40px auto;position:relative;}
form fieldset p{width:145px;height:32px;position:absolute;right:-56px;bottom:-7px;
padding-left:24px;
background:url(/images/sprite.png) no-repeat 0px -102px;
color:#989898;font-family:Tahoma,Geneva,Helvetica,Sans-serif;font-size:12px;display:block;text-align:left;line-height:18px;

-webkit-animation: move 600ms infinite ease-in-out;
-moz-animation: move 600ms infinite ease-in-out;

}


form label{display:block;position:relative;padding:10px 0;font-size:18px;color:#575757;font-weight:bold;font-family:Tahoma,Geneva,Helvetica,Sans-serif;text-transform:capitalize;}
form label input{display:inline-block;margin:1px 10px 0 1px;float:left;}

.a{color:#4487DA;}

form ul{display:block;margin:20px 0;width:100%;padding:12px 0;background:#77AAF4;}
form ul .wrap{margin:0px auto;width:668px;}
form ul li{display:inline-block;float:left;border:1px solid #5E81B5;height:34px;padding:0 17px;
background:#F9F9F9 url(/images/sprite.png) repeat-x 0px -59px;line-height:34px;
margin:0 10px 0 0;
-webkit-border-radius:20px;
-moz-border-radius:20px;
-ms-border-radius:20px;
-o-border-radius:20px;
border-radius:20px;}

form ul li:active{background:#E1E1E1;}
form ul li.a{background:#E1E1E1;}
form ul li.l{margin-right:0px;}
form ul li.l:active{background:#F9F9F9 url(/images/sprite.png) repeat-x 0px -59px;}
form ul li a span{font-weight:bold;}
form ul li a{display:inline-block;font-size:15px;color:#292929;}

form ul li input[type="text"]{display:inline-block;border:1px solid #7F8CA0;height:10px;padding:4px 4px;background:#FFF;width:71px;margin:7px 4px 0 -10px;font-size:12px;color:#666;float:left;
-webkit-transition:all 500ms ease-in-out;
-moz-transition:all 500ms ease-in-out;

-webkit-border-radius:20px;
-moz-border-radius:20px;
-ms-border-radius:20px;
-o-border-radius:20px;
border-radius:20px;}
form ul li input[type="text"]:focus{border-color:#80B2FD;
-webkit-transition:all 500ms ease-in-out;
-moz-transition:all 500ms ease-in-out;
}

form ul li input[type="submit"]{display:inline-block;font-size:15px;color:#292929;line-height:32px;margin-right:-9px;cursor:pointer;}

#typem{display:none;}
.btn{display:block;border:1px solid #CCC;height:34px;padding:0 20px;
background:#F9F9F9 url(/images/sprite.png) repeat-x 0px -59px;line-height:34px;
margin:60px auto 0 auto;font-size:15px;color:#1E67BF;width:440px;
text-shadow:0 1px #FFF;
-webkit-border-radius:20px;
-moz-border-radius:20px;
-ms-border-radius:20px;
-o-border-radius:20px;
border-radius:20px;}

.btn:hover{border-color:#80B2FD;
-webkit-transition:all 250ms ease-in-out;
-moz-transition:all 250ms ease-in-out;}
.btn:active{background:#6FA0D8;text-shadow:0 -1px 0 #1E67BF;color:#FFF;}


.bbox{display:block;margin:20px 0;width:100%;padding:30px 0;background:#77AAF4;}
.bbox p{color:#FFF;font-size:19px;text-shadow:0 -1px #1A6DD2;}

.bbox ul{display:block;position:relative;}
.bbox ul li{display:inline-block;position:relative;margin:10px 0 0 0;float:left;}
.bbox ul li.t{margin-left:130px;}
.bbox ul li.f{color:#FFF !important;width:110px;margin-top:8px;}


/*  FOOTER  */
footer{display:block;padding:18px 0 100px 0;position:relative;}

footer aside.left{float:left;width:323px;margin:0 30px 0 0px;}
footer aside div.pay_logo{display:block;width:307px;height:36px;margin:0 0 14px 0;background:url(/images/pay_logo.png);}
footer aside p{color:#666;font-family:Tahoma,Geneva,Helvetica,Sans-serif;font-size:13px;margin:0 0 8px 0;display:block;text-align:left;}
footer aside p a{color:#216CD9;text-decoration:underline;}

footer aside p a.one{display:inline-block;}
footer aside p a.rec{display:none;}

footer p.a{color:#666;font-family:Tahoma,Geneva,Helvetica,Sans-serif;font-size:16px;margin:0 0 20px 0;display:block;text-align:center;}
footer p.r{color:#9D3100;font-family:Tahoma,Geneva,Helvetica,Sans-serif;font-size:12px;margin:20px 0 40px 0;display:block;text-align:center;line-height:22px;border-top:1px solid #E6E6E6;padding:40px 0 0 0;}
footer p.r a{color:#1A6DD2;}

footer aside.right{float:left;width:280px;}
footer aside h3{color:#575757;font-size:12px;font-weight:bold;font-family:Tahoma,Geneva,Helvetica,Sans-serif;margin:0 0 10px 0;display:block;}

footer aside.right p{margin-bottom:30px;line-height:22px;}

button.back{text-align:center;width:160px;height:28px;position:absolute;right:10px;top:10px;margin-left:0px;}

a.back{text-align:center;width:160px;height:28px;position:absolute;right:10px;top:10px;margin-left:0px;font-size:13px;line-height:28px;
-webkit-appearance: button;}







