
body{
margin: 0;
padding: 0 0 0px;
font-family: Arial, Helvetica, sans-serif;
background: url(/images/donate/bg.gif);
position: relative;
}

a{
outline: none;
}


.wrapper{
margin: 0 auto;
padding: 50px 70px 40px;
width: 782px;
background: url(/images/donate/top.png) center top no-repeat;
position: relative;
}

.logo{
padding: 0;
background: url(/images/donate/logo.gif) no-repeat;
padding-top: 60px;
width: 240px;
height: 0;
overflow: hidden;
margin: 0px auto 60px;
}

h1{
margin: 0 0 89px;
padding: 20px 0;
color: #365c93;
text-align: center;
font-size: 28px;
font-weight: normal;
}


h1 strong{
font-weight: bold;

}

#content{
margin-left: -1px;
float: left;
width: 782px;
clear: both;
left: 69px;
top: 340px;
padding: 0px 0px 11px;
background: url(/images/donate/bottom.png) bottom left no-repeat;
}

.content_inner{
background: url(/images/donate/content_bg.png) ;
float: left;
padding-bottom: 40px;
width: 782px;
}


.left{
float: left;
width: 380px;
padding: 20px 40px;
border-right: 1px solid #fff;
line-height: 1.7em;
font-size: 14px;
color: #555;
}

.right{
float: right;
width: 320px;
}

div.principles{
padding-top: 30px;
clear: both;
}

.principles h2{
font-size: 18px;
margin: 0px 0 5px 40px;
color: #365c93;
}

.principles ul {
margin: 1px 0 0 23px;
}

.principles ul li{
color: #365c93;
margin-right: 40px;
font-size: 16px;
float: left;
list-style-image:url(/images/donate/blue_star.gif); 
line-height: 1.5em;
}


.banner{
position: absolute;
left: 69px;
height: 83px;
width: 782px;
background: url(/images/donate/banner_bg.gif) repeat-x;
top: 257px;
}


.banner .left_cap{
position: absolute;
left: -28px;
height: 83px;
width: 28px;
background: url(/images/donate/banner_caps.gif) repeat-x;
}


.banner .right_cap{
position: absolute;
right: -28px;
height: 83px;
width: 28px;
background: url(/images/donate/banner_caps.gif) top right repeat-x;
}


.banner p{
float: left;
color: #fff;
font-size: 18px;
margin: 33px 38px !important;
text-shadow: #a11513 0px -1px 0px;
padding-left: 45px;
background: url(/images/donate/heart.gif) 0 1px no-repeat;
}


.banner span.big_arrow{
margin-top: 0px;
padding-left: 80px;
float: left;
margin-left: 20px;
margin-top: 26px;
height: 30px;
background: url(/images/donate/big_arrow.gif) 0 1px repeat;
}



.donate_now{
float: right;
padding-top: 49px;
width: 227px;
height: 0;
overflow: hidden;
margin: 19px 45px 0 0;
background: url(/images/donate/donate.png) repeat-x;
}


.left .donate_now{
float: left;

}

.donate_now:hover{
background: url(/images/donate/donate.png) 0 -50px repeat-x;
}

.donate_now:active{
background: url(/images/donate/donate.png) 0 -100px repeat-x;
}

.venn{
height: 395px;
width: 257px;
margin-left: 33px;
background: url(/images/donate/venn.gif) no-repeat;
margin-top: 30px;
}


.ppf{
width: 100%;;
height: 667px;
bottom: 30px;
float: left;
clear: both;
background: url(/images/donate/ppf.png) center no-repeat;
}

.classy{
font-weight: bold;
font-size: 19px;
color: #365c93;
}


.classy span{
color: #993739;
}


blockquote{
font-size: 14px;
line-height: 1.5em;
text-align: center;
margin: 0 !important;
padding: 0 10px;
}

.att{
font-size: 14px;
font-weight: bold;
display: block;
text-align: center;
margin-top: 20px;
}

/*------------------------------------------------------------------------
--------------------------------------------------------------------------v
--------------------------------------------------------------------------

~ Scrollable

--------------------------------------------------------------------------
--------------------------------------------------------------------------
------------------------------------------------------------------------*/

.scrollable img {
	margin:30px;	
}

.scrollable img.hover {
	background-color:#123;	
}



.user img{
margin: 15px 15px 0;
float: left;
overflow: hidden;
display: block;
}



.user blockquote{
padding-top: 13px;
font-size: 12px;
}



  
/*
	root element for the scrollable.
	when scrolling occurs this element stays still.
*/
.scrollable {

	/* required settings */
	position:relative;
	overflow:hidden;
	width: 230px;
	height:280px !important;
margin: 10px 0 0 12px;
	/* custom decorations */
	border-top:1px solid #fff;
	background:url(/img/global/gradient/h300.png) repeat-x;
}

/*
	root element for scrollable items. Must be absolutely positioned
	and it should have a extremely large width to accomodate scrollable items.
	it's enough that you set the width and height for the root element and
	not for this element.
*/
.scrollable .items {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
	clear:both;
}

.items div {
	float:left;
	width:228px !important;

}

/* single scrollable item */
.scrollable img {

}

/* active item */
.scrollable .active {
	border:2px solid #000;
	position:relative;
	cursor:default;
}





.scrollable a{
text-decoration: none;
color: #333;
display: block;
height: 260px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 10px;
text-align: center;
margin: 0px 0

}


.scrollable a:hover{
background: #eee;
}



.scrollable a img{
border: 0;
}



.scrollable .pc a img{
display: block;
margin: 100px 55px;
float: left;
}




.scrollable .meta a img{
display: block;
margin: 100px 44px;
float: left;
}








/* this makes it possible to add next button beside scrollable */
.scrollable {
	float:left;	
}

/* prev, next, prevPage and nextPage buttons */
a.browse {
	background: #fae8e8;
	display:block;
	width:20px;
	height:20px;
	float:left;
	margin: 0px 0px 0px !important;
	cursor:pointer;
	font-size:1px;
padding: 0 !important;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
border: 0;
}

a.browse:hover {
	background-color: #fff;
}

/* right */
a.right 	{float: right; background: #fae8e8 url(/images/donate/arrows.gif) -24px 6px no-repeat;
 margin-right: 0px;}



/* left */
a.left		{ background: #fae8e8 url(/images/donate/arrows.gif) 6px 6px no-repeat;} 


/* up and down */
a.up, a.down		{ 
	background:url(../img/scrollable/arrow/vert_large.png) no-repeat; 
	float: none;
	margin: 10px 50px;
}

/* up */
a.up:hover  		{ background-position:-30px 0; }
a.up:active  		{ background-position:-60px 0; }

/* down */
a.down 				{ background-position: 0 -30px; }
a.down:hover  		{ background-position:-30px -30px; }
a.down:active  	{ background-position:-60px -30px; } 


/* disabled navigational button */
a.disabled {
	visibility:hidden !important;		
} 	






.scrolling{
	background: #fff !important;
margin: 30px 34px 0;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
border-radius: 20px;
-moz-border-radius-topright: 13px;
-moz-border-radius-topleft: 13px;
-webkit-border-radius-top-left: 13px;
-webkit-border-radius-top-right: 13px;
border-radius: 20px;

padding-bottom: 5px;
}




/* position and dimensions of the navigator */
.navi {
	width:200px;
padding-top: 5px;
margin-left: 40px;

}


/* items inside navigator */
.navi a {
	width:5px !important;
	height:5px !important;
	float:left;
	margin:3px;
	background: #9b2222 !important;
	display:block;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
	font-size:1px;
}

/* mouseover state */
.navi a:hover {
	background: #fff !important;
}

/* active state (current page state) */
.navi a.active {
	background: #fae8e8 !important;
	width:8px !important;
	height:8px !important;
margin-top: 1px;
}


.nov{
	background: #d84343;
	display:block;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
border-radius: 20px;
margin: 0px 5px 0px;
padding: 5px;
height: 20px;
}

.new a img{
margin-top: 130px;
margin-left: 14px;
}

/* the overlayed element */
.simple_overlay {
	
	/* must be initially hidden */
	display:none;
	-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
	/* place overlay on top of other elements */
	z-index:10000;

	/* styling */
	background-color:#fff;
  margin-left: -20px;
	width:600px;	
	height:400px;
	
	/* CSS3 styling for latest browsers */
	-moz-box-shadow:0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;	
}

/* close button positioned on upper right corner */
.simple_overlay .close {
	background: url(/images/donate/close.png) no-repeat;
	position:absolute;
	right:-15px;
	top:-15px;
	cursor:pointer;
	height:27px;

	width:27px;
}

.simple_overlay form{
padding: 110px 30px 30px;
font-size: 13px;
	background: url(/images/donate/top_logo.gif) center 40px no-repeat;
}

.simple_overlay h2{
margin: 0 !important;
font-size: 16px;
}

.simple_overlay p{
margin: 3px 0 20px;
font-size: 11px;
}



.simple_overlay label{
font-size: 13px;
font-weight: bold;
margin-bottom: 7px;
display: block;
}


.simple_overlay form .form-text{
font-size: 12px;
font-weight: bold;
margin-bottom: 7px;
display: block;
border: 1px solid #666;
padding: 7px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}

.simple_overlay form textarea{
width: 340px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
border: 1px solid #666;
height: 80px;
}




.amount-section{
float: left;
margin-right: 0px;
font-size: 13px !important;
font-weight: bold;
}


.amount-section .form-text{
float: left;
margin-right: 20px;
width: 70px;
font-family: Arial, Helvetica, sans-serif;
clear: none;
}



.amount-section input{
float: left;
clear: both;
margin: 10px 10px 0 0;
padding: 4px !important;
font-size: 13px !important;
}


.amount-section label{
float: left;
margin: 7px 10px 5px 0;
padding-top: 1px;
}


.amount{
float: left;
}

.amount_radio{
margin-top: 16px !important;
}



.amount input{
float: right !important;
}



.amount span{
float: left !important;
padding-top: 14px;
padding-right: 4px;
}


.form-text.big.required{
margin-bottom: 20px;
}




div.messages{
font-size: 11px;
padding-top: 39px;
width: 190px;
padding-left: 140px;
float: left;
text-align: right;

}
button::-moz-focus-inner { border: 0; }


div.messages p strong{
margin-bottom: 5px;
display: block;
}



.form-submit{
float: right !important;
margin-top: 35px;
background: 0;
border: 0;
outline: 0 !important;
-moz-outline: 0 !important;
cursor: pointer;
}


.larger{
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
background: #fff;
padding: 17px 20px;
font-size: 12px;
line-height: 1.5em;
margin-top: 20px;
}



.larger a{ 
display: block;
color: #333;
padding-top: 4px;
}



.form-submit span{
height: 0;
display: block;
overflow: hidden;
padding-top: 40px;
width: 208px;
background: url(/images/donate/continue.png) no-repeat;
}


.form-submit:hover span{
background: url(/images/donate/continue.png) 0 -43px no-repeat;
}


.form-submit:active span{
background: url(/images/donate/continue.png) 0 -86px no-repeat;
}


.amount-section .label label{
padding: 0 !important;
margin: 0 0 5px;
}


.share{
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
background: #f6faff;
padding: 17px 20px 12px;
font-size: 12px;
line-height: 1.5em;
margin-top: 20px;
position: relative !important; 
}


.share iframe{
margin-right: 10px;
}


.db-wrapper{

position: absolute !important; 
top: 18px;
left: 200px;
}

.digg img{
margin-left: 0;
}

.bitly{
width: 80px;
height: 0px;
padding-top: 20px;
overflow: hidden;
float: right;
margin: 0 -35px 0 0;
background: url(/images/donate/bit.gif) 0 0px no-repeat;
}




