@import url("profile.css");


#the-items.friends{
margin: 0;
padding: 0 !important;
}


#the-items.friends h3{
margin: 0;
padding: 0;
}

ul.activity{
clear: both;
margin: 10px 0 !important;
border: 1px solid #ddd;
}

ul.activity li{
padding: 8px ;
}


.invites a{
font-size: 12px !important;
}


ul.activity li.odd{
background: #f8f8f8;
}

hr{
clear: both;
}

span.time{
display: block;
font-size: 10px;
color: #999;
margin-right: 10px;
}


.friends ul{
}


.friends li{
font-size: 11px;
border-bottom: 1px solid #eee;
}

.commented{
padding-left: 20px;
background: url('/images/commented.png') 2px top no-repeat;
   _background: url('/images/commented.gif') 2px top no-repeat;
}

.commented span{
color: #3895bd;
}



.befriended{
padding-left: 20px;
background: url('/images/befriended.png') 2px 1px no-repeat;
   _background: url('/images/befriended.gif') 2px 1px no-repeat;
}


.befriended span{  
color: #df8874;
}

p.line{
clear: both;
}

.for{
padding-left: 20px;
background: url('/images/passed_big.png') 2px 1px no-repeat;
   _background: url('/images/passed_big.gif') 2px 1px no-repeat;
}

.failed{
padding-left: 20px;
background: url('/images/Failed_big.png') 2px top no-repeat;
   _background: url('/images/Failed_big.gif') 2px top no-repeat;
}


.for span{
color: #72aa53;
font-weight: bold;
}

.failed{
color: #e14242;
}


.friends_table{
float: right;
}



#friends.tracking_bill #heading, #friends.tracking_committee, #friends.tracking_issue, #friends.tracking_person  {
  height:72px;
}

.tracking_bill table{
border: 1px solid #ddd;
}
.tracking_bill table td{
border-bottom: 1px solid #ddd;
padding: 10px;
font-size: 11px;
}

.tracking_bill table th{
background: #fefefe;
border-bottom: 1px solid #ddd;
padding: 10px 0 10px 10px;
}



