#heading{
  height: 45px !important;
padding: 0px 0 30px 0px!important;
}


#heading h2{
margin: 28px 0 0 30px !important;
padding: 0;
}

label {
  width: 200px;
  text-align: right;
  padding-top: 1px;
  float: left;
  margin-right: 10px;
}

#group_submit {
  margin-left: 210px;
}
form p {
  padding-bottom: 30px;
}

.description {
  font-size: 16px;
  width: 630px;
float: left;
padding-left: 50px;
margin-top: 30px;
line-height: 1.4em;
}

.group_info {
  padding: 15px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.4em;
  background-color: rgba(101,101,101, .2);
  border: 2px solid rgba(101,101,101, .1);
  float: left;
  width: 900px;
margin-left: 0px;

}

.group_info li{

  width: 300px;
float: left;

}

.thumb{
  background-color: rgba(101,101,101, .2);
  border: 2px solid rgba(101,101,101, .1);
float: left;
width: 52px;
height: 52px;
padding: 10px;

}

#group_comments {
  margin-top: 40px;
width: 600px;
float: left;
  
}
#comments-container{
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
-o-border-radius: 15px;
-ms-border-radius: 15px;
background: #eee;
width: 500px;
margin: 0 30px 90px;
}

table.groups td {
  padding: 5px;
}
.sidebar{
width: 300px;
  margin-top: 40px;
float: left;
}

#bill_positions .button{
float: left;
margin-top: 5px;
}

