#heading{
  height: 45px !important;
padding: 0px 0 30px 0px!important;
}


#heading h2{
margin: 28px 0 0 30px !important;
padding: 0;
}

label {
  width: 200px;
  text-align: right;
  padding-top: 1px;
  float: left;
  margin-right: 10px;
}

#group_submit {
  margin-left: 210px;
}
form p {
  padding-bottom: 30px;
}

.description {
  font-size: 16px;
  width: 630px;
float: left;
padding-left: 50px;
margin-top: 30px;
line-height: 1.4em;
}

.group_info {
  padding: 15px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.4em;
  background-color: rgba(101,101,101, .2);
  border: 2px solid rgba(101,101,101, .1);
  float: left;
  width: 900px;
margin-left: 0px;

}

.group_info li{

  width: 300px;
float: left;

}

.thumb{
  background-color: rgba(101,101,101, .2);
  border: 2px solid rgba(101,101,101, .1);
float: left;
width: 52px;
height: 52px;
padding: 10px;

}

#group_comments {
  margin-top: 40px;
width: 600px;
float: left;
  
}
#comments-container{
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
-o-border-radius: 15px;
-ms-border-radius: 15px;
background: #eee;
width: 500px;
margin: 0 30px 90px;
}

table.groups td {
  padding: 5px;
}
.sidebar{
width: 300px;
  margin-top: 40px;
float: left;

}

#bill_positions{
clear: both;
}


#bill_positions .button{
float: left;
margin-top: 5px;
}


.sidebar-nav{
  background-color: rgba(101,101,101, .2);
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-o-border-radius: 5px;
-ms-border-radius: 5px;
float: left;
width: 260px;
overflow: visible !important;
}



.sidebar-nav li{
overflow: visible !important;
}


.sidebar-nav a{
width: 232px;
display: block;
padding: 10px 10px 10px 15px;
text-decoration: none;
font-weight: bold;
overflow: visible !important;
position: relative;
}


.sidebar-nav .active a{
  border: 1px solid #aaa;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #777;
  
  -moz-box-shadow: 0 1px 0px #ddd, inset 0 1px 0px #fff;
  -webkit-box-shadow: 0 1px 0px #ddd, inset 0 1px 0px #fff;
  box-shadow:  0 1px 0px #ddd, inset 0 1px 0px #fff;
  
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #fff,  #eee); /* for firefox 3.6+ */

  text-shadow: 0 1px 0px #fff;

color: rgba(0,0,0,.9)



}



.sidebar-nav .active a div{
position: absolute;
width: 40px;
right: -40px;
height: 40px;
top: -1px;
background: url(/images/sidebar-active.png) no-repeat;
}


.sidebar-nav a .inline-count{
float: right;
  background-color: rgba(101,101,101, .2);
-moz-border-radius: 55px;
-webkit-border-radius: 55px;
-o-border-radius: 55px;
-ms-border-radius: 55px;
padding: 2px 10px;
margin-top: -2px;


  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  rgba(101,101,101, .2),  rgba(101,101,101, 0)); /* for firefox 3.6+ */

text-shadow: 0 1px 0px #fff;
  -moz-box-shadow: 0 1px 0px #fff, inset 0 1px 0px #333;
  -webkit-box-shadow: 0 1px 0px #ddd, inset 0 1px 0px #fff;
  box-shadow:  0 1px 0px rgba(255,255,255, .4), inset 0 1px 0px rgba(101,101,101, .2);

}






