
#blog{
width: 383px;
float: left;
margin-top: 13px;
}


#heading{
padding: 15px;
background: url('/images/bill_heading_blue.png') left top;
   _background: url('/images/bill_heading_blue.gif') repeat left top;
height: 45px !important; 
border-bottom: 1px solid #abd1e2;
overflow: hidden;
}

#heading p{
font-size: 12px !important;
}


.rightside{
padding-top: 1px;
float: right;
width: 431px;
}

#bill_tabs{
position: relative;
z-index: 5456789;
}

.more_{
position: absolute;
top: -23px;
right: 10px;
color: #777;
}





.add_facebook{
padding-top: 20px;
overflow: hidden;
float: right;
width: 116px;
height: 0;
background: url('/images/add_facebook.png') left -23px no-repeat;
margin: 13px 0 0 0;
}

.add_facebook:hover{
padding-top: 20px;
overflow: hidden;
float: right;
height: 0;
background: url('/images/add_facebook.png') left top no-repeat;
}


.tweet_us{
padding-top: 20px;
overflow: hidden;
width: 106px;
float: right;
height: 0;
margin: 13px 0 0 0;
background: url('/images/tweet_us.png') left -23px no-repeat;

}

.tweet_us:hover{
padding-top: 20px;
overflow: hidden;
float: right;
height: 0;
background: url('/images/tweet_us.png') left top no-repeat;
}


.medium_bill_list{
padding: 0;
margin: 0;

}

.medium_bill_list li a{
text-decoration: none;
padding: 13px 0 13px 60px;
display: block;
}


.medium_bill_list li.bill {
border-top: 1px solid #9bd0e1;
border-bottom: 1px solid #e7f9ff;
background:  url('/images/bill_small_list.png') 0 bottom repeat-x;
}

.medium_bill_list li.bill a{
background: url('/images/small_bill.png') 15px 15px no-repeat;
}


.medium_bill_list li.bill:hover{
border-top: 1px solid #9bd0e1;
border-bottom: 1px solid #e7f9ff;
background: #e7f9ff url('/images/bill_small_list.png') 0 90px repeat-x;
}

.medium_bill_list li.people {
border-top: 1px solid #d1c591;
border-bottom: 1px solid #fffef8;
background:  url('/images/people_small_list.png') 0 bottom repeat-x;
}

.medium_bill_list li.people:hover {

background: #fffef8 url('/images/people_small_list.png') 0 bottom repeat-x !important;
}


.medium_bill_list li.issue {
border-top: 1px solid #bfe2e3;
border-bottom: 1px solid #ebffff;
background:  url('/images/issue_small_list.png') 0 bottom repeat-x;
}

.medium_bill_list li.issue a{
padding-bottom: 22px;
}

.medium_bill_list li.issue:hover {

background: #e7f7f7 url('/images/issue_small_list.png') 0 bottom repeat-x !important;
}


.medium_bill_list li a span.title{
padding: 0;
margin: 0;
font-weight: bold;
font-size: 12px;
width: 355px;
display: block;
overflow: hidden;
}


.medium_bill_list li a span.little_status{
padding: 0;

margin: 0;
font-weight: normal;
font-size: 11px;
}


.medium_bill_list li a p{
padding: 0;
margin: 0;
color: #888;
font-weight: normal;
font-size: 11px;
text-decoration: none;
}


.editorial_list li{
background: #f7feef url('/images/editorial_bg.png') 0 bottom repeat-x;
margin: 0;
padding: 0;
}

.editorial_list li a{
background: url('/images/small_bill.png') 15px 15px no-repeat;
margin: 0;
color: #333;
display: block;
border-top: 1px solid #ccc;
}


.editorial_list li a:hover{
cursor: pointer;
background: #f7feef url('/images/small_bill.png') 15px 15px no-repeat;
}

.editorial{
background: url('/images/red_grad.png') repeat-x;

}

.healthcare_bills{
padding: 20px 0 20px 20px;
width: 982px;
height:36px;
background: url('/images/healthcare_bill.png') 17px 14px no-repeat;
margin-right: 30px;	
border-bottom: 1px solid #ddd;
}

.healthcare_bills h2{
padding-left: 77px;
float: left;
font-size: 12px;
width: 80px;
}


.healthcare_bills div{
padding-left: 30px;	
padding-bottom: 11px;
float: left;
font-weight: bold;
}

.healthcare_bills div a{
text-decoration: underline !important;
cursor: pointer;
}



.healthcare_bills div span{
font-weight: normal;
display: block;
color: #999;
}




.congress_status{
background: url('/images/today.png') left bottom repeat-x;
margin: 0px;
font-size: 12px;
min-height: 103px;
}


.congress_status h2{
background-position: 0 -1px;
line-height: 2.7em;
border: 0;
border-bottom: 1px solid #ccc;
background: url(/images/blog_bg.png) left bottom no-repeat;
}

.congress_status h2 span{
font-family: Arial, Helvetica, sans-serif;
font-size: 11px !important;
display: inline !important;
font-weight: normal;
color: #888;
background: 0;
padding: 0px 10px 0px 6px !important;
font-style: italic !important;
}


.congress_status .more_{
top: 8px
}

.next_recess{
padding: 8px 0 0 21px;
float: right;
clear: left;
width: 122px;
}

.house_sesh{
padding: 8px 0 0 35px;
width: 132px;
margin-top: 4px;
}

.senate_sesh{
padding: 8px 15px 0 35px;
float: left;
width: 126px;
}

.in_session{
background: url('/images/session_status.png') 13px 10px no-repeat;
   _background: url('/images/session_status.gif') 13px 10px no-repeat;
}

.out_session{
background: url('/images/session_status.png') 13px -46px no-repeat;
   _background: url('/images/session_status.gif') 13px -46px no-repeat;
}

.recess{
background: url('/images/session_status.png') left -100px no-repeat;
   _background: url('/images/session_status.gif') left -100px no-repeat;
}


.back em.date{
padding: 0px 0 8px 0px;
}


.small_heading{
font-size: 12px;
background: url(/images/blog_bg.png) left bottom no-repeat;
clear: both;
line-height: 2.5em;
padding: 0 0 0 10px;
margin: 0;
border-top: 1px solid #ddd;
}




.small_heading a{
float: right;
padding-right: 10px;
}


.small_heading span{
font-weight: bold;
cursor: pointer;
padding: 10px 10px 10px 0px;
position: relative;
background: url(/images/arrows.png) right -12px no-repeat;
}

.small_heading span span{
background: none;
}



.small_heading span:hover ul.tabs{
display: block;
position: absolute;
z-index: 324567883;
margin-left: 10px;
}



.small_heading ul.tabs{
margin: 9px 0 0 0;
padding: 0px 4px 4px 4px;
position: absolute;
top: 23px;
width: 161px;
display: none;
left: -9px;
	background: url('/images/dropdown.png') left bottom no-repeat;
}


.small_heading ul.tabs li{
margin: 0;
padding: 0;
clear: both;
float: left;
width: 100%;
}


.small_heading ul.tabs li a{
margin: 0;
padding: 0 ;
float: left;
width: 100%;
font-size: 11px;
font-weight: normal;
text-decoration: none;
}


.small_heading ul.tabs li a:hover{
background: #ddd;
}


.small_heading ul.tabs li span{
margin: 0;
padding: 0 0 0 10px;
display: block;
font-weight: normal;
}





.top_area{
background: url(/images/blog_bg.png) left bottom no-repeat;
border-bottom: 1px solid #ccc;
}


.just_for_a_border{
position: relative;
background: url(/images/line.gif) 570px bottom repeat-y;
}


#blog img.frontpage-blog-image{
clear: left;
width: 180px !important;
float: right;
margin: 0 0px 10px 20px;
border: 1px solid #ccc;
padding: 3px;
}

.blog_list{
padding-top: 0 !important;
float: left;
width: 570px;
position: static;
padding: 0 0 50px;
}

.blog_list .clear{
padding: 0;
margin: 0;
height: 18px;
}

.blog_list h2{
float: left;
width: 510px;
margin: 0 30px;
height: 47px;
overflow: hidden;
}

.blog_list h2 .text{
float: left;
font-weight: normal;
font-size: 16px;
text-decoration: none;
padding: 15px 0px 15px;
}

.blog_list h2 .feed{
margin: 13px 0 0 16px;
float: left !important;
}

.blog_list #blog .back{
padding: 0 20px;
clear: both;
width: 518px;
}



.blog_list .med_button{
clear: none !important;
float: right;
margin-left: 14px;
}

.blog_list .med_button span{
padding-top: 6px;
padding-bottom: 5px;
}
.blog_list h2{
border-bottom: 1px solid #ddd;
}

.blog_list h2.icon .feed-button{
float: right;
}

.blog_list #blog p{
padding: 0px 0px 25px 10px;
min-height: 182px;
margin: 0 2px;
font-size: 14px;
clear: left;
color: #555;
line-height: 1.5em;
overflow: hidden; 

}

.blog_list #blog h3{
padding: 15px 10px;

}

.blog_list #blog h3 .date{
color: #666;
font-size: 11px;
clear: both;
margin-bottom: 10px;
padding: 0 5px;
}


.by{
display: block;
clear: both;
}

.blog_list #blog h3 strong.gossip a{
float: left;
font-size: 22px;
padding: 0 0 0px 0;
text-decoration: none;
color: #333;
font-weight: normal;
line-height: 1.3em;
display: block;
margin-bottom: 5px;
}

.blog_list #blog h3 strong.gossip a:hover{
text-decoration: underline;
}

#ts li a{
background: url('/images/small_bill_hot.png') 14px 13px no-repeat;
   _background: url('/images/small_bill_hot.gif') 14px 13px no-repeat;
}


#pis li a{
background: url('/images/issues_icon.png') 15px 15px no-repeat;
   _background: url('/images/issues_icon.gif') 15px 15px no-repeat;
font-weight: bold;
}

/*#ts li a span.title, */
#pis li a span.title{
padding-top: 9px;
padding-left: 10px;
}

/*
#ts li a:hover{
background: #fbfdff url('/images/big_search_icon.png') 15px 15px no-repeat;
}
*/

#pr li a, #ps li a{
background: url('/images/big_people_icon.png') 18px 15px no-repeat;
   _background: url('/images/big_people_icon.gif') 18px 15px no-repeat;

}

#pr li a:hover, #ps li a:hover, #pis li a:hover{


}


#blog .feed{
float: right;
}


.pop-tabs {
float: right;
padding-right: 13px;
}

.pop-tabs li{
float: left;
padding: 0 0px 0 5px;
}

.pop-tabs a{
float: left;
color: #555;
text-decoration: none;
padding: 0 6px 0 0;
background: url('/images/small_button_cap.png') right 0 no-repeat;
   _background: url('/images/small_button_cap.gif') right 0 no-repeat;
}

.pop-tabs a span{
display: block;
background: url('/images/small_button.png') repeat left top;
   _background: url('/images/small_button.gif') repeat left top;
padding: 2px 4px 3px 11px;
font-size: 11px;
}

.pop-tabs a:hover{
background: url('/images/small_button_cap.png') right -23px no-repeat;
   _background: url('/images/small_button_cap.gif') right -23px no-repeat;
text-decoration: none;
color: #999;
}


.pop-tabs a:hover span{
background: url('/images/small_button.png') left -23px no-repeat;
   _background: url('/images/small_button.gif') left -23px no-repeat;
}


.pop-tabs li.here a{
background: url('/images/small_button_cap.png') right -23px no-repeat;
   _background: url('/images/small_button_cap.gif') right -23px no-repeat;
text-decoration: none;
color: #999;
}


.pop-tabs li.here a span{	
background: url('/images/small_button.png') left -23px no-repeat;
   _background: url('/images/small_button.gif') left -23px no-repeat;
}





#second_tier{
clear: both;
float: right;
width: 100%;

}


.subcol1, .subcol2{
width: 304px;
float: left;
margin-right: 10px;
}

.box01{
width: 304px;
position: relative;
float: left;
}


.box01 .more_{
top: 6px;
}

.box01 h3{
padding-left: 15px !important;
}


.about_oc{
clear: both;
padding: 35px;
}


.myoc{
float: left;
padding: 10px;
margin: 0;
width: 360px;
}


.myoc h3{
color: #555;
font-size: 20px;
padding-top: 32px;
overflow: hidden;
height: 0;
float: left;
margin: 0;
width: 246px;
font-weight: normal;
background: url(/images/everyone.png) left top no-repeat;
   _background: url(/images/everyone_home.gif) left top no-repeat;
}

#heading div.myoc p{
color: #666;
padding: 3px 0 0 0 !important;
float: left !important;
font-size: 11px;
margin: 0 !important;
}

.myoc .small_button{
margin-left: 20px;
margin-top: 2px;
clear: none !important;
float: right !important;
}

#numbers{
float: right;
width: 490px;
height: 200px;
overflow: hidden;
padding: 35px;
}

#find_reps{
clear: both;
margin: 35px;
}


.about_oc{
width: 410px;
float: left;
}


.use_oc{
width: 410px;
float: left;
padding: 35px;
}

.use_oc .email{
background: url(/images/forms.png) 0px -124px no-repeat;
   _background: url(/images/forms.gif) 0px -124px no-repeat;
border: none;
padding: 7px 9px;
width: 216px;
}

.use_oc form{
width: 340px;
float: left;
padding: 20px 0;
}

.use_oc h3{
clear: both;}


#find{
clear: both;
padding: 30px 0px 5px 27px;
background: url(/images/track_them.jpg) 0px -2px no-repeat;
float: left;
width: 975px;

height: 91px;
border-bottom: 1px solid #999;
}

#find form{
padding: 17px 0px 0 70px;
height: 50px;
width: 424px;
float: left;
background: url(/images/find_bg.png) 0px 0px no-repeat;
}

.enter_zip{
background: url(/images/forms.png) left -30px no-repeat;
   _background: url(/images/forms.gif) left -30px no-repeat;
width: 123px !important;
border: none;
text-align: center;
padding: 7px 9px;
}

#find input{
float: left;
}

hr{
display: none;
}

#find p{
font-size: 14px;
float: left;
padding: 0px 0 0 14px;
width: 430px;
line-height: 1.5em;
}


#find h2{
padding-right: 20px;
float: left;
font-size: 13px;
line-height: 1.3em;
width: 100px;
}

#find_rep input{
margin-top: 3px;
}

.enter_zip{
width: 130px;
margin-right: 20px;
}




.clear{
clear: both;
height: 0px;
}

#pitch{
float: left;
padding-bottom: 0px;
width: 100%;
clear: both;
min-height: 260px;
background: url(/images/pitch_bg.png) left bottom repeat-x;
   _background: url(/images/pitch_bg.gif) left bottom repeat-x;
border-bottom: 1px solid #abd1e2;
border-top: 1px solid #ddedf5;
}




.featured_members{
background: #e0f4cf;
padding-bottom: 60px;
float: left;
width: 570px;
}

.featured_members h3.darkline{
background: url(/images/small_heading.png) left bottom repeat-x;
line-height: 2.4em;
padding-left: 30px;
}

.featured_members h3.darkline a.feed{
float: right;
margin-right: 30px;
}


.subcol1, .subcol2{
width: 220px;
margin: 10px 30px 0;
}

.subcol1 p, .subcol2 p{
font-size: 11px;
line-height: 1.5em;
}




.box01{
width: 431px;
border-left: 1px solid #ddd;
}


.box01 .back{
}


.box01 h3{
background: url(/images/small_heading.png) left bottom repeat-x;
line-height: 2.4em;
padding-left: 30px;
margin: 0;
}


.box01 .med_button{
float: right;
margin: 18px 18px 0 0;
}




.latest_votes{
padding: 0 !important;
margin: 0 !important;

}

.latest_votes li {
  margin:0px;
}

.latest_votes li a {
display: block;
padding: 13px 20px 13px 60px;
float: left;
width: 351px;
cursor:pointer;
color: #6e6083;
margin: 0px;
border-bottom: 1px solid #e8def8;
text-decoration:none;
background: #f8f3ff url('/images/small_bill.png') 15px 15px no-repeat;
}

.latest_votes a:hover{
background: #f8f3ff url('/images/small_bill.png') 15px 15px no-repeat;
}


.latest_votes a span{
font-weight: bold;

}

.latest_votes .date{
color: #c7bed6;
float: right;
font-size: 11px;
}

.latest_votes .type{
display: block;
font-style: italic;
font-weight: normal;
font-size: 11px;
padding: 0px 0 0 0;
color: #9280ad;
clear: both;
float: left;

}



.latest_votes .votes{
float: left;
font-size: 11px;
padding-right: 10px;
}


.latest_votes .aye{
color: #569a31;
font-weight: bold;
padding-right: 3px;
}


.latest_votes .nay{
color: #d05829;
padding-right: 3px;
font-weight: bold;
}


.box03 div{

}


.box03 div h4{
display: inline;
}



div.blog_list .back h3.recent{
margin: 0 !important;
padding: 0px 0 10px 14px !important;
}

.indent {
margin: 0px 0px 0 12px;
}
	
.indent li{
padding: 0 2px;
}

.indent li.dark a{

}


.indent li a{
display: block;
padding: 3px 0px 0px 25px;
float: left;
text-decoration: none;
background: url('/images/home_blog_icon.png') 0px 6px no-repeat;
clear: both;
width: 475px;
line-height: 2em;
border-bottom: 1px solid #ddd;
}

.indent li a:hover{
background: #efefef url('/images/home_blog_icon.png') 0px 6px no-repeat;
text-decoration: underline;
}

.indent li a .blog_headline{
display: block;
overflow: hidden;
float: left;
width: 420px;
height: 20px;
}

.indent li a .datedark{
display: block;
float: right;
}




.login_button{
margin-right: 10px;
}


#home_pitch{
float: left;
margin-right: 0px;
width: 979px;
}


.number4{
padding-right: 20px;
}

#why_carousel{
overflow: hidden;
height: 265px;
width: 400px;
}

#why_carousel li{
height: 300px;
display: block;
width: 530px;
float: left;
padding: 45px 290px 0 40px;
}

/*#why_carousel li.number4{
padding-right: 20px !important; 
}
 */
.inner .jcarousel-skin-bravo .jcarousel-clip-horizontal {
  left:0;
  width:870px;
}             
.jcarousel-prev, .jcarousel-next{
margin: 110px 0 0 0 !important;
}


#why_carousel li p{
color: #666;
font-size: 13px;
line-height: 1.7em;
font-weight: normal;
}



#why_carousel h4{
font-size: 18px; 
color: #759dc1;
font-weight: normal;
}
#why_carousel.jcarousel-list {
  width:8000px !important;
}
.about_oc p{
padding-bottom: 10px;
}

.jcarousel-next-horizontal, .jcarousel-prev-horizontal {
margin-top: 135px;
}

.jcarousel-skin-bravo{
min-height: 205px;

}


.blog_buttons{
padding: 5px;
position: absolute;
bottom: 0;
width: 550px;
}
	
a.med_button span{
display: block;
background: url('/images/med_button.png') repeat left top;
   _background: url('/images/med_button.gif') repeat left top;
padding: 6px 9px 5px 15px;
font-size: 11px;
}

.inner{
background: url(/images/sen-sort.png) left 0 repeat-x !important;
_background: url(/images/sen-sort.gif) left 0 repeat-x !important;
.background:none !important;
}

.drivers_seat{
background: url('/images/drivers_seat.png') no-repeat right 40px;
   _background: url('/images/drivers_seat.gif') no-repeat right 40px;
}

#second_tier h3 .feed{
margin-left: 14px;
}

.number1{
padding-top: 70px !important;
background: url('/images/number1.png') no-repeat right 40px;
   _background: url('/images/number1.gif') no-repeat right 40px;
height: 430px !important;
}

.number2{
padding-top: 50px !important;
height: 450px !important;
background: url('/images/track.png') no-repeat 710px 53px;
   _background: url('/images/track.gif') no-repeat 710px 53px;
}

.number3{
padding-top: 50px !important;
height: 450px !important;
background: url('/images/number3.png') no-repeat 705px 53px;
   _background: url('/images/number3.gif') no-repeat 705px 53px;
}

.number4{
background: url('/images/number4.png') no-repeat right 40px;
   _background: url('/images/number4.gif') no-repeat right 40px;
}

.number5{
padding-top: 50px !important;
height: 450px !important;
background: url('/images/number5.png') no-repeat 690px 58px;
   _background: url('/images/number5.gif') no-repeat 690px 58px;
}

.b-bill{
background: url(/images/b-bill.png);
width: 543px;
padding-top: 55px;
height: 0;
overflow: hidden;
display: block;
float: right;
margin-bottom:12px;
}

.b-bill:hover{
background: url(/images/b-bill.png) 0 -56px;
}


p.topline{
float: left;
width: 100%;
margin-bottom: 15px;
}


p.topline .img_a{
min-height: 100px;
float: left !important;

}


p.topline .med_button{
float: right;
clear: none !important;
margin-bottom: 8px;
}


p.topline .med_button span{
padding-top: 8px;
padding-bottom: 6px;
}
