#blog{
width: 383px;
float: left;
margin-top: 20px;
background: url(img/home_blog_bottom.png) left bottom no-repeat;
   _background: url(img/home_blog_bottom.gif) left bottom no-repeat;
}


#heading{
padding: 15px;
background: url('img/bill_heading_blue.png') left top;
   _background: url('img/bill_heading_blue.gif') repeat left top;
height: 45px !important; 
border-bottom: 1px solid #abd1e2;
overflow: hidden;
}

#heading p{
font-size: 12px !important;
}

.congress_status{
/*
background: url('img/congress_status.png') left top no-repeat;
*/
width: 578px;
min-height: 84px;
margin: 6px 0px 0 0px;
font-size: 11px;
}


.congress_status h2{
font-size: 11px;
margin: 0 !important;
padding: 8px 0px 13px 17px !important;
font-family: Arial, Helvetica, sans-serif !important;
display: block;
float: left;
font-style: normal !important;
}

.congress_status h2 span{
font-family: Arial, Helvetica, sans-serif;
font-size: 11px !important;
display: inline !important;
padding: 13px 6px 13px 6px !important;
font-style: italic !important;
}

.next_recess{
padding: 8px 0 0 21px;
float: right;
clear: left;
width: 122px;
}

.house_sesh{
float: left;
padding: 8px 0 0 35px;
width: 132px;

}

.senate_sesh{
padding: 8px 15px 0 35px;
float: left;
width: 126px;
}

.in_session{
background: url('img/session_status.png') 13px 10px no-repeat;
   _background: url('img/session_status.gif') 13px 10px no-repeat;
}

.out_session{
background: url('img/session_status.png') 13px -46px no-repeat;
   _background: url('img/session_status.gif') 13px -46px no-repeat;
}

.recess{
background: url('img/session_status.png') left -100px no-repeat;
   _background: url('img/session_status.gif') left -100px no-repeat;
}


.back em.date{
padding: 0px 0 8px 0px;
}



#blog img.frontpage-blog-image{
clear: left;
width: 180px !important;
float: right;
margin: 0 0px 10px 20px;
border: 1px solid #ccc;
padding: 3px;
}

.blog_list{
padding-top: 0 !important;
padding-left: 20px;
float: left;
margin-left: 10px;
width: 383px;
}

.blog_list .clear{
padding: 0;
margin: 0;
height: 18px;
}

.blog_list h2{
float: left;
width: 363px;
margin: 0 10px;
height: 47px;
overflow: hidden;
/*
background: url(img/home_blog_top.png) left 0 no-repeat;
*/
}

.blog_list h2 .text{
float: left;
font-weight: normal;
font-size: 16px;
text-decoration: none;
padding: 15px 0px 15px;
}

.blog_list h2 .feed{
margin: 16px 16px;
}

.blog_list #blog .back{
/*
background: url(img/home_blog_back.png) left 0 repeat-y;
*/
clear: both;
}


div.blog_list .back h3.recent{
background: url(img/home_blog_top.png) left 0 no-repeat;
   _background: url(img/home_blog_top.gif) left 0 no-repeat;
margin: 0 !important;
padding-left: 15px !important;
}


.blog_list #blog p{
padding: 0px 0px 17px 10px;
min-height: 182px;
margin: 0 2px;
font-size: 14px;
clear: left;
color: #555;
width: 360px;
line-height: 1.6em;
overflow: hidden; /*
background: url(img/home_blog_ul.png) left bottom repeat-x;
*/
}

.blog_list #blog h3{
padding: 15px 10px;
}

.blog_list #blog h3 .date{
display: block;
color: #666;
font-size: 11px;
clear: both;
float: left;
}

.blog_list #blog h3 .gossip{
float: left;
padding: 0 0 3px 0;
}

.gossip a{
color: #333;
font-weight: normal;
font-size: 18px;
display: block;
margin-bottom: 5px;
}

#ts li a{
background: url('img/small_bill_hot.png') 14px 13px no-repeat;
   _background: url('img/small_bill_hot.gif') 14px 13px no-repeat;
}


#pis li a{
background: url('img/issues_icon.png') 15px 15px no-repeat;
   _background: url('img/issues_icon.gif') 15px 15px no-repeat;
font-weight: bold;
}

/*#ts li a span.title, */
#pis li a span.title{
padding-top: 9px;
padding-left: 10px;
}

/*
#ts li a:hover{
background: #fbfdff url('img/big_search_icon.png') 15px 15px no-repeat;
}
*/

#pr li a, #ps li a{
background: url('img/big_people_icon.png') 18px 15px no-repeat;
   _background: url('img/big_people_icon.gif') 18px 15px no-repeat;

}

#pr li a:hover, #ps li a:hover, #pis li a:hover{
background-color: #fbfdff ;

}


#blog .feed{
float: right;
}


.pop-tabs {
float: right;
padding-right: 13px;
}

.pop-tabs li{
float: left;
padding: 0 0px 0 5px;
}

.pop-tabs a{
float: left;
color: #555;
text-decoration: none;
padding: 0 6px 0 0;
background: url('img/small_button_cap.png') right 0 no-repeat;
   _background: url('img/small_button_cap.gif') right 0 no-repeat;
}

.pop-tabs a span{
display: block;
background: url('img/small_button.png') repeat left top;
   _background: url('img/small_button.gif') repeat left top;
padding: 2px 4px 3px 11px;
font-size: 11px;
}

.pop-tabs a:hover{
background: url('img/small_button_cap.png') right -23px no-repeat;
   _background: url('img/small_button_cap.gif') right -23px no-repeat;
text-decoration: none;
color: #999;
}


.pop-tabs a:hover span{
background: url('img/small_button.png') left -23px no-repeat;
   _background: url('img/small_button.gif') left -23px no-repeat;
}


.pop-tabs li.here a{
background: url('img/small_button_cap.png') right -23px no-repeat;
   _background: url('img/small_button_cap.gif') right -23px no-repeat;
text-decoration: none;
color: #999;
}


.pop-tabs li.here a span{	
background: url('img/small_button.png') left -23px no-repeat;
   _background: url('img/small_button.gif') left -23px no-repeat;
}





#second_tier{
clear: both;
float: right;
width: 966px;
padding: 35px 0 35px 35px;
}


.subcol1, .subcol2{
width: 304px;
float: left;
margin-right: 10px;
}

.box01{
width: 304px;
float: left;
}


.about_oc{
clear: both;
padding: 35px;
}


.myoc{
float: left;
padding: 10px;
margin: 0;
width: 360px;
}


.myoc h3{
color: #555;
font-size: 20px;
padding-top: 32px;
overflow: hidden;
height: 0;
float: left;
margin: 0;
width: 246px;
font-weight: normal;
background: url(img/everyone.png) left top no-repeat;
   _background: url(img/everyone_home.gif) left top no-repeat;
}

#heading div.myoc p{
color: #666;
padding: 3px 0 0 0 !important;
float: left !important;
font-size: 11px;
margin: 0 !important;
}

.myoc .small_button{
margin-left: 20px;
margin-top: 2px;
clear: none !important;
float: right !important;
}

#numbers{
float: right;
width: 490px;
height: 200px;
overflow: hidden;
padding: 35px;
}

#find_reps{
clear: both;
margin: 35px;
}


.about_oc{
width: 410px;
float: left;
}


.use_oc{
width: 410px;
float: left;
padding: 35px;
}

.use_oc .email{
background: url(img/forms.png) 0px -124px no-repeat;
   _background: url(img/forms.gif) 0px -124px no-repeat;
border: none;
padding: 7px 9px;
width: 216px;
}

.use_oc form{
width: 340px;
float: left;
padding: 20px 0;
}

.use_oc h3{
clear: both;}


#find{
clear: both;
padding: 45px 0px 5px 55px;
background: url(img/find_rep.png) 30px 30px no-repeat;
   _background: url(img/find_rep.gif) 30px 30px no-repeat;
float: left;
width: 919px;
}

.enter_zip{
background: url(img/forms.png) left -30px no-repeat;
   _background: url(img/forms.gif) left -30px no-repeat;
width: 123px !important;
border: none;
text-align: center;
padding: 7px 9px;
}

#find input{
float: left;
}

hr{
display: none;
}

#find p{
font-size: 10px;
float: left;
padding: 0px 0 0 14px;
width: 430px;
}


#find h2{
clear: both;
padding-right: 36px;
float: left;
font-size: 13px;
line-height: 3.2em;
}

#find_rep input{
margin: 5px 20px 0 0;

}

.enter_zip{
width: 130px;
}


.blog_list h2{
border-bottom: 1px solid #ddd;
}

.blog_list h2.icon .feed-button{
float: right;
}

.clear{
clear: both;
height: 30px;
}

#pitch{
float: left;
padding-bottom: 0px;
width: 100%;
clear: both;
min-height: 260px;
background: url(img/pitch_bg.png) left bottom repeat-x;
   _background: url(img/pitch_bg.gif) left bottom repeat-x;
border-bottom: 1px solid #abd1e2;
border-top: 1px solid #ddedf5;
}

.subcol1 .back{
min-height: 310px;
padding: 15px 20px 20px;
background: url(img/home_sen_back.png) left 0 repeat-y;
   _background: url(img/home_sen_back.gif) left 0 repeat-y;
}



.subcol1 img, .subcol2 img{
float: right;
}

.subcol1 .med_button, .subcol2 .med_button{
float: left;
margin-bottom: 8px;
}



.subcol1 p.clearfix, .subcol2 p.clearfix{
float: left;
overflow: hidden;
height: 230px;
}


.subcol1 p.topline, .subcol2 p.topline{
float: left;
padding-top: 13px;
}



.subcol1 h3{
font-size: 14px;
font-weight: normal;
color: #9ea16a;
padding: 16px 20px 15px;
margin: 0;
background: url(img/home_tops.png) left 0 no-repeat;
   _background: url(img/home_tops.gif) left 0 no-repeat;
}

.subcol2 .back{
min-height: 310px;
background: url(img/home_rep_back.png) left 0 repeat-y;
   _background: url(img/home_rep_back.gif) left 0 repeat-y;
padding: 15px 20px 20px;
}


.subcol2 h3{
font-size: 14px;
padding: 16px 20px 15px;
margin: 0;
font-weight: normal;
color: #928250;
background: url(img/home_tops.png) left -59px;
   _background: url(img/home_tops.gif) left -59px; no-repeat;
}

.box01 .back{
padding: 0px 0px 13px 0px;
min-height: 330px;
background: url(img/home_vote_back.png) left 0 repeat-y;
   _background: url(img/home_vote_back.gif) left 0 repeat-y;
}


.box01 h3{
font-size: 14px;
font-weight: normal;
padding: 16px 20px 15px;
margin: 0;
color: #ac80af;
background: url(img/home_tops.png) left -118px no-repeat;
   _background: url(img/home_tops.gif) left -118px no-repeat;
}


.box01 .med_button{
float: right;
margin: 18px 18px 0 0;
}


.box01 .cap{
background: url(img/home_bottoms.png) -1px -24px no-repeat;
   _background: url(img/home_bottoms.gif) -1px -24px no-repeat;
   _overflow:hidden;
padding-top: 10px;
width: 100%;
float: left;
}


.subcol1 .cap{
background: url(img/home_bottoms.png) 0px 0px no-repeat;
   _background: url(img/home_bottoms.gif) 0px 0px no-repeat;
   _overflow:hidden;
padding-top: 10px;
width: 100%;
float: left;
}



.subcol2 .cap{
background: url(img/home_bottoms.png) -1px -13px no-repeat;
   _background: url(img/home_bottoms.gif) -1px -13px no-repeat;
   _overflow:hidden;
padding-top: 10px;
width: 100%;
float: left;
}



.latest_votes{
padding: 0;
margin: 0;
}
.latest_votes li {
  margin:0 1px;
}
.latest_votes li a {
display: block;
padding: 10px 20px;
min-height:74px;
cursor:pointer;
margin: 0 3px 0 2px;
border-bottom: 1px solid #e8def8;
text-decoration:none;
}

.latest_votes a:hover{
background-color: #f8f3ff;
}


.latest_votes a{
font-weight: bold;
color: #6e6083;
}


.latest_votes .date{
float: right;
color: #c7bed6;
}

.latest_votes .type{
display: block;
font-style: italic;
font-size: 11px;
padding: 2px 0 0 0;
color: #9280ad;
}


.latest_votes .aye{
color: #569a31;
font-weight: bold;
padding-right: 3px;
}


.latest_votes .nay{
color: #d05829;
padding-right: 3px;
font-weight: bold;
}


.box03 div{

}


.box03 div h4{
display: inline;
}

.indent {
margin: 0px 0px 0;
background: url(img/home_blog_back.png) left 0 repeat-y;
   _background: url(img/home_blog_back.gif) left 0 repeat-y;
float: left;
}
	
.indent li{
padding: 0 2px;
}

.indent li.dark a{
background: #f9f9f9 url('img/home_blog_icon.png') 20px 5px no-repeat;
   _background: #f9f9f9 url('img/home_blog_icon.gif') 20px 5px no-repeat;
}


.indent li a{
display: block;
padding: 4px 20px 4px 45px;
float: left;
text-decoration: none;
background: url('img/home_blog_icon.png') 20px 5px no-repeat;
   _background: url('img/home_blog_icon.gif') 20px 5px no-repeat;
clear: both;
width: 315px;
border-bottom: 1px solid #ddd;
}

.indent li a:hover{
background: #efefef url('img/home_blog_icon.png') 20px 5px no-repeat;
   _background: #efefef url('img/home_blog_icon.gif') 20px 5px no-repeat;

text-decoration: underline;
}

.indent li a .blog_headline{
display: block;
height: 1.3em;
overflow: hidden;
float: left;
}

.indent li a .datedark{
display: block;
float: right;
}


div.pop_bills{
width: 544px;
clear: both;
float: right;
/*margin-top: 30px;*/
margin-top:12px;
margin-right: 30px;
background: url(img/home_bill_bottom.png) left bottom no-repeat;
   _background: url(img/home_bill_bottom.gif) left bottom no-repeat;
padding-bottom: 8px;
}



.pop_bills div div ul {
padding: 0px !important;
float: left;
}

.pop_bills div div ul li {
padding-left: 2px;

}


.pop_bills div div ul li a{
float: left;
width: 475px;
background: url(img/small_bill.png) 14px 13px no-repeat;
   _background: url(img/small_bill.gif) 14px 13px no-repeat;
color: #3d5975;
text-decoration: none;
padding: 11px 10px 11px 55px;
display: block;
border-bottom: 1px solid #e2ebf4;
}

.pop_bills div div ul li a:hover{
text-decoration: none;
background: #fbfdff url(img/small_bill.png) 14px 13px no-repeat;
   _background: #fbfdff url(img/small_bill.gif) 14px 13px no-repeat;
text-decoration: underline;
color: #555;
}



.pop_bills div div ul li a .title{
font-weight: bold;
float: left;
display: block;
font-size: 13px;
height: 1.4em;
overflow: hidden;
}

.pop_bills div div ul li a .title span{
font-weight: normal;
}

.pop_bills div div ul li a .date{
display: block;
float: left;
clear: left;
}

.pop_bills div div ul li a .date span{
font-weight: bold;
font-size: 11px;
}

.pop_bills div div ul li a .views_count{
display: block;
float: right;
font-size: 14px;
color: #288c09;
margin: 0px;
padding-right: 7px;
background: url(img/views.png) right top no-repeat;
   _background: url(img/views.gif) right top no-repeat;
}

.pop_bills div div ul li a .views_count span{
background: url(img/views.png) left top no-repeat;
   _background: url(img/views.gif) left top no-repeat;
display: block;
padding: 9px 4px 9px 11px;
}

.pop_bills div div ul li a .views_count span strong{ 
font-weight: bold;
}

.pop_bills .med_button{
clear: both;
float: right;
margin: 10px 10px 4px;
font-weight: bold;
}



div.pop_bills .back{
background: url(img/home_bill_back.png) left 0 repeat-y;
   _background: url(img/home_bill_back.gif) left 0 repeat-y;
clear: both;
min-height: 402px;
}



div.pop_bills div.clear{
height: 1px;
}

div.pop_bills .bill_top{
padding: 13px 0px 11px 20px;
float: left;
width: 524px;
background: url(img/home_bill_cap.png) left 0 no-repeat;
   _background: url(img/home_bill_cap.gif) left 0 no-repeat;
}


div.pop_bills .bill_top h2{
margin: 0;
padding: 0;
color: #6c92bd;
font-size: 14px;
float: left;
padding-top: 3px;
}



.login_button{
margin-right: 10px;
}


#home_pitch{
float: left;
margin-right: 0px;
width: 979px;
}


.number4{
padding-right: 20px;
}

#why_carousel{
overflow: hidden;
height: 265px;
width: 400px;
}

#why_carousel li{
height: 300px;
display: block;
width: 530px;
float: left;
padding: 45px 290px 0 40px;
}

/*#why_carousel li.number4{
padding-right: 20px !important; 
}
 */
.inner .jcarousel-skin-bravo .jcarousel-clip-horizontal {
  left:0;
  width:870px;
}             
.jcarousel-prev, .jcarousel-next{
margin: 110px 0 0 0 !important;
}


#why_carousel li p{
color: #666;
font-size: 13px;
line-height: 1.7em;
font-weight: normal;
}



#why_carousel h4{
font-size: 18px; 
color: #759dc1;
font-weight: normal;
}
#why_carousel.jcarousel-list {
  width:8000px !important;
}
.about_oc p{
padding-bottom: 10px;
}

.jcarousel-next-horizontal, .jcarousel-prev-horizontal {
margin-top: 135px;
}

.jcarousel-skin-bravo{
min-height: 205px;

}

.blog_list .med_button{
clear: none !important;
float: right;
margin-left: 14px;
}

.blog_list .med_button span{
padding-top: 6px;
padding-bottom: 5px;
}

.blog_buttons{
float: right;
padding-top: 20px;
}
	
a.med_button span{
display: block;
background: url('img/med_button.png') repeat left top;
   _background: url('img/med_button.gif') repeat left top;
padding: 6px 9px 5px 15px;
font-size: 11px;
}

.inner{
background: url(img/sen-sort.png) left 77px repeat-x !important;
   _background: url(img/sen-sort.gif) left 77px repeat-x !important;
.background:none !important;
}

.drivers_seat{
background: url('img/drivers_seat.png') no-repeat right 40px;
   _background: url('img/drivers_seat.gif') no-repeat right 40px;
}

#second_tier h3 .feed{
margin-left: 14px;
}

.number1{
padding-top: 70px !important;
background: url('img/number1.png') no-repeat right 40px;
   _background: url('img/number1.gif') no-repeat right 40px;
height: 430px !important;
}

.number2{
padding-top: 50px !important;
height: 450px !important;
background: url('img/track.png') no-repeat 710px 53px;
   _background: url('img/track.gif') no-repeat 710px 53px;
}

.number3{
padding-top: 50px !important;
height: 450px !important;
background: url('img/number3.png') no-repeat 705px 53px;
   _background: url('img/number3.gif') no-repeat 705px 53px;
}

.number4{
background: url('img/number4.png') no-repeat right 40px;
   _background: url('img/number4.gif') no-repeat right 40px;
}

.number5{
padding-top: 50px !important;
height: 450px !important;
background: url('img/number5.png') no-repeat 690px 58px;
   _background: url('img/number5.gif') no-repeat 690px 58px;
}

.b-bill{
background: url(img/b-bill.png);
width: 543px;
padding-top: 55px;
height: 0;
overflow: hidden;
display: block;
float: right;
margin-bottom:12px;
}

.b-bill:hover{
background: url(img/b-bill.png) 0 -56px;
}
