@import url('ie7.css');
#header {
  padding-bottom:15px;
}
#header #login input {
  float:left;
}
#blog h2 {
  margin-left:0px;
}
.blog_list  {
  padding-left:0px;
}
div.pop_bills{
  margin-right:10px;
}
input#search-field {
  margin-top:2px;
}
div#find {
  padding-bottom:15px;
}
div.dboxed {
  background-color:transparent;
}
.jqmWindow.scrolling .jqmClose{
right: 15px;
}           
a.writeextrigger, a#login_writerep_trigger {
  width:189px;
  margin-left:15px;
}
a.writeextrigger div, a#login_writerep_trigger div {
  padding-right:10px;
}
#tertiary-content a.large_track {
  margin-left:49px;
}
a.large_track span#b_myoc_txt {
  display:inline-block;
}
tfoot td {
background: url('/images/tfoot.gif') left top no-repeat;
}
#account #login-left {
  padding-left:30px;
  float:left !important;
  width:400px;
}        
#account #login-right {
  float:left !important;
  width:400px;
}
dd, dt {
  white-space:nowrap;
}
#users_result h3 {
  width:24px;
}
#writerep_title span, form.notebook-form h3 {
  white-space:nowrap;
}
.contain_list {
  width:617px;
  float:left;
  margin-bottom:-30px;
}
.contain_list ul#sort {
  margin-left:10px;
}
.contain_list ul.listed {
  height:564px !important;
  overflow-x:hidden !important;
}
#the-people {
 position:relative;
 top:-30px;
  background: url(/images/zip_arrow.gif) no-repeat 0px -71px;
}        
#the-people ul.listed li.person {
  display:inline-block;
}  
/*** no hover change for currently unsolveable guillotine type bug ***/
#the-people a.track_small:hover {
  background: url('/images/large_buttons.gif') right -769px no-repeat;
}
#the-people a.track_small:hover span {
    background: url('/images/large_buttons.gif') left -769px no-repeat;
}   
#the-people div.label strong {
  margin-top:9px;
}                
#the-people div.label a {
  top:9px;
}
#sort_nav.approval #timeframe a {
  white-space:nowrap;
}     
#sort_nav.approval #timeframe {
  margin-bottom:38px;
}
#sort_nav.approval #timeframe .approval {
  padding-left:400px;
}                  
#people_list li.person span.date {
  float:none;
  display:block;
  width:536px;
  text-align:center;
  height:24px;
  font-size:24px;
  line-height:24px;
  margin-bottom:20px;
  color:#C3A088;
  background:url('/images/date_span.gif') left center no-repeat;
}          
.wide #people_list li.person span.date {
  width:100%;
  background-position:49% center;
}
.jcarousel-skin-tango .jcarousel-container {
  margin-top:0px;
}
#zipcode_lookup h3 {
  margin:0 10px 0 14px;
}
#zipcode_lookup input.form {
  margin:0 10px 0 0;
}
.wide ul#sort h4 {
  padding-left:0px;
}
#bill .small_box{
   background: url('/images/stats_bottom_bill.gif') left bottom no-repeat ;
}
#bill .small_box_top {
   background: url('/images/stats_top_bill.gif') left 0 no-repeat;
}
#people .small_box{
   background: url('/images/stats_bottom_people.gif') left bottom no-repeat ;
}
#people .small_box_top {
   background: url('/images/stats_top_people.gif') left 0 no-repeat;
}
#people div.committee_list {
  margin-right:10px;
}
#votinghistory_list li {
  padding:0;
}
#votinghistory_list li a {
  padding:15px 0;
}
#voting_history a.med_button {
  margin-top:25px;
}
#fdbck {
  margin:0 0 20px 0;
}
ul.sort_comments li span {
  white-space:nowrap;
}
.replytri img {
  display:none;
}