@import url('ie7.css');

#header {
  padding-bottom:15px;
}
#header #login input {
  float:left;
}
#blog h2 {
  margin-left:0px;
}
.blog_list  {
  padding-left:0px;
}
div.pop_bills{
  margin-right:10px;
}
input#search-field {
  margin-top:2px;
}
div#find {
  padding-bottom:15px;
}
div.dboxed {
  background-color:transparent;
}
.jqmWindow.scrolling .jqmClose{
right: 15px;
}           
a.writeextrigger, a#login_writerep_trigger {
  width:189px;
  margin-left:15px;
}
a.writeextrigger div, a#login_writerep_trigger div {
  padding-right:10px;
}
a.large_track span#b_myoc_txt {
  display:inline-block;
}
tfoot td {
background: url('img/tfoot.gif') left top no-repeat;
}
#account #login-left {
  padding-left:30px;
  float:left !important;
  width:400px;
}        
#account #login-right {
  float:left !important;
  width:400px;
}
dd, dt {
  white-space:nowrap;
}
#users_result h3 {
  width:24px;
}
#writerep_title span, form.notebook-form h3 {
  white-space:nowrap;
}
.contain_list {
  width:617px;
  float:left;
  margin-bottom:-30px;
}
.contain_list ul#sort {
  margin-left:10px;
}
.contain_list ul.listed {
  height:564px !important;
  overflow-x:hidden !important;
}
#the-people {
 position:relative;
 top:-30px;
  background: url(img/zip_arrow.gif) no-repeat 0px -71px;
}           
#timeframe a {
  white-space:nowrap;
}
.jcarousel-skin-tango .jcarousel-container {
  margin-top:0px;
}
#zipcode_lookup h3 {
  margin:0 10px 0 14px;
}
#zipcode_lookup input.form {
  margin:0 10px 0 0;
}
