/* jqModal base Styling courtesy of;
	Brice Burgess <bhb@iceburg.net> */

/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
	the Window's z-index value will be set to 3000 by default (via jqModal.js). */
	
.jqmWindow {
    display: none;
    position: fixed;
    top: 10%;
    left: 50%;
z-index: 99999999 !important;
    margin-left: -385px;
    /*width: 600px;*/
    width:auto;
    background-color: #fefefe;
    color: #333;
    border: 1px solid #a0a0a0;
    padding: 30px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
    max-height:80%;
 -moz-box-shadow: 0px 5px 165px #777;
-webkit-box-shadow: 10px 5px 5px black;
        box-shadow: 10px 5px 5px black;} 
.jqmWindow.closer {
  margin-left:0px;
}
.jqmWindow.scrolling {
  max-height:60%;
  overflow:auto;
  width:700px;
}


.simple_overlay .close {
	background: url(/images/donate/close.png) no-repeat;
	position:absolute;
	right:-15px;
	top:-15px;
	cursor:pointer;
	height:27px;
	width:27px;
}


.jqmClose{
	background: url(/images/donate/close.png) no-repeat;
	position:absolute;
	right:-15px;
	top:-15px;
	cursor:pointer;
	height:27px;
	width:27px;
}





.jqmOverlay { 
background: #fff url('/images/overlay.png');
z-index: 9999999 !important;
   _background: #fff url('/images/overlay.gif');
}

/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
* iframe.jqm {position:absolute;top:0;left:0;z-index:-1;
	width: expression(this.parentNode.offsetWidth+'px');
	height: expression(this.parentNode.offsetHeight+'px');
}

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmWindow {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

div.jqmNotice img.jqResize {position: absolute; right: 2px; bottom: 2px;}

/* Notice CSS courtesy of;
   Alexandre Plennevaux <alexandre@pixeline.be>,
   Brice Burgess <bhb@iceburg.net> */

div.jqmNotice {
    display: none;
    position: relative;
    border: 1px solid #999 !important;
    padding: 0 !important;
    width: 320px;
    background:#fff url(notice/note_icon.png) 5px 5px no-repeat;
   _background:#fff url(notice/note_icon.gif) 5px 5px no-repeat;
    border: 1px solid #000;
    padding: 0;
}

.jqmnTitle{margin: 0 25px;}
  
.jqmnTitle h1{
  margin: 5px 0;
  padding-left:5px;
  width: 100%;
  
  font-size:10px;
  color:#FFFFCC;
  background-color:#505050;
}

div.jqmNotice .jqmClose {
float:right;}

.jqmnContent{
  border-top:1px;
  color:#000;
  font:12px/18pt Comic Sans, Comic Sans MS, cursive;
  padding:0 20px 5px;
}
div.jqDrag {cursor: move;}




.jqmNotice{

}

.jqmNotice div.jqmnTitle{
border-bottom: 1px solid #999 !important;
padding: 0px !important;
margin: 0 !important;
background: #ccc url();
}


.jqmNotice h1{
padding: 5px !important;
background: none !important;
margin: 0 !important;
font-size: 12px !important;
color: #333 !important;
width: inherit !important;

}

.jqmnContent p{
font-family: Arial, Helvetica, sans-serif !important;
padding: 10px;
}


.jqmnContent{

padding: 5px !important;
margin: 0 !important;
}



