#heading{
height: 45px;
border-bottom: 1px solid #cadced;
}


.profile_sidebar{
width: 250px;
float: left;
}

div.profile_content {
	float:left;
	width:730px;
	padding-top:40px;
	padding-bottom:50px;	
}


/* Profile */
ul.profile_nav {
	padding:30px 0 30px 30px;
	width:189px;
}

ul.profile_nav li a {
    display:block;
	margin:10px 0 10px 4px;
	padding-right: 17px;
	font-size:13px;	
	text-decoration: none;
	  background: url('../images/arrow_button_cap.png') right 0 no-repeat;
   _background: url('../images/arrow_button_cap.gif') right 0 no-repeat;
}

ul.profile_nav li a.active {
font-weight: bold;
color: #888;
background: url('../images/arrow_button_cap.png') right -34px no-repeat;
   _background: url('../images/arrow_button_cap.gif') right -34px no-repeat;
}


ul.profile_nav li a:active {
color: #888;
text-decoration: none;
background: url('../images/arrow_button_cap.png') right -34px no-repeat;
   _background: url('../images/arrow_button_cap.gif') right -34px no-repeat;
}

ul.profile_nav li a:active span {
background: url('../images/arrow_button.png') left -34px repeat-x;
   _background: url('../images/arrow_button.gif') left -34px repeat-x;

}

ul.profile_nav li a span {
padding: 7px 16px 8px;
display: block;
background: url('../images/arrow_button.png') left 0 repeat-x;
   _background: url('../images/arrow_button.gif') left 0 repeat-x;

}

ul.profile_nav li a.active span {
background: url('../images/arrow_button.png') left -34px repeat-x;
   _background: url('../images/arrow_button.gif') left -34px repeat-x;
}


#profile.show ul.profile_nav li#AboutMe a {
color: #888;
text-decoration: none;
background: url('../images/arrow_button_cap.png') right -34px no-repeat;
   _background: url('../images/arrow_button_cap.gif') right -34px no-repeat;
}

#profile.show ul.profile_nav li#AboutMe a span {
background: url('../images/arrow_button.png') left -34px repeat-x;
   _background: url('../images/arrow_button.gif') left -34px repeat-x;

}

#profile #the-items, #friends .invites, #friends #the-items{
/* float: right;
width: 700px;
*/
}

#friends .invites{
background: #eee;
padding: 20px;
}

#friends .invites a{
display: block;
padding: 4px;
font-size: 15px;
margin: 0px ;
float: left;
width: 100%;
}

#friends #the-items{
padding-top: 20px;
}

ul#people_list{
width: 617px;
overflow: auto;
float: left;
display: block;
}

ul#people_list li{
list-style: none;
display: block;
clear: both;
overflow: hidden;
}

ul#people_list li.state{
list-style: none;
display: block;
margin: 25px 0 10px 34px;
font-size: 13px;
}

ul#people_list li.state div.label {
display: block;
height: 10px;
border-bottom: #d1d7dc 1px solid;
margin-right: 30px;
}

ul#people_list li.state b{
display: inline;/*
background: #f4faff;
padding-right: 10px;*/
float: left;
}

ul#people_list li.state span{
display: none;

}

ul#people_list li.state a{
float:right;
background: #f4faff;
color: #666;
font-size: 10px;
padding: 0 10px;
}

ul#people_list li.help p{
padding: 30px 46px 5px;
font-size: 11px !important;
color: #999;
}

ul#people_list li.person{
list-style: none;
display: block;
padding: 17px 0 17px 10px;
}

ul#people_list li.person img{
display: block;
float: left;
margin: 0 20px 0 10px;
}

ul#people_list li.person a.name{
display: block;
font-weight: bold;
font-size: 14px;
margin: 7px 0 0 2px;
}

.person .stats {
float:left;
height:80px;
margin-top:3px;
width:170px;
}

.person .details {
float:left;
width:350px;
}

li.people {
	margin-bottom:20px;
}

li.people ul li a {
	text-decoration:underline;
}
#alerts{
background: #f9f9f9;
border: 1px solid #eee;
padding: 0 20px 20px 20px;
margin: 0 20px;
}

#alerts h3{
margin: 15px 0px 5px;
}


table.simple-table2 th, table.simple-table2 td {
	padding:5px;
}



.dog_senators{
float: right;
width: 710px;
padding: 40px 30px 0 0;
}


.watcheddog{
margin-bottom: 40px;
border-bottom: 1px solid #ddd;
}


#personphoto img{
width: 120px;
}



#about_me {
  clear:left;
  float:left;
  width: 250px;
}

#about_me textarea{
  max-width: 240px;
  min-height: 180px;
}



#about_me label{
font-weight: bold;
padding: 0;
margin: 20px 0 0 0;
display: block;}


#about_me #user_about {
  display:block;
  clear:left;
}

#personal_info {
margin: 0px 0 20px;
width: 260px;
float:left;
clear:left;
}
#personal_info p, #privacy_settings p, .settings p {
margin: 10px 0 0 0;
clear: left;
}

#personal_info label {
  float:left;
  font-weight: bold;
  width:100px;
}
.settings label {
  float:left;
  font-weight:bold;
  width:300px;
}            
a#about_ratings_trigger {
  position:relative;
  left:-340px;
}               
#user_mailing {
  float:none;
  margin:0 !important;
}


#user_email.editable-content, #user_zipcode.editable-content {
background: 0;
  margin: 0 0 0 -8px !important;
}



p span.editable-content{

  margin: 0 0 0 -8px !important;
  border: 0 !important;
  padding: 0px 8px 0px !important;

  letter-spacing: .06em;

  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal !important;
    
float: left;

}


.editable-content:hover, .editor_field{
  border-top: 1px solid #999;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;


  background-image:none;
  float:none;

  margin: 0 0 0 -8px !important;
  border: 0 !important;
  padding: 7px 8px 6px !important;

  letter-spacing: .06em;

  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal !important;
    
  -moz-box-shadow: inset 0 1px 2px #333;
  -webkit-box-shadow:inset 0 1px 2px #333;
  box-shadow: inset 0 1px 2px #333;  
  
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;

  background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#efefef)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #ddd,  #efefef);
 

}

.inplaceeditor-form{
position: relative;
}


.editor_ok_button{
position: absolute;
top: 0;
right: -63px;

  border: 1px solid #aaa;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #777;
  
  -moz-box-shadow: 0 1px 0px #ddd, inset 0 1px 0px #fff;
  -webkit-box-shadow: 0 1px 0px #ddd, inset 0 1px 0px #fff;
  box-shadow:  0 1px 0px #ddd, inset 0 1px 0px #fff;
  
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #fff,  #eee); /* for firefox 3.6+ */

  text-shadow: 0 1px 0px #fff;
opacity: .7;
color: rgba(0,0,0,.9);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold !important;
  font-size: 12px;
  text-decoration: none;
line-height: 1em;

  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius:3px;
padding: 4px 10px !important;
}


.editor_cancel{
position: absolute;
top: 0;
right: -160px;
dispaly: inline-block;
  border: 1px solid #aaa;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #777;
  
  -moz-box-shadow: 0 1px 0px #ddd, inset 0 1px 0px #fff;
  -webkit-box-shadow: 0 1px 0px #ddd, inset 0 1px 0px #fff;
  box-shadow:  0 1px 0px #ddd, inset 0 1px 0px #fff;
  
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #fff,  #eee); /* for firefox 3.6+ */

  text-shadow: 0 1px 0px #fff;
opacity: .7;
color: rgba(0,0,0,.9)
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold !important;
  
  text-decoration: none;
line-height: 1em;

  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius:3px;
padding: 6px 10px !important;
display: block;
}


.profile-deets label{
width: 100px !important;
margin-bottom: 20px;
}




.profile_content h3{
float: left;
margin-top: 20px;
margin-right: 10px;
}

#privacy_settings{
  float:left;
  width:175px;
}
#privacy_settings a {
  text-decoration:none;
}                      
.privacy {
  background:url('../images/private.png') no-repeat left center;
  padding-left:18px;
}

#privacy_settings select, #privacy_settings input {
  margin:10px 0 0 0;
  display:block;
}         
.settings {
  clear:both;
}
table.combox{
}



.update_text{
clear: both;

}


.update_text a.toggle{
float: right;
margin-bottom: 20px;
}


.update_text li{
border-bottom: 1px solid #ddd;
padding: 15px 0;
}

.update_text div.c_item{
border-bottom: 1px solid #ddd;
clear: both;
}


a.med_button.on{
background: url('../images/med_button_cap.png') right -31px no-repeat;
   _background: url('../images/med_button_cap.gif') right -31px no-repeat;
text-decoration: none;
color: #999;
}


a.med_button.on span{
background: url('../images/med_button.png') left -31px no-repeat;
   _background: url('../images/med_button.gif') left -31px no-repeat;
}



.person .stats{
width: 170px;
float: right;
height: 80px;
margin: 3px 20px 0 0;
}

.person .stats li{
line-height: 2.5em;
padding-left: 25px;
font-size: 11px;
}

#the-items div h3, #issues_tracked{
clear: both;
}


.person .med_button{
clear: none;

float: left !important;
}

.c_item span.date{
float: right;
}

#people_list{
width: 730px !important;

}

.person .details{

float: left;
width: 380px;
}
.person img{
width: 70px;
}
.person table img{
width: inherit;
}

.person .details a.name{
display: block !important;
padding-bottom: 20px;
}

.rating{
  background: url(/images/no-rating.png) 3px center no-repeat;
   _background: url(/images/no-rating.gif) 3px center no-repeat;
}
.no_rating{
  background: url(/images/no-rating.png) 3px center no-repeat;
   _background: url(/images/no-rating.gif) 3px center no-repeat;
}
.bill_count{
  background: url(/images/tiny_bill.png) left center no-repeat;
   _background: url(/images/tiny_bill.gif) left center no-repeat;
}
.cronie{
  background: url(/images/cronie.png) left center no-repeat;
   _background: url(/images/cronie.gif) left center no-repeat;
}

.stats{
}

.c_item p{
min-height: inherit;
}

.my_left {
clear: both !important;
}

.my_left h3{
clear: both;
}

th{
text-align: left;
min-width: 120px;
}

.watcheddog{
padding: 15px;
border: 1px solid #ddd;
}


.watcheddog h3{

}

.watcheddog td, .watcheddog th{
padding: 5px;
}

.watcheddog table{
width: 690px;
clear: both !important;
}

#profile.watchdog #personphoto{
float: right;
}

#profile.watchdog #personphoto img{
margin-bottom: 10px;
}



#profile.watchdog .left.details{
margin: 0 !important;
width: 600px;
}


#profile.watchdog .left.details .med_button{
margin: 0 10px 0 0;

}


#profile.watchdog li.person{
width: 490px;
padding: 0; 
float: left;
margin: 0 0 20px 0 !important;
}

ul.links_detailed li {
  margin-left:18px;
}
ul.links_detailed li.tracking {
  margin-bottom: 12px;
  clear:both;
}
div.after {
  clear:both;
  border-bottom:1px solid #DDDDDD;
}


