

#heading p{
padding: 6px 0 0 20px;
}

#content img{
float: right;
margin-bottom: 20px;
width: 370px;
padding: 9px;
border: 1px solid #ddd;
}

.tool-container.buttons img{
width: inherit !important;
}


.healthcare_panel{
height: 900px;
}

hr{
display: none;
}

.inner{

}


.healthcare_status{
padding: 12px 10px 10px 15px;
margin-bottom: 25px;
background: #eee;
float: right;
width: 505px;
border: 1px solid #ddd;
}

.healthcare_status dt{
font-weight: bold;
float: left;
padding: 0 20px 0 0;
}

.healthcare_status dd{
font-weight: bold;
float: left;
padding: 0 20px 0 0;
}


hr{
clear: both;
}

#heading{
height: 45px;
margin-top: 0;
}


.tool-container p{
min-height: 110px;
}


.tool-container a{
display: block;
margin: 10px 0;
}

.tool-container p a{
display: inline;
}


.tool-container{
width: 390px;
float: left;
padding: 35px;
height: 360px;
overflow: hidden;
}

textarea#panel_code{
width: 514px;
margin-top: 10px;
padding: 8px;
border: 1px solid #999;
height: 120px;
}

.inner h1{
clear: both;
padding-bottom: 15px;
border-bottom: 1px solid #ddd;
margin: 0 0 0 35px;
}

#preview_healthcare_panel {
    display: block;
    float: left;
    width: 400px;
}

img.noborder{
display: none;
}


#preview_healthcare_panel iframe {
margin-top: 10px;
}

#preview_healthcare_code {
    display: block;
    float: left;
    width: 500px;
}