

#heading p{
padding: 6px 0 0 20px;
}

#content img{
float: right;
margin-bottom: 20px;
width: 370px;
padding: 9px;
border: 1px solid #ddd;
}

.tool-container.buttons img{
width: inherit !important;
}


.healthcare_panel{
height: 900px;
}

hr{
display: none;
}

.inner{

}


#preview_title{
text-align: center;
color: #aaa;
}


.panel_status{
padding: 12px 10px 10px 15px;
margin: 15px 0;
background: #eee;
float: right;
width: 472px;
border: 1px solid #ddd;
margin-bottom: 50px;
}

.healthcare_status dt{
font-weight: bold;
float: left;
padding: 0 20px 0 0;
}

hr{
clear: both;
}

#heading{
height: 45px;
margin-top: 0;
}


.tool-container p{
min-height: 110px;
}


.tool-container a{
display: block;
margin: 10px 0;
}

.tool-container p a{
display: inline;
}


.tool-container{
width: 390px;
float: left;
padding: 35px;
height: 360px;
overflow: hidden;
}

textarea#panel_code{
width: 482px;
margin-top: 10px;
padding: 8px;
border: 1px solid #999;
height: 120px;
}

.inner h1{
clear: both;
padding-bottom: 15px;
border-bottom: 1px solid #ddd;
margin: 0 0 0 35px;
}


.tool_form dt{
float: left;
padding-right: 20px;
padding-top: 2px;

}


.tool_form dd{
float: left;
padding-right: 20px;


}




#customize_container{
float: left;
width: 500px;
    display: block;
border: 1px solid #eee;
background: #f9f9f9;
padding: 20px;
margin-bottom: 30px;
-moz-border-radius: 10px;  
-webkit-border-radius: 10px;


}


.preview_panel_title {
    display: block;
background: #fefefe;
padding: 10px;
text-align: center;
-moz-border-radius: 5px;
border: 1px solid #ddd;
-webkit-border-radius: 5px;
font-size: 13px;
margin: 0;
}


#preview_container{
float: right;
}


#preview_panel_code{
margin-top: 20px;
}

#preview_panel {
    display: block;
    float: left;
border: 1px solid #eee;
background: #fff url(../images/widgets/guides.gif) center bottom no-repeat;
padding: 20px;
margin-bottom: 30px;
-moz-border-radius: 10px;  
-webkit-border-radius: 10px;

}

img.noborder{
display: none;
}


#preview_panel iframe {
margin: 10px auto;
width: 320px;
}

#preview_code {
    display: block;
    float: right;
    width: 470px;
margin: 15px 30px 0 0;
}

#preview_code textarea{
    width: 480px;
}

.more_down{
    display: block;
background: #fefefe;
padding: 10px 15px;
text-align: center;
-moz-border-radius: 5px;
border: 1px solid #ddd;
-webkit-border-radius: 5px;
font-size: 13px;
margin: 0;
clear: both;
text-decoration: none;
font-weight: bold;
margin-top: 20px;
float: left;
}

.more_down span{
background: #fefefe url(../images/arrows.png) right -19px no-repeat;
padding-right: 20px;display: block;
}

.more_down:hover{
background: #fff;
border: 1px solid #999;
}


.more_up{
    display: block;
background: #fefefe;
padding: 10px 15px;
text-align: center;
-moz-border-radius: 5px;
border: 1px solid #ddd;
-webkit-border-radius: 5px;
font-size: 13px;
margin: 0;
clear: both;
text-decoration: none;
font-weight: bold;
margin-top: 20px;
float: left;
}

.more_up span{
background: #fefefe url(../images/arrows.png) right 6px no-repeat;
padding-right: 20px;display: block;
}

.more_up:hover{
background: #fff;
border: 1px solid #999;
}


#more_widgets{
clear: both;
margin-top: 20px;
float: left;
width: 100%;
}



#more_widgets a{
padding-top: 147px;
float: left;
overflow: hidden;
height: 0;
width: 147px;
margin-right: 28px;
}


#more_widgets a.climate{
background: url(../images/widgets/widgets.png) 0 0 no-repeat;
margin-right: 0px;
}


#more_widgets a.healthcare{
background: url(../images/widgets/widgets.png) -165px 0 no-repeat;
}

#more_widgets a.financial{
background: url(../images/widgets/widgets.png) -330px 0 no-repeat;
}




