/*///////////////////////////

~ Tabs & Sorting 

///////////////////////////*/
#bill_tabs h3 {
border: none;
float: none;
line-height: 1.7em;
display: inline;
}
#bill_tabs ul {
display: inline;
float: none;
}
.tabs {
float: left;
padding: 15px 0 15px 40px;
border-bottom: 1px solid #809ea3;
margin: 0 0px 0 -39px;
width: 725px;
background: -webkit-gradient(linear, left top, left bottom, from(#d7e7ea), to(#bfd3d6)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #d7e7ea,  #bfd3d6); /* for firefox 3.6+ */
}
.tabs li {
float: left;
clear: none;
padding: 0;
margin: 0;
}
.tabs li.divider {
display: none
}
.tabs li a {
float: left;
clear: none;
font-size: 14px;
margin: 0;
letter-spacing: .02em;
line-height: 1.3em;
position: relative;
z-index: 99999999;
text-decoration: none;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
width: 130px;
text-align: center;
color: rgba(54, 75, 79, 0.7);
padding: 9px 0;
cursor: pointer;
text-align: center;
-moz-outline: none;
font-weight: bold;
outline: none;
border: 1px solid #a7c3c9;
border-top: 1px solid #c6d9de;
border-bottom: 1px solid #95b6bd;
-moz-box-shadow: inset 0 1px 0px #f1fdff, 0 1px 0px #b5ced2;
-webkit-box-shadow: inset 0 1px 0px #f1fdff, 0 1px 0px #b5ced2;
box-shadow: inset 0 1px 0px #f1fdff;
background: -webkit-gradient(linear, left top, left bottom, from(#d7e7ea), to(#bfd3d6)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #e1eff2,  #ccdde0); /* for firefox 3.6+ */
}

.tabs li.all a {
-moz-border-radius-topleft: 4px;
-moz-border-radius-bottomleft: 4px;
-webkit-border-radius: 3px;
border-right: 0;
}

.tabs li.all a.active {
-moz-box-shadow: inset 1px 1px 2px #889b9e, 0 1px 0 #d8ebee;
-webkit-box-shadow: inset 1px 1px 2px #889b9e, 0 1px 0 #d8ebee;
box-shadow: inset 1px 1px 2px #889b9e, 0 1px 0 #d8ebee;
}

.tabs li.senate a {

}


.tabs li.senate.active a {

}


.tabs li.house a {
-moz-border-radius-topright: 4px;
-moz-border-radius-bottomright: 4px;
-webkit-border-radius: 4px;
border-left: 0;
}

.tabs li.house a.active {
-moz-box-shadow: inset -1px 1px 2px #889b9e, 0 1px 0 #d8ebee;
-webkit-box-shadow: inset -1px 1px 2px #889b9e, 0 1px 0 #d8ebee;
box-shadow: inset -1px 1px 2px #889b9e, 0 1px 0 #d8ebee;
}

.tabs li.all {
margin-left: 140px;
}



.tabs li a:hover,{
text-decoration: none;
background: -webkit-gradient(linear, left top, left bottom, from(#ecf9fc), to(#d6e8eb)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #ecf9fc,  #d6e8eb); /* for firefox 3.6+ */
}


.tabs li a.active,
.tabs li a.active:hover{
border: none;
color: rgba(54, 75, 79, 0.6);
  text-shadow: rgba(255, 255, 255, 0.3);
margin-top: 1px;
cursor: default;

background: -webkit-gradient(linear, left top, left bottom, from(rgba(184, 205, 209, 1)), to(rgba(197, 215, 219, 1))); /* for webkit browsers */
background: -moz-linear-gradient(top,  rgba(184, 205, 209, 1),  rgba(197, 215, 219, 1)); /* for firefox 3.6+ */
}


.sorts {
position: relative;
top: -1px;
width: 719px;
padding: 30px 6px 0px 39px;
float: left;

border-left: none;
border-right: none;
margin: 0 0px 0px -39px;

}
.sorts li.sort_label {
display: none
}
.sorts li {
clear: none
}
.sorts li a {
float: left;
clear: none;
position: relative;
z-index: 99999999;
font-size: 11px;
line-height: 1.3em;
margin: 0px 14px 0 0;
padding: 6px 20px;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
text-align: center;
text-decoration: none;
cursor: pointer;

font-weight: bold;

-moz-outline: none;
outline: none;

-moz-border-radius: 15px;
-webkit-border-radius: 3px;

  border: 1px solid #bbb;
  border-top: 1px solid #cfcfcf;

color: rgba(0, 0, 0, 0.5);
  
  -moz-box-shadow: 0 1px 0px #f0f0f0, inset 0 1px 0px #fff;
  -webkit-box-shadow: 0 1px 0px #ddd, inset 0 1px 0px #fff;
  box-shadow:  0 1px 0px #ddd, inset 0 1px 0px #fff;
  
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #fff,  #eee); /* for firefox 3.6+ */

  text-shadow: 0 1px 0px #fff;
}
.sorts li a.active {
font-weight: bold !important;
  border: 0;
margin-top: 1px;
  -moz-box-shadow: 0 1px 0px #f0f0f0, inset 0 1px 2px #888;
  -webkit-box-shadow: 0 1px 0px #ddd, inset 0 1px 0px #333;
  box-shadow:  0 1px 0px #ddd, inset 0 1px 0px #333;
  
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #ddd,  #efefef); /* for firefox 3.6+ */
color: rgba(0, 0, 0, 0.4);
  text-shadow: rgba(255, 255, 255, 0.3);

}