.rep_list{

}

.col3 {
    float: left;
    display: block;
    width: 200px;
}

.col1, .col2 {
    float: left;
    display: block;
    width: 346px;
    padding-right: 10px;
}

.col12 {
float: left;
display: block;
width: 712px;
padding-right: 20px;
}

li.person {
    height: 50px;
}

.person_box{
float: left;
width: 165px;
margin: 10px;
padding: 0;
font-size: 11px;
height: 98px;
}

.person_box h3{
margin: 0;
padding: 4px 8px;
font-size: 12px;
background: #eee;
}


.person_box p{
padding: 4px;
}


.person_box img{
padding: 10px;
}


.person_box:hover{
cursor: pointer;
background: #fff !important;
}


#heading{
height: 45px;
}

.district_description{
margin-bottom: 30px;
}

div.meta {
    font-size: 11px;
    color: #888;
}

div.meta a:link, div.meta a {
    font-weight: bold;
    text-decoration: none;
    padding-right: 5px;
}

div.meta span {
    padding-right: 5px;
}

.callout {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #eee;
    font-weight: bold;
}

.padding ul{
padding: 0;
margin: 0 !important;
}


.padding ul li{
padding: 0 0 6px 0px;
margin: 0;
}

.bill {
padding-left: 20px;
background:transparent url(/images/tiny_bill.png) no-repeat scroll 0 2px;
}

.rep {
padding-left: 20px;
background:transparent url(/images/tiny_sen.png) no-repeat scroll 0 2px;
}
