.rep_list{

}

.col3 {
    float: left;
    display: block;
    width: 200px;
}

.col1, .col2 {
    float: left;
    display: block;
    width: 346px;
    padding-right: 10px;
}

.col12 {
float: left;
display: block;
width: 712px;
padding-right: 20px;
}

li.person {
    height: 50px;
}

.person_box{
float: left;
width: 165px;
margin: 10px;
padding: 0;
font-size: 11px;
height: 98px;
}

.person_box h3{
margin: 0;
padding: 4px 8px;
font-size: 12px;
background: #eee;
}


.dark{
clear: both;
}

.district-senators-box {
  display: block;
  float: left;
  width: 460px;
}

.district-rep-box {
  display: block;
  float: left;
  width: 230px;
}

.person_box p{
padding: 4px;
}


.person_box img{
padding: 10px;
}


.person_box:hover{
cursor: pointer;
background: #fff !important;
}


.person_box_big{
padding: 10px;
bordeR: 1x solid;
float: left;
width: 200px;
line-height: 1.3em;
margin: 0 10px 10px 0 !important;
font-size: 10px;
}




.person_box_big p a.title {
font-size: 13px;
display: block;
padding: 3px 0 3px
}



.person_box_big .photo{
float: left;
margin-right: 10px;
}




.person_box_big span{
display: block;
}





#heading{
height: 45px;
}

.district_description{
padding: 30px 0;
clear: both;
}

div.meta {
    font-size: 11px;
    color: #888;
}

div.meta a:link, div.meta a {
    font-weight: bold;
    text-decoration: none;
    padding-right: 5px;
}

div.meta span {
    padding-right: 5px;
}

.callout {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #eee;
    font-weight: bold;
}

.padding ul{
padding: 0;
margin: 0 !important;
}


.padding ul li{
padding: 0 0 6px 0px;
margin: 0;
}

.bill {
padding-left: 20px;
background:transparent url(../images/tiny_bill.png) no-repeat scroll 0 2px;
}

.rep {
padding-left: 20px;
background:transparent url(../images/tiny_sen.png) no-repeat scroll 0 2px;
}



.find_form p{
padding-bottom: 10px !important;
}




.find_form input{
border: none;
padding: 6px 15px;
font-size: 10px;
margin: 5px 0 10px;
float: right;

-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;

-moz-box-shadow: 0px 1px 2px #666;
-webkit-box-shadow: 0px 1px 2px #666;
box-shadow: 0px 1px 2px #666;

filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#efefef');
background:-webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#efefef));
background:-moz-linear-gradient(top, #ffffff, #efefef);
}




.find_form input#address{
border: none;
padding: 6px 4px;
font-size: 10px;
margin: 5px 0 10px;
float: none;

-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;

-moz-box-shadow:inset 0px 1px 2px #666;
-webkit-box-shadow:inset 0px 1px 2px #666;
box-shadow:inset 0px 1px 2px #666;

filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef',endColorstr='#ffffff');
background:-webkit-gradient(linear,left top,left bottom,from(#efefef),to(#ffffff));
background:-moz-linear-gradient(top, #efefef, #ffffff);
width: 192px;
}








