#heading{
height: 45px;
border-bottom: 1px solid #cadced;

}

.videos{
background: none !important;
}

.inner{
background: url(../images/sen-sort.png) left 83px repeat-x;
   _background: url(../images/sen-sort.gif) left 83px repeat-x;
}
