#mv_overlay {
	background:transparent url(../images/transparent_bg.png) repeat scroll 0 0 !important;
   _background:transparent url(../images/transparent_bg.gif) repeat scroll 0 0 !important;
	cursor:wait !important;
	height:100% !important;
	left:0 !important;
	position:fixed !important;
	top:0 !important;
	width:100% !important;
	z-index:99 !important;
}

.modal_editor {
	background:#AAA none repeat scroll 0 0 !important;
	border:3px solid #666666 !important;
	left:2px !important;
	top:2px !important;
	right:2px !important;
	position:fixed !important;
	width:99% !important;
	height:99% !important;	
	z-index:100 !important;
border: 10px solid !important;
}
.mv_track {
	margin-bottom:20px !important;
	position:relative !important;
}
.player_select_list {
    color:white !important;
    font-size:10pt !important;
/*    display:none !important;*/
}

.player_select_list a:visited {
    color:white !important;
}
.displayHTML a:visited {
    color:white !important;
}

.ui-corner-all{

}

.ui-icon.ui-icon-comment{
width: 32px;
background: url(../images/cc.png) 0 0 no-repeat !important;
   _background: url(../images/cc.gif) 0 0 no-repeat !important;
height: 19px;
margin-left: 15px !important;
}

.ui-icon.ui-icon-comment:hover{
width: 32px;
background: url(../images/cc.png) 0 -21px no-repeat !important;
   _background: url(../images/cc.gif) 0 -21px no-repeat !important;
height: 19px;
}

.ui-icon.ui-icon-volume-on{
width: 32px;
margin-right: 3px !important;
background: url(../images/volume.png) 0 0 no-repeat !important;
   _background: url(../images/volume.gif) 0 0 no-repeat !important;
height: 19px;
margin-left: 7px !important;
}


.ui-icon.ui-icon-wrench{
display: none !important;
}

.ui-widget.time{
}

#volume_control_v0,
#volume_control_v1,
#volume_control_v2,
#volume_control_v3,
#volume_control_v4,
#volume_control_v5,
#volume_control_v6,
#volume_control_v7,
#volume_control_v8,
#volume_control_v9,
#volume_control_v10,
#volume_control_v11,
#volume_control_v12,
#volume_control_v13,
#volume_control_v14,
#volume_control_v15,
#volume_control_v16,
#volume_control_v17,
#volume_control_v18,
#volume_control_v19,
#volume_control_v20,
#volume_control_v21,
#volume_control_v22,
#volume_control_v23,
#volume_control_v24,
#volume_control_v25,
#volume_control_v26,
#volume_control_v27,
#volume_control_v28,
#volume_control_v29,
#volume_control_v30,
#volume_control_v31,{
width: 35px !important;
margin-left: 5px;
}


.vol_container.ui-corner-all.vol_container_top{
margin: -11px 0 0px 10px !important;
border: 1px solid #000;
border-bottom: 0 !important;
-moz-border-radius: 3px;
-moz-border-radius-bottomleft: 0;
-moz-border-radius-bottomright: 0;
background: #eee !important;
width: 28px;
padding-top: 5px;
padding-bottom: 5px;
}



.vol_container.ui-corner-all.vol_container_top .ui-slider-handle{

margin-left: 0px !important;
margin-bottom: -9px !important;
}

.vol_container.ui-corner-all.vol_container_top .volume_bar{
width: 10px !important;
border: 1px solid #ccc;
-moz-border-radius: 5px;

}

.vol_container.ui-corner-all.vol_container_top .volume_bar .ui-slider-range{
-moz-border-radius: 4px;
margin-bottom: -1px;
background: #ddd;
}


.play_head .ui-slider-range{
background: #aaa;
-moz-border-radius: 4px;
border: 0 !important;

}


.play_head .ui-slider-range.mv_buffer{
background: #5d8bc6;
-moz-border-radius: 4px;
border: 0 !important;

}


.ui-state-default.ui-corner-all.ui-icon_link.lButton{
    background: 0 !important;
height: 20px;
border: 0 !important;

}

.ui-state-default.ui-corner-all.ui-icon_link.lButton .ui-icon-play{
    background: url(../images/small_play.png) 6px 1px no-repeat !important;

   _background: url(../images/small_play.gif) 6px 1px no-repeat !important;
height: 20px;

}
.ui-state-default.ui-corner-all.ui-icon_link.lButton .ui-icon-play:hover{
    background: url(../images/small_play.png) 6px -27px no-repeat !important;
   _background: url(../images/small_play.gif) 6px -27px no-repeat !important;
}


.play_head.ui-slider{
border: 1px solid #ccc;
	background: url(../images/bar_bg.png) 0 -2px repeat-x !important;
   _background: url(../images/bar_bg.gif) 0 -2px repeat-x !important;
}

.ui-slider-handle.ui-state-default{
width: 13px !important;
padding: 0px 0 0 0 !important;
margin: 3px 0 0 -1px !important;
border: none !important;
background: url(../images/slider.png) no-repeat !important;
   _background: url(../images/slider.gif) no-repeat !important;
cursor: pointer !important;
height: 13px !important;
}

.ui-slider-handle.ui-state-default:hover{
background: url(../images/slider.png) 0 -16px no-repeat !important;
   _background: url(../images/slider.gif) 0 -16px no-repeat !important;
}


.ui-slider-range.ui-slider-range-min.ui-widget-header.ui-corner-all{

padding-right: 8px !important;
}

.ui-slider-range.ui-slider-range-min.ui-widget-header.ui-state-highlight.ui-corner-all.mv_buffer{
padding-right: 1px !important;
}

.ui-corner-all span{
background: none !important;
}


.ui-state-default.ui-corner-all.ui-icon_link.rButton{
border: none !important;
background: none !important;
}


.mv_playhead {
	position:absolute !important;
	top:0 !important;
	left:0 !important;
	width:17px !important;
	height:21px !important;
	/*http://art.gnome.org/themes/gtk2*/
}
.mv_status {
	font-family:"Times New Roman", Times, serif !important;
	font-size:14px !important;
	float:left !important;
}
.set_ogg_player_pref{
	text-align:left !important;
}

.inputTrackerInput {
        height:20 !important;
    	width:30 !important;
        font-family : Arial, Helvetica, sans-serif !important;
	font-size : 12px !important;
}
.mv_loading_icon {
	position:absolute !important;
	top:0px !important;
	right:0px !important;
	width:16px !important;
	height:16px !important;
}
div.floatleft, table.floatleft {
	border:0pt none !important;
	clear:left !important;
	float:left !important;
	margin:0pt 0.5em 0.5em 0pt !important;
	position:relative !important;
}




.videoPlayer
{
	color: #474747 !important;
	background: white !important;
}

.videoPlayer a:link {color: #2060c1 !important; text-decoration: underline !important;}
.videoPlayer a:visited {color: #2060c1 !important; text-decoration: underline !important;}
/*a:visited {color: #75a5e4 !important; text-decoration: underline !important;}*/ /*Not sure if you want this*/
.videoPlayer a:hover {color: #75a5e4 !important; text-decoration: underline !important;}
.videoPlayer img, .videoPlayer img a, .videoPlayer img a:hover {border: 0 !important;}

.videoPlayer h1,
.videoPlayer h2,
.videoPlayer h3,
.videoPlayer h4,
.videoPlayer h5,
.videoPlayer h6 {
	color: #242424 !important; 
	margin: 5px 0 !important; 
	padding: 0 !important;
}
.videoPlayer h1 {font-size: 24px !important;}
.videoPlayer h2 {font-size: 18px !important;}
.videoPlayer h3 {font-size: 16px !important;}
.videoPlayer h4 {font-size: 14px !important;}
.videoPlayer h5 {font-size: 13px !important; text-align: center !important;}
.videoPlayer h6 {font-size: 13px !important; color: #6c6c6c !important; padding: 10px 20px 0px 20px !important; text-transform: uppercase !important;}


/*Video player*/
.videoPlayer {
/*	width: 100% !important;*/
	color: white !important;
}
.videoPlayerSmall {
/*	width: 439px !important;*/
	height: 334px !important;
}
.videoPlayer .video {
	display: block !important;
	position: relative !important;
	font-size: 1px !important;
	height: 305px !important;
}
.videoPlayer .controls {
	height: 29px !important;	
	background: #fff url(../images/c_bg.gif) repeat-x !important;
	display:block !important;
}
.videoPlayer .controlInnerSmall {
/*	width: 430px !important;*/
	height: 29px !important;
	float: left !important;
	display: inline !important;
}
.videoPlayer .controls span.border_left {background: url(../images/player_bottom_left.png) 0 0 no-repeat !important;
   _background: url(../images/player_bottom_left.gif) 0 0 no-repeat !important; width: 4px !important; height: 29px !important; float: left !important; display: inline !important;}
.videoPlayer .controls span.border_right {background: url(../images/player_bottom_right.png) 0 0 no-repeat !important;
   _background: url(../images/player_bottom_right.gif) 0 0 no-repeat !important; width: 4px !important; height: 29px !important; float: right !important; display: inline !important;}

.videoPlayer .pause_button {
	width: 24px !important;
	height: 29px !important;
	padding: 0 3px !important;
	cursor: pointer !important;
	float: left !important;
border:none !important;
	display: inline !important;
    background: url(../images/pause.png) 9px 11px no-repeat !important;
   _background: url(../images/pause.gif) 9px 11px no-repeat !important;
}



.videoPlayer .pause_button:hover {

    background: url(../images/pause.png) 9px -10px no-repeat !important;
   _background: url(../images/pause.gif) 9px -10px no-repeat !important;
}

.videoPlayer .play_button {
	width: 24px !important;
	height: 29px !important;
	padding: 0 3px !important;
	cursor: pointer !important;
border:none !important;
	float: left !important;
	display: inline !important;
    background: url(../images/small_play.png) 9px 9px no-repeat !important;
   _background: url(../images/small_play.gif) 9px 9px no-repeat !important;
}




.videoPlayer .play_button:hover {
    background: url(../images/small_play.png) 9px -19px no-repeat !important;
   _background: url(../images/small_play.gif) 9px -19px no-repeat !important;
}

.controls a{
	display: block !important;
	height: 100% !important;
	width: 100% !important;
}
.videoPlayer .volume_icon {
	float: right !important;
	display: inline !important;
	width: 22px !important;
	height: 29px !important;
	padding: 0 0 0 0 !important;
	
}
.volume_on {	
	background: url(../images/player_volume_tag.png) 0 8px no-repeat !important;
   _background: url(../images/player_volume_tag.gif) 0 8px no-repeat !important;
}
.volume_off{
	background: url(../images/player_volume_tag_off.png) 0 8px no-repeat !important;
   _background: url(../images/player_volume_tag_off.gif) 0 8px no-repeat !important;
}

.videoPlayer .volume_control {
	width: 42px !important;
	height: 12px !important;
	margin: 9px 4px 0 0 !important;
	float: right !important;
	display: inline !important;
	background: url(../images/player_volume_seek.png) 0 0 no-repeat !important;
   _background: url(../images/player_volume_seek.gif) 0 0 no-repeat !important;
}
.videoPlayer .volume_knob {
	background: url(../images/player_slider.png) 0 0 no-repeat !important;
   _background: url(../images/player_slider.gif) 0 0 no-repeat !important;
	width: 14px !important;
	height: 14px !important;
	position: absolute !important;
	z-index: 2 !important;
	margin: -1px 0 0 3px !important;
	cursor: pointer !important;
}

.videoPlayer .closed_captions {
    background: url(../images/cc.png) 0 0 no-repeat !important;
   _background: url(../images/cc.gif) 0 0 no-repeat !important;
	height: 20px !important;
	width: 31px !important;
	cursor: pointer !important;
	float: right !important;
	display: inline !important;
	margin: 5px 6px 0 6px !important;
}


.videoPlayer .closed_captions:hover {
    background: url(../images/cc.png) 0 -21px no-repeat !important;
   _background: url(../images/cc.gif) 0 -21px no-repeat !important;
}


.videoPlayer .options {
    background: url(../images/menu.png) 0 0 no-repeat !important;
   _background: url(../images/menu.gif) 0 0 no-repeat !important;
	height: 20px !important;
	width: 27px !important;
	cursor: pointer !important;
	float: right !important;
	display: inline !important;
	margin: 5px 1px 0 0 !important;
}

.videoPlayer .options:hover {
    background: url(../images/menu.png) 0 -21px no-repeat !important;
   _background: url(../images/menu.gif) 0 -21px no-repeat !important;
}
.videoPlayer .fullscreen {
	background: url(../images/player_button_fullscreen.png) 0 0 no-repeat !important;
   _background: url(../images/player_button_fullscreen.gif) 0 0 no-repeat !important;
	height: 20px !important;
	width: 20px !important;
	cursor: pointer !important;
	float: right !important;
	display: inline !important;
	margin: 4px 0 0 0 !important;
}

.videoPlayer .time {
	line-height: 30px !important;
	height: 29px !important;
	overflow: visible !important;
	font-size: 11px !important;
	width: 80px !important;
	float: right !important;
	display: inline !important;
	font-family:arial !important;
color: #333 !important;
margin-right: 3px !important;

}

.videoPlayer .seeker {
	
float: right !important;
	display: inline !important;
width: 186px !important;
	margin: 0 10px 0 8px !important;
	height: 13px !important;
}

.videoPlayer .seeker .seeker_bar {
	float: left !important;
	display: inline !important;
    width: 100% !important;
	height: 14px !important;
	background: url(../images/bar_bg.png) repeat-x !important;
   _background: url(../images/bar_bg.gif) repeat-x !important;
	margin: 9px 0px 0 -10px !important;
	position:relative !important;

}
.videoPlayer .seeker .seeker_bar_outer {
	width: 100% !important;
	height: 13px !important;
	position: relative !important;
	z-index: 4 !important;
margin-left: -3px !important;
	background: url(../images/bar_left.png) -3px 0 no-repeat !important;
   _background: url(../images/bar_left.gif) -3px 0 no-repeat !important;
}
.videoPlayer .seeker .seeker_bar_close {
	width: 15px !important;
	height: 13px !important;
	position: relative !important;
	z-index: 4 !important;
	float: right !important;
	display: inline !important;
	margin: -13px -4px 0 0 !important;
	background: url(../images/bar_right.png) 0 0 no-repeat !important;
   _background: url(../images/bar_right.gif) 0 0 no-repeat !important;
}
.videoPlayer .seeker .mv_progress{
	width: 0% !important;
	height: 11px !important;
	left:0px !important;
	top:0px !important;
margin-top: 1px !important;
	position: absolute !important;
}
.videoPlayer .seeker .mv_playback {
	z-index: 3 !important;
	background: url(../images/played.gif) repeat-x !important;
}
.videoPlayer .seeker .mv_buffer {
	z-index: 2 !important;
	background: #ccc !important;
}
.videoPlayer .seeker .mv_highlight {
	z-index: 3 !important;
	background: #558 !important;
}
.videoPlayer .seeker .seeker_slider {
	background: url(../images/slider.png) no-repeat !important;
   _background: url(../images/slider.gif) no-repeat !important;
	width: 14px !important;
	height: 14px !important;
	position: relative !important;
	z-index: 6 !important;
	margin: -13px 0 0 0px !important;
	float: left !important;
	cursor: pointer !important;
}

.videoPlayer .seeker .seeker_slider:hover {
	background: url(../images/slider.png) 0 -16px no-repeat !important;
   _background: url(../images/slider.gif) 0 -16px no-repeat !important;

}


.tt_highlight{
	border: solid thin blue !important;
	background: #CCC !important;
}

.ui-state-default.play-btn-large {
	background: url(../images/play.png) center 0px no-repeat !important;
   _background: url(../images/play.gif) center 0px no-repeat !important;
    display:block !important;
	width: 130px !important;
	height: 0px !important;
padding-top: 90px !important;
overflow: hidden;
    margin: auto !important;
/*	margin: -202px 0 0 154px !important;*/
	position: absolute !important;
	z-index: 3 !important;
	cursor: pointer !important;
}


#v0,
.videoPlayer,
.ui-state-default{

}

.ui-state-default{
border: 1px solid #bbb !important;
}

#dc_v0{
background: 0 !important;
}



.ui-state-default.play-btn-large:hover {
background: url(../images/play.png) center -96px no-repeat !important;
   _background: url(../images/play.gif) center -96px no-repeat !important;

}

/*Video options*/
.videoOptions {
    display: none !important;
	width: 183px !important;
	overflow: hidden !important;
	position: absolute !important;
	z-index: 100 !important;
/*	margin: 0 0 0 230px !important;*/
}
*:first-child+html .videoOptions {margin-top: -20px !important;}
.videoOptionsTop {
	width: 183px !important;
	height: 32px !important;
	position: relative !important;
	z-index: 3 !important;
	background: url(../images/player_options_top.png) 0 0 no-repeat !important;
   _background: url(../images/player_options_top.gif) 0 0 no-repeat !important;
}
.videoOptionsBox {
	width: 170px !important;
	padding: 0px 11px 0 4px !important;
	position: relative !important;
	overflow: hidden !important;
	color:#6C6C6C !important;
	z-index: 3 !important;
	background: url(../images/player_options_bg.png) 0 0 repeat-y !important;
   _background: url(../images/player_options_bg.gif) 0 0 repeat-y !important;
}
.videoOptionsBot {
	width: 183px !important;
	height: 18px !important;
	position: relative !important;
	z-index: 3 !important;
	background: url(../images/player_options_bottom.png) 0 0 no-repeat !important;
   _background: url(../images/player_options_bottom.gif) 0 0 no-repeat !important;
}

.videoOptionsBox div.block {
	border-top: 1px solid #dadada !important;
}
.videoOptionsBox div.block h6 {
	padding: 0 !important;
	margin: 5px 0 !important;
	text-align: center !important;
}
.videoOptionsBox div.wide_block {
	padding: 15px 0 !important;
}
.videoOptionsBox div.first_block {
	border: 0 !important;
}
.videoOptionsBox div.block p {padding: 10px 20px !important;margin: 0 !important;}
.videoOptionsBox div.block p.short_match, .videoOptionsBox div.block p.normal_match {padding: 0 !important; margin: 0 !important;}
.videoOptionsBox div.block p a {text-decoration: none !important;}
.videoOptionsBox div.block p.short_match a {
	padding: 0 !important;
	display: block !important;
	width: 100% !important;
	border-bottom: 1px solid #dadada !important;
}
.videoOptionsBox div.block p.short_match a span {display: block !important; padding: 5px 20px !important;}
.videoOptionsBox div.block p.short_match a:hover {background: #0b68c9 url(../images/selector.png) 0 0 repeat-x !important;
   _background: #0b68c9 url(../images/selector.gif) 0 0 repeat-x !important; color: white !important;}
.videoOptionsBox div.block p.short_match a.last_match {border: 0 !important;}

.videoOptionsBox div.block p.normal_match a {
	padding: 0 !important;
	margin: 0 !important;
	display: block !important;
	width: 100% !important;
	border: 0 !important;
}
.videoOptionsBox div.block p.normal_match a span {display: block !important; padding: 3px 20px !important;}
.videoOptionsBox div.block p.normal_match a:hover {background: #0b68c9 url(../images/selector.png) 0 0 repeat-x !important;
   _background: #0b68c9 url(../images/selector.gif) 0 0 repeat-x !important; color: white !important;}
.videoOptionsBox div.block p.normal_match a.last_match {border: 0 !important;}

.videoOptionsBox div.block p.bill_match {border-bottom: 1px solid #dadada !important;}

.videoOptionsBox div.block p.last_match {border-bottom: 0 !important;}

.videoOptionsBox div.block ul {
	list-style: none !important;
	margin: 10px 0 !important;
	padding: 0 20px !important;
}
.videoOptionsBox div.block ul a { text-decoration: none !important;}
.videoOptionsBox div.block ul li { margin: 7px 0 !important;}
.videoOptionsBox div.block ul li ul {margin: 0 !important;}
.videoOptionsBox div.block ul li ul li a {color: #df5c01 !important;}
.videoOptionsBox div.block ul li ul li a:hover {color: #ffa02f !important;}

.videoOptionsBox div.block ul li span.clips {display: block !important; text-align: right !important; margin: 6px 0 18px 0 !important;}

.videoOptionsBox div.advanced a.advanced_options {color: #aaa !important; text-align: center !important; display: block !important; margin: 3px 0 !important; text-decoration: none !important;}

.videoOptionsBox div.embed_code {text-align: center !important; border-bottom: 1px solid #dadada !important; }
.videoOptionsBox div.embed_code textarea {
	margin: 10px 0 10px 0 !important;
	padding: 3px !important;
	width: 142px !important;
	height: 54px !important;
	border: 1px solid #dadada !important;
	font-family: Arial !important;
	color: #777 !important;
	font-size: 11px !important;
}
.videoOptionsBox div.embed_code button.copy_to_clipboard {
	background: #dddddd url(../images/button_to_clipboard.png) 0 0 repeat-x !important;
   _background: #dddddd url(../images/button_to_clipboard.gif) 0 0 repeat-x !important;
	border: 1px solid #a1badf !important;
	text-align: center !important;
	padding: 2px 4px !important;
	margin: 0 0 6px 0 !important;
}

.videoComplete {
/*	width: 100% !important;
	height: 100% !important;*/
	background: url(../images/transparent_bg.png) 0 0 repeat !important;
   _background: url(../images/transparent_bg.gif) 0 0 repeat !important;
	position: absolute !important;
    top:0px !important;
    left:0px !important;
	z-index: 10 !important;
	font-size:16px !important;
	overflow: hidden !important;
}

/*	margin: -305px 0 0 0 !important; */
.videoComplete .videoOptionsComplete {
	background:transparent url('images/player_video_options_bg.png') no-repeat scroll 0pt !important;
   _background:transparent url('images/player_video_options_bg.gif') no-repeat scroll 0pt !important;
	color:#7A7A7A !important;
	font-size:10pt !important;
	height:158px !important;
	left:10% !important;
	overflow:auto !important;
	padding:19px !important;
	position:relative !important;
	top:16% !important;
	width:283px !important;
}
.videoComplete .videoOptionsComplete p {text-align: center !important; margin: 3px 0 !important; padding: 0 !important;}
.videoComplete .videoOptionsComplete a {
	color: white !important;
/*	font-size: 22px !important;*/
    font-size:12px !important;
	text-decoration: underline !important;
}

.videoComplete .videoOptionsComplete a.email {
	font-size:16px !important;
	background: url(../images/ico_mail.png) right 0px no-repeat !important;
   _background: url(../images/ico_mail.gif) right 0px no-repeat !important; 
	padding: 0 50px 0 0 !important;
}

.videoComplete div.embed_code textarea {
	margin: 8px 0 8px 0 !important;
	padding: 3px !important;
	width: 258px !important;
	height: 54px !important;
	border: 1px solid #dadada !important;
	font-family: Arial !important;
	color: #777 !important;
	font-size: 11px !important;
}
.videoComplete div.embed_code button.copy_to_clipboard {
	background: #dddddd url(../images/button_to_clipboard.png) 0 0 repeat-x !important;
   _background: #dddddd url(../images/button_to_clipboard.gif) 0 0 repeat-x !important;
	border: 1px solid #3b4552 !important;
	text-align: center !important;
	padding: 2px 4px !important;
	margin: 0 0 6px 0 !important;
	float: right !important;
	display: inline !important;
}
.cl_status{
	position:absolute !important; 
	height:12px !important;
	top:0px !important;
	z-index:5 !important;
}

#SEQUENCER CSS:
#resizable css:
.ui-resizable-handle { position: absolute !important; background: #ddd !important; display: none !important; }
.ui-resizable .ui-resizable-handle { display: block }
.ui-resizable-e { z-index:5 !important; position:absolute !important; cursor: e-resize !important;
	width: 15px !important;height:19px !important; top: 0px !important; bottom: 0px !important; right: 0px !important;
	background: transparent url(../images/slider_handle_red.gif) no-repeat scroll 0% 0% !important;
}
.ui-resizable-w { z-index:5 !important; position:absolute !important; cursor: w-resize !important;
	width: 15px !important;height:19px !important; top: 0px !important; bottom: 0px !important; left: 0px !important;
	background: transparent url(../images/slider_handle_green.gif) no-repeat scroll 0% 0% !important;
}
.ui-dragSpan {filter: alpha(opacity=70) !important; -moz-opacity: .7 !important; background-color:#AAF !important; position:absolute !important; left: 10px !important; right:10px !important;height:19px !important;  }

#remote search css:

ul.rsd_cp_tabs {	
	border-bottom:1px solid #CCCCCC !important;
	display:inline !important;
	list-style-image:none !important;
	list-style-position:outside !important;
	list-style-type:none !important;	
	z-index:2 !important;			
}
ul.rsd_cp_tabs li.rsd_selected {
	background:#FFFFFF none repeat scroll 0 0 !important;
	border-bottom:0 !important;
	padding-bottom:11px !important;
	padding-top:12px !important;	
}
ul.rsd_cp_tabs li {
	display:inline !important;
	margin:0 !important;
	padding:10px 2px 10px 2px !important;
	background:#F7F7F7 url(remote_search/tab-bg.png) repeat-x scroll left bottom !important;
   _background:#F7F7F7 url(remote_search/tab-bg.gif) repeat-x scroll left bottom !important;
	border:1px solid #777 !important;	
	margin-left:7px !important;
	cursor:pointer !important;
}
.rsd_results_container{
	position:absolute !important;
	left:2px !important;
	right:2px !important;
	top:100px !important;
	bottom:2px !important;
	z-index:200 !important;
	overflow:auto !important;
}
#rsd_results {
	border-top:0 !important;
	border:1px solid #777 !important;
	position:relative !important;	
	background:#FFF !important;	
	left:2px !important;
	right:2px !important;
	bottom:2px !important;
	z-index:-1 !important;
	overflow:auto !important;
	position:absolute !important;
	top:75px !important;
}
#rsd_resource_edit{
	z-index:2 !important;
}
.mv_clip_box_result{
	padding:10px !important;
	float:left !important;
	border: thin solid #BBB !important;
	overflow:hidden !important;
}
.mv_clip_box_result_over{
	border: thin solid #F99 !important;	
}
.mv_clip_list_result{
	padding:10px !important;
	border: thin solid #BBB !important;
	clear:both !important;
}
.mv_clip_list_result_over{
	padding:10px !important;
	border: thin solid #F99 !important;
	clear:both !important;
}
.rsd_res_item{
	cursor:pointer !important;
	display:block !important;
}
#rds_results_bar{
	margin:4px !important;
	background:#DEF !important;
	height:22px !important;
}

/* edit buttons: */
.mv_edit_button{	
	width:22px !important;
	height:22px !important;
	float:left !important;
}
.mv_crop_button_base{
	background-image: url('images/stock-tool-button-crop.png') !important;
   _background-image: url('images/stock-tool-button-crop.gif') !important;
}
.mv_crop_button_selected{
	background-image: url('images/stock-tool-button-crop_over.png') !important;
   _background-image: url('images/stock-tool-button-crop_over.gif') !important;	
}
.mv_scale_button_base{
	background-image: url('images/stock-tool-button-scale.png') !important;
   _background-image: url('images/stock-tool-button-scale.gif') !important;
}
.mv_scale_button_selected{
	background-image: url('images/stock-tool-button-scale_over.png') !important;
   _background-image: url('images/stock-tool-button-scale_over.gif') !important;
}
.mv_loading_img{
	width:32px !important;
	height:32px !important;
	display:inline !important;
	padding:0px !important;
	position:absolute !important;
	background-image: url('images/loading_ani.gif') !important;
}
.mv_loading_bar_img{
	width:220px !important;
	height:19px !important;
	display:inline !important;
	position:absolute !important;
	background-image: url('images/loading_bar_ani.gif') !important;
}


.video_meta{
width: 210px !important;
margin: 2px 0 30px 0 !important;
padding: 22px !important;
border: 1px solid #ddd;
float: right;
background: #f9f9f9;
}


.video_meta p{
padding: 10px 25px 0 0;
color: #666;
}


.mvtt{

padding: 5px !important;
margin: 0 !important;
overflow: hidden !important;
border: none !important;
border-top: 1px solid !important;
}


.mvttseek{
border: 1px solid #fff !important;
width: 366px !important;
padding: 7px 0 0px 8px !important;
display: block !important;
height: 23px !important;
cursor: pointer !important;
}

.mvttseek .close{
border: 1px solid #fff !important;
width: 366px !important;
padding: 7px 0 0px 8px !important;
display: block !important;
height: 23px !important;
cursor: pointer !important;
}

.mvttseek:hover{
background: #aaa !important;
}


.mvttseek img{
display: block !important;
margin: 1px 5px 0 0 !important;
float: left !important;
}


.description{

padding: 5px 5px 0 10px !important;
margin: 0 !important;
display: block !important;
}

#metaBox_v0,
#metaBox_v1,
#metaBox_v2,
#metaBox_v3,
#metaBox_v4,
#metaBox_v5,
#metaBox_v6,
#metaBox_v7,
#metaBox_v8,
#metaBox_v9,
#metaBox_v10,
#metaBox_v11,
#metaBox_v12,
#metaBox_v13,
#metaBox_v14,
#metaBox_v15,
#metaBox_v16,
#metaBox_v17,
#metaBox_v18,
#metaBox_v19,
#metaBox_v20{
border: 1px solid #000 !important;
margin: 0 0 0 -9px !important;
height: 400px !important;
}


#mmbody_v0,
#mmbody_v1,
#mmbody_v2,
#mmbody_v3,
#mmbody_v4,
#mmbody_v5,
#mmbody_v6,
#mmbody_v7,
#mmbody_v8,
#mmbody_v9,
#mmbody_v10,
#mmbody_v11,
#mmbody_v12,
#mmbody_v13,
#mmbody_v14,
#mmbody_v15,
#mmbody_v16,
#mmbody_v17,
#mmbody_v18,
#mmbody_v19,
#mmbody_v20{
margin-top: 10px !important;
height: 371px !important;
}


#tt_mmenu_v0,
#tt_mmenu_v1,
#tt_mmenu_v2,
#tt_mmenu_v3,
#tt_mmenu_v4,
#tt_mmenu_v5,
#tt_mmenu_v6,
#tt_mmenu_v7,
#tt_mmenu_v8,
#tt_mmenu_v9,
#tt_mmenu_v10,
#tt_mmenu_v11,
#tt_mmenu_v12,
#tt_mmenu_v13,
#tt_mmenu_v14,
#tt_mmenu_v15,
#tt_mmenu_v16,
#tt_mmenu_v17,
#tt_mmenu_v18,
#tt_mmenu_v19,
#tt_mmenu_v20{
font-size: 11px !important;
padding: 0 !important;
display: block !important; 
height: 30px !important;
line-height: 30px !important;
background: #eee !important;
border-bottom: 1px solid #000 !important;
}

div.video_embed object, .video_embed embed, .video_embed object embed, .video_embed{
width: 402px !important;
float: left !important;
}

#bill.videos #content-main .videos{
padding: 35px;
background: #fff;
}

.video1,
.video2,
.video3{
clear: both;
	padding-top: 30px !important;

}