<div style="float:right;width:600px;background:#F9F9F9;
border:1px solid #EEEEEE;padding:17px 20px 20px 20px;">
For each of these issue areas, the bills listed here are the ones that have gotten the most attention from members of Congress and from the public. Many of them are actively moving through the legislative process towards becoming law. Some have already been voted on by Congress, and some are not moving in Congress, but have gained a lot of interest from the public and the media. Generally, these are the bills that people focus on when considering Congress' recent actions on these issues.
</div>
<ul class="stars-inline clearfix">
	<% @hot_bill_categories.each do |c| %>
    <li><a href="#<%= c.name %>"><%= c.name %></a></li>
  <% end %>
</ul>
<div class="hot_bill_collection">
<%= render :partial => 'hot_bill_category', :collection => @hot_bill_categories %>
</div>