<% articles = @bill.related_articles %>

<% unless articles.empty? %>
  <div class="sidebar_recent_articles">
    <h4>OC Blog Articles Related To This Bill</h4>
    <ul>
      <% articles.each do |article| %>
        <li>
          <a href="<%= url_for :controller => 'articles', :action => 'view', :id => article %>">
            <span class='title'><%= article.title %></span>
            <span class='date'><%= article.created_at.strftime("%b %d, %Y") %></span>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
