<p>
  Bill Sponsor: <a href="<%= person_url(@bill.sponsor) %>"><%= @bill.sponsor.name %></a><br />
  <% unless @bill.related_bills.empty? %>
    Related Bills: <%= @bill.related_bills.collect { |rb| "<a href=\"#{bill_path(rb)}\">#{rb.title_typenumber_only}</a>"}.join(", ") %><br />
  <% end %>
</p>