<div id="bill_summary">
  <h4>
    <%= link_to summary.title_typenumber_only, bill_path(summary) %>
  </h4>
  <%= summary.title_common rescue nil %>
  <ul class="stars-inline">
    <li><em>Sponsor: </em><%= link_to_person summary.sponsor %></li>
    <li><em>Latest action: </em><%= summary.last_action.to_s %></li>
  </ul>
</div>
