<% @page_title = bill_type_page_title(@bill_type) %>
<% @title_class = 'sort' %>

<div id="heading">
  <h2><%= @page_title %></h2>
</div>

<%= will_paginate @bills %>
<%= render(:partial => "bill/related_bills_list", :locals => { :related_bills_list => @bills } ) %>
<%= will_paginate @bills %>
