

  <div class="padding">
<%= render :partial => 'aavtabs' %>

<div class="clear"><br /></div>

<%= will_paginate @roll_calls %>

    <h3 class="header">All Votes</h3>
    <div class="votes">

<%= render :partial => 'vote', :collection => @roll_calls %>

    </div>
  </div>

<%= will_paginate @roll_calls %>
