
<div id="heading">

<h2>All Videos</h2>

</div>

<div class="padding">
	<p>Video footage of Congress made available by <a
href="http://www.http://metavid.org/wiki/">Metavid</a> and by the YouTube
<a href="http://www.youtube.com/senatehub">Senate</a> and <a
href="http://www.youtube.com/househub">House</a> hubs (via <a
href="http://www.govtrack.us/">GovTrack</a>).</p>
	<%= render :partial => 'shared/videos', :object => @videos %>
</div>

