<p>
We never believed that a political system is based solely on votes. At any and every point of our knowing of people, places, and things, there is a chance there for politics-making. We all have opinions on what makes things work for ourselves, our families, our neighborhoods, our towns, our country, because we are faced with them. No matter how trivial these opinions seem, they can be the most vivid, effective, and powerful political thoughts. Open Congress breaks into the arcane, unengaging system of Congress and its bills because getting at what bills are, what they propose to do, how they can be effective, who is behind each bill, where the money is coming from, and why the bill exists in the first place, is just the beginning of turning your societal and political needs and ideas into a real thing of our culture and country. Your ideas and thoughts are important to making our political system something that is not just about votes.
</p>
<p>
Open Congress is sponsored by the Sunlight Foundation. The Sunlight Foundation is a unique foundation whose values lay in creating a route to political reform through the funding of technological software tools. The Sunlight Foundation has partnered with the Participatory Politics Foundation over the past months to build Open Congress in a move that is notable and grand. The Participatory Politics Foundation builds software tools to maximize the effectiveness of efforts at political change on the internet. We are seeking to build more software tools to build a meritocratic, creative, participatory political system we can all call our own.
</p>
<p>
Special goes to the Center for Responsive Politics for making all of our great funding information possible.
</p>
<p>
Our team is:
<ul>
<li>Benjamin Matasar</li>
<li>Neil Cook</li>
<li>Andrew Packer</li>
<li>Tiffiniy Cheng</li>
<li>Jason Packer</li>
<li>Andy Ross</li>
<li>Ben Dean-Kawamura</li>
<li>The Sunlight Foundation Family</li>
</ul>
</p>
<p>
As you may already know, we want to hear from you. You can email all of us at:
<script type="text/javascript">m("writeus","opencongress","org","1");</script>
</p>
<p>
You can email any of us separately by using this formula: [firstname]@ppolitics.org
</p>
<p>
To send us mail:
126 Eastern Avenue
Worcester, MA 01605
</p>
<p>
And to make phone calls to us:
</p>
<p>
(508)756-7496
</p>
<p>
For press inquiries, please email tiffiniy(at)ppolitics.org or call (508)963-1096.
</p>