<style type="text/css">

div.page{
position: relative;
height: 1000px;
}
 
</style>

   <div id="heading">
      <h2>Health Care Bill - H.R. 4872 - Reconciliation Act of 2010</h2><br /><br />
   </div>

   <div class="padding" style="position: relative;">
      <div class="pretty-text">
      <p><strong>March 18, 2010</strong></p>
      <h2><strong>Update: This page is now obsolete. The <a href="http://www.opencongress.org/bill/111-h4872/text">official full bill text</a> is available on the page for <a href="http://www.opencongress.org/bill/111-h4872/show">H.R. 4872</a>.</strong></h2><br />
   <p>   Health Care Bill Summary - by OpenCongress: this is the full text of H.R. 4872, the Reconciliation Act of 2010. This bill would amend the <a href="http://www.opencongress.org/bill/111-h3590/show">Senate version</a> of the health care reform bill to bring its provisions more in line with the <a href="http://www.opencongress.org/bill/111-h3962/show">House version</a>. </p>
<br />
      <p>This is a budget reconciliation bill, resulting from instructions that were included in Congress' 2010 budget plan. Under the rules, debate of this bill would be limited to 20 hours in the Senate, meaning no filibuster, and amendments would be severely limited. The House is expected to vote on this bill on Sunday 3/21/10. The roll call is predicted to be very tight, likely coming down to a single vote.</p>
<br />
      <p>Apologies that the formatting of the bill text on this page is a bit messy &mdash; because Congress does not publish official info in ways that are compliant with the <a href="http://resource.org/8_principles.html">Eight Principles of Open Government Data</a>, the OpenCongress team was obligated to manually assemble the HTML web code from the original .pdf document. We're working now to make this bill text work like other bills on the site, so you'll be able to permalink and comment on individual sections of bill text. For a summary of the Reconciliation Bill and ongoing news and blog coverage, see our <a 0href="http://www.opencongress.org/blog">Blog</a>, follow us on <a href="http://twitter.com/opencongress">Twitter</a>, and let us know what you think by writing us with your questions and comments :: <script type="text/javascript">m("writeus","opencongress","org","1");</script>.</p>

</div>
</div>