<style type="text/css">
   table.credits {
      width: 100%;
      empty-cells: show;
      margin: 20px 0;
      border-collapse: collapse;
   }
   #col1, #col2 {
      border: 2px solid #999;
   }
   table.credits thead {
      border-bottom: 2px solid #999;
   }
   table.credits td {
      padding: 3px;
      text-align: center;
   }
   table.credits caption {
      font-weight: bold;
   }
   .padding p {
      padding-top: 1em;
   }
   .padding ul {
      padding: 1em 0 0 2em;
      list-style: disc outside;
   }
   p.caption {
      font-size: 12px;
      padding-top: 0;
      margin-top: 0;
   }
   div.padding {
      margin: 0px auto;
   }
   p u b, p strong u{
   font-size: 14px;
   margin-top: 20px;
   display: block;
   }
   #heading h2{
   padding-top: 14px !important;
   padding-left: 18px;
   }
  
  
   #heading p{
   padding-top: 15px;
   padding-left: 18px;
   }
   
   
   h3{
  
   font-size: 16px;
   }
</style>

<div id="content">
<div class="inner">

   <div id="heading">
      <h2>The President's Proposal</h2>
      <p>February 22, 2010</p>
   </div>

<div class="padding">

<h3>
   The President's Proposal puts American families and small business owners in control of their own health care.
</h3>
<ul>
   <li>It makes insurance more affordable by providing the largest middle class tax cut for health care in history, reducing premium costs for tens of millions of families and small business owners who are priced out of coverage today. This helps over 31 million Americans afford health care who do not get it today—and makes coverage more affordable for many more.
   </li>
   <li>It sets up a new competitive health insurance market giving tens of millions of Americans the exact same insurance choices that members of Congress will have.
   </li>
   <li>It brings greater accountability to health care by laying out commonsense rules of the road to keep premiums down and prevent insurance industry abuses and denial of care.
   </li>
   <li>It will end discrimination against Americans with pre-existing conditions.
   </li>
   <li>It puts our budget and economy on a more stable path by reducing the deficit by $100 billion over the next ten years—and about $1 trillion over the second decade—by cutting government overspending and reining in waste, fraud and abuse.
   </li>
</ul>
<p>
   The President's Proposal bridges the gap between the House and Senate bills and includes new provisions to crack down on waste, fraud and abuse. It includes a targeted set of changes to the Patient Protection and Affordable Care Act, the Senate-passed health insurance reform bill. The President's Proposal reflects policies from the House-passed bill and the President's priorities. Key changes include:
</p>
<ul>
   <li>Eliminating the Nebraska FMAP provision and providing significant additional Federal financing to all States for the expansion of Medicaid;
   </li>
   <li>Closing the Medicare prescription drug &#147;donut hole&#148; coverage gap;
   </li>
   <li>Strengthening the Senate bill's provisions that make insurance affordable for individuals and families;
   </li>
   <li>Strengthening the provisions to fight fraud, waste, and abuse in Medicare and Medicaid;
   </li>
   <li>Increasing the threshold for the excise tax on the most expensive health plans from $23,000 for a family plan to $27,500 and starting it in 2018 for all plans;
   </li>
   <li>Improving insurance protections for consumers and creating a new Health Insurance Rate Authority to provide Federal assistance and oversight to States in conducting reviews of unreasonable rate increases and other unfair practices of insurance plans.
   </li>
</ul>
<p>
   A detailed summary of the provisions included in the President's Plan is set forth below:
</p>
<p>
   <strong><u>Policies to Improve the Affordability and Accountability</u></strong>
</p>
<p>
   <strong>Increase Tax Credits for Health Insurance Premiums.</strong> Health insurance today often costs too much and covers too little. Lack of affordability leads people to delay care, skip care, rack up large medical bills, or become uninsured. The House and Senate health insurance bills lower premiums through increased competition, oversight, and new accountability standards set by insurance exchanges. The bills also provide tax credits and reduced cost sharing for families with modest income. The President's Proposal improves the affordability of health care by increasing the tax credits for families. Relative to the Senate bill, the President's Proposal lowers premiums for families with income below $44,000 and above $66,000. Relative to the House bill, the proposal makes premiums less expensive for families with income between roughly $55,000 and $88,000.
</p>

<table class="credits">
   <caption class="head">Tax Credits: Maximum Percent of Income Paid for Premiums</caption>
      <col id="col1" span="2"/>
      <col id="col2" span="3"/>
   <thead>
   <tr><th colspan="2">Income for a Family of Four
      <th>House
      <th>Senate
      <th>President's Proposal
   </tr>
   <tr>
      <th>From:
      <th>To:
      <th><th><th>
   </tr>
   </thead>
   <tbody>
   <tr>
      <td>$22,000
      <td>$29,000
      <td>1.5%
      <td>2.0%
      <td>2.0&ndash;3.0%
   </tr>
   <tr>  
      <td>$29,000
      <td>$33,000
      <td>1.5&ndash;3.0%
      <td>4.0&ndash;4.6%
      <td>3.0&ndash;4.0%
   </tr>
   <tr>
      <td>$33,000
      <td>$44,000
      <td>3.0&ndash;5.5%
      <td>4.6&ndash;6.3%
      <td>4.0&ndash;6.3%
   </tr>
   <tr>
      <td>$44,000
      <td>$55,000
      <td>5.5&ndash;8.0%
      <td>6.3&ndash;8.1%
      <td>6.3&ndash;8.1%
   </tr>
   <tr>
      <td>$55,000
      <td>$66,000
      <td>8.0&ndash;10.0%
      <td>8.1&ndash;9.8%
      <td>8.1&ndash;9.5%
   </tr>
   <tr>
      <td>$66,000
      <td>$77,000
      <td>10.0&ndash;11.0%
      <td>9.8%
      <td>9.5%
   </tr>
   <tr>
      <td>$77,000
      <td>$88,000
      <td>10.0&ndash;11.0%
      <td>9.8%
      <td>9.5%
   </tr>
</table>
<p class="caption">Ranges from 133-150% of poverty, then 150-400% of poverty in 50% increments, rounded to the nearest $1,000</p>

<p>
   The President's Proposal also improves the cost sharing assistance for individuals and families relative to the Senate bill. Families with income below $55,000 will get extra assistance; the additional funding to insurers will cover between 73 and 94% of their health care costs. It provides the same cost-sharing assistance as the Senate bill for higher-income families and the same assistance as the House bill for families with income from $77,000 to $88,000.
</p>

<table class="credits">
   <caption class="head">Reduced Cost Sharing: Percent of Costs Paid for by Health Insurance Plan</caption>
      <col id="col1" span="2"/>
      <col id="col2" span="3"/>
   <thead>
   <tr><th colspan="2">Income for a Family of Four
      <th>House
      <th>Senate
      <th>President's Proposal
   </tr>
   <tr>
      <th>From:
      <th>To:
      <th><th><th>
   </tr>
   </thead>
   <tbody>
   <tr>  
      <td>$29,000
      <td>$33,000
         <td>97%
         <td>90%
         <td>94%
   </tr>
   <tr>
      <td>$33,000
      <td>$44,000

         <td>93%
         <td>80%
         <td>85%
   </tr>
   <tr>
      <td>$44,000
      <td>$55,000
         <td>85%
         <td>70%
         <td>73%
   </tr>
   <tr>
      <td>$55,000
      <td>$66,000
         <td>78%
         <td>70%
         <td>70%
   </tr>
   <tr>
      <td>$66,000
      <td>$77,000
         <td>72%
         <td>70%
         <td>70%
   </tr>
   <tr>
      <td>$77,000
      <td>$88,000
      <td>70%
      <td>70%
      <td>70%
   </tr>
</table>
<p class="caption">Ranges from 133-150% of poverty, then 150-400% of poverty in 50% increments, rounded to the nearest $1,000</p>

<p>
   <b>Close the Medicare Prescription Drug &#147;Donut Hole&#148;.</b> The Medicare drug benefit provides vital help to seniors who take prescription drugs, but under current law, it leaves many beneficiaries without assistance when they need it most. Medicare stops paying for prescriptions after the plan and beneficiary have spent $2,830 on prescription drugs, and only starts paying again after out-of-pocket spending hits $4,550. This &#147;donut hole&#148; leaves seniors paying the full cost of expensive medicines, causing many to skip doses or not fill prescriptions at all—harming their health and raising other types of health costs. The Senate bill provides a 50% discount for certain drugs in the donut hole. The House bill fully phases out the donut hole over 10 years. Both bills raise the dollar amount before the donut hole begins by $500 in 2010.
</p>
<p>
   Relative to the Senate bill, the President's Proposal fills the &#147;donut hole&#148; entirely. It begins by replacing the $500 increase in the initial coverage limit with a $250 rebate to Medicare beneficiaries who hit the donut hole in 2010. It also closes the donut hole completely by phasing down the coinsurance so it is the standard 25% by 2020 throughout the coverage gap.
</p>
<p>
   <b>Invest in Community Health Centers.</b> Community health centers play a critical role in providing quality care in underserved areas. About 1,250 centers provide care to 20 million people, with an emphasis on preventive and primary care. The Senate bill increases funding to these centers for services by $7 billion and for construction by $1.5 billion over 5 years. The House bill provides $12 billion over the same 5 years. Bridging the difference, the President's Proposal invests $11 billion in these centers.
</p>
<p>
   <b>Strengthen Oversight of Insurance Premium Increases</b>. Both the House and Senate bills include significant reforms to make insurance fair, accessible, and affordable to all people, regardless of pre-existing conditions. One essential policy is &#147;rate review&#148; meaning that health insurers must submit their proposed premium increases to the State authority or Secretary for review. The President's Proposal strengthens this policy by ensuring that, if a rate increase is unreasonable and unjustified, health insurers must lower premiums, provide rebates, or take other actions to make premiums affordable. A new Health Insurance Rate Authority will be created to provide needed oversight at the Federal level and help States determine how rate review will be enforced and monitor insurance market behavior.
</p>
<p>
   <b>Extend Consumer Protections against Health Insurer Practices.</b> The Senate bill includes a &#147;grandfather&#148; policy that allows people who like their current coverage, to keep it. The President's Proposal adds certain important consumer protections to these "grandfathered" plans. Within months of legislation being enacted, it requires plans to cover adult dependents up to age 26, prohibits rescissions, mandates that plans have a stronger appeals process, and requires State insurance authorities to conduct annual rate review, backed up by the oversight of the HHS Secretary. When the exchanges begin in 2014, the President's Proposal adds new protections that prohibit all annual and lifetime limits, ban pre-existing condition exclusions, and prohibit discrimination in favor of highly compensated individuals. Beginning in 2018, the President's Proposal requires &#147;grandfathered&#148; plans to cover proven preventive services with no cost sharing.
</p>
<p>
   <b>Improve Individual Responsibility.</b> All Americans should have affordable health insurance coverage. This helps everyone, both insured and uninsured, by reducing cost shifting, where people with insurance end up covering the inevitable health care costs of the uninsured, and making possible robust health insurance reforms that will curb insurance company abuses and increase the security and stability of health insurance for all Americans. The House and Senate bills require individuals who have affordable options but who choose to remain uninsured to make a payment to offset the cost of care they will inevitably need. The House bill's payment is a percentage of income. The Senate sets the payment as a flat dollar amount or percentage of income, whichever is higher (although not higher than the lowest premium in the area). Both the House and Senate bill provide a low-income exemption, for those individuals with incomes below the tax filing threshold (House) or below the poverty threshold (Senate).The Senate also includes a &#147;hardship&#148; exemption for people who cannot afford insurance, included in the President's Proposal. It protects those who would face premiums of more than 8 percent of their income from having to pay any assessment and they can purchase a low-cost catastrophic plan in the exchange if they choose.
</p>
<p>
   The President's Proposal adopts the Senate approach but lowers the flat dollar assessments, and raises the percent of income assessment that individuals pay if they choose not to become insured. Specifically, it lowers the flat dollar amounts from $495 to $325 in 2015 and $750 to $695 in 2016. Subsequent years are indexed to $695 rather than $750, so the flat dollar amounts in later years are lower than the Senate bill as well. The President's Proposal raises the percent of income that is an alternative payment amount from 0.5 to 1.0% in 2014, 1.0 to 2.0% in 2015, and 2.0 to 2.5% for 2016 and subsequent years—the same percent of income as in the House bill, which makes the assessment more progressive. For ease of administration, the President's Proposal changes the payment exemption from the Senate policy (individuals with income below the poverty threshold) to individuals with income below the tax filing threshold (the House policy). In other words, a married couple with income below $18,700 will not have to pay the assessment. The President's Proposal also adopts the Senate's "hardship" exemption.
</p>
<p>
   <b>Strengthen Employer Responsibility.</b> Businesses are strained by the current health insurance system. Health costs eat into their ability to hire workers, invest in and expand their businesses, and compete locally and globally. Like individuals, larger employers should share in the responsibility for finding the solution. Under the Senate bill, there is no mandate for employers to provide health insurance. But as a matter of fairness, the Senate bill requires large employers (i.e., those with more than 50 workers) to make payments only if taxpayers are supporting the health insurance for their workers. The assessment on the employer is $3,000 per full-time worker obtaining tax credits in the exchange if that employer's coverage is unaffordable, or $750 per full-time worker if the employer has a worker obtaining tax credits in the exchange but doesn't offer coverage in the first place. The House bill requires a payroll tax for insurers that do not offer health insurance that meets minimum standards. The tax is 8% generally and phases in for employers with annual payrolls from $500,000 to $750,000; according to the Congressional Budget Office (CBO), the assessment for a firm with average wages of $40,000 would be $3,200 per worker.
</p>
<p>
   Under the President's Proposal, small businesses will receive $40 billion in tax credits to support coverage for their workers beginning this year. Consistent with the Senate bill, small businesses with fewer than 50 workers would be exempt from any employer responsibility policies.
</p>
<p>
   The President's Proposal is consistent with the Senate bill in that it does not impose a mandate on employers to offer or provide health insurance, but does require them to help defray the cost if taxpayers are footing the bill for their workers. The President's Proposal improves the transition to the employer responsibility policy for employers with 50 or more workers by subtracting out the first 30 workers from the payment calculation (e.g., a firm with 51 workers that does not offer coverage will pay an amount equal to 51 minus 30, or 21 times the applicable per employee payment amount). It changes the applicable payment amount for firms with more than 50 employees that do not offer coverage to $2,000—an amount that is one-third less than the average House assessment for a typical firm and less than half of the average employer contribution to health insurance in 2009. It applies the same firm-size threshold across the board to all industries. It fully eliminates the assessment for workers in a waiting period, while maintaining the 90-day limit on the length of any waiting period beginning in 2014.
</p>
<p>
   <u><b>Policies to Crack Down on Waste, Fraud and Abuse</b></u>
</p>
<p>
   The House and Senate health reform bills contain an unprecedented array of aggressive new authorities to fight waste, fraud and abuse. The President's Proposal builds on those provisions by incorporating a number of additional proposals that are either part of the Administration's FY 2011 Budget Proposal or were included in Republican plans.
</p>
<p>
   <b>Comprehensive Sanctions Database</b>. The President's Proposal establishes a comprehensive Medicare and Medicaid sanctions database, overseen by the HHS Inspector General. This database will provide a central storage location, allowing for law enforcement access to information related to past sanctions on health care providers, suppliers and related entities. (Source: H.R. 3400, &#147;Empowering Patients First Act&#148; (Republican Study Committee bill))
</p>
<p>
   <b>Registration and Background Checks of Billing Agencies and Individuals</b>. In an effort to decrease dishonest billing practices in the Medicare program, the President's Proposal will assist in reducing the number of individuals and agencies with a history of fraudulent activities participating in Federal health care programs. It ensures that entities that bill for Medicare on behalf of providers are in good standing. It also strengthens the Secretary's ability to exclude from Medicare individuals who knowingly submit false or fraudulent claims. (Source: H.R. 3970, &#147;Medical Rights &amp; Reform Act&#148; ( Kirk bill))
</p>
<p>
   <b>Expanded Access to the Healthcare Integrity and Protection Data Bank</b>. Increasing access to the health care integrity data bank will improve coordination and information sharing in anti-fraud efforts. The President's Proposal broadens access to the data bank to quality control and peer review organizations and private plans that are involved in furnishing items or services reimbursed by Federal health care program. It includes criminal penalties for misuse. (Source: H.R. 3970, &#147;Medical Rights &amp; Reform Act&#148; (Kirk bill))
</p>
<p>
   <b>Liability of Medicare Administrative Contractors for Claims Submitted by Excluded Providers</b>. In attacking fraud, it is critical to ensure the contractors that are paying claims are doing their utmost to ensure excluded providers do not receive Medicare payments. Therefore, the President's Proposal provision holds Medicare Administrative Contractors accountable for Federal payment for individuals or entities excluded from the Federal programs or items or services for which payment is denied. (Source: H.R. 3970, "Medical Rights &amp; Reform Act" (Kirk bill))
</p>
<p>
   <b>Community Mental Health Centers</b>. The President's Proposal ensures that individuals have access to comprehensive mental health services in the community setting, but strengthens standards for facilities that seek reimbursement as community mental health centers by ensuring these facilities are not taking advantage of Medicare patients or the taxpayers. (Source: H.R. 3970, "Medical Rights &amp; Reform Act" (Kirk bill))
</p>
<p>
   <b>Limiting Debt Discharge in Bankruptcies of Fraudulent Health Care Providers or Suppliers</b>. The President's Proposal will assist in recovering overpayments made to providers and suppliers and return such funds to the Medicare Trust Fund. It prevents fraudulent health care providers from discharging through bankruptcy amounts due to the Secretary from overpayments. (Source: H.R. 3970, &#147;Medical Rights &amp; Reform Act&#148; (Kirk bill))
</p>
<p>
   <b>Use of Technology for Real-Time Data Review</b>. The President's Proposal speeds access to claims data to identify potentially fraudulent payments more quickly. It establishes a system for using technology to provide real-time data analysis of claim and payments under public programs to identify and stop waste, fraud and abuse. (Source: Roskam Amendment offered in House Ways &amp; Means Committee markup)
</p>
<p>
   <b>Illegal Distribution of a Medicare or Medicaid Beneficiary Identification or Billing Privileges</b>. Fraudulent billing to Medicare and Medicaid programs costs taxpayers millions of dollars each year. Individuals looking to gain access to a beneficiary's personal information approach Medicare and Medicaid beneficiaries with false incentives. Many beneficiaries unwittingly give over this personal information without ever receiving promised services. The President's Proposal adds strong sanctions, including jail time, for individuals who purchase, sell or distribute Medicare beneficiary identification numbers or billing privileges under Medicare or Medicaid—if done knowingly, intentionally, and with intent to defraud. (Source: H.R. 3970, &#147;Medical Rights &amp; Reform Act&#148; (Kirk bill))
</p>
<p>
   <b>Study of Universal Product Numbers Claims Forms for Selected Items and Services under the Medicare Program.</b> The President's Proposal requires HHS to study and issue a report to Congress that examines the costs and benefits of assigning universal product numbers (UPNs) to selected items and services reimbursed under Medicare. The report must examine whether UPNs could help improve the efficient operation of Medicare and its ability to detect fraud and abuse. (Source: H.R. 3970, &#147;Medical Rights &amp; Reform Act&#148; (Kirk bill), Roskam Amendment offered in House Ways &amp; Means Committee markup)
</p>
<p>
   <b>Medicaid Prescription Drug Profiling</b>. The President's Proposal requires States to monitor and remediate high-risk billing activity, not limited to prescription drug classes involving a high volume of claims, to improve Medicaid integrity and beneficiary quality of care. States may choose one or more drug classes and must develop or review and update their care plan to reduce utilization and remediate any preventable episodes of care where possible. Requiring States to monitor high-risk billing activity to identify prescribing and utilization patterns that may indicate abuse or excessive prescription drug utilization will assist in improving Medicaid program integrity and save taxpayer dollars. (Source: President's FY 2011 Budget)
</p>
<p>
   <b>Medicare Advantage Risk Adjustment Errors</b>. The President's Proposal requires in statute that the HHS Secretary extrapolate the error rate found in the risk adjustment data validation (RADV) audits to the entire Medicare Advantage contract payment for a given year when recouping overpayments. Extrapolating risk score errors in MA plans is consistent with the methodology used in the Medicare fee-for-service program and enables Medicare to recover risk adjustment overpayments. MA plans have an incentive to report more severe beneficiary diagnoses than are justified because they receive higher payments for higher risk scores. (Source: President's FY 2011 Budget)
</p>
<p>
   <b>Modify Certain Medicare Medical Review Limitations</b>. The Medicare Modernization Act of 2003 placed certain limitations on the type of review that could be conducted by Medicare Administrative Contractors prior to the payment of Medicare Part A and B claims. The President's Proposal modifies these statutory provisions that currently limit random medical review and place statutory limitations on the application of Medicare prepayment review. Modifying certain medical review limitations will give Medicare contractors better and more efficient access to medical records and claims, which helps to reduce waste, fraud and abuse. (Source: President's FY 2011 Budget)
</p>
<p>
   <b>Establish a CMS-IRS Data Match to Identify Fraudulent Providers</b>. The President's Proposal authorizes the Centers for Medicare &amp; Medicaid Services (CMS) to work collaboratively with the Internal Revenue Service (IRS) to determine which providers have seriously delinquent tax debt to help identify potentially fraudulent providers sooner. The data match will primarily target certain high-risk provider types in high-vulnerability areas. This proposal also enables both IRS and Medicare to recoup any monies owed to the Federal government through this program. By requiring the Internal Revenue Service (IRS) to disclose to CMS those entities that have evaded filing taxes and matching the data against provider billing data, this proposal will enable CMS to better detect fraudulent providers billing the Medicare program. (Source: President's FY 2011 Budget)
</p>
<p>
   <b>Preventing Delays in Access to Generic Drugs.</b> Currently, brand-name pharmaceutical companies can delay generic competition through agreements whereby they pay the generic company to keep its drug off the market for a period of time, called &#147;pay-for-delay.&#148; This hurts consumers by delaying their access to generic drugs, which are usually less expensive than their branded counterparts. The Federal Trade Commission (FTC) recently estimated that this could cost consumers $35 billion over 10 years. The President's proposal adopts a provision from the bipartisan legislation that gives the FTC enforcement authority to address this problem. Specifically, it makes anti-competitive and unlawful any agreement in which a generic drug manufacturer receives anything of value from a brand-name drug manufacturer that contains a provision in which the generic drug manufacturer agrees to limit or forego research, development, marketing, manufacturing or sales of the generic drug. This presumption can only be overcome if the parties to such an agreement demonstrate by clear and convincing evidence that the pro-competitive benefits of the agreement outweigh the anti-competitive effects of the agreement. The proposal also requires the Chief Executive Officer of the branded pharmaceutical company to certify to the accuracy and completeness of any agreements required to be filed with the FTC.
</p>
<p>
   <u><b>Policies to Contain Costs and Ensure Fiscal Sustainability</b></u>
</p>
<p>
   <b>Improve Medicare Advantage Payments.</b> Medicare currently overpays private plans by 14 percent on average to provide the same benefits as the traditional program—and much more in some areas of the country. The Medicare Advantage program has also done little to reward quality. Moreover, plans have gamed the payment system in ways drive up the public cost of the program. All of this is why Medicare Advantage has become a very profitable line of business for some of the nation's largest health insurers. The Senate bill creates a bidding model for payment rates and phases in changes to limit potential disruptions for beneficiaries. The House proposal phases payments down based on local fee-for-service costs. The President's Proposal represents a compromise between the House and Senate bills, blending elements of both bills, while providing greater certainty of cost savings by linking to current fee-for-service costs. Specifically, the President's Proposal creates a set of benchmark payments at different percentages of the current average fee-for-service costs in an area. It phases these benchmarks in gradually in order to avoid disruption to beneficiaries, taking into account the relative payments to fee-for-service costs in an area. It provides bonuses for quality and enrollee satisfaction. It adjusts rebates of savings between the benchmark payment and actual plan bid to take into account the transition as well as a plan's quality rating: plans with low quality scores receive lower rebates (i.e., can keep less of any savings they generate). Finally, the President's Proposal requires a payment adjustment for unjustified coding patterns in Medicare Advantage plans that have raised payments more rapidly than the evidence of their enrollees' health status and costs suggests is warranted, based on actuarial analysis. This is the primary source of additional savings compared to the Senate proposal.
</p>
<p>
   <b>Delay and Reform the High-Cost Plan Excise Tax.</b> Part of the reason for high and rising insurance costs is that insurers have little incentive to lower their premiums. The Senate bill includes a tax on high-cost health insurance plans. CBO has estimated that this policy will reduce premiums as well as contribute to long-run deficit reduction. The President's Proposal changes the effective date of the Senate policy from 2013 to 2018 to provide additional transition time for high-cost plans to become more efficient. It also raises the amount of premiums that are exempt from the assessment from $8,500 for singles to $10,200 and from $23,000 for families to $27,500 and indexes these amounts for subsequent years at general inflation plus 1 percent. To the degree that health costs rise unexpectedly quickly between now and 2018, the initial threshold would be adjusted upwards automatically. To ensure that the tax affects firms equitably, the President's Proposal reforms it by including an adjustment for firms whose health costs are higher due to the age or gender of their workers, and by no longer counting dental and vision benefits as potentially taxable benefits. The President's Proposal maintains the Senate bill's permanent adjustment in favor of high-risk occupations such as &#147;first responders.&#148;
</p>
<p>
   <b>Broaden the Medicare Hospital Insurance (HI) Tax Base for High-Income Taxpayers.</b> Under current law, people who earn a salary pay the Medicare HI tax on their earned income, but those who have substantial unearned income do not, raising issues of fairness. The House bill includes a 5.4% surcharge on high-income households to improve the fairness of the tax system and to support health reform. The Senate bill includes an increase in the HI tax for high-income households for similar reasons, an increase of 0.9% on earnings above a specific threshold for a total employee assessment of 2.35% on these amounts. The President's Proposal adopts the Senate bill approach and adds a 2.9 percent assessment (equal to the combined employer and employee share of the existing HI tax) on income from interest, dividends, annuities, royalties and rents, other than such income which is derived in the ordinary course of a trade or business which is not a passive activity (e.g., income from active participation in S corporations) on taxpayers with respect to income above $200,000 for singles and $250,000 for married couples filing jointly. The additional revenues from the tax on earned income would be credited to the HI trust fund and the revenues from the tax on unearned income would be credited to the Supplemental Medical Insurance (SMI) trust fund.
</p>
<p>
   <b>Increase in Fees on Brand Name Pharmaceuticals.</b> As more Americans gain health insurance, more will be able to pay for prescription drugs. Moreover, the President's plan closes the Medicare &#147;donut hole,&#148; ensuring that seniors do not skip or cut back on needed prescriptions. Both policies will result in new revenue for the pharmaceutical industry. The President's Proposal increases the revenue from the assessment on this industry which is $23 billion in the Senate bill by $10 billion over 10 years. It also delays the implementation of these fees by one year, until 2011, and makes changes to facilitate administration by the IRS.
</p>
<p>
   <b>Close Tax Loopholes.</b> Adopts two House proposals to close tax loopholes: (1) Current law provides a tax credit for the production of cellulosic biofuels. The credit was designed to promote the production and use of renewable fuels. Certain liquid byproducts derived from processing paper or pulp (known as &#147;black liquor&#148; when derived from the kraft process) were not intended to be covered by this credit. The President's Proposal adopts the House bill's policy to clarify that they are not eligible for the tax credit. (2) The President's Proposal helps prevent unjustified tax shelters by clarifying the circumstances under which transactions have &#147;economic substance&#148; (as opposed to being undertaken solely to obtain tax benefits) and raises the penalties for transactions that lack economic substance. In so doing, it adopts the House's policy, with minor technical changes.
</p>
<p>
   <b>OTHER POLICY IMPROVEMENTS Improve the Fairness of Federal Funding for States</b>. States have been partners with the Federal government in creating a health care safety net for low-income and vulnerable populations. They administer and share in the cost of Medicaid and the Children's Health Insurance Program (CHIP). The Senate bill creates a nationwide Medicaid eligibility floor as a foundation for exchanges at $29,000 for a family of 4 (133% of poverty)—and provides financial support that varies by State to do so. Relative to the Senate bill, the President's Proposal replaces the variable State support in the Senate bill with uniform 100% Federal support for all States for newly eligible individuals from 2014 through 2017, 95% support for 2018 and 2019, and 90% for 2020 and subsequent years. This approach resembles that in the House bill, which provided full support for all States for the first two years, and then 91% support thereafter. The President's Proposal also recognizes the early investment that some States have made in helping the uninsured by expanding Medicaid to adults with income below 100% of poverty by increasing those States' matching rate on certain health care services by 8 percentage points beginning in 2014. The President's Proposal also provides additional assistance to the Territories, raising the Medicaid funding cap by 35% rather than the Senate bill's 30%.
</p>
<p>
   <b>Simplify Income Definitions.</b> The President's Proposal seeks to simplify eligibility rules for various existing programs as well as for the new tax credits. Consistent with some of the policies in the House bill, the President's Proposal will conform income definitions to make the system simpler for beneficiaries to navigate and States and the Federal government to administer by: changing the definition of income used for assistance from modified gross income to modified adjusted gross income, which is easier to implement; creating a 5% income disregard for certain Medicaid eligibility determinations to ease the transition from States' current use of income disregards; streamlining the income reconciliation process for determining tax credits and reduced cost sharing; and clarifying the tax treatment of employer contributions for adult dependent coverage.
</p>
<p>
   <b>Delay and Reform of Fees on Health Insurance Providers.</b> Like the drug industry, the health insurance industry stands to gain as more Americans get coverage. The Senate bill includes a $67 billion assessment on health insurers over 10 years to offset some of the cost of enrolling millions of Americans in their plans. The President's Proposal delays the assessment until 2014 to coincide with broader coverage provisions which will substantially expand the market for health insurance providers. It provides limited exemptions for plans that serve critical purposes for the community, including non-profits that receive more than 80 percent of their income from government programs targeting low-income or elderly populations, or those with disabilities, as well as for voluntary employees' beneficiary associations (VEBAs) that are not established by employers.
</p>
<p>
   <b>Delay and Convert Fee on Medical Device Manufacturers to Excise Tax.</b> The medical device industry also stands to gain from expanding health insurance coverage. Both the House and Senate bills raise $20 billion in revenue from this industry over 10 years. The President's Proposal replaces the medical device fee with an excise tax (yielding the same revenue) that starts in 2013 to facilitate administration by the IRS.
</p>
<p>
   <b>Strengthen the CLASS Act.</b> The House and Senate health insurance reform proposals include the Community Living Assistance Services and Supports (CLASS) Program, a voluntary, privately-funded long-term services insurance program. The CLASS Program offers workers an optional payroll deduction for an insurance program that provides a cash benefit if they become disabled. The President's Proposal makes a series of changes to the Senate bill to improve the CLASS program's financial stability and ensure its long-run solvency.
</p>
<p>
   <b>Protect the Social Security Trust Funds</b>. The President's Proposal provides that, if necessary, funds will be transferred to the Social Security Trust Funds to ensure that they are held harmless by the Proposal.
</p>
<p>
   <b>Ensure Effective Implementation</b>. The policy changes in health insurance reform will require careful, effective, deliberate, and transparent implementation. The President's Proposal appropriates $1 billion for the Administration to implement health insurance reform policies. It also delays several of the policies to ensure effective implementation and improve transitions: the therapeutic discovery credit, elimination of the deduction for expenses allocable to the Medicare Part D subsidy, the pharmaceutical and medical device industry fees, and the health insurance industry fee.
</p>
<p>
   Learn more about the President's Proposal at <a href="http://www.whitehouse.gov/health-care-meeting">http://www.whitehouse.gov/health-care-meeting</a>.
</p>
</div>
</div>
</div>