<ul id="issue_list" class="listed">
  <% subjects.each do |s| -%>
  <% 
    if @sort == :by_most_viewed
      link_text = "<span class='floatleft'>#{s.term}</span><span class='floatright'>(#{s.views(Settings.default_count_time)} views)</span>"
    else
      link_text = "<span class='floatleft'>#{s.term}</span><span class='floatright'>(#{s.bill_count} bills)</span>"
    end
  %>
  <li>
    <%= link_to link_text.html_safe, :controller => 'issue', :action => :show, :id => s %> 
    <br />
  </li>
<% end -%>
</ul>
