- if @group.political_notebook.nil? or @group.political_notebook.notebook_items.empty?
  %ul.activity_stream 
    %li
      %strong No one has posted anything to this group!
- else
  %ul.activity_stream
    - @group.political_notebook.notebook_notes.each do |item|
      = render :partial => "#{item.class.to_s.tableize}/group_item", :object => item
  