#group_post.jqmWindow.nopadding{ :style => 'display: none;'}
  .post-to.modal
    %h3 Post to Group
    %ul
      %li.link.button.silver.margin-right.active.post_tab
        %span.icon
        %div Link    
      %li.comment-post.button.silver.margin-right.post_tab
        %span.icon      
        %div Comment
      %li.photo.button.silver.margin-right.post_tab
        %span.icon  
        %div Photo  
      %li.video.button.silver.margin-right.post_tab
        %span.icon 
        %div Video   
      %li.letter-track.button.silver.margin-right
        %span.icon      
        %div Tracking Letter
      %li.letter-support.button.silver.margin-right
        %span.icon      
        %div Supporting Letter
      %li.letter-oppose.button.silver
        %span.icon      
        %div Opposing Letter
    .posting-modal-content
      #link_form.post_form
        = render :partial => 'notebook_links/inline_form'
      #comment_form.post_form
        = render :partial => 'notebook_notes/inline_form'
      #photo_form.post_form
        = render :partial => 'notebook_files/inline_form'
      #video_form.post_form
        = render :partial => 'notebook_videos/inline_form'



  %a.jqmClose{ :href => '#' }
    %span Close

:javascript
  var $post_links = $j('.post_tab');
  $post_links.click(function() {
    $post_links.removeClass('active');
    $j(this).addClass('active');
    var index = $post_links.index($j(this));
    $j('.post_form').hide().eq(index).show();
  });