#heading
  %h2 OpenCongress Groups
  
.padding
  .groups_search
    %span Find a group:
    = text_field_tag 'q', nil, :id => 'group_search_field'

      
  #groups_list
    = render 'groups_list', :groups => @groups

        
        
:javascript
  $j('#group_search_field').keyup(function() {
    $j.ajax({
      url:'/groups.js?q=' + $j(this).val()
    });
  });