#heading
  <a class="button silver large margin-right margin-top floatright" href="#">Create a Group</a>
  <a class="button silver large margin-right margin-top floatright" href="#">My Groups (5)</a>

  %h2 OpenCongress Groups
  
.padding
  %p.groups_instructions
    %strong Join Groups, it's free and easy. 
    Find Groups by searching for keyword, browsing by issue area, or by popularity.
  .groups_search
    %span Find a Group
    = text_field_tag 'q', nil, :id => 'group_search_field', :class => 'field'

    %span Select Issue Area
    = select_tag 'issue', options_from_collection_for_select(PvsCategory.order('name').all, :id, :name), :include_blank => true
    = image_tag 'spinner-ovals.gif',  :id => 'group_search_spinner'
    
  #groups_list
    = render 'groups_list', :groups => @groups


:javascript
  $j('#group_search_field').keyup(function() {
    $j('#group_search_spinner').show();
    $j.ajax({
      url:'/groups.js?q=' + $j(this).val()
    });
  });