%div.comment_instructions
  OpenCongress comments now support Textile formatting!
  %ul
    %li 
      To insert links, use this format:
      %strong "OpenCongress Home Page":http://www.opencongress.org
    %li 
      To insert quotes, use: 
      %strong bq. This is a quote that someone said
    %li 
      For more Textile options, see 
      %a{ :href => "http://www.textism.com/tools/textile/index.php?sample=2", :target => "_new" } this page.
      (Not all features supported.)</li>
