<div id="feed">
  <h4 <% if @content_for_sortby %>style="text-align: right; background-position: 6.5em 50%;"<% end %>>
    Track with ATOM:&nbsp;
  <a href="<%= feed['link'] %>"><img src="/images/feed.jpg" class="feed-button" alt="feed" /></a></h4>
</div>