<div id="feed">
  <h4 <% if @content_for_sortby %>style="text-align: right; background-position: 6.5em 50%;"<% end %>>
    Track with ATOM:&nbsp;
  <%= link_to(image_tag('feed.jpg', :class => 'feed-button', :alt => 'feed'), feed['link']) %>
  </h4>
</div>