<div class="sidebar_recent_articles">
  <h4>Recent OC Blog Articles</h4>
  <ul>
    <% cache("recent_oc_blog_articles") do %>
      <% Article.where('published_flag = true').order('created_at DESC').limit(5).each do |article| %>
        <li>
          <a href="<%= url_for :controller => 'articles', :action => 'view', :id => article %>">
            <span class='title'><%= article.title %></span>
            <span class='date'><%= article.created_at.strftime("%b %d, %Y") %></span>
          </a>

        </li>
      <% end %>
    <% end %>
  </ul>
</div>