<%= billsearch_spinner %>

<p>
  Found <b><%= @bill_count %></b> bills that matched your search. To add a bill to your profile, just select how you're following the bill, 
  add a comment if you choose (e.g., "This bill is important because..."), and click "Add Bill". The bill and its 
  important details will be added to your profile.
</p>
<form id="dummyform"></form>
<%= render :partial => 'billaddform', :collection => @bills %>
