<div>
  <div style="float: right; padding-left: 10px;"><%= image_tag 'fb_app_screenshot.jpg' %></div>
  
  <p>With the OpenCongress Facebook app, you can put bills that interest you on your Facebook profile.
  It's an easy way to tell your friends which pieces of legislation you are following.  You can
  also add a comment about why you think the bill is important.</p>
  <p>First, you'll need to add the OpenCongress application to your Facebook account. Click the link below to get started.</p>
<span style="font-size: 1.5em;">
  <a href="http://www.facebook.com/add.php?api_key=725bb7d849ebe6435be7278563489ae9">Add OpenCongress Application To Your Facebook Account >></a>
</span>
</div>