<h2>Latest happenings in Congress</h2>

<%= render :partial => 'latest_actions', :object => @actions,
  :locals => { :max_actions => 24 } %>
  
<h2>Recent Happenings</h2>
<span>No current happenings.</span>