<% for column in Tagg.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @tag.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @tag %> |
<%= link_to 'Back', :action => 'list' %>
