Edit Summaries for <%= @bill.typenumber %>

<% form_tag :action => 'update', :id => @bill.ident do -%>
  <p>Plain Language Summary</p>
  <%= text_area :bill, :plain_language_summary, :rows => 15 %></p>
  <p>Caption</p>
  <%= text_area :bill, :caption, :rows => 5 %>
  
  <p><%= submit_tag 'Edit' %></p>
<% end %>
