<% form_tag :action => 'edit' do -%>
  <p><label for="bill_summary">Enter bill ID as it appears in URL (ie, "110-h512")</label><br/>
  <%= text_field_tag 'id' %></p> 
  
  <%= submit_tag 'Edit' %>
<% end %>

<p>Or choose from the bills listed on the homepage:
   <ul>
   <% PageView.popular('Bill', DEFAULT_COUNT_TIME, 6, DEFAULT_CONGRESS, true).each do |bill| %>
   <li><%= link_to bill.typenumber, {:controller => 'admin/bill_summaries', :action => 'edit'} %> - <%= truncate(bill.title_common, :length => 45) rescue nil %></li>
   <% end %>
   </ul>
</p>