<div class="padding">
  <h1>Listing PVS Category Mappings</h1>

  <table>
    <tr>
      <th>Mapping</th>
    </tr>

  <% @pvs_category_mappings.each do |pvs_category_mapping| %>
    <tr>
      <td><%= pvs_category_mapping.to_s %></td>
      <td><%= link_to 'Destroy', admin_pvs_category_mapping_path(pvs_category_mapping), :confirm => 'Are you sure?', :method => :delete, :class => 'button silver small' %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'New Mapping', new_admin_pvs_category_mapping_path, :class => 'button blue huge' %>
</div>