<h1>Listing districts</h1>

<table>
  <tr>
    <th>District number</th>
    <th>State</th>
  </tr>

<% for district in @districts %>
  <tr>
    <td><%=h district.district_number %></td>
    <td><%=h district.state_id %></td>
  </tr>
<% end %>
</table>

<br />
