<h1>Listing sidebar_boxes</h1>

<table>
  <tr>
  </tr>

<% @sidebar_boxes.each do |sidebar_box| %>
  <tr>
    <td><%= link_to 'Show', sidebar_box %></td>
    <td><%= link_to 'Edit', edit_sidebar_box_path(sidebar_box) %></td>
    <td><%= link_to 'Destroy', sidebar_box, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New sidebar_box', new_sidebar_box_path %>