<% if @bills and !@bills.empty? %>
  Click on the bill title to select bill:<br />
  <% @bills.each do |b| %>
    <a href="javascript:setBillStatusBillId('<%= b.ident %>')"><%= truncate(b.title_full_common, :length => 130) %></a> 
    [<a href="/bill/<%= b.ident %>/show" target="_blank">view bill</a>]<br />
  <% end %>
<% else %>
  No bills found with that bill number
<% end %>

<script type="text/javascript" language="javascript">
    // <![CDATA[
      new Effect.Highlight('bill_num_search_results', {duration: 3});
    // ]]>
</script>