<p>First, install the Congrelicious plugin into your Firefox web browser. (This process may take a minute, which is normal.) You'll now have access to several new ways of sharing and tagging information about Congress.</p>

<p>First, when you visit OpenCongress.org, you'll find a new list of tags displayed on the homepage (for example, "Iraq"). Clicking on any of these will bring you to the Congrelicious account's del.icio.us page of links for that particular tag ("Iraq").</p>

<p>Second, from inside any page on OpenCongress, you can now post links about Congress to your del.icio.us account. To see how this works, visit an OpenCongress page for a Member of Congress, for example, <a href="http://www.opencongress.org/people/show/300071_john_mccain">Sen. John McCain</a> or <a href="http://www.opencongress.org/people/show/400629_barack_obama">Sen. Barack Obama</a>. Under the section titled "Voting Trends Analysis," you'll find a new section called "Congrelicious" on the right-hand side of the page. There, you'll see new links about that Member of Congress -- for example, videos from YouTube, audio from NPR, video from C-SPAN, and more. Click "play" on videos or audio and you can watch YouTube videos embedded within that page on OpenCongress.</p>

<p>If you'd like to share a link about Sen. McCain or Sen. Obama, just click on the link that reads "Add a related link to this page" and fill in the information -- Congrelicious automatically adds special tags, so that anyone else with the Congrelicious plugin will have access to your link on that OpenCongress page. This same process also works for most individual pages on OpenCongress: you can add a Congrelicious link for any bill, Member of Congress, committee, and issue area.</p>

<p>In the future, OpenCongress.org is planning further integration with del.icio.us and other social bookmarking services. Thanks again to Dan Phiffer for creating this great tool.</p>
<div class="tool-img">
    <a href="/resources/congrelicious"><img src="/images/tool-congrelicious.gif"></a>
  </div>
<a class="arrow blog_headline" target="_new" href="http://www.congrelicious.com/">Download and get started with Congrelicious</a> 
