<div id="heading">
  <h2><%= @page_title = 'Demand Question Time' %></h2>  <p>A collaborative community project for greater transparency and accountability in our national political discussion.</p>

</div>
<div class="padding">

<div class="leftcolumn">

<p class="normal_p"><strong>"Demand Question Time"</strong> is a collaborative community project for greater transparency and accountability in our national political discussion. On February 2nd, 2010, the country watched with interest as President Obama held a unique question-and-answer session with members of the House Republican caucus in Maryland. This relatively unique event was widely hailed as a productive and engaging back-and-forth about major political issues facing Congress.</p>
<p class="normal_p">


Towards the goal of making such public discussions a regular and useful part of today's political debate, a group of self-organized founders launched a non-commercial and open-access petition drive at <a href="http://demandquestiontime.com/">Demand Question Time</a>. The Participatory Politics Foundation, represented by OpenCongress Director David Moore, were part of the of the original signatories to the open letter, which also included approximately 60 leading open-source technologists, political bloggers from both sides of the aisle, journalists, academics, and issue-based organizations. As of this writing, close to 20,000 individuals across the country have added their signatures to the petition, which you can do below. PPF and OpenCongress endorse Question Time as a significant first step towards radical transparency and full compliance by our democratically-elected officials with the <a href="http://wiki.opengovdata.org/index.php?title=Main_Page">Eight Principles of Open Government Data</a>. So add your support below, and let us know what you think of having regular Question Time by emailing us :: <script type="text/javascript">m("writeus","opencongress","org","1");</script>.</p>

</div>


<div class="rightcolumn">

<iframe src="https://spreadsheets.google.com/embeddedform?formkey=dHkyOUtmajQ1M3dzU21jc2RBQ3ZfTmc6MA"
width="430" height="700" frameborder="0" marginheight="0"
marginwidth="0">Loading...</iframe>
</div>

</div>
