<div id="heading">
  <h2>Your subscription is pending</h2>
</div>
<div class="padding">
  <p>
    Thanks! We've received your request. Check your inbox shortly for a confirmation email. If you do not see a confirmation email, please check your spam/junk mail folder.
  </p>
</div>
