<h1>Editing featured_person</h1>

<% form_tag :action => 'update', :id => @featured_person do -%>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @featured_person %> |
<%= link_to 'Back', :action => 'list' %>
