<% for column in FeaturedPerson.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @featured_person.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @featured_person %> |
<%= link_to 'Back', :action => 'list' %>
