.status_bar
  .step{ :class => (step == 1) ? 'active' : 'inactive' }
    %span 1.
    Choose Your Position
  .step{ :class => (step == 2) ? 'active' : 'inactive' }
    %span 2.
    Write Your Letter
  .step.noborder{ :class => (step == 3) ? 'active' : 'inactive' }
    %span 3.
    Share Your Communication