<% if can_blog? %>
  <div class="padding">
    <% form_for :roll_call, make_hot, :url => { :controller => :roll_call, :action => 'update_hot', :id => make_hot.id } do |f| %>
      <strong>Hot vote: </strong>
      <%= f.select :is_hot, [true, false] %>
      Editorial Title: <%= f.text_field :title %>
      <%= submit_tag "Update" %>
    <% end %>
  </div>
<% end %>