<div class="tos">
<p>
OpenCongress has recently updated our official <a href="http://www.opencongress.org/about/terms_of_service">Terms of Service</a> and <a href="http://www.opencongress.org/about/privacy_policy">Privacy Policy</a>. Please review these policies and confirm you accept them before continuing.</p>

<% form_tag '/account/accept_tos' do |f| %>

<div title="Account signup" id="signupform" class="form">
  <%= error_messages_for 'user' %><br />
  <table cellspacing="0" cellpadding="0">
		<tr>
 		  <td><%= check_box_tag "accept_tos" %></td>
 		  <td><label for "accept_tos">I agree to the <a href="/about/terms_of_service">Terms of Service</a> and <a href="/about/privacy_policy">Privacy Policy</a>.</td>
 		</tr>
 	</table>
 	<input type="image" src="/images/agree.png" value="submit" />
</div>

<% end %>

</div>