<div class="padding">
  <h3>Thank you for Signing Up</h3>
  <p>A confirmation email has been sent to the email address you registered: <%=h @user.email %></p>

  <p>Please click the link in that email, then you'll be able to login.</p>
  <p>Thanks! - The OpenCongress Team</p>
</div>