#heading
  %h2 Facebook Connect
  
.padding
  .registration_complete
    %h2 Almost Done!
    %p.behave We just need a little more info to create and link your OpenCongress account.
    %ul
      %li 
        %strong Create a user name.
        This is what will show up when you leave comments and track bills.
      %li 
        %strong Enter your zipcode.
        We'll use this to figure out who is representing you in Congress
      %li
        %strong Accept our Terms of Service
      
    = render 'complete_signup', :user => @user, :action => 'facebook_complete'
