<div class="padding">
  <h2>Forgot Password</h2>
  <% form_for :user do |f| %>
    <p class="behave">What is the email address used to create your account?</p>
    <p class="behave"><%= f.text_field :email, :size => 50 %></p>
    <p class="clear"><%= submit_tag 'Request Password' %></p>
  <% end %>
</div>