<h1>Forgot Password</h1>
<% form_for :user do |f| %>
    What is the email address used to create your account?<br />
    <%= f.text_field :email, :size => 50 %><br />
    <%= submit_tag 'Request Password' %>
<% end %>
