<div class="padding">
  <h2>Reset Password</h2>
  <% form_for :user do |f| %>
    Password:<br />
    <%= f.password_field :password %><br />
    Confirm Password:<br />
    <%= f.password_field :password_confirmation %><br />
    <%= submit_tag "Reset Your Password" %>
  <% end %>
</div>