<div id="heading">

<h2>Register for a Free OpenCongress Account</h2>

</div>

<div class="why_get floatright padding">
<h4>Creating an account is free and takes less than a minute</h4>
<ul class="star">
 <li class="top-star">Track bills, issues, and votes on your personal profile</li>

 <li class="top-star">Use social networking to share the best info about your interests</li>

 <li class="top-star">Vote and comment on bills you support or oppose.</li>

 <li>Contact your elected officials with your opinions</li>

 <li class="top-star">Help build public knowledge about Congress!</li>
</ul>
</div>



<div class="floatleft padding paddingtopnone">
	
	

	<%= render :partial => "signup_form" %>

	<div style="clear:both;margin-bottom:1em;"></div>


	
</div>
</div></div>

