<h3>Why Login?</h3>
Creating a free account with OpenCongress allows you to:

- Build a personal "My OpenCongress" page to track bills and issues

- Become friends with other users and share your interests

- Vote on bills you support or oppose, and leave comments explaining why

- Participate in building public knowledge about Congress! 
