<% form_for :notebook_file, 
				   :url => formatted_political_notebook_notebook_files_path(:login =>current_user.login, :format => 'js'),
				   :html => {:id => "add-file-form", :class => "notebook-form", :multipart => true, :target => 'upload_frame' } do |f| %>

	<h3>Add a File</h3>
	<%= f.file_field :uploaded_data %> 
	<span class="hint"> 
	We accept JPEG, GIF, PNG or PDF files up to 1 MB. 
	</span> 
	<p><label class="require" for="title">Title</label><%= f.text_field :title %></p>				
	<p><label for="description">Description</label><%= f.text_area :description,:rows => 4 %></p>
	<p><label for="tags">Tags<em>[separate, with, a comma, to add multiple, tags]</em></label><%= f.text_field :tag_list %></p>
	<input type="submit" value="Add" /><!-- or <a href="javascript:void(0);" onclick="NotebookForm.hideAllForms();">Cancel</a>-->
<% end %>
<iframe id='upload_frame' name="upload_frame" style="width:1px;height:1px;border:0px" src="about:blank"></iframe>