<p>When we launched this beta version of OpenCongress in February 2007, we solicited feedback on the site from a wide audience of users and commentators. in fact, we've already responded to many of the comments below and have introduced new features to address our users' requests! To send us a suggestion, please visit our <a href="/gossip/suggestion">suggestion form</a> or <a href="/contact">contact us</a>. Please find below excerpts of their initial feedback, which we continue to collect and which we use centrally in developing new features for OpenCongress.</p>

	<p class="line"></p>
	
<p>Marc Laitin: this is really great (and quite nicely designed). I do have one quick thought/comment. I've been trying to track the progress of some bills for some other projects, in particular the minimum wage bill. I did a search for minimum wage and found the bill i wanted: http://www.opencongress.org/bill/110-h2/show -- And there is a ton of great information right there. But, it doesn't appear to have any place that summarizes or describes what the next step is for the bill. Right now it looks like the House and Senate have passed the bill with overwhelming majorities, which is correct, but what it doesn't say explicitly is that the Senate passed an amended version which is now sent back to the House where Pelosi can do one of, I think, three things. I don't even remotely know enough about House/Senate procedure to suggest a direction to proceed here to accurately list where a bill needs to go next to continue its march towards a presidential signature, but that might be something worth putting in the hopper (which i'm sure is full of other even better ideas).</p>

	<p class="line"></p>
	
<p>Chad Lupkes: Is the project willing to help launch similar sites for state legislatures I know that WashingtonVotes.org has been up for a while, and wa.billhop.com is trying to get enough interest to launch, but your interface is another great potential tools for us here in the Evergreen state. If something like this could be done, please keep me informed on the development.</p>

	<p class="line"></p>
	
<p>Cory Doctorow track things by email, like this <a href="http://theyworkforyou.com/alert/">this.</a></p>

	<p class="line"></p>
	
<p>Mike Beaumont: First of all, let me just say that Open Congress has incredible potential, and I'm really looking forward to using it.</p>

<p>I do advocacy work for the ONE Campaign and for CARE, so the ability to track legislation and interpret it in a meaningful way is essential to my work.</p>

<p>I do have one suggestion/question? Do you guys plan on implementing any sort of "My Open Congress" type sign-in feature? I'd love to be able to start an account, and then be able to track legislation, focus on key issues, and have customized RSS feeds as well. So I'd have like my own customized Open Congress page. Maybe you can even allow users to create their own customized sidebar widgets, so if I had a blog that focused on certain issues I could add a legislative tracker to my sidebar or something like that...</p>

<p>Anyway, great job so far, I've been sending the link around to all my colleagues. Thanks!</p>

	<p class="line"></p>
	
<p>First, kudos on your effort in opening up the inner workings of Congress making it much more accessible to the common public. I checked out OpenCongress.org but unfortunately I find it hard to use as your average citizen. Taking a quick glance at the front page, most of the stuff is over my head and looks dry and boring to me, so I have little incentive to dig in. As I see it, the crux of the problem lies around exposing the inner workings of Congress to the general public. The reality of the situation is that the general public has little to no interests of the inner workings of Congress. We are however interested in finding out how Congress is trying to address our issues but this does not translate into more exposure to the inner workings of Congress. So if someone like me with a MA in Information Technology and BS in CS that follows political news find the site hard to use, you can be assured that you have lost the better part of America that is less informed, less educated, and could care less about the dry inner workings of Congress.</p>

<p>Here's my suggestion if you wish to broaden your appeal. The home page should consist of the major political news as reported by major newspapers, etc. Based on the story, link it to the appropriate bills, etc that Congress are working on, not the other way around. It is way too dry and confusing to dive into the bills first without having an easy way to understand the context initially.</p>

<p>Good luck, Bob Ngu</p>
	<p class="line"></p>
	
<p>I don't have time to check this web site every day but there are issues affecting my (and everyone else's) lives.</p>

<p>How about an email posting once a day/hour/week?</p>

<p>gensha_2006</p>
	<p class="line"></p>
	
	<p>Your site is increadible, and I've been waiting for one like this for some time. Could you please add the ability to approve or disapprove a bill and keep a tally on both? Thank-you</p>

	<p>Trevor Redden</p>
	<p class="line"></p>
	
	<p>Thank you, This is an idea I've had for a while. I really hope it becomes popular. I have other ideas which may or may not have been considered.</p>

	<p>Functionality for people to log in, lets call them members. Members would have profiles indicating what interests them (e.g. environment, gun control, etc), what industry they work in, where they live, what their income is, .....</p>

	<p>Each bill would have tags indicating what the bill is about. Thus each member would be presented relavent bills based on thier profile.</p>

	<p>Functionality to allow senators to obtain feedback and statistics of feedback for those that live in the representatives state. Authentication of members may be required (e.g. social security number). I'm getting a little too excited so I'll stop now.</p>

	<p>Tim Pyne</p>
	<p class="line"></p>
	
	<p>Great website. I am going through your "How to Use OpenCongress" article, while I was going to add my representatives for my state (Texas) and there are a large number of representatives for my state (as well as a few others) and going through and adding all of them is time consuming. I would like to see OPML feed lists for representatives by state.</p>

	<p>Maybe even adding OPML lists for states that include both the representatives and senators so people only need to click one button to subscribe to all the congress/senate folk for their state.</p>

	<p>Great website. Look forward to using it throughly</p>

	<p>Michael Koby</p>

	<p class="line"></p>

	<p>I just found your site and I think its great! Haven't had too much time to surf around it yet, but there is one thing I would like to see done. More detailed information about each candidate. Especially about the platform they ran for office on and how their voting record coincides with it. This information could then be graphed and would be ag reat tool to get your website mass media attention. Hope to see it in action! Tim Moran</p>

	<p>Allow users to mark blog posts as "not related"</p>

	<p class="line"></p>

	<p>First off, great work people! Transparency in government goes a long way, and this tool is valuable to me as an active citizen.</p>

	<p>In the process of searching, I wanted a way to browse bills by date of introduction. I don't know if this [1] was the right page to use or not, though, because Last Action doesn't mean Date of Introduction</p>

	<p>Aaron Dulles-Coelho</p>

	<p class="line"></p>

	<p>I found Open Congress via a post at TPM. Upon my first few glances, I like it a lot. My suggestion: Congressional press release aggregation. It would be great to be able to go to ONE place and find what Members of Congress are sending out as press releases. I have not found anything with decent coverage. -- Marc Rumminger</p>

	<p class="line"></p>
	
	<p>It would be very nice indeed to have an RSS feed that shows ALL bills, so we could look at them as they go whizzing by, and have the option to add the RSS feed for that specific bill if we have any interest in it. If those RSS entries had links to the sponsoring legislators and any related committees, that would be terribly useful as well.</p>

	<p>Something like this is long overdue; I'm very, very glad someone has stepped up to the plate.</p>

	<p>Ken McGlothlen (Windsor CA)</p>
	<p class="line"></p>
	
	<p>I have just started checking opencongress.org regularly and appreciate what you have done with the site.</p>

	<p>I don't know if it's something you want to do with the site, but it would be really nice if there were a "one-stop shopping" source for senate and house hearings. In other words, links to daily hearings on one site so one does not have to go searching thru the committee or subcommittee sites just to see if something is happening on any particular day.</p>

	<p>I wish I could volunteer to do this, but do not have time to do so.</p>

	
		<p class="line"></p><p>Sincerely, john galloway</p>

	<p>Hello,</p>

	<p>First of all, I would just like to say congratulations on a wonderful website! OpenCongress.org is very easy to navigate, and the useful information is presented in a very easy-to-understand manner. I find myself using it quite frequently. Well done!</p>

	<p>But as with any undertaking, there are always room for improvements. Here are couple of features that I think opencongress.org could use:</p>

	<p>1) It would be useful to see particular committee/subcommittee on the pages that display information on individual Congressman and Senators. Because Congress is is so segmented, understanding what committee's members are on helps one to understand their particular positions on pending legislation.</p>

	<p>2) Related to my first comment, on the Committee/subcommittee pages, it would be useful to have a list of members on each particular committee or subcommittee.</p>

	<p>I hope you will take my suggestions under consideration. Either way, thank you for a wonderful information tool.</p>

	<p>Sincerely,</p>

	<p>Tom Jackman</p>

	<p class="line"></p>
	
	<p>Something that you may not have yet considered: integrating geotags into your service.</p>

	<p>The ability to view data from and about Open Congress in google earth along with annotations would be a great way to visualize and engage issues locally as well as nationally.</p>

	<p>I'll probably write a blog post thinking this through a bit more in the next few weeks. If I do, I'll shoot you a link.</p>

	<p>-Timothy Moenk</p>

		<p class="line"></p>
		
	<p>Would you add the Federal Register to your search engine? -John Walling</p>

	<p><a href="http://doc.weblogs.com/2007/04/12">http://doc.weblogs.com/2007/04/12</a></p>

	<p>The first question that came to mind was, How much money does Rep. Ric Keller get from the the entertainment industry for floating HR 1689 — the Curb Illegal Downloading on College Campuses Act of 2007?</p>

	        <p>I looked for the answer in OpenCongress.org's page on Keller, where there are four stories about Keller: one from Slashdot, one from the Orlando Sentinel, one from Download Splog, aka "Communication Software Review" (speaking of piracy, it was scraped from Chronicles of Dissent), and one from CannonFire. Here's Keller's own statement about the bill, which he says "would expand the allowable use of funds...to provide for innovative on-campus, anti-piracy pilot programs designed to reduce digital piracy." He concludes, "This troubling trend on college campuses has led to lawsuits against computer users who engage in illegal downloading of copyrighted content. These suits force colleges to spend a great deal of time and resources responding to notices of illegal downloading." Translation: Take our bribe and we'll call off the RIAA's goons. The bill claims it will "improve the security and integrity of campus computer networks" and "save telecommunications bandwidth costs, while ensuring such bandwidth is first and foremost made available for research and education-related purposes." Never mind the fact that file sharing itself is at the heart of the Web's design, and that universities and even governments now share files using BitTorrent — itself a perfect example of how creative techies and users are bound to route around censorship. Of course, the RIAA loves the legislation. So does the MPAA (in a .pdf). More here, here, here and here.</p>

	<p><a href="http://cairns.typepad.com/blog/2007/02/opencongress_da.html">http://cairns.typepad.com/blog/2007/02/opencongress_da.html</a></p>

	<p>Some specific possibilities include user profiles with personalized feeds, the ability to write and edit articles, and tagging information....</p>
