<p>The OpenCongress blog highlights useful news and blog coverage in order to give you the real story behind what's happening in Congress. Our goal is to add context and color commentary to a Congressional process that is usually arcane and closed-off from the public. To do this, we provide links to timely news reporting and blog posts from around the web, as well as summaries of Congressional action written in plain language. We're here to help clarify the Congressional fray.</p>

<p>In addition, the OpenCongress blog seeks to involve widespread social wisdom regarding the latest news from Congress -- anyone is invited to <a href="/gossip/submit">submit a tip</a> and help publicize the real story of what's happening in Congress.</p>

<p>The OpenCongress blog is written primarily by Donny Shaw of the Participatory Politics Foundation, with contributions from other members of PPF, including PPF co-founder Tiffiniy Cheng and Program Director David Moore. As with all written content on Open Congress, the blog is non-partisan and seeks to maintain a neutral point of view, though the blog strongly supports efforts from both sides of the aisle to increase the transparency and accessibility of government.</p>

<p>You can help make the OpenCongress blog better by submitting a tip, either anonymously or attributed to your name, whichever you prefer. We welcome your feedback on the blog and how it can be more helpful. To contact us with questions or comments, or to suggest a link, send us an e-mail anytime: <script type="text/javascript">m("writeus","opencongress","org","1");</script>.</p>

<p>Subscribe to the OpenCongress blog's <a href="/articles/atom">RSS feed</a> in order to stay on top of the latest happenings on Capitol Hill.</p>

<p><a href="/blog">Back</a> to the OpenCongress blog.</p>