<p>Below is a brief introduction to Congress and how it works. In addition, here are a few other resources you may find useful:</p>

<ul class="star"> 
  <li class="top-star"><a target="_blank" href="http://thomas.loc.gov/home/lawsmade.toc.html">Official Guide on Bills Becoming Law on Thomas.gov</a>: a comprehensive and detailed documentation of the Congressional process on the official website of the Library of Congress.</li>
  <li class="top-star"><a target="_blank" href="http://www.vote-smart.org/resource_govt101_02.php">Project Vote Smart's Simple Bill-to-Law Guide</a>: a thorough and more user-friendly examination of the bill-to-law process. Also known as "Government 101."</li>
  <li class="top-star"><a target="_blank" href="http://www.sourcewatch.org/index.php?title=Congresspedia">Congresspedia</a>: a project of the Sunlight Foundation and the Center for Media & Democracy - a publicly-editable, wiki-based website on Congress with biographical information and background on every Member of Congress..</li>
</ul>

<h2>About Senators and Representatives</h2>

<p>The intention of the U.S. Constitution in establishing a bicameral Congress was that each chamber would serve as a check on the other. The larger and more frequently elected House of Representatives would more directly reflect changing public opinion, while the smaller Senate, whose members serve longer terms, would serve as a more level-headed and deliberative body. As a result, the Senate is considered the more collegial chamber of Congress, a tradition-bound institution that frequently defers to seniority and whose rules allow for lengthy debate. The Senate has considerable power over the President because the President needs the Senate's approval to make appointments for some high-level positions and to ratify treaties. In the event of a tie in the 100-person Senate, the Vice President, acting as President of the Senate, has the power to cast the deciding vote. Although it is often thought of as the lower chamber of Congress, the House has some powers that the Senate doesn't. For example, all appropriations bills must originate in the House. In addition, the House can impeach officials, and has the power to elect the President in the case of a tie in the electoral college.</p>

<h2>About Bills</h2>

<%= learn_about('bill') %>

<h2>About Committees</h2>

<p>When a bill is first introduced to Congress, it is referred to its appropriate committee. A committee is composed of a small group of members of Congress that first consider bills in a specific issue area.</p>

<p>Committees have the power to edit bills, add to bills, and hold hearings on bills. After this working process, a committee votes whether or not to send the bill to the House or the Senate for a full vote. Many times, a committee will vote not to pass along a bill -- in such cases, the bill is often called "stuck in committee," and is unlikely to become law in its current form. The House of Representatives, because of its larger size, makes more use of its committees. Each committee is usually made up of about the same proportion of Democrats and Republicans as is the full chamber. Each committee is led by a Chairperson from the current majority party. The Chair frequently exerts a great deal of power in controlling the flow of bills through committees and determining which bills will be approved.</p> 

<h2>Further Resources</h2>
<h3>Official Resources</h3>
	<ul class="star">
		
		<li class="top-star"><a target="_blank" href="http://usinfo.state.gov/usa/infousa/politics/legbranc/abtcong.htm">Official "about page"</a> for U.S. Congress, from the U.S. Government Manual.</li>
		<li class="top-star"><a target="_blank" href="http://www.senate.gov/">Official U.S. Senate Site</a></li>
		<li class="top-star"><a target="_blank" href="http://www.house.gov/">Official U.S. House of Representatives Site</a></li>
		<li class="top-star"><a target="_blank" href="http://thomas.loc.gov/">Thomas</a>, the official website of the Library of Congress.</li>
		
	
	<li class="top-star"><a target="_blank" href="http://www.citizenjoe.org/node/154">Citizen Joe</a> offers a nice straightforward 'Civics 101' about how our government works.</li>
	</ul>
	
	
<h3>Similar to OpenCongress, Sites That Provide the Data and Tools To Be an Informed and Active Participant in Politics</h3>

	<ul class="star">
		<li class="top-star"><a target="_blank" href="http://www.govtrack.us">Govtrack</a> by Joshua Tauberer brings together information about the United States Congress, tracking the status of federal legislation and the activities of your senators and representatives.</li>
		<li class="top-star"><a target="_blank" href="http://en.wikipedia.org/wiki/United_states_congress">Wikipedia</a> entry on the U.S. Congress</li>	
		<li class="top-star"><a target="_blank" href="http://www.vote-smart.org">Project Vote-Smart</a>, working for effective self-governing through "...access to abundent, accurate, and relevant information."</li>
		<li class="top-star"><a target="_blank" href="http://www.citizenjoe.org">Citizen Joe </a>offers guides to issues and analysis of bills, with the goal "to take the spotlight off politics and politicians and put it back on policy and the people."</li>
		
	
	
	</ul>
	
	
<h3>About Senators and Representatives</h3>

	<ul class="star">
		<li class="top-star"><a target="_blank" href="http://projects.washingtonpost.com/congress/members/">The Washington Post's</a> database project on congressional voting history.</li>
		<li class="top-star"><a target="_blank" href="http://ontheissues.org/default.htm">On the Issues</a> is a website with the slogan, "Every Political Leader on Every Issue."</li>
		<li class="top-star"><a target="_blank" href="http://bioguide.congress.gov/congresswomen/index.asp">Congresswomen's Biographies</a> contains a brief biography of all women who have served or are currently serving in the House of Representatives.</li>
		<li class="top-star"><a target="_blank" href="http://www.visi.com/juan/congress/cgi-bin/committee_list.cgi?site=ctc-">Contacting the Congress</a> allows you to find and contact Congressional committees.</li>
	</ul>	
	
	
<h3>Money and Congress</h3>
<p><strong>Information on money in politics</strong></p>
	<ul class="star">
		<li class="top-star"><a target="_blank" href="http://www.opensecrets.org">The Center for Responsive Politics</a>: a non-partisan, non-profit research group based in Washington, D.C. that tracks money in politics, and its effect on elections and public policy.</li>
		<li class="top-star"><a target="_blank" href="http://cbo.gov/">Congressional Budget Office</a>: providing projections on the approximate cost of bills.</li>
		<li class="top-star"><a target="_blank" href="http://www.fec.gov/">The Federal Election Commission (FEC)</a>: administers and enforces federal campaign finance laws.</li>
	</ul>	
	
	
<h3>Policy/Issues</h3>
<p><strong>Background information on legislation and public opinion</strong></p>
	<ul class="star">
		<li class="top-star"><a target="_blank" href="http://www.newsbatch.com/">NewsBatch</a> is a website that works to provide "...full encyclopedic coverage of all public policy matters."</li>
		<li class="top-star"><a target="_blank" href="http://www.balancedpolitics.org/">Balanced Politics</a> is a website dedicated to balanced, non-partisan discussion of important societal issues.</li>
		<li class="top-star"><a target="_blank" href="http://www.publicagenda.org">Public Agenda</a> is a non-partisan opinion research and civic engagement organization helping Americans understand and explore critical issues since 1975.</li>
	</ul>				
