<% @page_title = "Copyright Policy" %>
<div id="heading"><h2>OpenCongress Copyright Policy</h2></div>
<div class="padding">

<p>OpenCongress (“OpenCongress”) respects the intellectual property rights of others and expects its users to do the same.  In accordance with the Digital Millennium Copyright Act of 1998, the text of which may be found on the U.S. Copyright Office website at http://www.copyright.gov/legislation/dmca.pdf, OpenCongress will respond expeditiously to claims of copyright infringement committed using the OpenCongress service and/or the OpenCongress website (the “Site”) if such claims are reported to OpenCongress’s Designated Copyright Agent identified in the sample notice below.</p>

<p>If you are a copyright owner, authorized to act on behalf of one, or authorized to act under any exclusive right under copyright, please report alleged copyright infringements taking place on or through the Site by completing the following DMCA Notice of Alleged Infringement and delivering it to OpenCongress’s Designated Copyright Agent.</p>


<h3>DMCA Notice of Alleged Infringement (“Notice”)</h3>

<p>1.	Identify the copyrighted work that you claim has been infringed, or - if multiple copyrighted works are covered by this Notice - you may provide a representative list of the copyrighted works that you claim have been infringed.</p>

<p>2.	Identify the material or link you claim is infringing (or the subject of infringing activity) and to which access is to be disabled, including at a minimum, if applicable, the URL of the link shown on the Site or the exact location where such material may be found.</p>

<p>3.	Provide your company affiliation (if applicable), mailing address, telephone number, and, if available, email address.</p>

<p>4.	Include both of the following statements in the body of the Notice:<p>

<p>“I hereby state that I have a good faith belief that the disputed use of the copyrighted material is not authorized by the copyright owner, its agent, or the law (e.g., as a fair use).”</p>

<p>“I hereby state that the information in this Notice is accurate and, under penalty of perjury, that I am the owner, or authorized to act on behalf of, the owner, of the copyright or of an exclusive right under the copyright that is allegedly infringed.”</p>

<p>5.	Provide your full legal name and your electronic or physical signature.</p>

<p>Deliver this Notice, with all items completed, to OpenCongress’s Designated Copyright Agent:</p>

<p>Copyright Agent<br>
c/o OpenCongress.org<br>
220 Lafayette St. #3<br>
New York, NY 10012<br>
<script type="text/javascript">m("writeus","opencongress","org","1");</script></p>

</div>