<div id="heading">
	<h2><%= @page_title %></h2>
</div>

<div class="padding">
<div class="pretty-text">
<p><strong>This is for a contract web development position running from February through September, 2010.</strong></p>

<p>The Participatory Politics Foundation (PPF) seeks an experienced and dedicated Rails developer to join our small team. PPF is a non-profit organization that builds and hosts free, open-source software for political engagement and government transparency. Our flagship project is OpenCongress.org, the most-visited open government website in the U.S. We’re an Agile, user-centered crew working to make government at all levels more accessible and to build public knowledge about political issues.</p>

<p>Over the next year, we’re partnering with the Sunlight Foundation to expand the reach of OpenCongress to all 50 state legislatures, extending our existing platform.</p>

   <p>You’re a great person who’s looking to change the world, and you have:
   <ul class="star">
   <li>Strong Ruby and Rails experience</li>
   <li>Experience with TDD/Agile development with RSpec and Cucumber</li>
   <li>Strong RDBMS design skills, and experience with large datasets</li>
   <li>A keen sense of the user experience and a passion for making great software</li>
   <li>A strong understanding of information visualization and aethetics</li>
   <li>Experience translating large datasets into clean, meaningful data visualizations addressing specific thinking tasks</li>
   <li>Excited about free culture and open government, and a desire to engage people in the political process beyond election day.</li>
   <li>Comfortable working outside of Rails as needed, on integration with other platforms (semantic MediaWiki and PHP), pl/pgsql stored procedures, sysadmin tasks, etc.</li>
   </ul></p>

<p>We are first looking for candidates in the Bay Area, but telecommuting is an option too, so please be in touch. Come work on a project you believe in, at the forefront of government transparency and accountability!</p>

<p>To apply: Send a resume and code sample (or github URL) to <script type="text/javascript">m("jobs","opencongress","org","1");</script>. Feel free to contact us with any questions, too.</p>
</div>
</div>
