<div class="wrapper">
   <div class="logo">
      OpenCongress
   </div>
   <h1>
      Thank You!
   </h1>
   <div class="banner">
      <p>
         Your donation means a lot. Together, we're opening up government.
      </p>
   </div>
   <div id="content">
      <div class="content_inner">
         <div class="left">
            <p class="classy"></p>
            <p>
               Thank you for your tax-deductible donation to the <a href="http://www.participatorypolitics.org/" target="new">Participatory Politics Foundation</a> to support OpenCongress. Your transaction has been completed, and a receipt has been emailed to you. You can also log into your account at www.paypal.com/us anytime to view your contribution details.
            </p>
            <p>
               <strong>Help us spread the word.</strong>
            </p>
            <ul>
               <li>
                  <a href="http://twitter.com/opencongress" target="_blank">Re-Tweet</a> our announcement
               </li>
               <li>Recommend on <a href="http://www.facebook.com/OpenCongress" target="_blank">Facebook</a>
               </li>
               <li>Copy this shortened link and share it with your friends: <a href="http://bit.ly/supportOC">bit.ly/supportOC</a>
               </li>
            </ul>
            <p>
               Last, here's a draft of an email you can copy-and-paste, personalize as you like, and then send to your friends:
            </p>
            <div class="email">
               <p class="subject">
                  Subject: <strong>Help keep OpenCongress alive</strong>
               </p>
               <div>
                  <p>
                     I just donated to help keep OpenCongress up and running. OpenCongress is a free and open-source website that makes it easier to track and understand the U.S. Congress.
                  </p>
                  <p>
                     As a non-profit public resource, OpenCongress relies on support from people like us. If you believe in transparent and accountable government, please donate now:
                  </p>
                  <p>
                     <a href="http://www.opencongress.org/donate/">http://www.opencongress.org/donate/</a><br>
                  </p>
               </div>
            </div>
            <p>
               ... thank you again for your support, and feel free to <a href="mailto:writeus@opencongress.org">get in touch</a> anytime with your questions and feedback.
            </p>
            <p>
               - The OC Team
            </p><strong>Larger donors and foundations:</strong> we have a good start and big plans. With additional resources, OpenCongress can become significantly more useful, and quickly. Are you in a position to contribute $1,000 or more to help us build some amazing new tools on OpenCongress? Let us send you our non-profit fundraising prospectus with more info. Simply send an email to PPF's Executive Director, <a href="mailto:david@opencongress.org">David Moore</a>, to start a conversation.
            <div class="share">
               <script type="text/javascript">
tweetmeme_style = 'compact';
               </script> <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.opencongress.org%2Fdonate&amp;layout=button_count&amp;show_faces=false&amp;width=100&amp;action=recommend&amp;font=lucida+grande&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowtransparency="true"></iframe> <script type="text/javascript" src="http://tweetmeme.com/i/scripts/button.js">
</script> <a class="DiggThisButton DiggCompact"></a> <a href="http://bit.ly/supportOC" class="bitly">bit.ly</a>
            </div><!--
<ul>
<li><a href="http://twitter.com/opencongress" target="_blank">Re-Tweet</a> our announcement</li>
<li>Recommend on <a href="http://www.facebook.com/OpenCongress" target="_blank">Facebook</a></li>
<li>Copy this shortened link and instant-message it to your friends: <a href="http://bit.ly/supportOC">bit.ly/supportOC</a></li>
</ul>
-->
         </div>
         <div class="right">
            <div class="venn"></div>
            <div class="scrolling">
               <!-- root element for scrollable -->
               <div class="scrollable" id="chained">
                  <!-- root element for the items -->
                  <div class="items">
                     <div class="user">
                        <a href="http://www.opencongress.org/users/txgalnokc/profile"><img width="60" src="http://www.opencongress.org//images/users/txgalnokc_m.jpg"></a>
                        <blockquote>
                           "Thank you for keeping us posted on the UI bill. Amongst all the different stories being told on this subject - it's hard to know the truth from a lie. That's why I feel confident coming to OpenCongress - I know I can come here for honest, straightforward answers. Your effort is greatly appreciated!"
                        </blockquote><span class="att">- OpenCongress User txgalnokc</span>
                     </div>
                     <div>
                        <a href="http://voices.washingtonpost.com/ezra-klein/2010/03/casualties_of_the_reconciliati.html"><img src="/images/donate/wapo.gif"></a>
                        <blockquote>
                           "All Hail OpenCongress.org ... "
                        </blockquote><span class="att">- Ezra Klein, Policy Blogger</span>
                     </div>
                     <div class="user">
                        <a href="http://www.opencongress.org/users/DrMcNugget/profile"><img width="60" src="http://www.opencongress.org/images/users/DrMcNugget_s.jpg"></a>
                        <blockquote class="smaller">
                           "...I believe very much in the principle of free speech, but I believe even more strongly in the principle of free speech based on factual information. ... Thank you, all, for using facts to support, well, the facts. Our nation is indebted to you for this service."
                        </blockquote><span class="att">- OpenCongress User DrMcNugget</span>
                     </div>
                     <div class="read">
                        <a href="http://www.readwriteweb.com/archives/opencongress_congress_tracking.php"><img src="/images/donate/rww.gif"></a>
                        <blockquote>
                           "This is a really well put-together site that makes me want to pay attention to politics because the user experience is so smooth and compelling."
                        </blockquote><span class="att">- Marshall Kirkpatrick, Co-Editor</span>
                     </div>
                     <div class="user">
                        <a href="http://www.opencongress.org/users/yoder/profile"><img width="60" src="http://www.opencongress.org//images/users/yoder_m.jpg"></a>
                        <blockquote class="smaller">
                           "The OpenCongress Blog, and more like them, are precisely what this country needs."
                        </blockquote><br>
                        <span class="att">- OpenCongress User Yoder</span>
                     </div>
                     <div class="digg">
                        <a href="http://digg.com/politics/The_REAL_story_about_Congress"><img src="/images/donate/digg.gif"></a>
                        <blockquote class="smaller">
                           "Woah. This looks awesome. This could seriously change the way people think about politics."
                        </blockquote><span class="att">- Digg user xsimonxcorex</span>
                     </div>
                     <div class="user">
                        <a href="http://www.opencongress.org/users/Taylor09/profile"><img width="60" src="http://www.opencongress.org//images/users/Taylor09_m.jpg"></a>
                        <blockquote class="smaller">
                           "Thank you OpenCongress for educating us and allowing us to come together and form a community of understanding individuals. This bill is so personal to each and every one of us that we naturally become emotional. If only our Senators could understand."
                        </blockquote><span class="att">- OpenCongress User Taylor09</span>
                     </div>
                     <div class="user">
                        <a href="http://www.opencongress.org/users/nancym/profile"></a>
                        <blockquote class="smaller">
                           "...it's great that Open Congress gives us the chance to see these things in progress so we can voice our opinions before it's all set in stone."
                        </blockquote><span class="att">- OpenCongress User nancym</span>
                     </div>
                     <div class="pc">
                        <a href="http://www.pcworld.com/article/151440/5_sites_that_will_boost_your_political_awareness.html"><img src="/images/donate/pc.gif"></a>
                     </div>
                     <div class="user">
                        <a href="http://www.opencongress.org/users/AesSedai/profile"></a>
                        <blockquote class="smaller">
                           "The more I read comments at opencongress the more I realize that it may not be true what's being said about Americans - that they have become apathetic and care more about reality tv and dance shows than their country. Finding opencongress was the best thing that's happened so far this year!"
                        </blockquote><span class="att">- OpenCongress User AesSedai</span>
                     </div>
                     <div class="user">
                        <a href="http://www.opencongress.org/users/loganstorm/profile"><img width="60" src="http://www.opencongress.org//images/users/loganstorm_m.jpg"></a>
                        <blockquote class="smaller">
                           "FYI- Lots of great articles posted on the opencongress facebook page"
                        </blockquote><span class="att">- OpenCongress User Loganstorm</span>
                     </div>
                     <div class="meta">
                        <a href="http://www.metafilter.com/59023/Make-Congress-more-transparent-and-encourage-civic-engagement"><img src="/images/donate/meta.gif"></a>
                        <blockquote class="smaller">
                           "Extreme utmost most-mondo wicked cool" -- MeFi user JHarris
                        </blockquote>
                     </div>
                     <div class="user">
                        <a href=""><img width="60" src="http://www.opencongress.org//images/users/firstcoyote_m.jpg"></a>
                        <blockquote class="smaller">
                           "OpenCongress is the only forum I go to on a regular basis."
                        </blockquote><span class="att">- OpenCongress User firstcoyote</span>
                     </div>
                  </div><!--<div class="new">

              <a href="http://www.newyorker.com/online/blogs/currents/2010/07/john-kerry.html"><img src="/images/donate/new.gif" /></a>


            </div>
         -->
               </div><br clear="all">
               <div class="ppf"></div>
            </div>
         </div>
      </div>
   </div>
</div>
