

<div class="wrapper">
  <div class="logo">OpenCongress</div>
  
  <h1>Help Keep OpenCongress <strong>Up and Running</strong></h1>
  
  <div class="banner"><p>Make a charitable donation</p><a class="donate_now" href="#">Donate Now</a><span class="left_cap"></span><span class="right_cap"></span></div>
  
  <div class="content">
  <div class="content_inner">
    <div class="left">
      <p class="classy">If you believe in transparent government, <span>we need your donation now.</span></p>
      <p>OpenCongress is made by a non-profit organization that is leading the fight for an open and accountable government. Since our launch in 2007, OpenCongress has grown to become the most-visited government transparency website in the United States.</p>
      <p>We took hard-to-understand government data, surrounded it with real-world news and blog coverage, and topped it all off with free participation tools for the public to make their voice heard. In 2008, we added "My OpenCongress" social networking to track, share, and comment on everything you care about in Congress. In 2009, we redesigned the site to make our democracy even more user-friendly and launched a free API to contribute our data back to the commons. Over the past year, our blog and social media accounts have helpfully covered every angle of a chock-full session of Congress: health care reform, financial reform, extension of unemployment benefits, and more. </p>
      <p>Now, for the first time ever, we need to ask for your donation to keep OpenCongress up and running. OpenCongress is a free and open-source project of the Participatory Politics Foundation, a 501(c)3 non-profit organization with a mission to increase civic engagement. We're a tiny team -- only eight folks, plus volunteers and the open-source community, collaborating online and splitting our time with other public-minded projects -- working to maintain and develop a hugely popular web resource. To date, OC has been supported by funding from our terrific partners, the Sunlight Foundation, and the occasional micro-donation. Today, in order to continue our work, we're launching our inaugural fundraising campaign and asking you directly for help. </p>
      <p>Donating is easy and takes under two minutes (for real, we've tested it thoroughly). Please help today.</p>
      <a class="donate_now" href="#">Donate Now</a>
    </div>
    
    <div class="right">
      <div class="venn"></div>
      
      <h2>Our Principles</h2>
      <ul class="principles">
        <li>Free to everyone</li>
        <li>Open-source</li>
        <li>Open Standards</li>
        <li>Not-for-profit</li>
        <li>Non-partisan</li>
      </ul>
    </div>
  </div>
  </div>
</div>

<div class="ppf"></div>