

<div class="wrapper">
  <div class="logo">OpenCongress</div>
  
  <h1>Thank You!</h1>
  
<<<<<<< HEAD
  <div class="banner"><p>Your donation means a lot. Together, we're opening up government.</p><span class="left_cap"></span><span class="right_cap"></span>
	</div>
  <div id="content">
  <div class="content_inner">
    <div class="left">
      <p class="classy"></span></p>

      <p>Thank you for your contribution to the <a href="http://www.participatorypolitics.org/">Participatory Politics Foundation</a> to support OpenCongress. Your transaction has been completed, and a receipt has been emailed to you. Remember, your donation is tax-deductible, so you may want to print the receipt and file it away for tax time. Or, you can log into your account at www.paypal.com/us anytime to view your contribution details, either way. Cool.</p>

      <p><strong>Help us spread the word ::</strong></p>
	<ul>
		<li><a href="http://twitter.com/opencongress" target="_blank">Re-Tweet</a> our announcement</li>
		<li>Recommend on <a href="http://www.facebook.com/OpenCongress" target="_blank">Facebook</a></li>
		<li>Copy this shortened link and share it with your friends: <a href="http://bit.ly/supportOC">bit.ly/supportOC</a></li>
	</ul>
	
	<p>Last, here's a draft of an email you can copy-and-paste, personalize as you like, and then send to your friends:</a>

<p>###<br />Subject: help keep OpenCongress alive</p>

<p>I just donated to help keep OpenCongress up and running. OpenCongress is a free and open-source website that makes it easier to track and understand the U.S. Congress.</p>

<p>As a non-profit public resource, OpenCongress relies on support from people like us. If you believe in transparent and accountable government, please donate now:</a> 
	
<p>http://www.opencongress.org/donate <br />
###</p>
	
<p>... thanks again for your support, and feel free to <a href="mailto:writeus@opencongress.org">get in touch</a> anytime with your questions and feedback.</p> 

<p> - The OC Team</p>

<strong>Larger donors and foundations:</strong> are you in a position to contribute $1,000 or more to help us build some amazing new tools on OpenCongress? Let us send you our non-profit fundraising prospectus with more info. Simply send an email to PPF's Executive Director, <a href="mailto:david@opencongress.org">David Moore</a>, to start a conversation.</p>
=======
      <h3 class="center">Help us spread the word</h3>
>>>>>>> a2107c4f3e728e8bb7dc273852ca05b35a3fa490

<div class="share">
<script type="text/javascript">
tweetmeme_style = 'compact';
</script>
<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.opencongress.org%2Fdonate&amp;layout=button_count&amp;show_faces=false&amp;width=100&amp;action=recommend&amp;font=lucida+grande&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
<script type="text/javascript" src="http://tweetmeme.com/i/scripts/button.js"></script>
<a class="DiggThisButton DiggCompact"></a>

<a href="http://bit.ly/supportOC" class="bitly">bit.ly</a>

</div>
<!--
	<ul>
		<li><a href="http://twitter.com/opencongress" target="_blank">Re-Tweet</a> our announcement</li>
		<li>Recommend on <a href="http://www.facebook.com/OpenCongress" target="_blank">Facebook</a></li>
		<li>Copy this shortened link and instant-message it to your friends: <a href="http://bit.ly/supportOC">bit.ly/supportOC</a></li>
	</ul>
	-->


	<h3>Last, here's a draft of an email you can copy-and-paste, personalize as you like, and then send to your friends</h3>


<div class="email">


<p class="subject">Subject:<strong> OpenCongress needs our help</strong></p>
<div>
<p>I just donated to help keep OpenCongress.org up and running. OpenCongress is a free and open-source website that makes it easier to track and understand the U.S. Congress.</p>

<p>As a non-profit public resource, OpenCongress relies on support from people like us. If you believe in transparent government, please donate now:</a> 
	
<a href="http://www.opencongress.org/donate">http://www.opencongress.org/donate</a>
</div>

</div>
<br />
	
<p>... thanks again for your kind donation, and feel free to get in touch anytime with your questions and feedback: writeus@opencongress.org</p> 

<p>- The OC Team</p>

  </div>











  </div>
</div>

<div class="ppf"></div>

</div>




</body>

</html>

