

<div class="wrapper">
  <div class="logo">OpenCongress</div>
  
  <h1>Thank You for Your Donation</h1>
  
  <div class="banner thanks"><p>It means a lot. Thanks for doing your part to open up government.</p><span class="left_cap"></span><span class="right_cap"></span>
	</div>
  <div id="content">
  <div class="content_inner">
    <div class="left thanks">
      <p>Thank you for your donation to the Participatory Politics Foundation to support OpenCongress. Your transaction has been completed, and a receipt has been emailed to you.</p>

       <p>Because donations to PPF are tax-decuctible (nice!), we recommend you print the email receipt you received and file it away for tax time. You may also log into your account at www.paypal.com/us anytime to view your contribution details</p>

      <h3 class="center">Help us spread the word</h3>

<div class="share">
<script type="text/javascript">
tweetmeme_style = 'compact';
</script>
<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.opencongress.org%2Fdonate&amp;layout=button_count&amp;show_faces=false&amp;width=100&amp;action=recommend&amp;font=lucida+grande&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
<script type="text/javascript" src="http://tweetmeme.com/i/scripts/button.js"></script>
<a class="DiggThisButton DiggCompact"></a>

<a href="http://bit.ly/supportOC" class="bitly">bit.ly</a>

</div>
<!--
	<ul>
		<li><a href="http://twitter.com/opencongress" target="_blank">Re-Tweet</a> our announcement</li>
		<li>Recommend on <a href="http://www.facebook.com/OpenCongress" target="_blank">Facebook</a></li>
		<li>Copy this shortened link and instant-message it to your friends: <a href="http://bit.ly/supportOC">bit.ly/supportOC</a></li>
	</ul>
	-->


	<h3>Last, here's a draft of an email you can copy-and-paste, personalize as you like, and then send to your friends</h3>


<div class="email">


<p class="subject">Subject:<strong> OpenCongress needs our help</strong></p>
<div>
<p>I just donated to help keep OpenCongress.org up and running. OpenCongress is a free and open-source website that makes it easier to track and understand the U.S. Congress.</p>

<p>As a non-profit public resource, OpenCongress relies on support from people like us. If you believe in transparent government, please donate now:</a> 
	
<a href="http://www.opencongress.org/donate">http://www.opencongress.org/donate</a>
</div>

</div>
<br />
	
<p>... thanks again for your kind donation, and feel free to get in touch anytime with your questions and feedback: writeus@opencongress.org</p> 

<p>- The OC Team</p>

  </div>











  </div>
</div>

<div class="ppf"></div>

</div>




</body>

</html>

