

<div class="wrapper">
  <div class="logo">OpenCongress</div>
  
  <h1>Thank You for Your Donation</h1>
  
  <div class="banner"><p>It means a lot. Thanks for doing your part to open up government.</p><span class="left_cap"></span><span class="right_cap"></span>
	</div>
  <div id="content">
  <div class="content_inner">
    <div class="left">
      <p class="classy"></span></p>
      <p><strong>Help us spread the word ::</strong></p>
	<ul>
		<li><a href="http://twitter.com/opencongress" target="_blank">Re-Tweet</a> our announcement</li>
		<li>Recommend on <a href="http://www.facebook.com/OpenCongress" target="_blank">Facebook</a></li>
		<li>Copy this shortened link and instant-message it to your friends: <a href="http://bit.ly/supportOC">bit.ly/supportOC</a></li>
	</ul>
	
	<p>Last, here's a draft of an email you can copy-and-paste, personalize as you like, and then send to your friends:</a>

<p>###<br />Subject: OpenCongress needs our help</p>

<p>I just donated to help keep OpenCongress.org up and running. OpenCongress is a free and open-source website that makes it easier to track and understand the U.S. Congress.</p>

<p>As a non-profit public resource, OpenCongress relies on support from people like us. If you believe in transparent government, please donate now:</a> 
	
<p>http://www.opencongress.org/donate <br />
###</p>
	
<p>... thanks again for your kind donation, and feel free to get in touch anytime with your questions and feedback: writeus@opencongress.org</p> 

<p>- The OC Team</p>

	<p class="larger">
<strong>Larger donors and foundations:</strong> we have a good start and big plans. Are you in a position to contribute $1,000 or more to help us build some amazing new tools on OpenCongress? <a href="#">Get in touch!</a></p>

<div class="share">
<script type="text/javascript">
tweetmeme_style = 'compact';
</script>
<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.opencongress.org%2Fdonate&amp;layout=button_count&amp;show_faces=false&amp;width=100&amp;action=recommend&amp;font=lucida+grande&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
<script type="text/javascript" src="http://tweetmeme.com/i/scripts/button.js"></script>
<a class="DiggThisButton DiggCompact"></a>

<a href="http://bit.ly/supportOC" class="bitly">bit.ly</a>

</div>
  </div>





    
    <div class="right">
      <div class="venn"></div>


<div class="scrolling">
<!-- root element for scrollable -->
<div class="scrollable" id="chained">   
   
   <!-- root element for the items -->

   <div class="items">
   
      <div class="user">
        <a href="http://www.opencongress.org/users/DrMcNugget/profile">
          <img width="60" src="http://www.opencongress.org/images/users/DrMcNugget_s.jpg" />
          <blockquote class="smaller">"...I believe very much in the principle of free speech, but I believe even more strongly in the principle of free speech based on factual information. ... Thank you, all, for using facts to support, well, the facts. Our nation is indebted to you for this service."</blockquote>
          <span class="att">-- OpenCongress User DrMcNugget</span>
        </a>
      </div>

      <!-- 1-5 -->
      <div>
        <a href="http://www.readwriteweb.com/archives/opencongress_congress_tracking.php"><img src="/images/donate/rww.gif" />
        <blockquote>"This is a really well put-together site that makes me want to pay attention to politics because the user experience is so smooth and compelling."</blockquote>
        <span class="att">-- Marshall Kirkpatrick, Co-Editor</span></a>
      </div>

      <div class="user">
        <a href="http://www.opencongress.org/users/yoder/profile">
          <img width="60" src="http://www.opencongress.org//images/users/yoder_m.jpg" />
          <blockquote class="smaller">"The OpenCongress Blog, and more like them, are precisely what this country needs."</blockquote><br />
          <span class="att">-- OpenCongress User Yoder</span>
        </a>
      </div>


      <!-- 5-10 -->
      <div>
        <a href="http://voices.washingtonpost.com/ezra-klein/2010/03/casualties_of_the_reconciliati.html"><img src="/images/donate/wapo.gif" />
        <blockquote>"All Hail OpenCongress.org ... "</blockquote>
        <span class="att">-- Ezra Klein, Policy Blogger</span></a>
      </div>
      
      <!-- 10-15 -->

  
    <div class="user">
        <a href="http://www.opencongress.org/users/txgalnokc/profile"> 
<img width="60" src="http://www.opencongress.org//images/users/txgalnokc_m.jpg" />

          <blockquote>"Thank you for keeping us posted on the UI bill. Amongst all the different stories being told on this subject - it's hard to know the truth from a lie. That's why I feel confident coming to OpenCongress - I know I can come here for honest, straightforward answers. Your effort is greatly appreciated!"</blockquote>
          <span class="att">-- OpenCongress User txgalnokc</span>
        </a>
      </div>


      <div class="digg">

        <a href="http://digg.com/politics/The_REAL_story_about_Congress"><img src="/images/donate/digg.gif" /></a>


      </div>

      <div class="user">
        <a href="http://www.opencongress.org/users/loganstorm/profile">
          <img width="60" src="http://www.opencongress.org//images/users/loganstorm_m.jpg" />
          <blockquote class="smaller">"FYI- Lots of great articles posted on the opencongress facebook page"</blockquote>
          <span class="att">-- OpenCongress User Loganstorm</span>
        </a>
      </div>


      <div class="meta">

        <a href="http://www.metafilter.com/59023/Make-Congress-more-transparent-and-encourage-civic-engagement"><img src="/images/donate/meta.gif" /></a>


      </div>
    <div class="user">
        <a href="">
          <img width="60" src="http://www.opencongress.org//images/users/firstcoyote_m.jpg" />
          <blockquote class="smaller">"OpenCongress is the only forum I go to on a regular basis."</blockquote>
          <span class="att">-- OpenCongress User firstcoyote</span>
        </a>
      </div>
      


      <div class="pc">

        <a href="http://www.pcworld.com/article/151440/5_sites_that_will_boost_your_political_awareness.html"><img src="/images/donate/pc.gif" /></a>


      </div>

  
    <div class="user">
        <a href="http://www.opencongress.org/users/Taylor09/profile">
          <img width="60" src="http://www.opencongress.org//images/users/Taylor09_m.jpg" />
          <blockquote class="smaller">"Thank you OpenCongress for educating us and allowing us to come together and form a community of understanding individuals. This bill is so personal to each and every one of us that we naturally become emotional. If only our Senators could understand."</blockquote>
          <span class="att">-- OpenCongress User Taylor09</span>
        </a>
      </div>
      
  <div class="new">

        <a href="http://www.newyorker.com/online/blogs/currents/2010/07/john-kerry.html"><img src="/images/donate/new.gif" /></a>


      </div>
  
    <div class="user">
        <a href="http://www.opencongress.org/users/AesSedai/profile">
          <blockquote class="smaller">"The more I read comments at opencongress the more I realize that it may not be true what's being said about Americans - that they have become apathetic and care more about reality tv and dance shows than their country. Finding opencongress was the best thing that's happened so far this year!"</blockquote>
          <span class="att">-- OpenCongress User AesSedai</span>
        </a>
      </div>


  
    <div class="user">
        <a href="http://www.opencongress.org/users/nancym/profile">
          <blockquote class="smaller">"...it's great that Open Congress gives us the chance to see these things in progress so we can voice our opinions before it's all set in stone."</blockquote>
          <span class="att">-- OpenCongress User nancym</span>
        </a>
      </div>
 </div>
   

</div>


<br clear="all" />


<div class="nov">     

<!-- "next page" action -->
<a class="next browse right"></a>


<!-- "previous page" action -->
<a class="prev browse left"></a>

<!-- wrapper for navigator elements -->
<div class="navi"></div>

</div> 


</div>


<!-- javascript coding -->
<script>
// What is $(document).ready ? See: http://flowplayer.org/tools/documentation/basics.html#document_ready
$(document).ready(function() {

// heeeeeeeeeeere we go.
$("#chained").scrollable({circular: true, mousewheel: true}).navigator().autoscroll({
	interval: 10000		
});

$("a[rel]").overlay({
	effect: 'drop',
	mask: '#789'
});


});
</script>


    



     
    </div>
<div class="principles">
 <h2>Our Principles</h2>
      <ul class="principles">
        <li>Free to everyone</li>
        <li>Open-source</li>
        <li>Open Standards</li>
        <li>Not-for-profit</li>
        <li>Non-partisan</li>
      </ul>
</div>
  </div>


  </div>
</div>

<div class="ppf"></div>



<div class="simple_overlay" id="donate">
<form action="http://crm.ppolitics.org/civicrm/contribute/transact" method="post" name="Main" id="Main" enctype="multipart/form-data" >



  <div><input name="qfKey" type="hidden" value="809e327d3299174d27c5f91de66ee17e" />
<input name="_qf_default" type="hidden" value="Main:upload" />
<input name="MAX_FILE_SIZE" type="hidden" value="2097152" />
</div>


<script type="text/javascript">
<!--
// Putting these functions directly in template so they are available for standalone forms

function useAmountOther() {
    for( i=0; i < document.Main.elements.length; i++ ) {
        element = document.Main.elements[i];
        if ( element.type == 'radio' && element.name == 'amount' ) {
            if (element.value == 'amount_other_radio' ) {
                element.checked = true;
            } else {
                element.checked = false;
            }
        }
    }
}

function clearAmountOther() {
  if (document.Main.amount_other == null) return; // other_amt field not present; do nothing
  document.Main.amount_other.value = "";
}

//-->
</script>



<div class="form-item">

    
		    <div class="section amount-section">
			<div class="label"><label>  Contribution Amount
   <span class="marker" title="This field is required.">*</span>
</label></div>

<div class="content">

<input onclick="clearAmountOther();" value="313" type="radio" id="CIVICRM_QFID_313__20_00" name="amount" checked="checked" />
<label for="CIVICRM_QFID_313__20_00">$ 20.00 </label><br /><input onclick="clearAmountOther();" value="314" type="radio" id="CIVICRM_QFID_314__50_00" name="amount" />
<label for="CIVICRM_QFID_314__50_00">$ 50.00 </label><br /><input onclick="clearAmountOther();" value="315" type="radio" id="CIVICRM_QFID_315__100_0" name="amount" />
<label for="CIVICRM_QFID_315__100_0">$ 100.00 </label><br /><input onclick="clearAmountOther();" value="316" type="radio" id="CIVICRM_QFID_316__200_0" name="amount" />
<label for="CIVICRM_QFID_316__200_0">$ 200.00 </label><br />

<input value="amount_other_radio" type="radio" id="CIVICRM_QFID_amount_other_radio_Other_A" name="amount" class="amount_radio" />
<div class="amount"><span>$</span> <input size="10" maxlength="10" onfocus="useAmountOther();" name="amount_other" type="text" id="amount_other" class="form-text money" /></div>
</div>

			<div class="clear"></div> 
	 

	 
	    </div>
	 
	 
		    	    <div class="section email-5-section">
	    	<div class="label"><label for="email-5">  Email Address
   <span class="marker" title="This field is required.">*</span>

</label></div>
	    	<div class="content">
	    		<input size="30" maxlength="60" name="email-5" type="text" id="email-5" class="form-text big required" />
	    	</div>
	    	<div class="clear"></div> 
	    </div>
	
	
    <div class="crm-group custom_pre_profile-group">
    	  


  <script type="text/javascript">
   
cj(document).ready(function(){ 
	cj('#selector tr:even').addClass('odd-row ');
	cj('#selector tr:odd ').addClass('even-row');
});
 
  </script>
 	
  </div>

     

<div class="crm-group custom_post_profile-group">
  
      <div class="label">
      <label for="custom_3">Send us a Note! (Optional, just for fun.)</label>
      

    <textarea rows="4" cols="60" name="custom_3" id="custom_3" class="form-textarea"></textarea>
  
  <div class="clear"></div>
</div>

<div class="messages help">

<p><strong>The information you provide will not be shared with anyone else.</strong>


 
  


  <script type="text/javascript">
   
cj(document).ready(function(){ 
	cj('#selector tr:even').addClass('odd-row ');
	cj('#selector tr:odd ').addClass('even-row');
});
 
  </script>
	</div>
    <div id="crm-submit-buttons"><button class="form-submit default" name="_qf_Main_upload" value="Continue &gt;&gt;" type="submit"><span>Continue</span></button></div>

  </div>


</form>
</div>







<script>

// create custom animation algorithm for jQuery called "drop" 
$.easing.drop = function (x, t, b, c, d) {
	return -c * (Math.sqrt(1 - (t/=d)*t) - 1) + b;
};


// loading animation
$.tools.overlay.addEffect("drop", function(css, done) { 
   
   // use Overlay API to gain access to crucial elements
   var conf = this.getConf(),
       overlay = this.getOverlay();           
   
   // determine initial position for the overlay
   if (conf.fixed)  {
      css.position = 'fixed';
   } else {
      css.top += $(window).scrollTop();
      css.left += $(window).scrollLeft();
      css.position = 'absolute';
   } 
   
   // position the overlay and show it
   overlay.css(css).show();
   
   // begin animating with our custom easing
   overlay.animate({ top: '+=55',  opacity: 1,  width: '+=20'}, 700, 'drop', done);
   
   /* closing animation */
   }, function(done) {
      this.getOverlay().animate({top:'-=55', opacity:0, width:'-=20'}, 300, 'drop', function() {
         $(this).hide();
         done.call();      
      });
   }
);

$("img[rel]").overlay({
	effect: 'drop',
	mask: '#789'
});
</script>





</body>

</html>

