

<div class="wrapper" id="main">
  <div class="logo">OpenCongress</div>
  
  <h1>Help Keep OpenCongress <strong>Up and Running</strong></h1>
  
  <div class="banner"><p>Make a charitable donation</p><span class="big_arrow"></span><a class="donate_now" rel="#donate" href="#" id="donate_button">Donate Now</a><span class="left_cap"></span><span class="right_cap"></span></div>
  
  <div id="content">
  <div class="content_inner">
    <div class="left">
      <p class="classy">If you believe in transparent government, <span>we need your donation now.</span></p>
      <p>OpenCongress is a non-profit project leading the fight for open and accountable government. Over the past three years, we've grown to become the most-visited government transparency website in the United States.</p>

	  <p><strong>Now, for the first time ever, we're asking for your donation to keep OpenCongress up and running.</strong><br />We're the Participatory Politics Foundation, a small non-profit organization working every day to help build public knowledge about Congress. We provide OpenCongress as an independent public resource, 100% free and open-source.</p>
	
	<p>As OpenCongress has grown, we've held it together with grants from our terrific founding supporter, the Sunlight Foundation, and a few micro-donations... but we've reached the limit of what we can do. So today, we need your help:</p> 
      <a class="donate_now" href="#" rel="#donate">Donate Now</a><br /><br /><br />

	<p class="larger">
Donations to OpenCongress are <strong>tax-deductible</strong>.<br /><br />

Larger donors and charitable foundations: we have a good start and big plans. Are you in a position to give $1,000 or more to help us build some amazing new tools on OpenCongress? <strong><a href="mailto:david@opencongress.org">Get in touch!</a></strong></p>

<div class="share">
<script type="text/javascript">
tweetmeme_style = 'compact';
</script>
<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.opencongress.org%2Fdonate&amp;layout=button_count&amp;show_faces=false&amp;width=100&amp;action=recommend&amp;font=lucida+grande&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
<script type="text/javascript" src="http://tweetmeme.com/i/scripts/button.js"></script>
<a class="DiggThisButton DiggCompact"></a>

<a href="http://bit.ly/supportOC" class="bitly">bit.ly</a>

</div>
  </div>

    <div class="right">
      <div class="venn"></div>


<div class="scrolling">
<!-- root element for scrollable -->
<div class="scrollable" id="chained">   
   
   <!-- root element for the items -->

   <div class="items">
   
      <div class="user">
        <a href="http://www.opencongress.org/users/DrMcNugget/profile">
          <img width="60" src="http://www.opencongress.org/images/users/DrMcNugget_s.jpg" />
          <blockquote class="smaller">"...I believe very much in the principle of free speech, but I believe even more strongly in the principle of free speech based on factual information. ... Thank you, all, for using facts to support, well, the facts. Our nation is indebted to you for this service."</blockquote>
          <span class="att">-- OpenCongress User DrMcNugget</span>
        </a>
      </div>

      <!-- 1-5 -->
      <div>
        <a href="http://www.readwriteweb.com/archives/opencongress_congress_tracking.php"><img src="/images/donate/rww.gif" />
        <blockquote>"This is a really well put-together site that makes me want to pay attention to politics because the user experience is so smooth and compelling."</blockquote>
        <span class="att">-- Marshall Kirkpatrick, Co-Editor</span></a>
      </div>

      <div class="user">
        <a href="http://www.opencongress.org/users/yoder/profile">
          <img width="60" src="http://www.opencongress.org//images/users/yoder_m.jpg" />
          <blockquote class="smaller">"The OpenCongress Blog, and more like them, are precisely what this country needs."</blockquote><br />
          <span class="att">-- OpenCongress User Yoder</span>
        </a>
      </div>


      <!-- 5-10 -->
      <div>
        <a href="http://voices.washingtonpost.com/ezra-klein/2010/03/casualties_of_the_reconciliati.html"><img src="/images/donate/wapo.gif" />
        <blockquote>"All Hail OpenCongress.org ... "</blockquote>
        <span class="att">-- Ezra Klein, Policy Blogger</span></a>
      </div>
      
      <!-- 10-15 -->

  
    <div class="user">
        <a href="http://www.opencongress.org/users/txgalnokc/profile"> 
<img width="60" src="http://www.opencongress.org//images/users/txgalnokc_m.jpg" />

          <blockquote>"Thank you for keeping us posted on the UI bill. Amongst all the different stories being told on this subject - it's hard to know the truth from a lie. That's why I feel confident coming to OpenCongress - I know I can come here for honest, straightforward answers. Your effort is greatly appreciated!"</blockquote>
          <span class="att">-- OpenCongress User txgalnokc</span>
        </a>
      </div>


      <div class="digg">

        <a href="http://digg.com/politics/The_REAL_story_about_Congress"><img src="/images/donate/digg.gif" /></a>


      </div>

      <div class="user">
        <a href="http://www.opencongress.org/users/loganstorm/profile">
          <img width="60" src="http://www.opencongress.org//images/users/loganstorm_m.jpg" />
          <blockquote class="smaller">"FYI- Lots of great articles posted on the opencongress facebook page"</blockquote>
          <span class="att">-- OpenCongress User Loganstorm</span>
        </a>
      </div>


      <div class="meta">

        <a href="http://www.metafilter.com/59023/Make-Congress-more-transparent-and-encourage-civic-engagement"><img src="/images/donate/meta.gif" /></a>


      </div>
    <div class="user">
        <a href="">
          <img width="60" src="http://www.opencongress.org//images/users/firstcoyote_m.jpg" />
          <blockquote class="smaller">"OpenCongress is the only forum I go to on a regular basis."</blockquote>
          <span class="att">-- OpenCongress User firstcoyote</span>
        </a>
      </div>
      


      <div class="pc">

        <a href="http://www.pcworld.com/article/151440/5_sites_that_will_boost_your_political_awareness.html"><img src="/images/donate/pc.gif" /></a>


      </div>

  
    <div class="user">
        <a href="http://www.opencongress.org/users/Taylor09/profile">
          <img width="60" src="http://www.opencongress.org//images/users/Taylor09_m.jpg" />
          <blockquote class="smaller">"Thank you OpenCongress for educating us and allowing us to come together and form a community of understanding individuals. This bill is so personal to each and every one of us that we naturally become emotional. If only our Senators could understand."</blockquote>
          <span class="att">-- OpenCongress User Taylor09</span>
        </a>
      </div>
      
  <div class="new">

        <a href="http://www.newyorker.com/online/blogs/currents/2010/07/john-kerry.html"><img src="/images/donate/new.gif" /></a>


      </div>
  
    <div class="user">
        <a href="http://www.opencongress.org/users/AesSedai/profile">
          <blockquote class="smaller">"The more I read comments at opencongress the more I realize that it may not be true what's being said about Americans - that they have become apathetic and care more about reality tv and dance shows than their country. Finding opencongress was the best thing that's happened so far this year!"</blockquote>
          <span class="att">-- OpenCongress User AesSedai</span>
        </a>
      </div>


  
    <div class="user">
        <a href="http://www.opencongress.org/users/nancym/profile">
          <blockquote class="smaller">"...it's great that Open Congress gives us the chance to see these things in progress so we can voice our opinions before it's all set in stone."</blockquote>
          <span class="att">-- OpenCongress User nancym</span>
        </a>
      </div>
 </div>
   

</div>


<br clear="all" />


<div class="nov">     

<!-- "next page" action -->
<a class="next browse right"></a>


<!-- "previous page" action -->
<a class="prev browse left"></a>

<!-- wrapper for navigator elements -->
<div class="navi"></div>

</div> 


</div>
     
    </div>
<div class="principles">
 <h2>Our Principles</h2>
      <ul class="principles">
        <li>Free to everyone</li>
        <li>Open-source</li>
        <li>Open standards</li>
        <li>Not-for-profit</li>
        <li>Non-partisan</li>
  		<li>Copyleft</li>
		<li>For Net Neutrality</li>
		<li>For Fair Elections</li>
		<li>Against Systemic Corruption</li>
      </ul>
</div>
  </div>


  </div>
</div>

<div class="ppf"></div>

<div class="simple_overlay" id="donate">

<p class="error"><%= params[:error] if params[:error] %></p>

<div class="select_amount">
<a href="https://crm.ppolitics.org/sites/all/modules/civicrm/bin/OneClick.php?oc_action=donate&amp;pp=paypal&amp;amount=20&amp;groups=PPF+News:Supporters&amp;receipt=42" class="wait">$20</a>
<a href="https://crm.ppolitics.org/sites/all/modules/civicrm/bin/OneClick.php?oc_action=donate&amp;pp=paypal&amp;amount=50&amp;groups=PPF+News:Supporters&amp;receipt=42" class="wait">$50</a>
<a href="https://crm.ppolitics.org/sites/all/modules/civicrm/bin/OneClick.php?oc_action=donate&amp;pp=paypal&amp;amount=100&amp;groups=PPF+News:Supporters&amp;receipt=42" class="wait">$100</a>
<a href="https://crm.ppolitics.org/sites/all/modules/civicrm/bin/OneClick.php?oc_action=donate&amp;pp=paypal&amp;amount=200&amp;groups=PPF+News:Supporters&amp;receipt=42" class="wait">$200</a>

<form action="https://crm.ppolitics.org/sites/all/modules/civicrm/bin/OneClick.php">
   <input type="hidden" name="oc_action" value="donate">
   <input type="hidden" name="pp" value="paypal">
   <input type="hidden" name="groups" value="PPF News:Supporters">
   <input type="hidden" name="receipt" value="42">
   <label for="donate_amount">$</label><input type="text" name="amount" id="donate_amount">
   <input type="submit" value="Donate" class="wait">
</form>

</div>


</div>


<script>


// create custom animation algorithm for jQuery called "drop" 
$.easing.drop = function (x, t, b, c, d) {
	return -c * (Math.sqrt(1 - (t/=d)*t) - 1) + b;
};

$('.wait').click(function() {
   $("body").css("cursor", "progress");
});

// loading animation
$.tools.overlay.addEffect("drop", function(css, done) { 
   
   // use Overlay API to gain access to crucial elements
   var conf = this.getConf(),
       overlay = this.getOverlay();           
   
   // determine initial position for the overlay
   if (conf.fixed)  {
      css.position = 'fixed';
   } else {
      css.top += $(window).scrollTop();
      css.left += $(window).scrollLeft();
      css.position = 'absolute';
   } 
   
   // position the overlay and show it
   overlay.css(css).show();
   
   // begin animating with our custom easing
   overlay.animate(
      { top: '+=55',  opacity: 1 }, 200, 'drop', done);
   
   /* closing animation */
   }, function(done) {
      this.getOverlay().animate({opacity:0}, 100, 'drop', function() {
         $(this).hide();
         done.call();      
      });
   }
);

// What is $(document).ready ? See: http://flowplayer.org/tools/documentation/basics.html#document_ready
$(document).ready(function() {

// heeeeeeeeeeere we go.
$("#chained").scrollable({circular: true, mousewheel: true}).navigator().autoscroll({
	interval: 10000		
});

$("a[rel]").overlay({
	effect: 'drop',
	mask: '#789'
});


$("img[rel]").overlay({
	effect: 'drop',
	mask: '#789'
});


<% if params[:error] %>
// Show the overlay.
$('#donate_button').click();
<% end %>


});

</script>





</body>

</html>
