

<div class="wrapper">
  <div class="logo">OpenCongress</div>
  
  <h1>Help Keep OpenCongress <strong>Up and Running</strong></h1>
  
  <div class="banner"><p>Make a charitable donation</p><a class="donate_now" href="#">Donate Now</a><span class="left_cap"></span><span class="right_cap"></span></div>
  
  <div class="content">
  <div class="content_inner">
    <div class="left">
      <p class="classy">If you believe in transparent government, <span>we need your donation now.</span></p>
      <p>OpenCongress is made a non-profit organization that is leading the fight for an open and accountable government. Over the past three years, we've grown to become the most-visited government transparency website in the United States, and maybe in the world.</p>
	  <p><strong>Now, for the first time ever, we're asking for your donation to keep OpenCongress up and running.</strong> We're the Participatory Politics Foundation, a small 501(c)3 non-profit team working every day to maintain this hugely popular public resource. We're web-based, collaborative, and independent. We're active participants in the open-source community, and dedicated activists in reforming the political culture of Washington, D.C.</p>
	<p>As OpenCongress has grown, we've been supported by grants from our terrific partners, the Sunlight Foundation, and a handful of micro-donations... but we've reached the limit of what we can do with our current shoestring setup. So today, we need your help:</p> 
      <a class="donate_now" href="#">Donate Now</a>
    </div>
    
    <div class="right">
      <div class="venn"></div>
      
      <h2>Our Principles</h2>
      <ul class="principles">
        <li>Free to everyone</li>
        <li>Open-source</li>
        <li>Open Standards</li>
        <li>Not-for-profit</li>
        <li>Non-partisan</li>
      </ul>
    </div>
  </div>
  </div>
</div>

<div class="ppf"></div>