

<div class="wrapper">
  <div class="logo">OpenCongress</div>
  
  <h1>Help Keep OpenCongress <strong>Up and Running</strong></h1>
  
  <div class="banner"><p>Make a charitable donation</p><a class="donate_now" href="#">Donate Now</a><span class="left_cap"></span><span class="right_cap"></span></div>
  
  <div class="content">
  <div class="content_inner">
    <div class="left">
      <p class="classy">If you believe in transparent government, <span>we need your donation now.</span></p>
      <p>OpenCongress is a non-profit project leading the fight for open and accountable government. Over the past three years, we've grown to become the most-visited government transparency website in the United States.</p>
	  <p><strong>Now, for the first time ever, we're asking for your donation to keep OpenCongress up and running.</strong><br />We're the Participatory Politics Foundation, a small 501(c)3 non-profit organization working every day to provide this popular public resource and build public knowledge about Congress. We're web-based, independent, and active in the open-source community.</p>
	<p>As OpenCongress has grown, we've been supported by grants from our terrific founding partners, the Sunlight Foundation, and a handful of micro-donations... but we've reached the limit of what we can do with our current resources. So today, in the first-ever OpenCongress fundraiser, we need your help:</p> 
      <a class="donate_now" href="#">Donate Now</a><br /><br /><br />

	<p>Want to show even more support? Become an OC Booster. It's our new group of members who give one dollar per day to support our daily work on OpenCongress and our larger mission of open government for everyone.</p>

	<p>Larger donors and organizations: are you in a position to contribute $1,000 or more to help us build some amazing new open-source tools on OpenCongress? Get in touch!</p>

	<p>Foundations: we have a good start on a more transparent government, but really, we've just begun -- with additional resources, OpenCongress can enable powerful new types of civic engagement, both online and offline. For more info, please see our non-profit funding prospectus.</p>
    </div>
    
    <div class="right">
      <div class="venn"></div>
      
      <h2>Our Principles</h2>
      <ul class="principles">
        <li>Free to everyone</li>
        <li>Open-source</li>
        <li>Open Standards</li>
        <li>Not-for-profit</li>
        <li>Non-partisan</li>
      </ul>
    </div>
  </div>
  </div>
</div>

<div class="ppf"></div>

