<div class="pretty-text">  
<a href="#myoc">My OpenCongress &mdash; custom tracking tool</a><br />
<a href="#connect">Connect with Supporters and Constituents</a><br />
<a href="#communicate">Communicate with Constituents</a><br />
<a href="#share">Share Legislative Info Easily with Widgets</a><br />
<a href="#facebook">Put Bills on Facebook</a><br />
<a href="#videos">Videos of Congress</a><br />
<a href="#headtohead">Head to Head Member Vote Comparison</a><br />
<a href="#rss">RSS Feeds</a><br />
<br />


<a name="myoc"></a>
<h3>My OpenCongress &mdash; custom tracking tool</h3>
<p>By creating a "My OpenCongress" account, you'll have the ability to track the latest actions as well as what's being said by the public on everything in Congress. "My OpenCongress" accounts provide a personalized view of all the information you want about the bills, senators, representatives and issue areas you want to follow. Just click "Track This Item" at the top of any page on OpenCongress and you've begun building a one-of-a-kind platform for watching all the happenings in Congress that matter to you. So, for example, if you track a bill sponsored by the member of Congress you work for, you'll get automatic updates about everything that's being said about it in the blogs, in the news, and in the comments forms on OpenCongress. Profiles can be public, so you can share this information with constituents, or private, so you have exclusive access to all this information. </p>

<a name="connect"></a>
<h3>Connect with Supporters and Constituents</h3>
<p>"My OpenCongress" is the first ever social network designed for people who care about Congress. This is a great way for member of Congress's offices to keep in touch with constituents who follow congressional activity closely. You can find new friends throughout the site, and it's easy to look up people in your state and district. First login, then click on the "My Friends" tab in your My OpenCongress profile and click "see users in my state and district" to become friends with constituents. Your friends will see all your comments and other activity on OpenCongress through their friend feed. It's a great way to communicate to constituents about your take on important legislation.</p>

<a name="communicate"></a>
<h3>Communicate with Constituents</h3>
<p>Now there are comment boards on pages for every bill, Senator, and Representative, located in a separate tab at the top of each page. These boards allow people to discuss details, share links, evaluate political landscapes, and give their opinions. They are designed to "filter up" the comments rated "most helpful" by users, and every user has the ability to set his or her personal ratings filter higher to see only the comments rated most-helpful or lower to see every comment on the page. Congressional offices could use these comment boards to explain their opinion on particular bills in Congress, or to engage in ongoing discussions. Many bill pages on OpenCongress are top hits on search engines, so these comment boards have an impact on the overall public debate.</p>

<a name="#share"></a>
<h3>Share Legislative Info Easily with Widgets</h3>
<p>From our Resources page, you can easily display information from OpenCongress on your House or Senate website. With these free widgets, constituents viewing your site can follow the latest trends in Congress: the most-viewed bills, Senators and Representatives most written-about on blogs, the top search terms on OpenCongress, and much more. One of the widgets that is most useful for members of Congress is out bill syndication panel, which lets you post all the essential details about a bill -- title, sponsors and co-sponsors, status in Congress, recent actions -- that are automatically updated. For an example, see <a href="http://honda.house.gov/legislation/2008/stem.shtml">Rep. Honda's use of of our widgets</a>.</p>

<a name="facebook"></a>
<h3>Put Bills on Facebook</h3>
<p>From our Resources page, grab the OpenCongress Facebook application to add bills to your office's Facebook profile page. It's an easy way to share bills you are sponsoring or supporting with constituents you have connected with on Facebook. You can also add a comment about each bill. Like the webwidget, the Facebook app provideas all the essential details about a bill -- title, sponsors and co-sponsors, status in Congress, recent actions -- and is automatically updated as bills move through Congress. It's a great way to get constituents talking about bills and sharing them with others in ways that are social and viral.</p>

<a name="videos"></a>
<h3>Videos of Congress</h3>
<p>OpenCongress pages have the best archives of congressional video publicly available. OpenCongress automatically brings in relevant videos for of Members of Congress and prominent bills from <a href="http://www.http//metavid.org/wiki/">Metavid</a>, the open video archive, and the YouTube <a href="http://www.youtube.com/senatehub">Senate Hub</a> and <a href="http://www.youtube.com/househub">House Hub</a>. Video coverage for legislation and floor debates comes primarily from Metavid, a non-profit project of UC Santa Cruz and the Sunlight Foundation serving as a community archive project for public domain US legislative footage. See the <a href="http://www.opencongress.org/bill/111-h1/videos">video section on H.R. 1</a> and on <a href="http://www.opencongress.org/person/videos/400652_ted_poe">Rep. Ted Poe's page</a> for examples. You can help ensure the best floor statements from your office are on the relevant OpenCongress bill pages by <a href="http://metavid.org/wiki/Help:Participation_Quickstart">tagging them at Metavid</a>.</p>

<a name="headtohead"></a>
<h3>Head to Head Member Vote Comparison</h3>
<p>This is a tool that lets you compare the voting records of any two members of the House or any two members of the Senate. You can use this to highlight key differences between the member of Congress you work for and, say, a member from the same state but the opposite party. Or you can use it to show their independence from their own party -- compare your boss to a member of their party's leadership to see the specific votes that set them apart from the party line.</p>

<a name="#rss"></a>
<h3>Subscribe to RSS Feeds</h3>
<p>If you haven't used RSS before, <a href="http://www.opencongress.org/about/rss">click here to get started</a>. It's really easy to do.

Subscribing to RSS feeds from OpenCongress is a timely and convenient way to get automatic updates on the latest developments with bills and more in Congress, including everything that is being said about them in the news and blogs. You can subscribe to a feed on OpenCongress wherever you see this feed icon: [icon]

OpenCongress offers RSS feeds for everything useful: every single bill, Member of Congress, and Congressional committee; over 4,000 issue areas; news coverage of every bill and every Member of Congress; and blog posts about every bill and every Member of Congress. By subscribing to OpenCongress RSS feeds for your office, you can get automatic updates every time a new blog or news article is published about your member of Congress or a bill they have sponsored, every time someone comments on one of those pages, or every time a sponsored bill advances in the legislative process.

But here's where things get really interesting: OpenCongress offers RSS feeds into the social wisdom created by people using OpenCongress. These unique RSS feeds are an easy and dynamic way to keep track of what's hot in Congress with the public. OpenCongress offers feeds of the most-viewed information over the past seven days in a variety of areas: bills, Senators, Representatives, committees, and issues.</p>

</div>