
<div id="heading">
	<h2>How to Use OpenCongress</h2>
</div>
<div class="padding">
<div class="pretty-text">
<p>OpenCongress is designed to help you keep track of what's really happening in Congress, your elected officials, and the issues you care about. We're continually adding new features and soliciting user feedback, but here are some of the many ways you can use OpenCongress:</p>

<ul class="star">
<li class="top-star"><a href="#my_opencongress">MyOpenCongress Profile Pages</a></li>
<li class="top-star"><a href="#network">Social Networking -- Make Friends Over Congress</a></li>
<li class="top-star"><a href="#discuss_comment">Discuss -- Comment on Congress</a></li>
<li class="top-star"><a href="#evaluate_rate">Evaluate -- Users Rate News and Blog Coverage</a></li>
<li class="top-star"><a href="#vote">Vote on Bills, Give Approval Ratings to Members</a></li>
<li class="top-star"><a href="#search">Search Smarter -- Dig Into the Haystack</a></li>
<li class="top-star"><a href="#hot_bills">See What's Hot - OpenCongress "Hot Bills"</a></li>
<li class="top-star"><a href="#widgets">Show Info with Widgets</a></li>
<li class="top-star"><a href="#facebook_app">Put OpenCongress on Facebook</a></li><br />
</ul>

<ul class="star">
<li class="top-star"><a href="#get_familiar">Get Familiar With Your Members of Congress</a></li>
<li class="top-star"><a href="#rss_feeds">Subscribe to RSS Feeds</a></li>
<li class="top-star"><a href="#follow_issue">Follow an Issue</a></li>
<li class="top-star"><a href="#lobby">Lobby More Effectively</a></li>
<li class="top-star"><a href="#signal_noise">Separate the Signal From the Noise</a></li>
<li class="top-star"><a href="#link_it">Link It Up</a></li>
<li class="top-star"><a href="#connect_dots">Connect the Dots</a></li>
<li class="top-star"><a href="#submit_a_tip">Submit a Tip</a></li><br />
</ul>

<a name="my_opencongress"></a>
<h3>My OpenCongress -- You're Your Own Best Watchdog</h3>
<p>Sign up for a <a href="/register">free account</a> with OpenCongress, it only takes a minute. "My OpenCongress" profiles provide a personalized view of all the information you want about the laws being made in Washington: bills, senators, representatives, issue areas, and more.  Just click the "Track with MyOC" button in the right-hand sidebar of any page to track that item and you've begun building a one-of-a-kind platform for watching the items you care about in Congress. Profiles are designed to encourage your democratic participation and to harness the collective social wisdom of people using this open web resource to get the real story behind what's happening in Congress.</p>

<a name="network"></a>
<h3>Network -- Make Friends Over Congress</h3>
<p>My OpenCongress is a simple social network that uses peer-to-peer communication to bring to light useful information about your political interests.  Users of My OpenCongress can find friends throughout the site, from noticing someone in a bill's comment thread to finding people in your district and state, and more. First login, then click on the "My Friends" tab in your My OpenCongress profile to add friends already on the site and invite new friends to join. You can discover unexpected information through your friends and mobilize your network to act on important issues.  For example, if you meet someone over a mutual interest in a bill on catastrophic climate change, you can view her tracked bills and learn about related provisions in the energy bill that you may have missed otherwise. And if you want to organize a call-in day, you can easily get in touch with all your friends in your district. It's  peer-to-peer way of spreading the most useful information about bills and issues.</p>

<a name="discuss_comment"></a>
<h3>Discuss -- Comment on Congress</h3>
<p>Now there are comment boards on pages for every bill, Senator, and Representative, located in the middle of each page under the news and blog results. These boards allow people to discuss details, share links, evaluate political landscapes, and give their opinions.  They are designed to "filter up" the comments rated "most helpful" by users, and every user has the ability to set his or her personal ratings filter higher to see only the comments rated most-helpful or lower to see every comment on the page. Users will also rack up a site-wide rating for all their comments, so there is an incentive for people with helpful insights or congressional expertise to comment more often. Visitors may post comments anonymously -- to encourage Congressional insiders of all types to make public information about the real story behind a bill -- but users must login to rate comments and earn a comment rating for their username. The more comments you rate, the better the comment boards work for everyone!</p>

<a name="evaluate_rate"></a>
<h3>Evaluate -- Users Rate News and Blog Coverage</h3>
<p>We're making our flagship feature even more useful.  Now, by using a simple slider bar located next to each news article and blog post linked on the site, My OpenCongress users can rate all the news and blog coverage for every bill and every member of Congress.  Together, we can uncover and share the very best news and blog coverage about Congress available on the web. Soon we'll be able to export (via RSS, widgets, and other methods) lists of the coverage rated most helpful by the OpenCongress user community.</p>

<a name="vote"></a>
<h3>Vote on Bills, Give Approval Ratings to Members</h3>
<p>A fundamental goal of OpenCongress is to make it possible for people to interact with Congress in ways that influence the laws being made and the people who are making them.  Now, OpenCongress users can vote "aye" or "nay" for every bill in Congress using the thumbs up, thumbs down icon at the top of each bill page, and view the sitewide results for each. In addition, users can give a personal "approval rating" to Senators and Representatives on a scale of 1-100 using the slider bar on each Member's page.  Coming soon, these user votes and ratings will be aggregated individually, by Congressional district, and in a unique sitewide forum. By themselves, an individual user's votes offer a powerful soapbox for his or her opinions; together, users' votes tell members of Congress exactly how the OpenCongress community stands on an issue. Stay tuned for more on this front.</p>

<a name="search"></a>
<h3>Search Smarter -- Dig Into the Haystack</h3>
<p>OpenCongress is continually working to improve our <a href="/search">Search</a> page and its algorithm to make it easier to find your query, be it an obscure bill or an important vote. Visit our <a href="http://www.opencongress.org/search/tips">Search Tips</a> for pointers on how to find what you're looking for in the Congressional haystack.</p>

<a name="search"></a>
<h3>See What's Hot - OpenCongress "Hot Bills"</h3>
<p>The editors of OpenCongress have compiled a unique list of "<a href="http://www.opencongress.org/bill/hot">Hot Bills</a>" grouped by issue area -- the most newsworthy bills, and in some cases the most contentious bills in Congress. It's an ideal starting point for finding a buzzworthy bill and getting to the heart of controversial issues.</p>

<a name="widgets"></a>
<h3>Show Info with Widgets</h3>
<p>Off our <a href="http://www.opencongress.org/resources">Tools</a> page, you can easily display information from OpenCongress on your website. With these free widgets, your visitors can follow the latest trends in Congress: the most-viewed bills, Senators and Representatives most written-about on blogs, the top search terms on OpenCongress, and much more. Our popular "Congress, I'm Watching" widget displays info about bills you support, oppose, or both. Let Congress know where you stand! It's an easy way to keep your community up-to-date on the bills that are important to you. Grab one today and help build effective public oversight of Congress. </p>

<a name="hot_bills"></a>
<h3>See What's Hot - OpenCongress "Hot Bills"</h3>
<p>The editors of OpenCongress have compiled a unique list of "<a href="http://www.opencongress.org/bill/hot">Hot Bills</a>" grouped by issue area -- the most newsworthy bills, and in some cases the most contentious bills in Congress. It's an ideal starting point for finding a buzzworthy bill and getting to the heart of controversial issues.</p>

<a name="facebook_app"></a>
<h3>Put OpenCongress on Facebook"</h3>
<p>Grab the OpenCongress <a href="http://www.opencongress.org/facebook/intro">Facebook application</a> to add bills that interest you on your Facebook profile. It's an easy way to tell your friends which pieces of legislation you are following. You can also add a comment about why you think the bill is important. Don't forget to join our OpenCongress <a href="http://www.facebook.com/group.php?gid=15201705550">Users Group</a> on Facebook while you're at it.</p>

<a name="get_familiar"></a>
<h3>Get Familiar With Your Members of Congress</h3>
<p>If you don't already know who represents you in Congress, you can <a href="/people/zipcodelookup">look them up</a> by your zipcode. On the pages of your Senators and Represenative, you can look through their full voting history, their recent sponsored bills, and see which industry sectors account for their campaign contributions. By subscribing to their RSS feeds, you can easily keep track of their latest votes and sponsored legislation. On the same page as the bill itself, you will soon be able to contact Members of Congress to let them know what you think.</p>

<a name="rss_feeds"></a>
<h3>Subscribe to RSS Feeds</h3>
<p>If you haven't used RSS before, <a href="http://www.opencongress.org/about/rss">click here to get started</a>. It's really easy to do. </p>

<p>Subscribing to RSS feeds from OpenCongress is a timely and convenient way to stay in touch with the latest developments in Congress. You can subscribe to a feed wherever you see this feed icon:  <a href="#" class="feed">Feed</a></p>

<p>OpenCongress offers RSS feeds for everything useful: every single bill, Member of Congress, and Congressional committee; over 4,000 issue areas; news coverage of every bill and every Member of Congress; and blog posts about every bill and every Member of Congress.</p>

<p>But here's where things get really interesting: OpenCongress offers RSS feeds into the social wisdom created by people using OpenCongress. These unique RSS feeds are an easy and dynamic way for individuals and organizations to keep track of what's hot in Congress. OpenCongress offers feeds of the most-viewed information over the past seven days in a variety of areas: bills, Senators, Representatives, committees, and issues.</p>

<p>Any of these feeds can be freely syndicated on other websites, so individuals and organizations have an "at-a-glance" way to track the hottest, most buzzed-about information about Congress as a whole. Together, we can focus effective public scrutiny on the most newsworthy and "under-the-radar" actions in Congress, thereby increasing government transparency on a number of levels.</p>

<p>For a more detailed overview of the RSS feeds available on OpenCongress, or to subscribe to the feeds of "most-viewed" information on OpenCongress, please visit our <a href="/about/rss">RSS page</a>.</p>

<a name="follow_issue"></a>
<h3>Follow an Issue</h3>
<p> On the <a href="/issue">Issues</a> page, you can examine Congressional
 activity on issues that you care about -- for example, <a
 href="/issue/show/4549_health_policy">Health Policy</a>, or <a
 href="/issue/show/4517_national_security">National Security</a>, or <a
 href="/issue/show/4086_environmental_protection">Environmental
 Protection</a>, or any one of over 4,000 other issues. These issue areas were created and assigned by the Congressional Research Service, a government agency created by Congress to provide non-partisan research. Issues may be sorted in three ways: Alphabetically, by Most-Viewed on OpenCongress, or by Most Associated, which means that they are the issue areas affected by the largest number of bills in Congress. Subscribing to that issue's RSS feed means you'll always know when major bills are coming up for a vote, and you'll always get the latest vote results and other actions as soon as they happen.
 It's a convenient way for issue-based membership groups to stay in touch with the latest developments in Congress. For example, if you're a member of an environmental group, you and your fellow members can all keep on top of environmental protection legislation by subscribing to that page's RSS feed.</p>

<a name="lobby"></a>
<h3>Lobby More Effectively</h3>
 <p>On the <a href="/issues">Issues</a> page, you can look back through the
 results for major votes on issues you care about. You and your friends can identify prominent sponsors of legislation, as well as "swing" votes in Congress -- Members of Congress who tipped the balance in close votes.
 This makes it possible to better focus your lobbying efforts, as well as refer to specific bills and votes, when you call or write to your members of Congress.</p>

<a name="signal_noise"></a>
 <h3>Separate the Signal From the Noise</h3>
 <p>Congress introduces thousands of bills and resolutions every session. In
 order to understand the Congressional landscape, you want to know which
 bills are hot: which ones are the most closely contested, which ones are
 the most under-scrutinized, which ones are the most out-of-character for
 their sponsors, which ones have the most funding attached, which ones have
 the greatest implications.</p>

 <p>Until recently it's been difficult to separate the signal of truly weighty
 bills from the noise of hundreds of resolutions. Even if you follow the
 news, it can be hard to stay in touch with the latest maneuverings and
 what specific bills are really important. OpenCongress shows what bills are the most viewed and the most written-about elsewhere in the news, so you can focus your attention on the bills that actually make a difference.

</p>

<a name="link_it"></a>
 <h3>Link It Up</h3>
 <p>If you're blogging about politics, link to the page of a bill on Open Congress. Each bill's page gives your readers the "big picture" behind a bill: its sponsors, their campaign contributors, its status in Congress, and the news & blog buzz around it. For example, if you're writing about the War in Iraq, you can link to one of the bills in the "Iraq" issue area. Your readers can examine the full text of the bill and gain valuable context from news and blog posts.</p>

 <p>What's more, if you include the name of a bill (e.g., H.R. 5122) in your writing, your post itself will appear in the "Blog Coverage" section for that bill on OpenCongress. Same thing goes for the name of a Senator or Representative. In other words, by blogging about specific bills and Members of Congress, you can draw more OpenCongress readers to your own site.</p>

 <p>If you're writing about a politician, link to his or her page on OpenCongress. This will help your readers learn more about their recent voting history and campaign contributors. By focusing on their actual legislative records, we can hold politicians accountable for their performance in Congress.</p>

 <p>If you're writing about a political issue, link to that issue's page on OpenCongress. This will help show the recent swarm of activity around that issue in Congress -- the actual bills, instead of the accumulated perceptions around an issue. When it comes to Congress, the details matter.

</p>

<a name="connect_dots"></a>
 <h3>Connect the Dots</h3>

 <p>Using OpenCongress, you can draw connections between Congress-People, their voting records, and their campaign contributions. All the data is here: OpenCongress can be a tool for rooting out conflicts of interest, wasteful spending, and potential corruption in Congress. Also, you can use OpenCongress to single out praiseworthy legislation or applaud a Member of Congress for keeping a pledge.</p>

<a name="submit_a_tip"></a>
 <h3>Submit a Tip</h3>

 <p>You might have some of the best information on what's really happening in Congress. You can submit tips, anonymously or attributed, to OpenCongress that, after being reviewed, may be re-published on the OpenCongress blog. If you're a political insider, you can use this tool to expose corruption or put a spotlight on wasteful spending.</p>

 <p>In a similar way, the "submit a tip" feature can work as distributed citizen journalism to get the story behind what's really happening in Congress. For example, if you have contacted your members of Congress about, say, a close upcoming vote, and you received an answer from their offices about which way they are voting, you can share the news here.</p>
	
 <h3>Contact Us</h3>
 <p>We're always interested in hearing from you -- about how you're using OpenCongress, suggestions for how it can be more useful for you, and new features you'd like to see. We actively encourage you to join our non-commercial, open-source development team and help our effort to open up the Congressional process to everyone. Feel free to <a href="/contact">contact us</a> anytime.</p>
</div>
</div>
