<div id="heading">
	<h2>About OpenCongress</h2>
</div>

<div class="padding">
<div class="pretty-text">
<a href="#about_opencongress">Overview - About Us</a><br />
<a href="#problems_to_address">The Fundamental Problems with Congressional Data</a><br />
<a href="#about_information">Data Sources</a><br />
<a href="#about_site_policies">Site Policies</a><br />
<a href="#how_to_help">Get Involved</a><br />
<a href="#about_how_to_use">Ways You Can Use Use OpenCongress</a><br />
<a href="#coming_soon">New Features Coming Soon & Our Future Development Plans</a><br />
<a href="#about_foundations">About the Participatory Politics Foundation and the Sunlight Foundation</a><br />
<br />

<a name="about_opencongress"></a>
<h3>About OpenCongress</h3>

<p>OpenCongress brings together official government data with news and blog coverage, social networking, public participation tools, and more to give you the real story behind what's happening in Congress.</p>

<p>OpenCongress is a free, open-source, not-for-profit, and non-partisan web
resource with a mission to make Congress more transparent and to encourage civic engagement. OpenCongress is a joint project of two 501c(3) non-profit organizations, the <a href="http://participatorypolitics.org/" target="_blank">Participatory Politics Foundation</a> and the <a href="http://sunlightfoundation.com/" target="_blank">Sunlight Foundation</a>.</p>

<p>Put broadly, the main problem we seek to address with OpenCongress is that the Congressional legislative process is largely closed-off from timely and meaningful public input. For most people, finding out what's really happening in our democratically-elected Congress is a difficult and discouraging task. The rules by which bills become laws are notoriously arcane. What's more, Congress offers few channels for people to make their voices heard on consequential publicy policy matters before, during, and after the legislative process. This disconnect results in deep-seated public disapproval of Congress -- and worse, malignant apathy about politics as a whole.</p>

<p>Small groups of political insiders and federal lobbyists often have actionable knowledge about what's really going on with important bills and close votes in Congress, but this vital public information rarely makes its way out of the Beltway and into our daily lives. The official website of the Library of Congress, <a href="http://thomas.loc.gov/" target="_blank">THOMAS</a>,
publishes the full text of bills, but not in ways that are widely accessible to the public. (For more info on how this problematic process can and should easily change, please take a moment to read the <a href="http://resource.org/8_principles.html" target="_blank">8 Principles of Open Government Data</a>, strongly endorsed). Until Congress fully opens up the bill-to-law process to real public scrutiny and input, we can still do more to inform ourselves, affect legislative outcomes positively, and make our government more responsive.</p>

<p><strong>Now, with OpenCongress, everyone can be an insider.</strong> OpenCongress taps into the valuable social wisdom that is available on the
web, combined with official Congressional information and foregrounded features to
track what's hot, to give you a comprehensive snapshot of everything in Congress. Our <a href="http://github.com/opencongress/opencongress/tree/master" target="_blank">site code</a> is licensed under the open-source <a href="http://www.gnu.org/copyleft/gpl.html" target="_blank">GPL</a> and site content is published under a copyleft <a href="http://creativecommons.org/licenses/by-sa/3.0/us/">Creative Commons</a> license. Please remix and share what you find here -- help build public knowledge about Congress. OpenCongress brings together, for the first time in one place, all the best data on what's really happening in Congress:</p>
	
<ul class="star">
<li class="top-star">Official government data from the Library of Congress' website <a href="http://thomas.loc.gov/" target="_blank">THOMAS</a>, via the community project <a href="http://www.govtrack.us/" target="_blank">GovTrack</a>: every publicly-available piece of legislation (i.e., every bill), vote, committee report, and more. Additional data about Congress from the similarly community-driven <a href="http://www.sunlightlabs.com/" target="_blank">Sunlight Labs API</a>. </li>
<li class="top-star">News articles about bills and Members of Congress from <a href="http://news.google.com/" target="_blank">Google News</a> and the news service <a href="http://www.daylife.com/" target="_blank">Daylife</a>.</li>
<li class="top-star">Blog posts about bills and Members of Congress from <a href="http://blogsearch.google.com/" target="_blank">Google Blog Search</a>
and the blog service <a href="http://technorati.com/" target="_blank">Technorati</a>.</li>
<li class="top-star">Campaign contribution data for every Member of Congress from <a href="http://www.opensecrets.org/" target="_blank">OpenSecrets</a>, the
the website of the non-profit, non-partisan Center for Responsive Politics, and contribution analysis of prominent bills from the similarly non-partisan money-in-politics project <a href="http://maplight.org/" target="_blank">MAPLight</a>.</li>
<li class="top-star">Videos about Congress from <a href="http://www.http://metavid.org/wiki/" target="_blank">Metavid</a>, the open video archive, and the YouTube <a href="http://www.youtube.com/senatehub" target="_blank">Senate Hub</a> and <a href="http://www.youtube.com/househub" target="_blank">House Hub</a>.</li>.
<li class="top-star"><a href="/wiki" target="_blank">OpenCongress Wiki</a> - a publicly-editable Wiki about Congress, featuring narrative background on Members, collaborative analysis of key legislation, Congresssional scorecards from issue-based groups, directories of local political blogs, community projects, and more, all built on the open-source <a href="http://semantic-mediawiki.org/" target="_blank">semantic MediaWiki</a> software. The <a href="/wiki" target="_blank">OpenCongress Wiki</a> was previously known as <a href="http://www.sourcewatch.org/index.php?title=Congresspedia" target="_blank">Congresspedia</a>, originally housed at the <a href="http://www.prwatch.org/" target="_blank">Center for Media and Democracy</a> (PRWatch.org).</li>
<li class="top-star"><a href="/blog" target="blank">OpenCongress Blog</a>: a continually-updated blog written by the site editors of
OpenCongress that highlights useful news and blog reporting from around
the web. The blog also solicits tips, either anonymous or attributed, from
political insiders, citizen journalists, and the public in order to build
public knowledge about Congress.</li>
<li class="top-star"><a href="/api" target="_blank">OpenCongress API</a>: free ways for programmers to access all the structured data aggregated by OpenCongress and uniquely generated by site visitors in conjunction with our open user community.</ul>

In brief, OpenCongress works in the following ways:</p>

<ul class="star">
<li class="top-star">First, we continually aggregate all the best information about Congress available across the Web.</li>
<li class="top-star">Second, we harness social wisdom in order to "filter up" the most-viewed and attention-worthy bills, votes, issues, and people in Congress.</li>
<li class="top-star">Third, we build in a more user-friendly interface, one-click sharing tools, and "My OpenCongress" social networking features in order to facilitate peer-to-peer communication of the most useful information about Congress.</li>
<li class="top-star">Fourth, we provide free ways for the wider public to make their voices heard by contacting Congress with their questions, feedback, analysis, and input. In these ways, OpenCongress provides an open platform for individuals and organizations to organize online communities around their political interests and affect Congressional outcomes. Read more <a href="/about/howtouse" target="_blank">ways you can use OpenCongress</a>.</li>
</ul> 


<p>Each page on OpenCongress provides access to the full official details of
a bill: the text of the bill itself, its status in Congress, its voting
results. At the same time, each page allows you to see the big picture
behind a bill: recent news analyses of it, what its buzz is on blogs, what
industries gave campaign contributions to its sponsors. News coverage and
blog commentary are vital to understanding the Congressional process and
help to translate the highly technical language of bills into something
more intelligible. Future versions of OpenCongress will introduce more new
features in this regard, as well as more ways to collaboratively analyze
legislation and engage with Congress.</p>

<p>OpenCongress allows anyone to easily track a bill, a Member of Congress,
or an issue area, and to conveniently follow developments in any of those
areas by subscribing to a variety of customized <a href="http://www.opencongress.org/about/rss">RSS feeds</a>. By offering bills of relevant news and blog coverage for every bill and Member, we aim to close the information lag
and bring people closer to the Congressional process. Every bill on
OpenCongress is also organized by common <a href="http://www.opencongress.org/issue/alphabetical/A">Issue areas</a>, as assigned by the
government agency the <a href="http://www.loc.gov/crsinfo/">Congressional Research Service</a>, so you can find
bills of interest just by browsing an issue area that matters to you.
Along the way, OpenCongress lets you know which <a href="http://www.opencongress.org/bill/all">bills</a> are the hottest: the
most viewed, the most written about in the news, the most buzzed-about on
blogs.</p>

<p>OpenCongress can work as a tool for exposing corruption, putting a
spotlight on wasteful spending, and holding politicians accountable for
their records. Even since we launched OpenCongress, ongoing scandals in Congress prove that wasteful spending
and pay-to-play corruption are still endemic to the closed-off
Congressional process. In this way, OpenCongress works to open up the
doors and show how Congress actually works, as well as the real-world
implications of bills. By getting at what bills are, what they propose to
do, who is behind each bill, and where the money is coming from, we hope
to inform and add power to everyone’s political ideas.</p>

<p>To see what people are saying about OpenCongress, view recent news & blog coverage on <a href="http://bit.ly/Rb975">Google News</a> and <a href="http://technorati.com/blogs/opencongress.org">Technorati</a>.</p>

<p>For more press coverage, check out mentions of our work on some prominent social bookmarking sites and blogs: <a href="http://digg.com/search?s=opencongress.org&submit=Search&section=all&search-buried=1&type=all&area=all&sort=score">Digg</a>, <a href="http://www.reddit.com/domain/opencongress.org">reddit</a>, <a href="http://delicious.com/search?p=opencongress+or+opencongress.org&u=&chk=&context=all&fr=del_icio_us&lc=1"</a>del.icio.us</a>, <a href="http://www.stumbleupon.com/search?q=opencongress">StumbleUpon</a>, <a href="http://bit.ly/oeOUj">Slashdot</a>, <a href="http://search.techcrunch.com/query.php?s=opencongress.org">TechCrunch</a>, <a href="http://mashable.com/search-results/?cx=partner-pub-9942038924324175%3Alhvsj5-dt4y&cof=FORID%3A11&q=opencongress.org&sa.x=0&sa.y=0#1407">Mashable</a>, <a href="http://www.readwriteweb.com/fastsearch?search=opencongress.org&x=0&y=0">ReadWriteWeb</a>, <a href="http://www.wired.com/search?query=opencongress&siteAlias=all&x=0&y=0">Wired.com</a>, <a href="http://bit.ly/HYBHP">BoingBoing</a>, and <a href="http://query.nytimes.com/search/sitesearch?query=opencongress.org&srchst=cse">NYTimes.com</a>. To get an overview of more reactions to our site's public release and ongoing feature enhancements, see our blog's <a href="http://www.opencongress.org/articles/view/90-Early-Reviews-and-Mentions-of-OpenCongress">launch roundup</a> and our announcement following <a href="http://www.opencongress.org/articles/view/387--My-OpenCongress-in-Action-so-far-">My OpenCongress</a>.</p><br>

<!--
<p>Watch a video overview of OpenCongress, the information we offer, and ways you can use the site. This screencast was graciously created by Ryanne Hodson and Jay Dedman of <a href="http://ryanishungry.com/">RyanIsHungry.com</a> as a volunteer project.</p>
<div id="container">
	<a href="http://www.macromedia.com/go/getflashplayer">Get the Flash Player</a> to see this player.</div>
<script type="text/javascript" src="/javascripts/swfobject.js"></script>
<script type="text/javascript">
	var s1 = new SWFObject("/player.swf","ply","640","360","9","#333333");
	s1.addParam("allowfullscreen","true");
	s1.addParam("allowscriptaccess","always");
	s1.addParam("flashvars","file=/oc_whats.flv&image=/images/oc_whats_big.jpg&stretching=none&bufferlength=2");
	s1.write("container");
</script>
-->

<a name="problems_to_address"></a>
<h3>The Fundamental Problems with Congressional Data</h3>

<p>In January of 1995, Congress launched <a target="_blank" href="http://thomas.loc.gov/" target="_blank">THOMAS</a>, the online home of the Library of Congress, making available the full text of bills under consideration in Congress. THOMAS is a positive and necessary starting place for Congressional transparency, and continues to add new features as any government website of its kind would. But in its current state, put simply, Thomas is not a user-friendly web resource for a wide audience. The site's presentation of bill information can be difficult to understand (for example, check out their page for <a href="http://thomas.loc.gov/cgi-bin/bdquery/z?d111:H.R.3200:" target="_blank">H.R. 3200</a>, the major health care reform bill in the House), and bills are presented flatly, without any indicators of which ones (say, major appropriations bills) are more significant than others (say, resolutions naming post offices). With tens of thousands of bills and resolutions introduced each session of Congress, it's difficult to separate the signal from the noise and keep your eye on bills that are really important.</p>

<p>What's more, Thomas does little to make the arcane language of bills -- to say nothing of the complex & unpredictable bill-to-law process -- into something intelligible to a wider audience. Because the information of Congressional bills seems inaccessible, much writing on the web about politics is sadly divorced from the actual text of bills in Congress. There is a diverse and flourishing ecosystem of political blogs, and a huge number of engaged readers of political news, but for many reasons, the actual text of bills is not as frequently discussed on political blogs as it could be. Issue-based groups sometimes send "action alerts" to their members on specific bills, but such sporadic actions reflect the more general shortcoming: it's difficult for large numbers of people to stay engaged with the sometimes-glacial, sometimes-tumultuous Congressional process. Political news occasionally publicizes what happens in the basements and aptly-named "cloak rooms" of the Capitol building after-the-fact, but this is clearly insufficient for healthy (small-d) democratic participation.</p>

<p>The inaccessibility of Congressional information contributes to the widespread perception that the Congressional process is the realm of a privileged few, or worse, is irrelevant to our everyday lives. Just the opposite is true: the text of bills that are often crafted in Congressional subcommittees and voted on via obscure parliamentary maneuvers can have significant real-world implications, both at the kitchen table and abroad. Now we have the web tools to open up the Congressional process to effective public scrutiny and collaborative analysis. While there are improvements planned in this regard, OpenCongress offers a step forward by harnessing the wide-ranging body of social wisdom about Congress that is available in online news articles and blog posts. By placing the voices of journalists and bloggers directly alongside official Congressional information, OpenCongress seeks to contextualize and demystify Congress as a whole.</p>

<p>Congress produces thousands of bills and resolutions and statements each session, but together, we can focus attention on the ones that make the most difference. Which bills are the hottest on Capitol Hill? Which bills have the most money riding on them? Which bills affect the issues you care about? Which bills are the most volatile, or the most closely contested? OpenCongress offers anyone the ability to subscribe to RSS feeds of the most-viewed bills, Members of Congress, as well as RSS feeds listing the bills most written-about in the news and on blogs, so that you can keep track on the weightiest bills in the Congressional fray. We encourage organizations, membership groups, bloggers, and others to syndicate this "most-viewed on OpenCongress" information on their websites and thereby increase the number of people following the truly important bills in Congress.</p> 

<a name="about_information"></a>
<h3>Our Data Sources</h3>

<p>OpenCongress uses data provided by <a target="_blank" href="http://www.govtrack.us/" target="_blank">GovTrack.us</a>, which collects data from official government websites, such as <a href="http://thomas.loc.gov/" target="_blank">THOMAS</a>, through daily automated processes. All legislative information on OpenCongress originates from official government sources, and there is no editing of its details. We're committed to working alongside GovTrack and other data partners to ensure that new Congressional data is displayed as quickly as possible -- eventually, ideally, for truly transparent & participatory democracy, in real-time. Thanks especially to Joshua Tauberer of GovTrack for his generosity and expertise in this public service.</p>

<p>OpenCongress uses <a target="_blank" href="http://news.google.com/" target="_blank">Google News</a> and <a href="http://www.daylife.com/" target="_blank">Daylife</a> to obtain news articles about Congress, and <a target="_blank" href="http://blogsearch.google.com/" target="_blank">Google Blog Search</a> and <a target="_blank" href="http://technorati.com/" target="_blank">Technorati</a> to obtain blog posts about Congress. Thanks to both Google and Technorati for making this sort of open public resource possible. OpenCongress uses these automated services to search the internet widely for relevant search terms to display on OpenCongress pages for bills and Members of Congress. For example, if somewhere on the web someone refers to a bill names (such as "H.R. 1") or the name of a Member of Congress, that page is likely to soon be captured by the automated search function and included on the appropriate page on OpenCongress. While this process is neither immediate nor entirely comprehensive, it amounts to a significant step towards bringing together official Congressional information with the social wisdom and valuable context created by people in news and blog posts. We will be continually refining this process in order to make Open Congress as comprehensive as possible a public resource on every bill and Member of Congress.</p>

<!--
<p>For each Member of Congress, OpenCongress provides links to their profile on <a target="_blank" href="http://www.sourcewatch.org/index.php?title=Congresspedia">Congresspedia</a>, the "citizen's encyclopedia on Congress" that anyone can edit. Congresspedia is a not-for-profit, collaborative project of the Center for Media and Democracy and the Sunlight Foundation and is overseen by an editor to help ensure fairness and accuracy. Congresspedia is part of SourceWatch, a wiki-based website documenting the people, organizations and issues shaping the public agenda. Each profile on Congresspedia provides detailed biographical information on Members of Congress, their backgrounds, and their place in the Congressional landscape.</p>
-->

<p>OpenCongress uses campaign contribution information provided by the Center for Responsive Politics and their website <a href="http://www.opensecrets.org/" target="_blank">Open Secrets</a>, as well as the similarly non-partisan <a href="http://maplight.org/" target="_blank">MAPLight</a> . We are grateful to the CRP for this service and appreciate their vital role in researching and publishing data on money in politics. We will continue to work with all the above-mentioned organizations and others in the wider Web transparency community, such as <a href="http://change-congress.org/" target="_blank">Change Congress</a>, the <a href="http://www.personaldemocracy.com/" target="_blank">Personal Democracy Forum</a>, and <a href="http://sunlightfoundation.com/projects/" target="_blank">Sunlight Foundation Projects</a> to bring in more data and encourage greater transparency in government. Our goal is to make it possible for anyone to use OpenCongress to draw more detailed connections between lobbyists, campaign contributions, and specific legislation proposed by Members of Congress.</p>

<p>OpenCongress automatically brings in video coverage of Members of Congress from <a href="http://www.http://metavid.org/wiki/" target="_blank">Metavid</a>, the open video archive, and the YouTube <a href="http://www.youtube.com/senatehub" target="_blank">Senate Hub</a> and <a href="http://www.youtube.com/househub" target="_blank">House Hub</a>.</li>. Video coverage of bills and floor debates comes primarily from Metavid, a non-profit project of <a href="http://www.ucsc.edu/" target="_blank">UC Santa Cruz</a> and the <a href="http://www.sunlightfoundation.com/" target="_blank">Sunlight Foundation</a> serving as a community archive project for public domain US legislative footage.</p>

<a name="about_site_policies"></a>
<h3>OpenCongress Site Policies</h3>

<p>Read the official OpenCongress <a href="/about/terms_of_service" target="_blank">Terms of Service</a>, including our site Comment Policy, the <a href="/about/privacy_policy" target="_blank">Privacy Policy</a>, and the <a href="/about/copyright_policy" target="_blank">Copyright Policy</a>. For more info or questions, contact: <script type="text/javascript">m("writeus","opencongress","org","1");</script></p>

<p>OpenCongress site code is licensed under the open-source GNU <a href="http://www.gnu.org/licenses/gpl.html" target="_blank">General Public License</a> (GPL). Generally speaking, we encourage remixes & contributions to site code, as long as new uses are non-commercial and attribution to OpenCongress is given. OpenCongress is proud to be part of the open-source web community and to contribute data & useful free tools back to the commons.</p>

<p>OpenCongress site content is licensed under the <a href="http://creativecommons.org/licenses/by-sa/3.0/us/" target="_blank">Creative Commons Attribution- Share Alike 3.0 United States License</a>. OpenCongress wiki content is licensed under the <a href="http://en.wikipedia.org/wiki/GNU_Free_Documentation_License" target="_blank">Gnu Free Documentation License</a> (GFDL). Generally speaking, we encourage remixes and excerpting of site & wiki content, as long as attribution to OpenCongress is given and the publisher shares its content as well. OpenCongress is proud to be licensed under a "some rights reserved" copyright from <a href="http://creativecommons.org/" target="_blank">Creative Commons</a> and we hope our site text is helpful to a variety of online communities in making government more widely accessible.</p>

<a name="how_to_help"></a>
<h3>Get Involved with OpenCongress</h3>

<p> To find out more ways to help, simply send us an e-mail (<script type="text/javascript">m("writeus","opencongress","org","1");</script>) with a short note of introduction, and we'll write you back:</p>

<ul class="star">
<li class="top-star">If you're a web programmer, you can help us develop the site and
incorporate more data sources: start with our <a href="http://trac.opencongress.org/" target="_blank">Trac</a> project management system.</li>
<li class="top-star">If you're a graphic designer, you can help us improve our look and
usability on <a href="http://trac.opencongress.org/" target="_blank">Trac</a>. </li>
<li class="top-star">If you're a blogger or citizen journalist, you can <a href="/contat" target="_blank">contact us</a> and suggest a relevant link for the <a href="/blog" target="_blank">OpenCongress Blog</a>, or send us a tip to publish. Plus, if your blog posts refer to an individual bill's title, or an individual Member of Congress, or if you link to OpenCongress, your website is likely to appear on the appropriate page on OpenCongress. Don't forget you can login to contribute or edit content on the <a href="/wiki" target="blank">OpenCongress Wiki</a>!</li>
<li class="top-star">If you're a researcher, you can help us improve the site's explanatory text of parliamentary terms -- hit us up on <a href="http://trac.opencongress.org/" target="_blank">Trac</a>..</li>
<li class="top-star">If you're a political professional, you can submit insider tips or comments to the
<a href="/blog" target="_blank">OpenCongress Blog</a>.</li>
<li class="top-star">If you're an educator, you can recommend OpenCongress to colleagues and
students as a free and accessible resource for government and political
science studies.</li>
<li class="top-star">If you're someone who supports our principles & mission, you can help spread the word to more people who should know about the site: issue-based groups, family, friends, social networks, and more.</li>
</ul>

<p>OpenCongress is proud to be an open-source project licensed with <a href="http://www.creativecommons.org/" target="_blank">Creative Commons</a> and dedicated to giving back to the data commons. See our <a href="/resources" target="_blank">Tools & Resources</a> page for free ways to syndicate & share the information generated by the OpenCongress user community on your own websites. If you're interested in submitting a bug report or checking out a copy of OpenCongress' source code (which is primarily written in the open-source web framework Ruby on Rails), you can get under the hood on our <a href="http://github.com/opencongress/opencongress/tree/master" target="_blank">GitHub page</a> and submit bugs on our <a href="http://trac.opencongress.org/" target="_blank">Trac project management 
page</a>. To keep in touch with our site development schedule, you can sign up for our low-volume <a href="http://list.opencongress.org/?p=subscribe" target="_blank">e-mail list</a> and subscribe to our blog's <a href="http://feeds.feedburner.com/OpenCongressCongressGossipBlog">RSS feed</a>. We're always interested in hearing from you -- about how you're using OpenCongress, suggestions for how it can be more useful for you, and new features you'd like to see. Send us an e-mail anytime: <script type="text/javascript">m("writeus","opencongress","org","1");</script>.</p>

<a name="about_how_to_use"></a>

<h3>How to Use OpenCongress</h3>
<p>Here are some tips and suggestions on <a href="/about/howtouse" target="_blank"> ways touse OpenCongress</a> to help you keep track of what's really happening in Congress, the issues you care about, and all of our elected officials. Take advantage of all the features in "<a href="/register">My OpenCongress</a>" to give personal votes to bills you support or oppose, share the latest info with your online communities using our free <a href="/resources" target="_blank">Resources</a>, and more. We'll be adding more hopefully-helpful "how-to" screencasts and screenshots over the course of 2009, so please stay tuned, and feel free to let us know if you have specific questions or general ideas: <script type="text/javascript">m("writeus","opencongress","org","1");</script>.</p>

<a name="#coming_soon">
<h3 id="coming_soon">Features Coming Soon to OpenCongress</h3>

<p>To date, OpenCongress has focused on bringing together government data, blog and press coverage, and non-profit analysis into a comprehensive snapshot of every congressional bill. But to truly narrow the gap between what Congressional insiders can impact and what average citizens can impact, we need be able to add detail and richness that doesn't come from the public data sources. When people view a bill on OpenCongress, they should be able to see not just the bill details, but also the real story behind the bill. Towards this goal, we'll soon be adding more interactive features to OpenCongress to allow for greater user engagement with the Congressional process.</p>

<p>OpenCongress is a growing web project in active open-source development -- we're continually adding new data, features, and free resources to the site in order to make it a more useful public resource. Of course, we already have quite a lot of specific ideas in-hand for new features to build and launch, and we receive even more great suggestions from site visitors and dedicated users. Because we're committed to being a transparent, collaborative non-profit team practicing (or trying to, at least) agile, user-focused web development, here are a few major new features we plan to add over the course of 2009 - 2010. Note: most of these will take quite a while to build out, and for some of our "dream" or "wish list" features summarized below there simply is not a reliable, publicly-available data source from the government that makes it possible. <u>But to share our thoughts & welcome your input, here goes</u>:</p>

<ul class="star">
<li class="top-star"><strong>State and Local Versions of OpenCongress</strong></li>
</ul>

<p>This is a powerful, important, and logical idea -- it's probably our most-frequently-received question or suggestion: "When will there be a version of OpenCongress for my [State / City / Neighborhood / Other Entity]?" The short answer: hopefully soon. Longer answer: we very much seek to make this a reality, in conjunction with the wider community of volunteer open-source developers & transparency advocates. Ever since we conceived of OpenCongress in 2004, we've realized that the model of combining government data with social wisdom in order to facilitate civic engagement can and should be applied to other levels of government -- e.g., state legislatures, city councils, neighborhood associations, international institutions, other branches of government (The White House & the U.S. Supreme Court), public institutions such as schools & hospitals, and more... whatever comes to mind. We eagerly anticipate a near-term future in which people from a variety of backgrounds can conveniently access the best available info about all actions by their government at every level, then take actions of their own in response and in dialogue with their elected officials.</p>

<p>Towards this end, we're working with our partners at <a href="http://www.sunlightlabs.com" target="_blank">Sunlight Labs</a> on the community-driven <a href="http://wiki.sunlightlabs.com/index.php/State_Legislation_Page" target="_blank">Fifty State Project</a>, with the goal of establing an open data standard and collecting machine-readable data streams for all 50 U.S. State Legislatures. Off this foundation and in working partnership with the open-source community, we'll seek to build free and non-partisan versions of OpenCongress for all fifty states, and make our site code more modular (also: cleaner, better-documented, and easier to work with). We'll continue to encourage volunteer developers to remix the code for city, county, or municipal governments -- or even to make their own versions of OpenCongress for the federal level with a customized emphasis on the topics they care about.</p> 
 
<p>The best way to stay up-to-date with our development plans is to subscribe to our site <a href="http://list.opencongress.org/?p=subscribe" target="_blank">email list-serv</a> to receive major announcments, or subscribe to our Blog's <a href="http://feeds.feedburner.com/OpenCongressCongressGossipBlog">RSS feed</a>. We're a collaborative crew, so we hope you'll get involved -- <a href="/contact" target="_blank">contact us</a> for more info.</p>

<ul class="star">
<li class="top-star"><strong>"My OpenCongress Groups"</strong></li>
</ul>

<p>As of this writing, individuals can create profiles on "My OpenCongress" to track, comment, and vote on all the things they care about in Congress. Social networking and built-in social sharing tools allow people to share the best info with others using peer-to-peer communication and our open Resources and API. But we can do more to enable group education, engagement, and action on OpenCongress.</p>

<p>Coming soon, we seek to build the ability for groups of all sorts -- say, issue-based organizations or regional groups of fellow constituents -- to create group profiles on "My OpenCongress", and for individuals to opt-in to these groups. For example, if you're concerned with the environment, you could choose to add the group profile of a national environmental organization to your "My OpenCongress" freinds, as well as join a chapter of environmentalists in your state and your Congressional district. Together, your group will be able to track legislation, issues, and Members of Congress on a shared "Tracked Items" page. Plus you'll be able to share relevant links, videos, and notes using group "My Political Notebook" features. What's more, your group's administrator(s) will be able to set alerts to which you can subscribe over email, RSS, text, calendar alerts, and more. These customizable alerts will keep your group in touch with major actions surrounding the bills you're tracking, or let you know when significant votes affecting your issues are coming up.</p>

<p>The goal looks something like this: self-organizing groups on OC banding together and using peer-to-peer communication to send their questions, feedback, analysis and opinions to Members of Congress. What's more, once in contact with their elected officials, we'll work to establish a two-way platform for communication to facilitate a productive and mutually respectful dialogue with Members, their staffs, and their official offices. There are many more positive impacts and innovations to be described here, but for now, feel free to <a href="/contact" target="_blank">contact us</a> with questions about our plans for opening up groups.</p>

<ul class="star">
<li class="top-star"><strong>Contact Congress With Social Feedback</strong></li>
</ul>

<p>Currently, OpenCongress.org presents useful lots of information about Congress and basic ways for individuals to communicate their opinions or input to Members. As background, such functionality has been a longstanding part of site development plans and we believe is essential to our mission of increasing civic engagement. The site can do much more to help translate information into action. One challenge is that Members’ offices often only accept communications through webforms and a variety of other closed mediums. This is ultimately surmountable -- quite a few commercial services are available to fill this niche. But as of this writing, there remain surprisingly few free, open-source, full-featured services with user-friendly interfaces for individuals and organizations to easily contact Congress. OpenCongress seeks to establish a foothold for open-source tools in this well-defined public need.</p>

<p>Our planned "Contact Congress" enhancements have two main goals: first, to make it possible to contact Congress in timely and accessible ways through OpenCongress, with access to all the rich content available on the site; and second, to make the process of contacting Congress a more social and user-friendly experience, both for users of “My OC” and the public as a whole. To meet the first, our development team seeks to build-in more basic features of contacting Members' offices, both federal and district-based, and then smoothly integrate these features throughout the site. To meet the second, we seek to build more intensive social-feedback features that walk a visitor through each step of contacting Congress, offer relevant info along the way, and document the outcome for interested parties and the larger community. This proposed accompanying help copy would obviously need to be edited and specified for other methods of communication: phone, VOIP, email, postal mail, fax, blogs, and more.</p>

<ul class="star">
<li class="top-star"><strong>Text Alerts and VoIP</strong></li>
</ul>

<p>As outlined above, we plan to add new ways for individuals and organiztions to keep in touch with everything they're tracking in Congress. First, users will be able to sign up for SMS text alerts on their tracked items -- much like an <a href="/about/rss" target="_blank">RSS feed</a> of Congressional actions on their mobile device -- for bill actions, issue areas, Members of Congress' votes, as well as news & blog coverage, user comments, wiki content, and more. Second, users will be able to call Congressional offices using their computers (VoIP) -- specifically, we're planning to integrate the open-source browser plugin <a href="http://www.shiftspace.org/spaces/yeas-and-nays/" target="_blank">Yeas & Nays</a>, as well as other free solutions. We look forward especially to seeing how Groups on "My OpenCongress" take advantage of enhanced "Contact Congress" features to convey their opinions & engage their Members of Congress in dialogue.</p>

<ul class="star">
<li class="top-star"><strong>Two-Way Platform for Communication with Congress</strong></li>
</ul>

<p>To date, Congress has been largely closed-off from structured constituent communications on the open Web. But communication with Congress should be a two-way street. Along with enhanced Contact Congress features, we'll work to make it more convenient and efficient for Members to convey their positions to their constituents. The key, as we see it, is to develop a sufficiently compelling platform for two-way communication -- a free, open-source, and user-friendly version of <a href="http://www.sunlightlabs.com/blog/2009/03/12/do-we-need-getsatisfaction-congress/" target="_blank">"Get Satisfaction" for Congress</a>. We look forward to working with any Members, Capitol staff, and Congressional offices who wish to volunteer for pilot projects in this area: publishing official responses to aggregated constitutent concerns in participatory discourse.</p> 

<a name="about_foundations"></a>
<h3>About the Participatory Politics Foundation and the Sunlight Foundation</h3>

<p>The beta version of OpenCongress launched publicly as a joint project of PPF and Sunlight on Feb. 27th, 2007. The "My OpenCongress" major feature set (colloquially, OpenCongress version 1.0) was announced on January 28th, 2008. A major site upgrade (in short, OpenCongress version 2.0) launched July 30th, 2009. The site is in active collaborative development, with many new features, data sources, and free engagement tools to be released over 2009 and beyond.</p>

<p>The <a target="_blank" href="http://participatorypolitics.org/" target="_blank">Participatory Politics Foundation</a> (PPF) builds software tools and websites that create new opportunities for continual engagement with government. Voting is important, but we have a chance to go further and create a political process that is meritocratic, creative, and participatory. Each day, our lives abound in political feelings and opinions -- not just on Election Day. We believe that the internet presents an unprecedented opportunity to amplify political voices and actions. OpenCongress is a first step towards these goals. PPF team members are based around the country in Northampton, MA, Los Angeles, CA, Brooklyn, NY, and Worcester, MA.</p>

<p><a target="_blank" href="http://www.sunlightfoundation.com" target="_blank">The Sunlight Foundation</a> was founded in January 2006 with the goal of using the revolutionary power of the Internet and new information technology to enable citizens to learn more about what Congress and their elected representatives are doing, and thus help reduce corruption, ensure greater transparency and accountability by government, and foster public trust in the vital institutions of democracy. The Participatory Politics Foundation is thankful for all the trust, ideas, and support that the Sunlight Foundation has given to this project.</p>

<p>OpenCongress is proud to be part of the Sunlight Foundation community. Another partner in this effort is <a target="_blank" href="http://www.theopenhouseproject.com/">the Open House Project</a>, a working group designed to make recommendations to Congress on ways to begin the process of opening up the House of Representatives and increasing government transparency.</p>
</div>
</div>