<h2>OpenCongress Privacy Policy</h2>
<br />

<p>OpenCongress provides this Privacy Policy to inform you of our policies and procedures regarding the collection, use and disclosure of personal information we receive from users of www.opencongress.org  (this “Site”).  This Privacy Policy applies only to information that you provide to us through this Site.  Our Privacy Policy may be updated from time to time, and we will notify you of any material changes by posting the new Privacy Policy on the Site.</p>

<h3>1.  Information Collection:  The Personally Identifiable Information We Collect</h3>
<p>In the course of using this Site, you may provide us with personally identifiable information.  This refers to information about you that can be used to contact or identify you, and information on your use of and activities at our Site that may be connected with you (“Personal Information”).  Personal Information that we collect may include, but is not limited to, your name, phone number, credit card or other billing information, email address and home and business postal addresses.  Personal Information may also include information you supply to us concerning your preferences and interests expressed in the course of use of our Site.</p>

<p>When you visit the Site, our servers automatically record information that your browser sends whenever you visit a website.  This information may include, but is not limited to, your computer’s Internet Protocol address, browser type, the web page you were visiting before you came to our Site and information you search for on our Site.  Like many websites, we also use “cookies” to collect information.  A cookie is a small data file that we transfer to your computer’s hard disk for record-keeping purposes.  We use “persistent cookies” to save your registration ID and login password for future logins to the Site; and we use “session ID cookies” to enable certain features of the Site, to better understand how you interact with the Site and to monitor aggregate usage and web traffic routing on the Site. You can instruct your browser, by changing its options, to stop accepting cookies or to prompt you before accepting a cookie from the websites you visit.  If you do not accept cookies, however, you may not be able to use all portions of the Site or all functionality of our services.</p>

<h3>2.  How We Use Personal Information</h3>

<p>Personal Information is used for the following purposes:  (i) to provide and improve our Site, services, features and content, (ii) to administer your membership and your use of our Site, (iii) to enable users to enjoy and easily navigate the Site, (iv) to better understand your needs and interests, (v) to fulfill requests you may make, (vi) to personalize your experience, (vii) to provide or offer updates and announcements, (viii), to give you the opportunity to connect with users around you, and (ix) to provide you with further information and offers from us or third parties that we believe you may find useful or interesting, including newsletters, marketing or promotional materials and other information on services and products offered by us or third parties.  If you decide at any time that you no longer wish to receive such communications, please follow the unsubscribe instructions provided in any of the communications or update your “user preferences” information. (See “Changing or Deleting Information,” below.)</p>

<p>We use information we obtain by technical means (such as the automatic recording performed by our servers or through the use of cookies) for the above purposes and in order to monitor and analyze use of the Site and our services and for the Site’s technical administration, to increase our Site’s functionality and user-friendliness, to better tailor it to your needs, to generate and derive useful data and information concerning the interests, characteristics and website use behavior of our users, and to verify that visitors to the Site meet the criteria required to process their requests.</p>

<h3>3.  Information Sharing and Disclosure</h3>

<p>OpenCongress Members.  We will display your Personal Information in your profile page and elsewhere on the Site according to the preferences you set in your account.  Any information you choose to provide should reflect how much you want all other OpenCongress users to know about you.  We recommend that you guard your anonymity and sensitive information and we encourage members to think carefully about what information about themselves they disclose in their profile pages. You can review and revise your profile information at any time.</p>

<p>Service Providers, Business Partners and Others.  We may employ third party companies and individuals to facilitate our service, to provide the service on our behalf, to perform Site-related services (including but not limited to maintenance services, database management, web analytics and improvement of the Site’s features) or to assist us in analyzing how our Site and service are used.  These third parties have access to your Personal Information only for purposes of performing these tasks on our behalf.</p>

<p>Compliance with Laws and Law Enforcement.  OpenCongress cooperates with government and law enforcement officials and private parties to enforce and comply with the law.  We will disclose any information about you to government or law enforcement officials or private parties as we, in our sole discretion, believe necessary or appropriate to respond to claims and legal process (including but not limited to subpoenas), to protect the property and rights of OpenCongress or a third party, to protect the safety of the public or any person, or to prevent or stop any activity we may consider to be, or to pose a risk of being, illegal, unethical, inappropriate or legally actionable.</p>

<p>Business Transfers.  OpenCongress may sell, transfer or otherwise share some or all of its assets, including your Personal Information, in connection with a merger, acquisition, reorganization or sale of assets or in the event of bankruptcy.</p>

<h3>4.  Changing or Deleting Your Information</h3>

<p>All registered users may review, update, correct or delete the Personal Information provided in their registration or account profile by by changing their user preferences in their profile or by contacting: writeus@opencongress.org.  If you completely delete all such information, then your account may become deactivated.</p>

<h3>5.  Security</h3>

<p>OpenCongress is very concerned with safeguarding your information.  We employ reasonable measures designed to protect your information from unauthorized access.</p>

<h3>6.  Our Policy Toward Children</h3>

<p>This Site is not directed to children under 13.  We do not knowingly collect personally identifiable information from children under 13.  If a parent or guardian becomes aware that his or her child has provided us with Personal Information without their consent, he or she should contact us at Privacy@OpenCongress.org.  If we become aware that a child under 13 has provided us with Personal Information, we will delete such information from our files.</p>

<h3>7.  Contacting Us</h3>

<p>If you have any questions about this Privacy Policy, please contact us at writeus@OpenCongress.org or at:</p>

<p>Privacy Matters<br>
c/o OpenCongress<br>
220 Lafayette St. #3<br>
New York, NY 10012</p>
