<p>Watch a video overview of OpenCongress, the information we offer, and ways you can use the site. This screencast was graciously created by Ryanne Hodson and Jay Dedman of <a href="http://ryanishungry.com/">RyanIsHungry.com</a> as a volunteer project.</p>
<div id="container">
	<a href="http://www.macromedia.com/go/getflashplayer">Get the Flash Player</a> to see this player.</div>
<script type="text/javascript" src="/javascripts/swfobject.js"></script>
<script type="text/javascript">
	var s1 = new SWFObject("/player.swf","ply","640","360","9","#333333");
	s1.addParam("allowfullscreen","true");
	s1.addParam("allowscriptaccess","always");
	s1.addParam("flashvars","file=/oc_whats.flv&image=/images/oc_whats_big.jpg&stretching=none&bufferlength=2");
	s1.write("container");
</script>
<br />
<p><a target="_blank" href="/screencast.mp4">Download full quality version of screencast</a></p>
Have a question or feedback about this screencast? Let us know what you think: <script type="text/javascript">m("writeus","opencongress","org","1");</script>.
