<div id="heading">
	<h2>Our Staff</h2>
</div>

<div class="padding">
<div class="pretty-text">

			<div class="staff">
			<div>
      <img src="/images/staff/david.jpg" alt="Staff Photo" />
			<h3>David Moore</h3>
			<h5> Executive Director</h5>
			<p>David is the Executive Director of PPF and has served as Program Manager of OpenCongress since its public launch in Feburary 2007. He graduated from Brown University with degrees in English and Philosophy. Previously, he worked as the first Outreach Coordinator for PCF and helped to launch the open-source Miro video player. David spends a decent amount of time following the Milwaukee Brewers and falling in love over and over again with the open Web. He lives in Brooklyn, NY.</p>
			<p><i>Contact: nicholas[at]pculture.org</i></p>

			</div>

	
			<div>
			<img src="/images/staff/andy.jpg" alt="Staff Photo" />
			<h3>Andy Ross</h3>
			<h5>Lead Programmer</h5>
			<p>Andy Ross is the Lead Programmer of OpenCongress and has coded on it since development started in 2006. Andy maintains the core data streams that form OpenCongress and builds the site's open-source Ruby on Rails code. A dedicated fan of the Boston Red Sox, he lives in Los Angeles, CA.</p>

			<p><i>Contact: dean[at]pculture.org</i></p>
			</div>

			<div class="last">
			<img src="/images/staff/conor.jpg" alt="Janet text rendering" />
			<h3>Conor Kenny</h3>
			<h5>Wiki Editor</h5>
			<p>Conor is the Editor of the OpenCongress Wiki. Previously, Conor was the managing editor of Congresspedia (which is now the OC Wiki) and Election Protection Wiki on Sourcewatch. Along with running RaceTracker and other community projects on the OC Wiki, Conor develops our semantic MediaWiki code. He lives in Austin,  where he is in his second year of a Masters degree program at the LBJ School of Public Affairs at the University of Texas.</p>

			<p><i>Contact: jed[at]pculture.org</i></p>
			</div>

			
</div>
</div>
</div>