<div id="heading">
	<h2>Our Staff</h2>
</div>

<div class="padding">
			<div class="staff">
			
      <div>
        <img src="/images/staff/david.jpg" alt="Staff Photo" />
  			<h3>David Moore</h3>
  			<h5>Executive Director</h5>
  			<p>David is the Executive Director of PPF and has served as Program Manager of OpenCongress since its public launch in Feburary 2007. He graduated from Brown University with degrees in English and Philosophy. Previously, he worked as the first Outreach Coordinator for PCF and helped to launch the open-source Miro video player. David spends a decent amount of time following the Milwaukee Brewers and falling in love over and over again with the open Web. He lives in Brooklyn, NY.</p>
  			<p><i>Contact: drm[at]opencongress.org</i></p>
			</div>

	
			<div class="staff">
  			<img src="/images/staff/andy.jpg" alt="Staff Photo" />
  			<h3>Andy Ross</h3>
  			<h5>Lead Programmer</h5>
  			<p>Andy Ross is the Lead Programmer of OpenCongress and has coded on it since development started in 2006. Andy maintains the core data streams that form OpenCongress and builds the site's open-source Ruby on Rails code. A dedicated fan of the Boston Red Sox, he lives in Los Angeles, CA.</p>
  			<p><i>Contact: aross[at]opencongress.org</i></p>
			</div>


			<div class="last">
  			<img src="/images/staff/carl.jpg" alt="Janet text rendering" />
  			<h3>Carl Tashian</h3>
  			<h5>Wiki Editor</h5>
  			<p>Conor is the Editor of the OpenCongress Wiki. Previously, Conor was the managing editor of Congresspedia (which is now the OC Wiki) and Election Protection Wiki on Sourcewatch. Along with running RaceTracker and other community projects on the OC Wiki, Conor develops our semantic MediaWiki code. He lives in Austin,  where he is in his second year of a Masters degree program at the LBJ School of Public Affairs at the University of Texas.</p>
  			<p><i>Contact: conor[at]opencongress</i></p>
			</div>
	    

      <div class="staff">
        <img src="/images/staff/morgan.jpg" alt="Staff Photo" />
  			<h3>Morgan Knutson</h3>
  			<h5>Designer/User Interface</h5>
  			<p>Morgan designs for PPF and <a href="http://www.getmiro.com/">PCF</a>. In his free time he writes and plays punk rock tunes while championing the downtrodden.
        <p>While present at the conception of OpenCongress, he took a short hiatus from the FOSS activism world to hone his design and marketing skills at a small studio in Thousand Oaks, CA.</p>
        <p>You should follow his <a href="http://www.twitter.com/morganknutson">twitter</a>.</p>
        <p><i>Contact: morgan[at]opencongress.org</i></p>
			</div>

			<div class="staff">
  			<img src="/images/staff/andy.jpg" alt="Staff Photo" />
  			<h3>Donny Shaw</h3>
  			<h5>Blogger/Researcher</h5>
  			<p>Donny Shaw is a researcher and blogger at OpenCongress. Since 2007, he has been digging through legislative texts, monitoring roll call votes, tracking bills and adding editorial context to congressional info in order to make it intelligible for non-DC-insiders. He lives in Western Massachusetts, and when he's not researching Congress he's taking care of apple trees and picking berries. </p>
  			<p><i>Contact: donny[at]opencongress.org</i></p>
			</div>


			<div class="last">
  			<img src="/images/staff/conor.jpg" alt="Janet text rendering" />
  			<h3>Conor Kenny</h3>
  			<h5>Wiki Editor</h5>
  			<p>Conor is the Editor of the OpenCongress Wiki. Previously, Conor was the managing editor of Congresspedia (which is now the OC Wiki) and Election Protection Wiki on Sourcewatch. Along with running RaceTracker and other community projects on the OC Wiki, Conor develops our semantic MediaWiki code. He lives in Austin,  where he is in his second year of a Masters degree program at the LBJ School of Public Affairs at the University of Texas.</p>
  			<p><i>Contact: conor[at]opencongress</i></p>
			</div>



      <h2>OC Research Assistants - Summer 2010</h2>
<br />

      <div class="staff">
        <img src="/images/staff/moshe.jpg" alt="Staff Photo" />
  			<h3>Moshe Bildner</h3>
  			<h5>OC Research Assistant</h5>
  			<p>Moshe Bildner is a rising Junior at Johns Hopkins University.  He is currently studying International and Near Eastern Studies.  Areas of interest include immigration and economic policy.  He has researched and blogged about campaign finance reform, unemployment insurance, as well as a variety of other topics.  In addition to volunteering on OpenCongress, Moshe is training to become an EMT, and in his free time enjoys cooking food almost as much as he enjoys eating it.</p>
			</div>

			<div class="staff">
  			<img src="/images/staff/jason.jpg" alt="Staff Photo" />
  			<h3>Jason Rhee</h3>
  			<h5>OC Research Assistant</h5>
  			<p>Jason Rhee is a rising senior at NYU.  He is studying economics and public policy. Some of the issue areas he's researched and blogged about on OC include: unemployment benefits, midterm elections, and taxes. In addition to volunteering on OpenCongress, Jason enjoys longs walks on the beach, puppy dogs, and reading romance novels while taking bubble baths.</p>
			</div>


			<div class="last">
  			<img src="/images/staff/hilary.jpg" alt="Janet text rendering" />
  			<h3>Hilary Worden</h3>
  			<h5>OC Research Assistant</h5>
  			<p>Hilary Worden will be a second-year student at the University of Washington in the fall, where she is studying Computer Science and Political Science. Some of the issues she's researched and blogged about on OC include cybersecurity, the federal reserve, and earmark transparency.</p>
			</div>



			</div>


</div>
