<div id="heading">
	<h1>Our Stock Elements</h1>
</div>



<div class="container_12">

<div class="grid_12">


  <div class="silver small_padding margin-top margin-bottom"><p>Lorem ipsum lorem ipsum</p></div>
  
  <div class="blue small_padding margin-top margin-bottom"><p>Lorem ipsum lorem ipsum</p></div>
  
  <div class="yellow small_padding margin-top margin-bottom"><p>Lorem ipsum lorem ipsum</p></div>
  

</div>


<div class="grid_8">


<h2>Buttons</h2>

  
  <h3 class="clear">Inline</h3>
  
  <div class="floatleft clear">
    <a href="#" class="tiny button silver">Tiny Button</a>
    <a href="#" class="small silver button">Small Button</a>
    <a href="#" class="medium silver button">Medium Button</a>
    <a href="#" class="large silver button">Large Button</a>
    <a href="#" class="huge silver button">Huge Button</a>
    <div class="clear">&nbsp;</div>
  </div>

  <div class="clear">&nbsp;</div>

  <div class="floatleft clear">
    <a href="#" class="tiny blue button">Tiny Button</a>
    <a href="#" class="small blue button">Small Button</a>
    <a href="#" class="medium blue button">Medium Button</a>
    <a href="#" class="large blue button">Large Button</a>
    <a href="#" class="huge blue button">Huge Button</a>
    <div class="clear">&nbsp;</div>
  </div>

  <div class="clear">&nbsp;</div>

  <div class="floatleft clear">
    <a href="#" class="tiny yellow button">Tiny Button</a>
    <a href="#" class="small yellow button">Small Button</a>
    <a href="#" class="medium yellow button">Medium Button</a>
    <a href="#" class="large yellow button">Large Button</a>
    <a href="#" class="huge yellow button">Huge Button</a>
    <div class="clear">&nbsp;</div>
  </div>

  <div class="clear">&nbsp;</div>

  
  
  <h3 class="clear">Floated</h3>
  
  <div class="floatleft clear">
    <a href="#" class="tiny silver button floatleft">Tiny Button</a>
    <a href="#" class="small silver button floatleft">Small Button</a>
    <a href="#" class="medium silver button floatleft">Medium Button</a>
    <a href="#" class="large silver button floatleft">Large Button</a>
    <a href="#" class="huge silver button floatleft">Huge Button</a>
  </div>
<br /><br />
  <div class="floatleft clear">
    <a href="#" class="tiny blue button floatleft">Tiny Button</a>
    <a href="#" class="small blue button floatleft">Small Button</a>
    <a href="#" class="medium blue button floatleft">Medium Button</a>
    <a href="#" class="large blue button floatleft">Large Button</a>
    <a href="#" class="huge blue button floatleft">Huge Button</a>
  </div>
  
<br /><br />
  
  <div class="floatleft clear">
    <a href="#" class="tiny yellow button floatleft">Tiny Button</a>
    <a href="#" class="small yellow button floatleft">Small Button</a>
    <a href="#" class="medium yellow button floatleft">Medium Button</a>
    <a href="#" class="large yellow button floatleft">Large Button</a>
    <a href="#" class="huge yellow button floatleft">Huge Button</a>
  </div>
  


</div>


<div class="grid_4">
  <h2 class="clear">Standard List</h2>
  <p>more complex lists to come</p>
  <ul class="standard_list">
    <li>Item</li>
    <li>Item</li>
    <li>Item</li>
    <li>Item</li>
    <li>Item</li>
    <li>Item</li>
    <li>Item</li>
    <li>Item</li>
  </ul>

<br />

  <h2 class="clear">Icons in lists</h2>
  <ul class="lined_list">
    <li class="small_bill"><a class="no_underline" href="#">.small_bill</a></li>
    <li class="small_person"><a class="no_underline" href="#">.small_person</a></li>
    <li class="small_vote"><a class="no_underline" href="#">.small_vote</a></li>
    <li class="small_issue"><a class="no_underline" href="#">.small_issue</a></li>
    <li class="small_article"><a class="no_underline" href="#">.small_article</a></li>
    <li class="small_overview"><a class="no_underline" href="#">.small_overview</a></li>
    <li class="small_views"><a class="no_underline" href="#">.small_views</a></li>
    <li class="small_commentary"><a class="no_underline" href="#">.small_commentary</a></li>
    <li class="small_money_trail"><a class="no_underline" href="#">.small_money_trail</a></li>
    <li class="small_video"><a class="no_underline" href="#">.small_video</a></li>
    <li class="small_edit"><a class="no_underline" href="#">.small_edit</a></li>
  </ul>

<br />

  <h2 class="clear">Icons in paragraphs and other inline elements</h2>
  <p>
    <a class="small_bill no_underline" href="#">.small_bill</a>
    <a class="small_person no_underline" href="#">.small_person</a>
    <a class="small_vote no_underline" href="#">.small_vote</a>
    <a class="small_issue no_underline" href="#">.small_issue</a>
    <a class="small_article no_underline" href="#">.small_article</a>
    <a class="small_overview no_underline" href="#">.small_overview</a>
    <a class="small_views no_underline" href="#">.small_views</a>
    <a class="small_commentary no_underline" href="#">.small_commentary</a>
    <a class="small_money_trail no_underline" href="#">.small_money_trail</a>
    <a class="small_video no_underline" href="#">.small_video</a>
    <a class="small_edit no_underline" href="#">.small_edit</a>
  </p>
</div>



<div class="clear">&nbsp;</div>

  <h2 class="clear">Heading Examples</h2>

<div class="grid_12">
  <h1>H1 Title Example</h1>
<div class="clear">&nbsp;</div>

    <h2>H2 Title Example</h2>

      <h3>H3 Title Example</h3>

        <h4>H4 Title Example</h4>

          <h5>H5 Title Example</h5>
  
  <p>Standard Paragraph</p>
</div>


</div>
