<div id="heading"><h2>OpenCongress Terms of Service</h2></div>
<div class="padding">

<p>These Terms of Service govern your access to and use of OpenCongress’s website (the “Site”), any of the information, text, graphics, videos or other materials created or provided by OpenCongress and appearing on the Site, (the “Content”), and any services provided through the Site, such as, but not limited to, RSS feeds and HTML “widgets” and code fragments (the “Services”), except where expressly noted.  Your access to and use of the Site, Content, Services and/or User-Generated Content (as defined below) are expressly conditioned on your compliance with these Terms of Service.  By accessing or using the Site, Content, Services or User-Generated Content you agree to be bound by these Terms of Service.</p>

<h3>Modification of Terms of Service</h3>
<p>These Terms of Service apply to the current version of the Site. As new features are added, and the Site evolves, these Terms of Service will be revised and updated accordingly. OpenCongress reserves the right in its sole discretion, at any time, to modify or terminate these Terms of Service without advance notice.  All modified terms and conditions will be effective immediately upon posting on the Site.  If any modification is not acceptable to you, your only recourse is to cease using and/or accessing the Site, Content, Services and User-Generated Content.  By continuing to use or access the Site, Content, Services or User-Generated Content following any posting of new Terms of Service or policies on the Site, you accept and agree to be bound by the new Terms of Service or policies.</p>

<h3>Privacy</h3>
<p>See OpenCongress’s <a href="/about/privacy_policy">Privacy Policy</a> for information and notices concerning OpenCongress’s collection and use of your personal information.</p>

<h3>Guard Your Password</h3>
<p>You are responsible for safeguarding the password that you use to access any secure areas of the Site.  You agree not to disclose your password to any third party.  You agree to take sole responsibility for any activities or actions under your password, whether or not you have authorized such activities or actions.  You will immediately notify OpenCongress of any unauthorized use of your password.</p>

<h3>User-Generated Content</h3>
<p>“User-Generated Content” as used in this Agreement means the video, text and image files which you and/or other users post, upload, link to and/or otherwise submit to the Site or Services.</p>

<p>While you own all of your own User-Generated Content, you hereby grant OpenCongress and its licensors a license to use and exploit your User-Generated Content pursuant to the Creative Commons Attribution- Share Alike 3.0 United States License (located at http://creativecommons.org/licenses/by-sa/3.0/us/). Notwithstanding the foregoing, OpenCongress reserves the right to delete and/or modify any User-Generated Content posted to the Site at any time and without warning. You represent and warrant that you own or have the necessary licenses, rights, consents and permissions to grant these licenses to OpenCongress and other OpenCongress users. If you contribute any User-Generated Content to a collaborative editing platform (a “Wiki”), you understand and agree that the collaborative and open nature of these platforms may result in other users editing or deleting your User-Generated Content. In this case, your contributions will be saved in the “history” section of the edited page. You are also permitted to edit other users’ User-Generated Content if posted on a Wiki, as long as such edits conform to the Comment Policy stated below.</p>

<p>You acknowledge that OpenCongress does not have any obligation to monitor User-Generated Content that is uploaded, posted, submitted, linked to or otherwise transmitted using the Site or Services, for any purpose and, as a result, is not responsible for the accuracy, completeness, appropriateness, legality or applicability of User-Generated Content or anything said, depicted or written by users, including, without limitation, any information obtained by using the Site or Services or any edits made by other users to User-Generated Content which you have posted to a Wiki. OpenCongress does not endorse any User-Generated Content or any opinion, recommendation or advice expressed therein and you agree to waive, and hereby do waive, any legal or equitable rights or remedies you have or may have against OpenCongress with respect thereto.</p>

<h3>OpenCongress Property</h3>
<p>Your use of the Content, Services, and User-Generated Content that you do not own is governed by the Creative Commons Attribution-Share Alike 3.0 United States License (located at hhttp://creativecommons.org/licenses/by-sa/3.0/us/. The HTML code and other server code that comprises the Site is governed by the GNU General Public License version 3 (GPLv3) (located at http://www.gnu.org/licenses/gpl.html).  Any use of the Site, Content, Services, and User-Generated Content that is outside the scope of these licenses is prohibited. The Site, Content and Services are protected by copyright, trademark, and other laws of both the United States and foreign countries.  Except as expressly permitted in these Terms of Service, you may not reproduce, modify or prepare derivative works based upon, distribute, sell, transfer, publicly display, publicly perform, or otherwise use the Site, Content or Services. You may not make any commercial use of the Site, Content, Services or User-Generated Content without OpenCongress’s prior written approval.</p>

<h3>General Prohibitions</h3>
<p>You agree not to do any of the following while using the Site, Content, Services or User-Generated Content:</p>

<ul class="star">

<li class="top-star">Post, publish or transmit any text, graphics, or material that in OpenCongress’s sole discretion: (i) is false or misleading; (ii) is defamatory; (iii) invades another’s privacy; (iv) is obscene, pornographic, or offensive; (v) promotes bigotry, racism, hatred or harm against any individual or group; (vi) infringes another’s rights, including any intellectual property rights; or (vii) violates, or encourages any conduct that would violate, any applicable law or regulation or would give rise to civil liability;</li>
<li class="top-star">Access, tamper with, or use non-public areas of the Site, OpenCongress’s computer systems, or the technical delivery systems of OpenCongress’s providers;</li>
<li class="top-star">Attempt to probe, scan, or test the vulnerability of any system or network or breach any security or authentication measures;
<li class="top-star">Send unsolicited email, junk mail, “spam,” chain letters, or promotions or advertisements for products or services;</li>
<li class="top-star">Forge any TCP/IP packet header or any part of the header information in any email or posting, or use the Site, Content, Services or User-Generated Content to send altered, deceptive or false source-identifying information;</li>
<li class="top-star">Interfere with, or attempt to interfere with, the access of any user, host or network, including, without limitation, sending a virus, overloading, flooding, spamming, or mail-bombing the Site;</li>
<li class="top-star">Impersonate or misrepresent your affiliation with any person or entity; or</li>
<li class="top-star">Violate any federal, state, or local law.</li>
</ul>

<p>OpenCongress will have the right to investigate and prosecute violations of any of the above, including intellectual property rights infringement and Site security issues, to the fullest extent of the law.  OpenCongress may involve and cooperate with law enforcement authorities in prosecuting users who violate these Terms of Service.  You acknowledge that OpenCongress has the right to monitor your access to or use of the Site, Content, Services and User-Generated Content for the purpose of operating the Site, to ensure your compliance with these Terms of Service, or to comply with applicable law or the order or requirement of a court, administrative agency or other governmental body.</p><br />

<h3>Comment Policy</h3>
<p>OpenCongress is designed as a place where users can freely discuss political issues with each other and to collaboratively contribute to the resources on the site. In order to ensure high-quality discussion and contributions, we have some simple and common-sense rules to follow. Failure to abide by these rules may result in a warning by OpenCongress staff or volunteer moderators, or in some instances (for particularly grievous offenses or after repeated warnings), suspension or termination of your commenting privileges, your account, or access to OpenCongress itself.</p>

<ul class="star">

<li class="top-star">Do not harass, stalk, bully, or otherwise abuse any user on OpenCongress. While we welcome healthy debate, there is a clear line between enthusiastic discussion and “flaming”. When in doubt, try to take a step back and see if your actions might be construed as an attack on someone as opposed to healthy disagreement. Remember, if someone harasses you, don’t harass them back – simply report the offending content to us.</li>
<li class="top-star">Do not post any content which could be construed as hate speech – this includes racism, sexism, homophobia, and other such content which may advocate bigotry.</li>
<li class="top-star">Keep posts on-topic. Discussion should remain centered around the topic of the page in question. While discussions can evolve over time, please try to keep your comments related to the original topic.</li>
<li class="top-star">Do not vandalize the site. This can include uploading objectionable content to your profile, maliciously deleting other users’ contributions or making inappropriate edits to the Wiki, and other such actions.</li>
<li class="top-star">Do not spam the site. Repeatedly posting identical comments (“flooding”), posting commercial messages, or the like are not conducive to the site’s purpose and we will respond accordingly.</li>
<li class="top-star">Do not post any content which is invasive of another person’s privacy. This includes posting an individual’s non-public email address, telephone number, address, or other personal details. For instance, posting a Senator’s public office telephone number is acceptable; posting their home telephone number is not.</li></ul><br />

<h3>Digital Millennium Copyright Act Compliance</h3>
<p>You will only upload, post, submit or otherwise transmit User-Generated Content: (i) that you have the lawful right to use, copy, distribute, transmit, or display; and (ii) that does not infringe the intellectual property rights or violate the privacy rights of any third party (including, without limitation, copyright, trademark, patent, trade secret, or other intellectual property right, or moral right or right of publicity). OpenCongress has adopted and implemented a policy that provides for the termination in appropriate circumstances of the accounts of users who repeatedly infringe or are believed to be or are charged with repeatedly infringing the rights of copyright holders.  Please see the <a href="/about/copyright_policy">OpenCongress Copyright Policy</a> for further information.</p>

<h3>Links</h3>
<p>The Site may contain links to third-party websites or resources.  You acknowledge and agree that OpenCongress is not responsible or liable for: (i) the availability or accuracy of such websites or resources; or (ii) the content, products, or services on or available from such websites or resources.  Links to such websites or resources do not imply any endorsement by OpenCongress of such websites or resources or the content, products, or services available from such websites or resources.  You acknowledge sole responsibility for and assume all risk arising from your use of any such websites or resources.</p>

<h3>Termination</h3>
<p>If you violate any of these Terms of Service, your permission to use and access the Site, Content, Services and User-Generated Content will automatically terminate.  OpenCongress reserves the right to revoke your access to and use of the Site, Content, Services and User-Generated Content at any time, with or without cause.  OpenCongress also reserves the right to cease providing or to change the Site, Content, Services or User-Generated Content at any time and without notice, in whole or in part.</p>

<h3>Use of the Site at Your Own Risk</h3>
<p>Your access to and use of the Site, Content, Services and User-Generated Content is at your own risk.  OpenCongress will have no responsibility for any harm to your computer system, loss of data, or other harm that results from your access to or use of the Site, Content, Services or User-Generated Content.</p>

<h3>The Site is Available “AS-IS”</h3>
<p>THE SITE, CONTENT, SERVICES AND USER-GENERATED CONTENT ARE PROVIDED “AS IS,” WITHOUT WARRANTY OR CONDITION OF ANY KIND, EITHER EXPRESS OR IMPLIED.  WITHOUT LIMITING THE FOREGOING, OPENCONGRESS EXPLICITLY DISCLAIMS ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT.</p>

<p>OPENCONGRESS MAKES NO WARRANTY THAT THE SITE, CONTENT, SERVICES AND USER-GENERATED CONTENT WILL MEET YOUR REQUIREMENTS OR BE AVAILABLE ON AN UNINTERRUPTED, SECURE, OR ERROR-FREE BASIS.  OPENCONGRESS MAKES NO WARRANTY REGARDING THE QUALITY OF ANY PRODUCTS, SERVICES OR INFORMATION PURCHASED OR OBTAINED THROUGH THE SITE, CONTENT OR SERVICES, OR THE ACCURACY, TIMELINESS, TRUTHFULNESS, COMPLETENESS OR RELIABILITY OF ANY INFORMATION OBTAINED THROUGH THE SITE, CONTENT, SERVICES OR USER-GENERATED CONTENT.</p>

<p>NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED FROM OPENCONGRESS OR THROUGH THE SITE, CONTENT, SERVICES AND/OR USER-GENERATED CONTENT WILL CREATE ANY WARRANTY NOT EXPRESSLY MADE HEREIN.</p>

<h3>Indemnity</h3>
<p>You agree to defend, indemnify, and hold OpenCongress, its officers, directors, employees and agents, harmless from and against any claims, liabilities, damages, losses and expenses, including, without limitation, reasonable attorneys’ fees and costs, arising out of or in any way connected with: (i) your access to or use of the Site, Services, Content and User-Generated Content; (ii) your violation of this Agreement; (iii) your violation of any third party right, including without limitation any intellectual property right, including but not limited to right of attribution, publicity, confidentiality, property or privacy right; or (iv) any claim that your User-Generated Content caused damage to a third party, including, without limitation, claims that your User-Generated Content is infringing.</p>

<h3Limitation of Liability</h3>
<p>TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, NEITHER OPENCONGRESS NOR ANY OTHER AFFILIATED party involved in creating, producing, or delivering the Site, content, SERVICES AND USER-GENERATED CONTENT will be liable for any incidental, SPECIAL, consequential or PUNITIVE damages resulting from your access to or use of, or inability to access or use, the Site, content, SERVICES OR USER-GENERATED CONTENT, whether based on warranty, contract, tort (INCLUDING NEGLIGENCE) or any other legal theory, whether or not OPENCONGRESS has been informed of the possibility of such damage, EVEN IF A REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PUrPOSE.  YOU SPECIFICALLY ACKNOWLEDGE THAT OPENCONGRESS IS NOT LIABLE FOR THE DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD PARTIES AND THAT THE RISK OF INJURY FROM THE FOREGOING RESTS ENTIRELY WITH YOU.  FURTHER, OPENCONGRESS WILL HAVE NO LIABILITY TO YOU OR TO ANY THIRD PARTY FOR ANY THIRD PARTY CONTENT UPLOADED ONTO, DOWNLOADED FROM, OR LINKED TO THE SITE OR THROUGH THE SERVICES. </P>

<p>YOU AGREE THAT THE AGGREGATE LIABILITY OF OPENCONGRESS TO YOU FOR ANY AND ALL CLAIMS ARISING FROM THE USE OF THE SITE, CONTENT, SERVICES OR USER-GENERATED CONTENT IS LIMITED TO TWENTY DOLLARS.  THE LIMITATIONS OF DAMAGES SET FORTH ABOVE ARE FUNDAMENTAL ELEMENTS OF THE BASIS OF THE BARGAIN BETWEEN OPENCONGRESS AND YOU.</p>

<p>SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, SO THE ABOVE LIMITATION MAY NOT APPLY TO YOU.</p>

<h3>Feedback</h3>
<p>OpenCongress encourages you to provide feedback, comments and suggestions regarding the Site, Content and Services, and provide responses to our user surveys (“Feedback”). Feedback may be submitted to: <script type="text/javascript">m("writeus","opencongress","org","1");</script>.  You acknowledge and agree that all Feedback will be the sole and exclusive property of OpenCongress and you hereby assign and agree to assign all rights, title and interest you have in such Feedback to OpenCongress together with all intellectual property rights therein.</P

<h3>Note About Children</h3>
<p>This Site is not directed to children under 13.  We do not knowingly collect personally identifiable information from children under 13.  If a parent or guardian becomes aware that his or her child has provided us with personal information without their consent, he or she should contact us at <script type="text/javascript">m("writeus","opencongress","org","1");</script>.  If we become aware that a child under 13 has provided us with personal information, we will delete such information from our files.</p>

<h3>Severability</h3>
<p>In the event that any provision of these Terms of Service is held to be invalid or unenforceable, the remaining provisions of these Terms of Service will remain in full force and effect.</p>

<h3>Waiver</h3>
<p>The failure of OpenCongress to enforce any right or provision of these Terms of Service will not be deemed a waiver of such right or provision.</p>

<h3>Controlling Law and Jurisdiction</h3>
<p>These Terms of Service and any action related thereto will be governed by the laws of the State of California without regard to its conflict of law provisions.  The exclusive jurisdiction and venue of any action with respect to the subject matter of these Terms of Service will be the state and federal courts located in New York City, New York, and each of the parties hereto waives any objection to jurisdiction and venue in such courts.</p>

<h3>Entire Agreement</h3>
<p>These Terms of Service are the entire and exclusive agreement between OpenCongress and you regarding the Site, Content, Services and User-Generated Content and these Terms of Service supersede and replace any prior agreements between OpenCongress and you regarding the Site, Content, Services and User-Generated Content.</p>

<p><em>Last updated Feb. 23rd, 2009</em>. If you have any questions about these Terms of Service, please contact OpenCongress at <script type="text/javascript">m("writeus","opencongress","org","1");</script>.</p>
</div>