<div id="heading">
	<h2>Press Use Cases</h2>
</div>

<div class="padding">
<p>Below is a sample of the ways in which news outlets, bloggers, individuals, and issue-based groups of all backgrounds are using OpenCongress to track and share information about their political interests. We'll work to continually update this list, but it's not meant to be exhaustive -- to be sure, there are lots of great uses of OpenCongress out there on the Web that aren't mentioned below. But this is a start to demonstrate in concrete ways how we can build public knowledge about Congress together. For more info, visit <a href="/about/howtouse">How to Use</a>, and to suggest a link of your own to include here, get in touch, we love hearing from you: writeus at opencongress dot org.</p>  

<ol>

<h3>News</h3>

<li><a href="http://www.pbs.org/nbr/site/research/learnmore/financial_regulatory_reform_100426/">PBS' Nightly Business Report</a> includes an OpenCongress bill page in the "External Links/Articles" list for a post on financial reform.</li>

<li><a href="http://coloradoindependent.com/56508/lawmakers-playing-political-chicken-with-unemployment-extension">The Colorado Independent</a> refers to an OpenCongress blog post in an article on unemployment extension.<br />
"Will her new bill get to the floor for a vote? Maybe not, according to a report at Open Congress..."</li>

<li><a href="http://www.pbs.org/moyers/journal/02222008/profile.html">The Bill Moyers Journal on PBS</a> links to OpenCongress in its References and Reading list.</li>

<li><a href="http://theweek.com/article/index/200805/Will_health_care_pass_this_week">The Week</a> cites an OpenCongress blog post on the health care bill:<br />
"The 51 Senate votes to 'fix' the final bill are 'in the bag,' says Donny Shaw in OpenCongress, so it all comes down to the House."</li>

<li>Ezra Klein of the Washington Post links to an OpenCongress blog post on the budget reconciliation from earlier this year:<br />
"All hail OpenCongress.org, which has produced a list of the provisions that have been struck from reconciliation bills over the years."</li>

<li>Chris Good of The Atlantic <a href="http://www.theatlantic.com/politics/archive/2009/09/wilsons-apology/24778/">links to an OpenCongress blog post</a> in an article on Joe Wilson's opinion on health care reform:<br />
"...the bill specifically prohibits federal subsidies to help illegal immigrants obtain coverage if they can't afford it (OpenCongress explains it here)..."</li>

<li>The New York Times links to OpenCongress pages from numerous profile and issue pages (such as those of <a href="http://topics.nytimes.com/top/reference/timestopics/people/m/carolyn_b_maloney/index.html">Carolyn B. Maloney</a> and <a href="http://topics.nytimes.com/topics/reference/timestopics/subjects/g/greenhouse_gas_emissions/cap_and_trade/index.html">Cap and Trade</a></li>

<li>Alex Koppelman of Salon <a href="http://www.salon.com/news/politics/war_room/2009/11/25/bill_length">cites an OpenCongress blog post</a> in an article on bill length:<br />
"OpenCongress.org also did some analysis of the measure, especially as compared to other legislation from the past 10 years. Turns out five of the ten longest bills in that period were written by Republicans."</li>

<li>CNN <a href="http://www.cnn.com/2009/POLITICS/09/10/joe.wilson.profile/index.html">cites OpenCongress</a> on how long South Carolina's 2nd district has been represented by Republicans:<br />
"The district has been represented by Republicans since 1965, according to OpenCongress.org."</li>

<li>Jonathan Stein of Mother Jones <a href="http://motherjones.com/politics/2009/03/congressional-data-mining-coming-soon">mentions OpenCongress</a> in a post on congressional data mining.</li>

<li>An article by Kristina Rizga in The Nation <a href="http://www.thenation.com/article/young-activists-take-bankers-account">mentions OpenCongress' launch</a> in a post about some of its founders.</li>

<li>A Reuters article <a href="http://www.alertnet.org/thenews/newsdesk/LDE66D0Y3.htm">provides the addresss</a> of a bill's text on OpenCongress</li>

<li>An Associated Press article <a href="http://www.foxnews.com/wires/2009Feb20/0,4670,FarmSceneRanchersEstateTax,00.html">links to the OpenCongress page</a> for H.R.173.</li>

<li>The Michigan Messenger <a href="http://michiganmessenger.com/6877/health-care-campaign-counters-walbergs-threat-to-sue-with-increased-ad-buy-and-full-page-print-ad">cites OpenCongress</a> on bill text and voting records.</li>

<li>The New Mexico Independent <a href="http://newmexicoindependent.com/58935/bingaman-wants-to-reform-offshore-drilling">links to OpenCongress' S.3516 page</a> in a post about reforming offshore drilling.</li>

<li>Earl S. Graves, Sr. of Black Enterprise <a href="http://www.blackenterprise.com/magazine/publishers-page/2009/11/01/healthcare-reform-is-up-to-all-of-us/">recommends OpenCongress</a> for reading bill text:<br />
"Don’t go by politicians, news media, and health reform ads alone. Take the time to review the legislation for yourself (go to www.opencongress.org) and make the effort to follow experts on all sides of the issue, focusing on those providing thoughtful information and analysis, not scare tactics and political attacks."</li>

<li>Mark Gibbs of Network World <a href="http://www.networkworld.com/columnists/2009/090709-backspin.html">suggests OpenCongress as a reference</a> in a post on cybersecurity:<br />
"...see the excellent Web site OpenCongress.org for the bill's details."</li>

<li>The Washington Independent <a href="http://washingtonindependent.com/">includes OpenCongress</a> in its blogroll.</li>

<li>The CNM News Network <a href="http://cnmnewsnetwork.com/120650/2010-unemployment-extension-benefits-hr-4213-tax-extenders-bill-senate-vote/">suggests tracking</a> H.R.4213 with OpenCongress:<br />
"Tracking the bill is made possible through OpenCongress.org and those who need this extension for their families, be sure to track the bill’s progress."</li>

<li>Tim Hearden of the Capital Press <a href="http://www.capitalpress.com/lvstk/TH-farm-credit-120409-infobox">cites OpenCongress</a> in a post on the Farm Credit System.</li>

<li>Charles S. Johnson of the Helena Independent Record <a href="http://helenair.com/news/article_7075ea30-0bd1-11df-b3a8-001cc4c03286.html">discusses</a> A.J. Otjen's (a candidate for Montana's seat in the House) citation of OpenCongress on the incumbent's ability to get bills passed:<br />
"However, Otjen said Rehberg hasn’t been able to pass into law any of the 25 bills he’s sponsored this session of Congress, which began in January 2009. As a source, she cited the Web site, www.opencongress.org."</li>

<li>A letter in the New Haven Register <a href="http://www.nhregister.com/articles/2010/02/15/opinion/doc4b7899d25fe4e838662433.txt">suggests using OpenCongress</a> to track money and votes:<br />
"If you are concerned what members of Congress are doing when it comes to campaign money, there are Web sites that track money going to each member and tie the contributions to a particular vote: www.govtrack.us; www.maplight.org; or www.opencongress.org."</li>

<li>Joel Wendland of Political Affairs Magazine <a href="http://www.politicalaffairs.net/article/articleview/8874/">says</a> Healthcare for America Now has encouraged people to read the healthcare bill at OpenCongress.</li>

<li>A letter to the editor of the Albany Times Union <a href="http://www.timesunion.com/opinion/article/Single-payer-bill-would-cut-costs-546208.php">suggests reading</a> a pair of health care bills at OpenCongress.</li>

<li>The St. Lucie Times <a href="http://www.stlucietimes.com/news/house-passes-historic-health-care-bill/">cites OpenCongress</a> in an article on the health care bill.</li>

<li>The Daily Titan <a href="http://www.dailytitan.com/2009/09/08/editorial-health-care-reform-its-good-for-you/">refers readers to OpenCongress</a> for information on a health care bill:<br />
"H.R. 3200 can be seen on OpenCongress.org, where there is also a poll for visitors of the site to voice their opinion on the proposed bill."</li>

<li>The Daily News <a href="http://tdn.com/news/opinion/editorial/article_087c0f9a-fa49-5807-b219-88d1341b4e59.html">refers readers to OpenCongress</a> for the text of the American Recovery and Reinvestment Act of 2009.</li>

<li>Fast Company <a href="http://www.fastcompany.com/article/women-in-tech-ellen-miller-of-the-sunlight-foundation">includes a paragraph</a> on OpenCongress in an article on Sunlight Foundation co-founder Ellen Miller:<br />
"The Sunlight Foundation has set up several groundbreaking products: OpenCongress, for example, is a free, open-source, public Web site that publishes governmental data, including legislative bills, as well as news, expert blog posts, and social networking info."</li>

<h3>Blogs</h3>

<li><a href="http://www.dailykos.com/storyonly/2010/7/14/884271/-PA-Sen:-Sestak-and-Toomey-all-tied-up">kos</a> and <a href="http://www.dailykos.com/storyonly/2009/2/14/697638/-Illinios-GOP-reps-want-to-investigate-Burris-for-perjury">Susan Gardner</a> of the Daily Kos link to the RaceTracker wiki in their posts on Pennsylvania and Illinois Senate races.</li>

<li>LoisC and RDemocrat on the Daily Kos link to <a href="http://www.dailykos.com/story/2007/9/2/201341/4232">a profile page</a> and <a href="http://www.dailykos.com/story/2010/6/1/2256/89563">a blog article</a> on OpenCongress, in posts on Stephanie Herseth Sandlin and outsourcing, respectively.</li>

<li>Glenn Thrush of Politico <a href="http://www.politico.com/blogs/glennthrush/1109/GOP_wrote_5_of_10_longest_bills.html">compliments Donny Shaw and Andrew Rabinowitz</a> on their blog post on bill length:<br />
"Great bit of legislative sleuthing by Danny Shaw and Andrew Rabinowitz at OpenCongress."</li>

<li>A blog from The New Yorker <a href="http://www.newyorker.com/online/blogs/currents/2010/07/john-kerry.html">links to an OpenCongress bill page</a> in a post on John Kerry and energy independence.</li>

<li>Patrick Henry Press News <a href="http://patrickhenrypress.info/node/76156">discusses how House Republicans used OpenCongress</a> to read and comment on the health care bill:<br />
"Republicans in the House of Representatives are extracting chunks of legislative text from the OpenCongress health care bill page (H.R. 3962), giving their take and opening them up for discussion. They’re using OpenCongress’ bill text permalinking tool to refer people back to the specific lines of text in the 1,990 page bill that they’re talking about."</li>

<li><a href="http://mediamattersaction.org/emailchecker/200909150008">Media Matters</a> suggests OpenCongress as a source:<br />
"I'd recommend using GovTrack.us, VoteSmart.org, or OpenCongress.org for that kind of information."</li>

<li>Andrew Dupont is <a href="http://andrewdupont.net/2009/09/16/link-opencongress/">not happy</a> about the current system of making congressional data available, but glad OpenCongress is there to help:<br />
"Because it hasn’t yet been introduced, it’s not available in THOMAS, and even if it were, we’d need the kind souls at OpenCongress and GovTrack to convert it into a usable format."</li>

<li>David Sasaki of GlobalVoices <a href="http://globalvoicesonline.org/2010/05/20/technology-for-transparency-review-part-v/">includes OpenCongress</a> in a discussion of technology for transparency:<br />
"So far OpenCongress, which is written with Ruby on Rails, backed by a PostgreSQL database and Solr full-text indexing, seems like the best bet."</li>

<li><a href="http://www.publicknowledge.org/legislation">Public Knowledge</a> directs readers to OpenCongress for more information on the Radio Spectrum Inventory Act.</li>

<li>Harvard's Berkman Center for Internet and Society <a href="http://cyber.law.harvard.edu/node/3651">posts on OpenCongress' launch</a>:<br />
"Visit OpenCongress.org to see the latest action on legislation, blog about current events, and read features on Representatives and Senators."</li>

<li>Senatus cites an OpenCongress <a href="http://senatus.wordpress.com/2008/02/19/unemployment-benefit-extension-still-possible/">blog article</a> and <a href="https://senatus.wordpress.com/2009/10/21/cloture-filed-on-the-unemployment-compensation-extension-act/">bill page</a> in posts on unemployment.</li>

<li><a href="http://www.gamertell.com/gaming/comment/opinion-warning-labels-dont-even-pretend-video-games-are-as-bad-as-cigarett/">GamerTell</a> cites OpenCongress in a discussion of H.R.231:<br />
"On OpenCongress where you can view the progress of the bill, as you can see its still in the process of obtaining votes for the bill..."</li>

<li>Orange Juice <a href="http://www.orangejuiceblog.com/2009/04/tea-party-movement-is-a-bunch-of-hooey/">mentions OpenCongress</a> in a post about the Tea Party.</li>

<li>Steve McGough of RadioViceOnline <a href="http://radioviceonline.com/senate-abortion-special-rules-in-health-care-legisation-h-r-3590/">links to bill text</a> on OpenCongress in a post on abortion rules and the health care bill.</li>

<li>The Big Government blog <a href="http://biggovernment.com/jmattera/2010/03/24/native-american-child-molesters-are-people-too/">links to the bill text</a> of H.R.3962 on OpenCongress in a post on the bill.</li>

<li>The Law Librarian Blog <a href="http://lawprofessors.typepad.com/law_librarian_blog/2009/08/opencongress-relaunched-with-new-design-and-features.html">posts on OpenCongress</a> and its 2009 redesign:<br />
"A great resource just got much better. With these new features, OpenCongress is, if it wasn't already, the best web destination for monitoring federal legistration."</li>

<li>The Journalism Journeyman <a href="http://journalismdegree.org/2009/top-50-journalism-blogs/">includes OpenCongress</a> among its top 50 journalism blogs.</li>

<li>The Daily Network Monitor <a href="http://www.dailynetworkmonitor.com/2008/02/15/bill-requires-college-network-filtering/">refers readers to OpenCongress</a>:<br />
"Voting history on bill HR4137 can be found here at opencongress.org. Whichever side of the fence you fall on regarding this issue, I encourage all of you to contact your Congressional representative and voice your opinion."</li>

<li>Congress Matters <a href="http://www.congressmatters.com/storyonly/2010/7/3/2373/-What-happened-on-the-war-supplemental">mentions a question</a> from an OpenCongress blog post in a post about the war supplemental.</li>

<li>The Law & Daily Life blog on FindLaw <a href="http://blogs.findlaw.com/law_and_life/2009/05/is-gender-based-abortion-legal-swedish-court-says-women-can-get-abortion-based-on-babys-sex.html">links to the H.R.1822</a> bill text on OpenCongress.</li>

<li>The Workforce Developments blog <a href="http://workforcedev.typepad.com/workforcedev/2008/06/unemployment--1.html">links to OpenCongress</a> as a source on the history of H.R.2642, an unemployment extension.</li>

<li>Barney Davey's blog <a href="http://www.barneydavey.blogs.com/printmarket/2008/05/orphan-art-works-act-2008---are-artists-under-fire.html">includes a bill description</a> from OpenCongress in a post on the Orphan Works Act of 2008.</li>

<li>Craig Williams of the LA Progressive <a href="http://www.laprogressive.com/election-reform-campaigns/our-candidate-centered-system-need-to-go/">directs readers to OpenCongress</a> for more information on H.R.1826, in a post on election reform.</li>

<li>Wendy Norris of RH Reality Check <a href="http://www.rhrealitycheck.org/blog/2010/04/08/stupak-opposed-face-sanctions-antichoice-terrorists">links to Bart Stupak's profile</a> on OpenCongress in a post on Stupak and FACE Act sanctions.</li>

<li>Steven Clift of PBS' Idea Lab <a href="http://www.pbs.org/idealab/2008/07/my-advice-to-knight-on-local-democracy-online005.html">mentions OpenCongress</a> in a post on local democracy online:<br />
"While the Sunlight Foundation promotes projects like OpenCongress.Org using scraped congressional legislative information, state-level projects could do the same."</li>

<li>The Bread Blog recommends <a href="http://blog.bread.org/2009/05/track-hr-2139-on-open-congress.html">tracking H.R.2139 on OpenCongress</a>:<br />
"OpenCongress.org is a great tool for tracking bills in Congress."</li>

<li>ReligiousTolerance.org <a href="http://www.religioustolerance.org/homschdis2.htm">cites OpenCongress</a> in a post on H.R.4530, the Student Nondiscrimination Act of 2010.</li>

<li>1115.org <a href="http://www.1115.org/2009/02/25/chuck-schumer-lionized-for-ox-crap/">links to an OpenCongress blog post</a> from a post on Chuck Schumer.</li>

<li>Saul Relative of Associated Content <a href="http://www.associatedcontent.com/article/5537886/2010_unemployment_extension_standalone.html?cat=9">cites an OpenCongress blog post</a> on an unemployment extension bill.</li>

<li>CafeMom <a href="http://www.cafemom.com/answers/269212/HR_3200_Promotes_Euthanasia_Link_to_bill_and_pages">provides the address of</a> H.R.3200's text on OpenCongress in a post on the bill.</li>

<li>Devvy Kidd of Buchanan.org <a href="http://buchanan.org/blog/finally-a-bill-to-get-the-us-out-of-nafta-3722">cites OpenCongress</a> on a trio of bills in a post on NAFTA.</li>

<li>Progress Illinois <a href="http://progressillinois.com/quick-hits/content/2010/07/14/unemployment-benefit-vote-next-tuesday">links to an OpenCongress blog post</a> in an article on an unemployment vote:<br />
"Open Congress explains what procedural steps Reid would need to take to set up a vote..."</li>

<li>The WashingtonWatch.com blog <a href="http://www.washingtonwatch.com/blog/2008/10/24/more-assessments-of-the-candidates-legislative-skillz/">links to an OpenCongress blog post</a> on McCain's and Obama's legislative accomplishments:<br />
"Donny Shaw at OpenCongress has done an assessment of the legislative accomplishments of the two presidential candidates. It’s quite thorough, including..."</li>

<li>Free Government Information <a href="http://freegovinfo.info/node/2661">discusses an OpenCongress blog article</a> in a post on the climate change bill:<br />
"Our friends at Open Congress recently provided a concrete example of the benefit of being able to work with government provided data..."</li>

<li>CreditBloggers <a href="http://www.creditbloggers.com/2010/07/medical-debt-relief-act-why-i-would-vote-for-it.html">cites OpenCongress</a> on a bill in a post on the Medical Debt Relief Act.</li>

<li>Boing Boing <a href="http://boingboing.net/2008/01/14/my-opencongress-trac.html">brings attention to OpenCongress</a> with a post on it.</li>

<h3>Organizations</h3>

<li><a href="http://www.innocenceproject.org/Content/June_23_A_Day_of_Action_for_Criminal_Justice_Reform.php">The Innocence Project</a> links to the OpenCongress bill page for S.714</li>
<li><a href="http://www.publicagenda.org/citizen/electionguides">Public Agenda</a> includes an OpenCongress widget in its "Citizen's Survival Guide"</li>

<li>The Center for Strategic & International Studies <a href="http://csis.org/blog/cybersecurity-and-public-private-partnership">lists an OpenCongress bill page</a> as a source in a post on the Cybersecurity Act of 2009.</li>

<li><a href="http://www.capcoaclimateforum.com/links/">The CAPCOA Climate Change Forum</a> includes the OpenCongress page for H.R.2454 on its Links page.</li>

<li><a href="http://www.washingtoncountyrepublicanwomen.org/">The Washington County Republican Women website</a> links to OpenCongress from its front page.</li>

<li>WhoRunsGov.com cites OpenCongress on multiple profile pages (such as those of <a href="http://www.whorunsgov.com/Profiles/Thaddeus_McCotter">Thaddeus McCotter</a> and <a href="http://www.whorunsgov.com/Profiles/Phil_Gingrey">Phil Gingrey</a>).</li>

<li>SourceWatch.org cites OpenCongress on multiple pages (such as its articles on <a href="http://www.sourcewatch.org/index.php?title=Xavier_Becerra">Xavier Becerra</a> and the <a href="http://www.sourcewatch.org/index.php?title=Defense_of_Marriage_Act">Defense of Marriage Act</a>).</li>

<li>A paper from FollowTheMoney.org <a href="http://www.followthemoney.org/Institute/annual/Mission2008.pdf">mentions OpenCongress</a>:<br />
"Opencongress.org is a good example of how Web 2.0 can help promote change."</li>

<li>The Maricopa County Republican Committee <a href="http://www.maricopagop.org/">includes OpenCongress' Arizona page</a> in its link list.</li>

<li>The OpenMuni Wiki <a href="http://wiki.openmuni.org/">includes the OpenCongress wiki</a> in its list of references.</li>

<li>The League of Women Voters of New Jersey <a href="http://www.lwvnj.org/links/informed.shtml">includes OpenCongress</a> in its list of "democracy links."</li>

<li>The Association of Health Care Journalists <a href="http://www.healthjournalism.org/blog/2009/08/where-to-find-the-facts-on-health-care-reform/">links to OpenCongress</a> in its post on "where to find the facts on health care reform:"<br />
"H.R. 3200 from OpenCongress.org that allows readers to comment on specific parts of the bill"</li>

<li>The National Alliance of Concurrent Enrollment Partnerships <a href="http://nacep.org/research-and-policy/federal-legislation">links to OpenCongress</a> as a place to track bills.</li>

<li>TeamChild <a href="http://www.teamchild.org/stp/toolkit.htm">includes an OpenCongress bill page</a> in its toolkit.</li>

<li>The Minnesota Native Plant Society <a href="http://www.mnnps.org/blog/index.php/2009/10/no-child-left-inside-legislation-for-nature-deficit-disorder/">links to an OpenCongress bill page</a> from its post on the No Child Left Behind movement.</li>

<li>The Wellesley College Library <a href="http://www.wellesley.edu/Library/Research/GovDocs/leghistory.html">includes a link to OpenCongress</a> on its "Tracing and Finding Bills and Laws" page.</li>

<li>Stan Cooke's campaign website <a href="http://www.votestan.com/2010/01/dr-stan-cooke-vs-spencer-bachus-the-battle-for-real-american-values/">cites OpenCongress</a> on a vote and a bill.</li>

<li>Watchdog Central <a href="http://www.watchdogcentral.org/watchdog_central_007.htm">includes OpenCongress</a> in its list of watchdog tools.</li>

<li>The Society of American Foresters <a href="http://www.safnet.org/fp/policy_update5-3-10.cfm">links to an Actions & Votes page</a> in a weekly policy update.</li>

<li>The Joint Strike Library <a href="http://www.thefiringline.com/library/">links to OpenCongress and the OC Wiki</a> from its Links and Resources page.</li>

<li>New Media Rights <a href="http://www.newmediarights.org/blog/new_media_rights_files_comments_fcc_future_media_proceeding">mentions OpenCongress</a> in a post on the FCC Future of Media proceeding.</li>

<li>WeDeserveOurLivesBack.com <a href="http://www.wedeserveourlivesback.com/Petition_For_H.R.html">links to OpenCongress</a>.</li>

<li>Local Homeschool.com has <a href="http://localhs.com/legislation/">a few OpenCongress widgets</a> on its legislation page.</li>

<h3>Social Media</h3>

<li>Jenny1105 of the Unemployed Friends Forum <a href="http://unemployed-friends.forumotion.com/florida-f12/open-congress-next-big-thing-t11846.htm">questions why</a> OpenCongress isn't used even more:<br />
"Why aren't we utilizing OpenCongress.org? I think this is one of the best sites out there..."</li>

<li>OpenCongress is cited multiple times on Free Republic, including <a href="http://www.freerepublic.com/focus/news/2516326/posts">a thread on Ron Paul</a> and one on The Enemy Belligerent, Interrogation, Detention, and Prosecution Act of 2010.</li>

<li>A user on Democratic Underground <a href="http://www.democraticunderground.com/discuss/duboard.php?az=view_all&address=433x358444">links to an OpenCongress blog post</a> on unemployment.</li>

<li>A user on Conservative Underground <a href="http://www.conservativeunderground.com/forum505/showthread.php?t=11637">cites OpenCongress</a> on the Firearm Licensing and Record of Sale Act of 2009.</li>

<li>A submission of H.R.25 on OpenCongress <a href="http://digg.com/politics/44_House_Republicans_submit_bill_to_eliminate_income_taxes">gets 3337 diggs</a>.</li>

<li>A submission of OpenCongress.org <a href="http://digg.com/politics/The_REAL_story_about_Congress">gets 1341 diggs</a>:<br />
"OpenCongress.org is an brand new open-source website that aggregates data, news, and blog posts about everything in Congress. See what's really happening and who funds their campaign. It's an *amazing* tool for political bloggers."</li>

<li>A submission of the post on OpenCongress "I'm Watching" widget <a href="http://digg.com/politics/Let_Congress_Know_You_Are_Watching">gets 873 diggs</a>.</li>

<li>A submission of Kucinich's H.R.7260 on OpenCongres <a href="http://www.reddit.com/r/business/comments/7jprq/kucinich_has_introduced_a_new_bill_hr_7260_for/">got 548 votes</a> on Reddit.</li>

<li>A submission of H.R.25 on OpenCongress <a href="http://www.reddit.com/r/Economics/comments/7zglc/house_republicans_44_submit_bill_to_eliminate/">got 518 votes</a> on Reddit.</li>

<li>A user of the Student Doctor Network Forums <a href="http://forums.studentdoctor.net/archive/index.php/t-658284.html">links to OpenCongres</a> in a thread on the Medicare Access to Rural Anesthesiology Act of 2009.</li>

<li>ericscottlykins on IdeaScale <a href="http://opengov.ideascale.com/a/dtd/3121-4049">suggests</a> making THOMAS more like OpenCongress.</li>

<li>WikiHow <a href="http://www.wikihow.com/Track-US-Legislation-and-Congress">includes OpenCongress</a> in a list of sites to bookmark, in a post on tracking US legislation.</li>

<li>The Support GA HR#5 Facebook group <a href="http://www.facebook.com/group.php?gid=92474746830">links to bill text</a> on OpenCongress.</li>

<li>The "Say No to Roe" Facebook group <a href="http://www.facebook.com/pages/Say-No-to-Roe/112939192054040">links to</a> OpenCongress' Phil Roe profile page.</li>

<li>Publius Forum of Chicago Now <a href="http://www.chicagonow.com/blogs/publius-forum/2010/03/read-hr4872-healthcare-bill-online.html">quotes OpenCongress</a> on H.R.4872, a health care bill.</li>

<li>truthandroses of the Prison Planet forums <a href="http://forum.prisonplanet.com/index.php?topic=112396.10;wap2">cites OpenCongress</a> on H.R.2454, the American Clean Energy and Security Act of 2009.</li>

<li>InMyCircle of Newsvine <a href="http://joysteele.newsvine.com/_news/2010/06/24/4557815-liebermans-cybersecurity-bill-moves-out-of-committee-blog-opencongress">links to an OpenCongress blog post</a> on Lieberman's cybersecurity bill.</li>

<li>A user on the Catholic Answers Forum <a href="http://forums.catholic.com/showthread.php?t=249573">links to OpenCongress</a> in a thread on S.2433, the Global Poverty Act of 2007.</li>

<li>A user on the America's Debate forums <a href="http://www.americasdebate.com/forums/index.php?showtopic=19268">cites OpenCongress</a> on H.R.3590.</li>

<li>A user on the Political Wrinkles forum <a href="http://www.politicalwrinkles.com/news-current-events/12006-both-house-senate-health-bills-require-micro-chipping-americans-3-18-10-a.html">posts a link to OpenCongrss</a> about a microchipping rumor:<br />
"A response to this fear-mongering rumor from opencongress.org"</li>

<li>A user on the PAFOA forums <a href="http://forum.pafoa.org/general-2/68801-any-one-hear-gun-confiscation-beginning-senate-bill-sb-2099-a.html">links to OpenCongress</a> in a thread about SB-2099 and H.R.45.</li>

<h3>Reviewish Things</h3>

<li>Mark Sullivan of PC World <a href="http://www.washingtonpost.com/wp-dyn/content/article/2008/10/02/AR2008100203240.html">lists OpenCongress</a> among "some very good political Web sites to help us make well-reasoned choices at the ballot box:"<br />
"And that's just the start: Some of our other favorite sites use the latest Web tools to bring a new transparency to governments, special interests, and campaigns--year round."</li>

<li>Dan Costa of PCMag.com <a href="http://www.pcmag.com/article2/0,2817,2321776,00.asp">includes OpenCongress</a> in his discussion of civic technology:<br />
"Even more impressive is OpenCongress.org, a site that shows the full text of the bills before Congress and allows users to leave comments. While this sounds dull, the audience is passionate: The Emergency Extended Unemployment Compensation Act of 2008 (H.R. 5794), for example, has elicited more than 18,308 comments."</li>

<li>ReadWriteWeb <a href="http://www.readwriteweb.com/archives/opencongress_congress_tracking.php">devotes a post to OpenCongress</a>:<br />
"If you've been waiting to see all the standard Web 2.0 site features put to a socially significant use - wait no longer, check out OpenCongress.org... OpenCongress is a site that anyone even remotely interested in politics should see."</li>

<li>The Times-Herald <a href="http://www.times-herald.com/opinion/What-is-right-and-wrong-699833">refers readers to OpenCongress</a> for information on voting records:<br />
"Anyone interested in digging deeper than an AP story can check up on individual representatives' voting at www.opencongress.org . Try it, and it might give you a new take on your own representatives. At Opencongress.org everyone has a voice, not just the left or the right."</li>

<li>rfbjames of MetaFilter <a href="http://www.metafilter.com/59023/Make-Congress-more-transparent-and-encourage-civic-engagement">posts a link to OpenCongress</a> to let other users know about it. JHarris replies that it is "Extreme utmost most-mondo wicked awesome-cool."</li>

<li>Noel Hidalgo of the Personal Democracy Forum <a href="http://personaldemocracy.com/content/opencongressorg-let-data-shine">posts on OpenCongress' launch</a>:<br />
"Opencongress.org just installed a new sunroof on the big dome."</li>

<li>Kurt Cagle of O'Reilly <a href="http://broadcast.oreilly.com/2009/02/egov-watch-opencongressorg.html">posts on OpenCongress</a> and its features:<br />
"OpenCongress.org represents a new form of journalism, one that, rather than providing a particular viewpoint about legislation chooses instead to simply make the information easily and readily available and let people make their own decisions ... and act accordingly."</li>

<li>Mike Musgrove of the Washington Post <a href="http://www.washingtonpost.com/wp-dyn/content/article/2010/04/03/AR2010040304957.html">discusses OpenCongress</a> in a post on government transparency.</li>

<li>Nancy Watzman of BlogHer <a href="http://www.blogher.com/health-care-debate-doing-it-yourself">wrote a post on OpenCongress</a> titled "The Health Care Debate: How to Get the Facts Yourself":<br />
"If you're tired of getting your information about the health care reform debate in the form of yelled slogans, politician's newsbites, and pulverized factoids manufactured by interest groups, there is an alternative. Over at OpenCongress.org, you can go behind the headlines..."</li>

<li>Ellen Miller's article on Wired <a href="http://www.wired.com/politics/law/magazine/16-10/sl_miller">links to OpenCongress</a> in her post on making Washington "more like the web:"<br />
"This site summarizes bills in everyday language and monitors related news and blog coverage. Users can also follow a legislator's voting record and submit comments on proposed laws."</li>

<li>Vanessa Fox of the O'Reilly Radar <a href="http://radar.oreilly.com/2010/04/government-transparency-using.html">discusses OpenCongress' use of SEO</a>:<br />
"Open Congress is a non-profit, non-partisan organization that aggregates official government information with conversations about those issues. Their goal is to provide American citizens with visibility into what's happening in Congress. And how to people find them? 70% of their traffic comes from search engines (and 75% of those visitors are from Google)."</li>

<li>Andrea Seabrook of NPR <a href="http://www.npr.org/templates/story/story.php?storyId=103461990">mentions OpenCongress</a> in a post on government transparency:<br />
"Rasiej says that because of these new watchdogs, like the Sunlight Foundation, OpenCongress.org and OpenSecrets.org, citizens are coming to expect easy access to information."</li>




<li>InformationWeek <a href="http://www.informationweek.com/news/internet/web2.0/showArticle.jhtml?articleID=208800273">discusses OpenCongress</a> in a post on government transparency online:<br />
"OpenCongress and MetaVid give citizens an open window into government activities... OpenCongress aims to make everyone a political insider."</li>

<li>Digital Journal <a href="http://www.digitaljournal.com/article/260949">includes OpenCongress</a> in a post about Sunlight projects:<br />
"All this data about Obama, and any other Senator, can be found on OpenCongress.org, a project quarterbacked by the Sunlight Foundation based in Washington."</li>

<li>OneWebDay <a href="http://onewebday.org/2008/01/17/celebrate-opencongressorg/">has a brief post celebrating OpenCongress</a>:<br />
"Here’s why we need to protect and celebrate the Internet - because great sites like OpenCongress.org keep showing up. Amazing."</li>

<li>The Zion Chronicle <a href="http://www.davidjmiller.org/2008/open-congress/">posts on OpenCongress</a>:<br />
"Now I wish I had a site like OpenCongress at the state level."</li>

<li>Lynn Sweet's blog on the Chicago Sun-Times <a href="http://blogs.suntimes.com/sweet/2009/02/give_congress_the_public_time.html">mentions OpenCongress</a> in a post on public scrutiny of bills.</li>

<li>Law Technology News <a href="http://www.law.com/jsp/lawtechnologynews/PubArticleFriendlyLTN.jsp?id=900005483865">discusses OpenCongress</a> in a post on new law-related websites:<br />
"A new Web site, OpenCongress, draws on a variety of sources -- from official government sites to blogs -- to provide an in-depth view of 'the real story behind what's happening in Congress.'"</li>

<li>Inquirer.net <a href="http://technology.inquirer.net/infotech/infotech/view/20081101-169697/A-web-guide-to-the-US-election">recommends OpenCongress</a> in a post on online political resources.</li>

<li>Nova Southeastern University's Law Library Newsletter <a href="http://nsulaw.nova.edu/library_tech/library/publications/bookdocket/2010/Book_Docket_for_January_2010.pdf">has a piece on OpenCongress</a>:<br />
"OpenCongress.org is one of the most comprehensive non-government sources of information on Congress. It can be a useful ready reference site, a current awareness tool, and a valuable learning resource for everyone."</li>

<li>A post on Gloria Feldt's website <a href="http://www.gloriafeldt.com/political-action-tools/">recommends "My Political Notebook"</a>:<br />
"One tool you'll love is from OpenCongress.org -- 'My Political Notebook' (MyPN) where you can save and share your favorite political content from around the Web."</li>

<li>Knight Citizen News Network <a href="http://www.kcnn.org/resources/jump_start_your_reporting/">suggests OpenCongress</a> on its Jump Start Your Reporting page.</li>

<li>An article on TurkishPress.com includes <a href="http://www.turkishpress.com/news.asp?id=254829">a mention of OpenCongress</a>:<br />
"'Opencongress.org is great for looking into the record of congressional incumbents -- what bills they've been sponsoring, how they've voted... It's all aggregated in one place,' Sifry added."</li>

<li>Katie Donnelly of PBS' MediaShift <a href="http://www.pbs.org/mediashift/2009/11/10-projects-that-help-citizens-become-government-watchdogs307.html">includes OpenCongress</a> in a list of projects that help citizen watchdogs:<br />
"An initiative from the Sunlight Foundation and the Participatory Politics Foundation, OpenCongress uses open source tools to track bills, representatives, funding, and votes. There are plenty of interactive and social networking features on the site."</li>

<li>Steven Davy of PBS' MediaShift <a href="http://www.pbs.org/mediashift/2009/12/can-posterous-and-tumblr-boost-government-transparency348.html">includes discussion of an interview with David Moore</a> in a post on government transparency.</li>

<li>LLRX.com <a href="http://www.llrx.com/columns/govdomain45.htm">mentions OpenCongress</a> in its post on online government data:<br />
"The independent web developers of this 2.0 world have done a great job in making federal legislative information available in new ways; see GovTrack.us and OpenCongress.org for examples."</li>

<li>TaxingTennessee <a href="http://taxingtennessee.blogspot.com/2010/02/five-ways-bloggers-can-use.html">lists five ways</a> bloggers can use OpenCongress:<br />
"OpenCongress.org is an exceptional resource for bloggers. Highly recommended."</li>

<li>WebProNews <a href="http://www.webpronews.com/topnews/2007/02/27/sunlight-shines-on-opencongress-org">posts on OpenCongress' launch</a>:<br />
"The Sunlight Foundation and the Participatory Politics Foundation bring together legislation, news, and the teeming blogosphere on their new website."</li>

</ol>

</div>



