  <div class="banner2">
  <div class="like-button"><div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=228771633827265&amp;xfbml=1"></script><fb:like href="" send="true" layout="button_count" width="250" show_faces="false" font="lucida grande"></fb:like></div>
  
<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://bit.ly/OpenCongress3" data-text="The easiest way to email all your members of #Congress is on" data-count="horizontal" data-via="opencongress" data-related="ppolitics:#OCv3">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  
  
    	<h1>OpenCongress <span class="v3">V.3</span></h1>
	<h2>The Easiest Way to Organize Around Congress -- Free, Open-Source, and Not-for-Profit</h2>
        <span class="left_cap"></span>
        <span class="right_cap"></span>
      </div>
      
      
      
      
<div class="container_12">
  <div class="space">&nbsp;</div>
  
  

	<div class="space">&nbsp;</div>

    
  
  <div class="grid_16">
    <div class="box rounded floatleft builder-pitch blue-bg">
      <img src="/images/builder.png" class="builder" />
      
      <h3>Contact-Congress on OC</h3>
      
      <ul class="bigun">
        <li>Write a letter to all of your members of the U.S. Congress from one page, set it to public or private, and then send it immediately over email.</li> 
        <li>Track your correspondence in a transparent public forum, then share it with your community over social media.</li>
        <li>OpenCongress is different because all our data (except for personal info) is fully open for a more accountable government.</li>
      </ul>
      <a href="#" class="silver button medium">Read more & see screenshots</a>
    </div>
  </div>
      
  <div class="space">&nbsp;</div>
  <div class="space">&nbsp;</div>
      
  <div class="grid_16">
    <div class="box rounded group-pitch green-bg">
      
      <img src="/images/group-tease.png" class="group-tease" />
      
      <h3>MyOC Groups</h3>
      
      <ul class="bigun">
        <li>Now with a free MyOC account, join Groups for your state and Congressional district to connect with other constituents.</li>
        <li>Find other MyOC Groups by issue area, search keyword, bills they support or oppose -- or start your own & invite your friends.</li>
        <li>Share useful information and your letters to Congress with your MyOC Groups to coordinate your organizing efforts.</li>
      </ul>
      <div class="space">&nbsp;</div>
      <a href="/groups" class="silver button medium">Start finding Groups</a>
    </div>    
  </div>
  

  
  <div class="don grid_16 rounded blue-bg margin-bottom">
    
    <div class="floatleft" style="width: 300px; height: 230px; padding-left: 30px;">
              <a class="donate_now floatleft margin-left" rel="#donate" href="/donate" id="donate_button">Donate Now</a>
  
      <a href="#"><img class="floatleft margin-top" border="0" src="/images/pros.png" /></a>   
    </div>
    
    <p class="padding-top margin-top margin-right">OpenCongress is a free, libre, and open-source project. If you believe in open government, please support our work with a tax-exempt donation. We're a tiny team building big (not-for-profit) things, and we need your help.<br><br>
          
      Charitable foundations, political bloggers, issue-based groups -- this is just the start of our our tools for government transparency & accountability. We need more non-profit funding support to develop more amazing open-source tools for fighting corruption and building deliberative democracy. Check out our prospectus at left for more info and get in touch!</p>
    
    </div>


</div>

	
