
<div class="container_12">
<div class="space">&nbsp;</div>
  <div class="grid_12">
  <div class="center">
    	<h1>OpenCongress version 3</h1>
	<h2>The Easiest Way to Organize Around Congress - Free & Open-Source & Not-for-Profit</h2>
	</div>
	<div class="space">&nbsp;</div>

  <div class="grid_16 alpha">
  <div class="box rounded floatleft builder-pitch blue-bg">
  <img src="/images/builder.png" class="builder" />

    <h3>New: Contact-Congress on OC</h3>

    <ul class="bigun">
      <li>Write a letter to all of your members of the U.S. Congress from one page, set it to public or private, then send it immediately.</li>
      <li>Use our custom Message Builder to drag-and-drop-in relevant data: official bill info, interest groups, campaign contributions, and more.</li>
      <li>Track your correspondence in a transparent public forum and share it with your community over social media.</li>
    </ul>
    <a href="#" class="silver button medium">Read more and see it in action</a>
  </div>
  </div>
  
  <div class="space">&nbsp;</div>
<div class="space">&nbsp;</div>

    <div class="grid_16 omega alpha">
      <div class="box rounded group-pitch green-bg">

<img class="floatleft margin-right" src="/images/gp-small.png" />

  <h3>New: MyOC Groups</h3>
    <ul class="bigun">
<li>Join Groups for your state and Congressional district to connect with other constituents in your area.</li>
<li>Search for other MyOC Groups by keyword, issue area of focus, your Facebook friends, or popularity.</li>
<li>Share links, media, bills you support or oppose, action alerts, and your letters to Congress with your Groups.</li>
 <div class="space">&nbsp;</div>
   <a href="#" class="silver button medium">Read more & start finding Groups</a>
  </div>
  
 
  </div>
  </div>
  
  
  </div>


  <div style="width: 600px; margin: 60px auto; clear: both; padding-top: 50px;">
  
  <p class="box">OpenCongress is different because we're a free, libre, and open-source project of a 501(c)3 non-profit organization, PPF. Unlike other websites, we provide this as a public service and our data (except personal info) is entirely open for the public benefit.<br><br>
    
    If you like these new tools for a more transparent and accountable government, support our work with a tax-exempt donation. We're a tiny team building big (not-for-profit) things, and we need your help.<br><br>
        
    Charitable foundations, political bloggers, issue-based groups -- we seek additional funding support of our technology for building public knowledge, mitigating systemic corruption, and facilitating deliberative democracy. We need more money to improve and expand on these new tools for civic engagement. Get in touch!</p>
  
  </div>


</div>

	
