  <div class="banner2">
    	<h1>OpenCongress <span class="v3">V.3</span></h1>
	<h2>The Easiest Way to Organize Around Congress - Free & Open-Source & Not-for-Profit</h2>
        <span class="left_cap"></span>
        <span class="right_cap"></span>
      </div>
      
      
      
      
<div class="container_12">
  <div class="space">&nbsp;</div>
  
  

	<div class="space">&nbsp;</div>

    
  
  <div class="grid_16">
    <div class="box rounded floatleft builder-pitch blue-bg">
      <img src="/images/builder.png" class="builder" />
      
      <h3>Contact Congress - powered by "Formaggedon"</h3>
      
      <ul class="bigun">
        <li>Write a letter to your two U.S. senators and one U.S. representative from one page, immediately.</li>      
        <li>Track your correspondence in a transparent public forum, then share them with your community. We're different because our data is open for the public benefit.</li>
      </ul>
      <a href="#" class="silver button medium">Read more and see it in action</a>
    </div>
  </div>
      
  <div class="space">&nbsp;</div>
  <div class="space">&nbsp;</div>
      
  <div class="grid_16">
    <div class="box rounded group-pitch green-bg">
      
      <img src="/images/group-tease.png" class="group-tease" />
      
      <h3>MyOpenCongress Groups</h3>
      
      <ul class="bigun">
        <li>Now with a free "MyOC" account, you join two Groups - for your state and Congressional District - to find other constituents.</li>
        <li>Browse and search for other Groups by issue area, your Facebook friends and other MyOC users.</li>
        <li>Share useful information and your letters to Congress with your MyOC Groups for peer-to-peer watchdogging of Congress.</li>
      </ul>
      <div class="space">&nbsp;</div>
      <a href="#" class="silver button medium">Read more & start finding Groups</a>
    </div>    
  </div>
  

  
  <div class="don grid_16 rounded blue-bg margin-bottom">
    
    <div class="floatleft" style="width: 300px; height: 230px; padding-left: 30px;">
              <a class="donate_now floatleft margin-left" rel="#donate" href="/donate" id="donate_button">Donate Now</a>
  
      <a href="#"><img class="floatleft margin-top" border="0" src="/images/pros.png" /></a>   
    </div>
    
    <p class="padding-top margin-top margin-right">OpenCongress is different because we're a free, libre, and open-source project of a 501(c)3 non-profit organization, PPF. Unlike other websites, we provide this as a public service and our data (except personal info) is entirely open for the public benefit.<br><br>
      
      If you like these new tools for a more transparent and accountable government, support our work with a tax-exempt donation. We're a tiny team building big (not-for-profit) things, and we need your help.<br><br>
          
      Charitable foundations, political bloggers, issue-based groups -- we seek additional funding support of our technology for building public knowledge, mitigating systemic corruption, and facilitating deliberative democracy. We need more money to improve and expand on these new tools for civic engagement. Get in touch!</p>
    
    </div>


</div>

	
