
<div class="container_12">
<div class="space">&nbsp;</div>
  <div class="grid_12">
  
  <div class="center">
    	<h1>OpenCongress version 2.0</h1>
	<h2>Organize Online - Free & Open-Source & Non-Profit</h2>
	</div>
	<div class="space">&nbsp;</div>







  <div class="grid_16 alpha">
  <div class="box rounded floatleft builder-pitch">
  <img src="/images/builder.png" class="builder" />

    <h3>Contact Congress - powered by "Formaggedon"</h3>

    <ul class="bigun">
      <li>Write a letter to your two U.S. senators and one U.S. representative from one page, immediately.</li>      <li>Track your correspondence in a transparent public forum, then share them with your community. We're different because our data is open for the public benefit.</li>
      
    </ul>
    <a href="#" class="silver button medium">Read more and see it in action</a>
  </div>
  </div>
  
  <div class="space">&nbsp;</div>
<div class="space">&nbsp;</div>

    <div class="grid_16 omega alpha">
      <div class="box rounded group-pitch">

<img class="floatleft margin-right" src="/images/gp-small.png" />

  <h3>MyOpenCongress Groups</h3>
  
    <ul class="bigun">
<li>Now with a free "MyOC" account, you join two Groups - for your state and Congressional District - to find other constituents.</li>
<li>Browse and search for other Groups by issue area, your Facebook friends and other MyOC users.</li>
<li>Share useful information and your letters to Congress with your MyOC Groups for peer-to-peer watchdogging of Congress.</li>
 <div class="space">&nbsp;</div>
   <a href="#" class="silver button medium">Read more & start finding Groups</a>
  </div>
  
 
  </div>
  </div>
  
  
  </div>


  <div style="width: 600px; margin: 60px auto; clear: both; padding-top: 50px;">
  
  <p>We build user-friendly tools for fighting systemic corruption and facilitating deliberative democracy. Support our non-profit work with a tax-exempt donation.
Foundations, political bloggers, issue-based groups -- we're looking for funding support and partnerships. Be in touch to see how we can team up.</p>
  
  </div>


</div>

	