
<div class="container_12">
<div class="space">&nbsp;</div>
  <div class="grid_12">
  
  
    	<h1>OpenCongress version 2.0</h1>
	<h2>Organize Online - Free & Open-Source & Non-Profit</h2>
	<div class="space">&nbsp;</div>







  <div class="grid_16 alpha">
  <div class="box rounded floatleft">
  <img src="/images/ccongress.png" class="floatleft margin-right" />

    <h3>Contact Congress - powered by "Formaggedon"</h3>

    <ul class="bigun">
      <li>Write a letter to your two U.S. senators and one U.S. representative from one page, immediately.</li>
      <li>Use our unique Message Builder to drag in relevant data about bills, campaign donation & more.</li>
      <li>Track your correspondence in a transparent public forum, then share them with your community. We're different because our data is open for the public benefit.</li>
      
    </ul>
    <a href="#" class="silver button medium">Read more and see it in action</a>
  </div>
  </div>
  
  <div class="space">&nbsp;</div>
<div class="space">&nbsp;</div>

    <div class="grid_8 omega">
<div class="space">&nbsp;</div>

  <h3>MyOpenCongress Groups</h3>
    <ul class="bigun">
<li>Now with a free "MyOC" account, you join two Groups - for your state and Congressional District - to find other constituents.</li>
<li>Browse and search for other Groups by issue area, your Facebook friends and other MyOC users.</li>
<li>Share useful information and your letters to Congress with your MyOC Groups for peer-to-peer watchdogging of Congress.</li>
 <div class="space">&nbsp;</div>
   <a href="#" class="silver button medium">Read more & start finding Groups</a>
  </div>
  
    <div class="grid_4 alpha">
    <div class="space">&nbsp;</div>
<div class="space">&nbsp;</div>

<img src="/images/gp-small.png" />
  </div>
  
  
  </div>


  <div class="grid_12">
  
  <p class="box">We build user-friendly tools for fighting systemic corruption and facilitating deliberative democracy. Support our non-profit work with a tax-exempt donation.
Foundations, political bloggers, issue-based groups -- we're looking for funding support and partnerships. Be in touch to see how we can team up.</p>
  
  </div>


</div>

	