<% @page_title = "Contact OpenCongress" %>

<div id="heading">
<h2>Get In Touch!</h2>
</div>

<p class="big">We're always interested in hearing from you -- how you're using OpenCongress, how it could be a better public resource, and any new features you'd like to see.</p>

<p><strong>To send us general site feedback, ask a question, or report a problem, please e-mail: <script type="text/javascript">m("writeus","opencongress","org","1");</script></strong>. You should receive an automated email reply right away from our customer support system, confirming your note has been delivered. Following that, our small-but-dedicated support team is typically able to respond in less than 24 hours.</p>

<p>If you're a member of "My OpenCongress" and are reporting a problem with your account, e.g. that you are having trouble logging-in, first please try the following steps, as they resolve the issue in many cases: first, log out of your account. Second, request a <a href="/account/forgot_password">new password</a> using the same email address tied to your account. Third, use the temporary new password to log in to your account, at which point you can change your password back to one of your preference on your MyOC profile page.</p>

<p>If that process doesn't succeed, or you've encountered a different type of problem, please let us know the following information and we'll get it fixed as quickly as we can:</p>
<ul class="star">
	<li>If applicable, the email address you used to register your "MyOC" account</li>
	<li>The web address of the pages that didn't work as expected (simply copy the URL from your web browser's address bar and paste it into the email)</li>
	<li>If applicable, the URL of the web page that directed you to the page with the buggy behavior</li>
</ul>

<p><strong>Developers</strong> are invited to join our non-profit team. OpenCongress is proud to be an open-source project -- remixes encouraged! -- in the community of free Web resources for civic engagement. All of our site code and site content can be checked out on our <a href="http://github.com/opencongress/opencongress">GitHub page</a>. Developers can also freely access all the info on OpenCongress through our <a href="/api">API</a> (in beta). We have a lot of technical needs to fill and could use your help -- whether you're a web programmer, graphic designer, DBA, sysadmin, or just an expert web surfer who can volunteer your time, email us a quick note to strike up a conversation: <script type="text/javascript">m("writeus","opencongress","org","1");</script>.</p> 

<p><strong>Political bloggers, journalists, educators, public media publishers, NGOs, non-profits, grassroots communities, activists, self-publishers of all backgrounds</strong> -- all the info on OpenCongress is free for you to re-use, share, and remix. Link to our bill pages, subscribe to RSS feeds, contribute to our Wiki, embed our free widgets, and use our API -- for examples, see <a href="/about/howtouse">How To Use OpenCongress</a> and our free <a href="/resources">Resources</a> pages. For more detailed partnership inquiries between OpenCongress and your organization, please contact Program Manager David Moore: <script type="text/javascript">m('david','opencongress','org','1');</script>.</p>

<p><strong>Large donors and foundations</strong>: OpenCongress is a leading example of how open technology can educate the public, empower diverse communities, and create transparency in government. Building on this success, the Participatory Politics Foundation is actively seeking funding partners for the maintenance and development of OpenCongress, as well as other free and open-source public web resources. Currently, OpenCongresss is used by a variety of individuals, political bloggers, journalists, and issue-based groups for collaborative watchdogging of Congress. But with additional support from philanthropists and foundations, OpenCongress can become a far more powerful platform for civic engagement, both online and offline. We seek to add new data sources about money in politics, build innovative new site features, and expand our non-profit web development team to better meet the needs of our large user community.</p>

<p>Towards these ends, our <a href="http://drm.dev.opencongress.org/about#coming_soon">site development wish-list</a> is extensively documented, publicly transparent (yes!), and ready-to-go... we simply need more resources to start building. Are you in a position to give $1,000 or more to help us create some amazing new open-source tools on OpenCongress?  To start a conversation about how our work can aid your personal giving interests or your foundation's program areas, simply get in touch with David Moore, Executive Director, PPF: <script type="text/javascript">m('david','ppolitics','org','1');</script>. We're easy to find and eager to talk. More information on the background and mission of OpenCongress can be found on our <a href="/about">About</a> page.</p><br />
			
<div class="left">

<h3>Contact Our Blog</h3>
<p>To submit a tip, recommend a link, or suggest a topic to cover on our <a href="/blog">Blog</a>, write to:</p>
<ul class="star">
<li>Donny Shaw, Lead Blogger for OpenCongress and Outreach Coordinator for the Participatory Politics Foundation:</li>
<li>E-mail: <script type="text/javascript">m("donny","opencongress","org","1");</script>.</li>
<li>OpenCongress Profile: <a href="/users/donnyshaw/profile">About donnyshaw</a>, his <a href="/users/donnyshaw/profile/items_tracked">Tracked Items</a>, his <a href="/users/donnyshaw/profile/actions">Recent Actions</a>, and his <a href="/users/donnyshaw/profile/political_notebook">Political Notebook</a>.</li>
<li>Social Networking: <a href="http://www.facebook.com/group.php?gid=15201705550">Facebook Group</a>, our <a href="/facebook/intro">Facebook App</a>, more to come...</li>
<li>Twitter: follow <a href="http://twitter.com/OpenCongress">@opencongress</a> and our <a href="http://twitter.com/OpenCongress/congress-watchers">Congress Watchers</a> list.</li>
</ul>


<p>For more detailed information about OpenCongress or for media requests, please contact:</p>
<ul class="star">
<li>David Moore, Executive Director, Participatory Politics Foundation</li> 
<li>E-mail (preferred): <script type="text/javascript">m("drm","ppolitics","org","1");</script></li> 
<li>AIM / Jabber / Skype: davidmooreppf</li>
<li>IRC: #opencongress on freenode.net</li>
</ul><br />

</div>

<div class="right">


<h3>Stay in touch with OpenCongress:</h3>
<ul class="star">
	<li>To sign up for general site updates over e-mail: <a href="http://crm.ppolitics.org">OpenCongress mailing list</a> (low-volume, major announcements only).</li>
	<li>To subscribe to blog updates via RSS: <a href="http://feeds.feedburner.com/OpenCongressCongressGossipBlog">RSS feed</a>.</li> 
	<li>To sign up for detailed programming updates over e-mail: <a href="http://lists.ppolitics.org/listinfo.cgi/develop-ppolitics.org">PPF development list-serv</a>.</li>
	<li>To join an associated Google Group: <a href="http://groups.google.com/group/sunlightlabs">Sunlight Labs</a>, <a href="http://wiki.sunlightlabs.com/index.php/OpenCongress">Sunlight Wiki</a></li>
	<li>To chat with our open-source development team over IRC: #opencongress on irc.freenode.net.</li>
	<li>To check out our site code: <a href="http://github.com/opencongress/opencongress/tree/master">OpenCongress GitHub</a> and <a href="http://github.com/opengovernment">OpenGovernment GitHub</a></li>
	<li>To file a bug report, interface improvement, data source, or feature suggestion: <a href="https://participatorypolitics.lighthouseapp.com/projects/35587-opencongress/overview">Lighthouse project homepage</a>.</li> 
</ul>

<br />



</div>



<h3 class="clear">Mailing Address:</h3>


<p class="left">OpenCongress c/o PPF<br />
Attn: David Moore<br />
220 Lafayette St. #2<br />
New York, NY 10012<br />
<script type="text/javascript">m("writeus","opencongress","org","1");</script><br />
</p>

<p class="clear">Thanks for visiting Open Congress. Let us know what you think!</p>  
<br /><br />
