<% @page_title = "Contact OpenCongress" %>

<div id="heading">
<h2>Get In Touch!</h2>
</div>

<p class="big">We're always interested in hearing from you -- how you're using OpenCongress, how it could be a better resource for you, and new features you'd like to see.</p>


<p><strong>To send us general site feedback, ask a question, or report a problem, e-mail: <script type="text/javascript">m("writeus","opencongress","org","1");</script></strong>. Due to the high volume of e-mail we receive, please be patient - our team will respond to your e-mail as quickly as possible.</p>
<p>For technical assistance or partnership inquiries (e.g., how to make bill info from OpenCongress appear on your website for your communities), please contact Program Manager David Moore: <script type="text/javascript">m('david','opencongress','org','1');</script></p>

<p>Volunteers are invited to join our open-source development team. Whether you're a web programmer, a graphic designer, a political blogger, or someone who supports the mission of OpenCongress, simply send us a quick note of introduction: <script type="text/javascript">m("writeus","opencongress","org","1");</script>. More information on the background and mission of OpenCongress can be found on our <a href="/about">About</a> page. Tips and suggestions on how individuals and organizations can use OpenCongress to track the issues they care about can be found on our <a href="/howtouse">How To Use</a> and our free <a href="/resources">Resources</a> pages.</p><br />

<div class="left">

<h3>Contact Our Blog</h3>
<p>To submit a tip, recommend a link, or suggest a topic to cover on our <a href="http://www.opencongress.org/blog">Blog</a>, write to:</p>
<ul class="star">
<li>Donny Shaw, Lead Blogger for OpenCongress and Outreach Coordinator for the Participatory Politics Foundation:</li>
<li>E-mail: <script type="text/javascript">m("donny","opencongress","org","1");</script>.</li>
<li>OpenCongress Profile: <a href="http://www.opencongress.org/users/donnyshaw/profile">About donnyshaw</a>, his <a href="http://www.opencongress.org/users/donnyshaw/profile/items_tracked">Tracked Items</a>, his <a href="http://www.opencongress.org/users/donnyshaw/profile/actions">Recent Actions</a>, and his <a href="http://www.opencongress.org/users/donnyshaw/profile/political_notebook">Political Notebook</a>.</li>
<li>Social Networking: <a href="http://www.facebook.com/group.php?gid=15201705550">Facebook Group</a>, <a href="http://www.opencongress.org/facebook/intro">Facebook App</a>, more to come...</li>
<li>Twitter: follow our <a href="http://twitter.com/OpenCongress">Twitter Account</a>.</li>
</ul>





<p>For more detailed information about OpenCongress or for media requests, please contact:</p>
<ul class="star">
<li>David Moore, Executive Director, Participatory Politics Foundation</li> 
<li>E-mail (preferred): <script type="text/javascript">m("drm","ppolitics","org","1");</script></li> 
<li>AIM: davidmooreppf</li>
<li>Skype: davidmooreppf</li>
</ul><br />

</div>

<div class="right">


<h3>Stay in touch with OpenCongress:</h3>
<ul class="star">
	<li>To sign up for general site updates over e-mail: <a href="http://list.opencongress.org/?p=subscribe">OpenCongress mailing list</a> (low-volume, major announcements only).</li>
	<li>To subscribe to updates via RSS: <a href="http://feeds.feedburner.com/OpenCongressCongressGossipBlog">Blog RSS feed</a>.</li> 
	<li>To sign up for detailed programming updates over e-mail: <a href="http://lists.ppolitics.org/listinfo.cgi/develop-ppolitics.org">Site development list-serv</a>.</li>
	<li>To join an associated Google Group: <a href="http://groups.google.com/group/sunlightlabs">Sunlight Labs</a>, <a href="http://wiki.sunlightlabs.com/index.php/OpenCongress">Sunlight Wiki</a></li>
	<li>To chat with our open-source development team over IRC: #opencongress on irc.freenode.net.</li>
	<li>To check out our site code: <a href="http://github.com/opencongress/opencongress/tree/master">GitHub</a> page</li>
	<li>To file a bug report, interface improvement, data source, or feature suggestion: <a href="http://trac.opencongress.org/">Trac project homepage</a>.</li> 
</ul>

<br />



</div>



<h3 class="clear">Mailing Address:</h3>


<p class="left">OpenCongress<br />
Attn: David Moore<br />
220 Lafayette St. #3<br />
New York, NY 10012<br />
<script type="text/javascript">m("writeus","opencongress","org","1");</script><br />
</p>

<p class="right"><a href="http://www.sunlightfoundation.com/">The Sunlight Foundation</a><br />
1818 N Street NW, Suite 410<br />
Washington, D.C. 20036<br />
202-742-1520<br />
<script type="text/javascript">m("info","sunlightfoundation","com","1");</script><br />
</p>

<p class="clear">Thanks for visiting Open Congress. Let us know what you think!</p>
