.Notifications h3 {
	font-size:12px;
	font-weight:bold;
	text-indent:10px;
   }
 #Notifications ul li {
 font-weight:normal;
}
.Notifications a {
	text-decoration:none;
	font-weight:bold;
	margin-left:200px;

}

.notifycategory {
	font-size:14px;
}

.redlink {
	color:#FF0033;
}