<% remote_form_for :notebook_note, 
				   :url => political_notebook_notebook_notes_path({:login =>current_user.login}),
				   :html => {:id => "add-note-form", :class => "notebook-form"} do |f| %>

				<h3>Add a Note</h3>			
				<input type="hidden" name="item_type" value="NotebookNote" />				
				<p><label class="require" for="description">Description</label><%= f.text_area :description,:rows => 4 %></p>
				<p><label for="tags">Tags<em>[separate, with, a comma, to add multiple, tags]</em></label><%= f.text_field :tag_list %></p>
				<input type="submit" value="Add" /><!-- or <a href="javascript:void(0);" onclick="NotebookForm.hideAllForms();">Cancel</a>-->
<% end %>