%li.grid_12
  %span.grid_2.alpha= link_to bill_for_add.typenumber, bill_path(bill_for_add)
  %span.grid_6= bill_for_add.title_common
  %span.grid_4.omega= render 'position_buttons', :b => bill_for_add