<h1>Listing site_text_pages</h1>

<table>
  <tr>
  </tr>

<% @site_text_pages.each do |site_text_page| %>
  <tr>
    <td><%= link_to 'Show', site_text_page %></td>
    <td><%= link_to 'Edit', edit_site_text_page_path(site_text_page) %></td>
    <td><%= link_to 'Destroy', site_text_page, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New site_text_page', new_site_text_page_path %>