<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
  <title>OpenCongress</title>
</head>

<style>
body {
	font:80%/140% "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
	/* background:#4e5680; */
	background:#f5f7fa;
	color:#555;
}

a:link {
	color:#1B79DF;
}
a:visited {
	color:#1B79DF;
	text-decoration:underline;
}
a:hover,
a:focus {
	text-decoration:none;
}

.centered {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50em;
  height: 10em;
  margin: auto;
  background-color: #abbfe9;
  color: #2f4867;
  border: #2f4867 solid 1px;
  text-align: center;
}
</style>

<body>
<div class="centered">
<h2>OpenCongress is temporarily down for routine maintenance.<br /><br />
Please come back later.</h2><br />
<a href="http://www.sunlightfoundation.com">The Sunlight Foundation</a> | 
<a href="http://www.participatorypolitics.com">Participatory Politics Foundation</a>
</div>
</body>
</html>
